# Evaluation notebook

## Setting up the training and testing dataframes

In [1]:
import pandas as pd

df_train = pd.read_csv("datasets/txt2sql_alerce_train_v3_1.csv")
df_test = pd.read_csv("datasets/txt2sql_alerce_test_v3_1.csv")

In [2]:
# Information about the dataframes
print(f"Shape of training set: {df_train.shape}")
df_train.head()

Shape of training set: (58, 12)

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\r\n-- mjd date for December = 59914.0\r\n-- m...,\r\n-- Super Nova (SNe) is a large explosion t...,"\r\nSELECT\r\n object.oid, probability.clas...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\r\nSELECT\r\n sq1.oid, sq1.probability as SN...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",\r\n-- mjd date for September 01 = 60188.0\r\n...,\r\n-- A fast riser is defined as an object wh...,"\r\nSELECT\r\n sq.oid, sq.probability, sq.c...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\r\n-- mjd date for the start of the year 2019...,0,"\r\nSELECT\r\n sq.oid, sq.fid, sq.dmdt_first,...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",\r\n-- mjd date for February 01 = 59976.0\r\n-...,0,"\r\nWITH catalog ( source_id, ra, dec) AS (\r\...",advanced,spatial,simple,NaN,NaN,NaN

In [3]:
print(f"Shape of testing set: {df_test.shape}")
df_test.head()

Shape of testing set: (52, 12)

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,8,Query all objects that were first classified a...,"['probability', 'object']",\r\n-- mjd date for august 17 = 60173.0\r\n-- ...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n object\r\nI...,simple,object,none,NaN,NaN,NaN
1,27,"Return the oids, meanra, meandec, ndet, firstm...","['probability', 'object']",\r\n-- object.ndet represents the total number...,NaN,"\r\nSELECT\r\n object.oid, object.meanra, o...",simple,object,simple,NaN,NaN,NaN
2,17,Return the objects classified as AGN that show...,"['probability', 'object', 'detection']",\r\n-- firstmjd represents the time of the fir...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n (\r\nSELECT *\r...,advanced,object,tree,NaN,NaN,NaN
3,37,"""Query the top 200 objects classified SNIa acc...",['probability'],NaN,NaN,\r\nSELECT\r\n *\r\nFROM\r\n probability\r...,simple,object,none,NaN,NaN,NaN
4,34,Given this list of oids ['ZTF17aaadpsi' 'ZTF19...,['feature'],\r\n-- feature.name can be 'Amplitude'\r\n-- f...,\r\n-- Multiband_period: Period obtained using...,\r\nSELECT\r\n *\r\nFROM\r\n feature\r\n...,simple,other,none,NaN,NaN,NaN

## Running experiments

In [9]:
# Experiment and save paths
experiment_path = "experiments"
save_path = ""

# Running parameters
ncpus = 2
db_min = 10
n_tries = 3

# Model to use
model = "gpt-4o"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Type of pipeline
format = "python"
self_corr = True
rag_pipe = True
direct = False

In [10]:
# Running compare oids
from pipeline.eval import new_compare_oids

new_compare_oids(df_train[:5], 1, model, max_tokens, format, db_min, n_tries, 
                 self_corr, rag_pipe, direct, size, overlap, quantity)

Tables needed: [object, detection]
Difficulty: medium
Resulting python query:
# Sub-query to get oids of objects first detected between December 1, 2022, and September 1, 2023
sub_query_oids = '''
SELECT
    oid
FROM
    object
WHERE
    firstmjd BETWEEN 59922 AND 60196
'''

# Sub-query to get oids and class_name for SNe with the highest probability
sub_query_probabilities = '''
SELECT
    oid, class_name
FROM
    probability
WHERE
    classifier_name='lc_classifier'
    AND ranking=1
    AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
'''

# Main query to combine the results and get the required information
full_query = f'''
SELECT
    o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM
    object o
INNER JOIN
    ({sub_query_probabilities}) p
ON
    o.oid = p.oid
WHERE
    o.oid IN ({sub_query_oids})
'''


# Sub-query to get oids of objects first detected between December 1, 2022, and September 1, 2023
sub_query_oids = '''
SELECT
    oid
FROM
    object
WHERE
    firstmjd BETWEEN 59922 AND 60196
'''

# Sub-query to get oids and class_name for SNe with the highest probability
sub_query_probabilities = '''
SELECT
    oid, class_name
FROM
    probability
WHERE
    classifier_name='lc_classifier'
    AND ranking=1
    AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
'''

# Main query to combine the results and get the required information
full_query = f'''
SELECT
    o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM
    object o
INNER JOIN
    ({sub_query_probabilities}) p
ON
    o.oid = p.oid
WHERE
    o.oid IN ({sub_query_oids})
'''

Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Gold query 13 could not be executed for experiment 1
Tables needed: [object, detection, probability]
Difficulty: advanced
Resulting python query:
sub_query_snia = f'''
SELECT
    oid, probability AS SN_prob
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNIa'
    AND ranking = 1
'''

sub_query_cv_nova = f'''
SELECT
    oid, probability AS CV_prob
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'CV/Nova'
    AND ranking = 2
'''

full_query = f'''
SELECT
    snia.oid, snia.SN_prob, cv_nova.CV_prob
FROM
    ({sub_query_snia}) AS snia
    INNER JOIN
    ({sub_query_cv_nova}) AS cv_nova
    ON snia.oid = cv_nova.oid
WHERE
    ABS(snia.SN_prob - cv_nova.CV_prob) < 0.1
'''


sub_query_snia = f'''
SELECT
    oid, probability AS SN_prob
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNIa'
    AND ranking = 1
'''

sub_query_cv_nova = f'''
SELECT
    oid, probability AS CV_prob
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'CV/Nova'
    AND ranking = 2
'''

full_query = f'''
SELECT
    snia.oid, snia.SN_prob, cv_nova.CV_prob
FROM
    ({sub_query_snia}) AS snia
    INNER JOIN
    ({sub_query_cv_nova}) AS cv_nova
    ON snia.oid = cv_nova.oid
WHERE
    ABS(snia.SN_prob - cv_nova.CV_prob) < 0.1
'''

Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Gold query 10 could not be executed for experiment 1
Tables needed: [object, stamp_probability, light_curves, detection, magstat]
Difficulty: advanced
Resulting python query:
# Sub-query to get object identifiers with the highest probability for class SN in the stamp classifier
sub_query_sn_probability = f'''
SELECT DISTINCT
    sp.oid
FROM
    stamp_probability sp
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
'''

# Sub-query to get object identifiers with first detection in the first 2 days of September
sub_query_first_detection_september = f'''
SELECT DISTINCT
    o.oid
FROM
    object o
WHERE
    o.firstmjd > 60188.0
    AND o.firstmjd < 60190.0
'''

# Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT DISTINCT
    m.oid
FROM
    magstat m
WHERE
    m.dmdt_first < -0.25
'''

# Combine the sub-queries using INTERSECT to get oids that satisfy all conditions
sub_query_combined_conditions = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS fd
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fr
'''

# Final query to retrieve the required information
full_query = f'''
SELECT
    d.oid, sp.probability, d.candid, d.fid, m.fid AS magstat_fid, m.dmdt_first
FROM
    ({sub_query_combined_conditions}) AS combined
    INNER JOIN detection d ON combined.oid = d.oid
    INNER JOIN stamp_probability sp ON combined.oid = sp.oid
    INNER JOIN magstat m ON combined.oid = m.oid
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
ORDER BY
    d.oid
'''


# Sub-query to get object identifiers with the highest probability for class SN in the stamp classifier
sub_query_sn_probability = f'''
SELECT DISTINCT
    sp.oid
FROM
    stamp_probability sp
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
'''

# Sub-query to get object identifiers with first detection in the first 2 days of September
sub_query_first_detection_september = f'''
SELECT DISTINCT
    o.oid
FROM
    object o
WHERE
    o.firstmjd > 60188.0
    AND o.firstmjd < 60190.0
'''

# Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT DISTINCT
    m.oid
FROM
    magstat m
WHERE
    m.dmdt_first < -0.25
'''

# Combine the sub-queries using INTERSECT to get oids that satisfy all conditions
sub_query_combined_conditions = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS fd
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fr
'''

# Final query to retrieve the required information
full_query = f'''
SELECT
    d.oid, sp.probability, d.candid, d.fid, m.fid AS magstat_fid, m.dmdt_first
FROM
    ({sub_query_combined_conditions}) AS combined
    INNER JOIN detection d ON combined.oid = d.oid
    INNER JOIN stamp_probability sp ON combined.oid = sp.oid
    INNER JOIN magstat m ON combined.oid = m.oid
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
ORDER BY
    d.oid
'''

Running SQL exception: (psycopg2.errors.UndefinedTable) relation "stamp_probability" does not exist
LINE 13:     stamp_probability sp
             ^

[SQL:
SELECT
    d.oid, sp.probability, d.candid, d.fid, m.fid AS magstat_fid, m.dmdt_first
FROM
    (
SELECT
    oid
FROM
    (
SELECT DISTINCT
    sp.oid
FROM
    stamp_probability sp
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
) AS sn
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    o.oid
FROM
    object o
WHERE
    o.firstmjd > 60188.0
    AND o.firstmjd < 60190.0
) AS fd
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    m.oid
FROM
    magstat m
WHERE
    m.dmdt_first < -0.25
) AS fr
) AS combined
    INNER JOIN detection d ON combined.oid = d.oid
    INNER JOIN stamp_probability sp ON combined.oid = sp.oid
    INNER JOIN magstat m ON combined.oid = m.oid
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
ORDER BY
    d.oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Running SQL exception: (psycopg2.errors.UndefinedTable) relation "stamp_probability" does not exist
LINE 13:     stamp_probability sp
             ^

[SQL:
SELECT
    d.oid, sp.probability, d.candid, d.fid, m.fid AS magstat_fid, m.dmdt_first
FROM
    (
SELECT
    oid
FROM
    (
SELECT DISTINCT
    sp.oid
FROM
    stamp_probability sp
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
) AS sn
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    o.oid
FROM
    object o
WHERE
    o.firstmjd > 60188.0
    AND o.firstmjd < 60190.0
) AS fd
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    m.oid
FROM
    magstat m
WHERE
    m.dmdt_first < -0.25
) AS fr
) AS combined
    INNER JOIN detection d ON combined.oid = d.oid
    INNER JOIN stamp_probability sp ON combined.oid = sp.oid
    INNER JOIN magstat m ON combined.oid = m.oid
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
ORDER BY
    d.oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Running SQL exception: (psycopg2.errors.UndefinedTable) relation "stamp_probability" does not exist
LINE 13:     stamp_probability sp
             ^

[SQL:
SELECT
    d.oid, sp.probability, d.candid, d.fid, m.fid AS magstat_fid, m.dmdt_first
FROM
    (
SELECT
    oid
FROM
    (
SELECT DISTINCT
    sp.oid
FROM
    stamp_probability sp
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
) AS sn
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    o.oid
FROM
    object o
WHERE
    o.firstmjd > 60188.0
    AND o.firstmjd < 60190.0
) AS fd
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    m.oid
FROM
    magstat m
WHERE
    m.dmdt_first < -0.25
) AS fr
) AS combined
    INNER JOIN detection d ON combined.oid = d.oid
    INNER JOIN stamp_probability sp ON combined.oid = sp.oid
    INNER JOIN magstat m ON combined.oid = m.oid
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
ORDER BY
    d.oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: local variable 'e' referenced before assignment
Start retry with self-correction
Corrected query:
```python
# Sub-query to get object identifiers with the highest probability for class SN in the stamp classifier
sub_query_sn_probability = f'''
SELECT DISTINCT
    sp.oid
FROM
    probability sp
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
'''

# Sub-query to get object identifiers with first detection in the first 2 days of September
sub_query_first_detection_september = f'''
SELECT DISTINCT
    o.oid
FROM
    object o
WHERE
    o.firstmjd > 60188.0
    AND o.firstmjd < 60190.0
'''

# Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT DISTINCT
    m.oid
FROM
    magstats m
WHERE
    m.dmdt_first < -0.25
'''

# Combine the sub-queries using INTERSECT to get oids that satisfy all conditions
sub_query_combined_conditions = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS fd
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fr
'''

# Final query to retrieve the required information
full_query = f'''
SELECT
    d.oid, sp.probability, d.candid, d.fid, m.fid AS magstat_fid, m.dmdt_first
FROM
    ({sub_query_combined_conditions}) AS combined
    INNER JOIN detection d ON combined.oid = d.oid
    INNER JOIN probability sp ON combined.oid = sp.oid
    INNER JOIN magstats m ON combined.oid = m.oid
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
ORDER BY
    d.oid
'''
```

### Comments:
1. **Table Names**: The table `stamp_probability` was corrected to `probability` and `magstat` to `magstats` to match the provided schema.
2. **Column Names**: The column `probability` is assumed to be present in the `probability` table.
3. **Syntax**: The syntax was checked to ensure correct SQL structure.
4. **Error Handling**: The error message mentioned was not directly related to SQL syntax but rather a Python error. The SQL query itself was corrected for logical and syntactical issues.
Running SQL exception: (psycopg2.errors.UndefinedTable) relation "stamp_probability" does not exist
LINE 13:     stamp_probability sp
             ^

[SQL:
SELECT
    d.oid, sp.probability, d.candid, d.fid, m.fid AS magstat_fid, m.dmdt_first
FROM
    (
SELECT
    oid
FROM
    (
SELECT DISTINCT
    sp.oid
FROM
    stamp_probability sp
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
) AS sn
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    o.oid
FROM
    object o
WHERE
    o.firstmjd > 60188.0
    AND o.firstmjd < 60190.0
) AS fd
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    m.oid
FROM
    magstat m
WHERE
    m.dmdt_first < -0.25
) AS fr
) AS combined
    INNER JOIN detection d ON combined.oid = d.oid
    INNER JOIN stamp_probability sp ON combined.oid = sp.oid
    INNER JOIN magstat m ON combined.oid = m.oid
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
ORDER BY
    d.oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Running SQL exception: (psycopg2.errors.UndefinedTable) relation "stamp_probability" does not exist
LINE 13:     stamp_probability sp
             ^

[SQL:
SELECT
    d.oid, sp.probability, d.candid, d.fid, m.fid AS magstat_fid, m.dmdt_first
FROM
    (
SELECT
    oid
FROM
    (
SELECT DISTINCT
    sp.oid
FROM
    stamp_probability sp
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
) AS sn
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    o.oid
FROM
    object o
WHERE
    o.firstmjd > 60188.0
    AND o.firstmjd < 60190.0
) AS fd
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    m.oid
FROM
    magstat m
WHERE
    m.dmdt_first < -0.25
) AS fr
) AS combined
    INNER JOIN detection d ON combined.oid = d.oid
    INNER JOIN stamp_probability sp ON combined.oid = sp.oid
    INNER JOIN magstat m ON combined.oid = m.oid
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
ORDER BY
    d.oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Running SQL exception: (psycopg2.errors.UndefinedTable) relation "stamp_probability" does not exist
LINE 13:     stamp_probability sp
             ^

[SQL:
SELECT
    d.oid, sp.probability, d.candid, d.fid, m.fid AS magstat_fid, m.dmdt_first
FROM
    (
SELECT
    oid
FROM
    (
SELECT DISTINCT
    sp.oid
FROM
    stamp_probability sp
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
) AS sn
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    o.oid
FROM
    object o
WHERE
    o.firstmjd > 60188.0
    AND o.firstmjd < 60190.0
) AS fd
INTERSECT
SELECT
    oid
FROM
    (
SELECT DISTINCT
    m.oid
FROM
    magstat m
WHERE
    m.dmdt_first < -0.25
) AS fr
) AS combined
    INNER JOIN detection d ON combined.oid = d.oid
    INNER JOIN stamp_probability sp ON combined.oid = sp.oid
    INNER JOIN magstat m ON combined.oid = m.oid
WHERE
    sp.classifier_name = 'stamp_classifier'
    AND sp.class_name = 'SN'
    AND sp.ranking = 1
ORDER BY
    d.oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Running SQL exception: unexpected indent (<string>, line 3)
Gold query 15 could not be executed for experiment 1
Tables needed: [object, detection, magstat]
Difficulty: advanced
Resulting python query:
# Sub-query for selecting objects classified as SN II with probability > 0.6
sub_query_probability = f'''
SELECT DISTINCT
    probability.oid
FROM
    probability
WHERE
    probability.classifier_name = 'lc_classifier'
    AND probability.class_name = 'SNII'
    AND probability.probability > 0.6
    AND probability.ranking = 1
'''

# Sub-query for selecting objects with first detection between 2019 and 2022
sub_query_date = f'''
SELECT
    object.oid
FROM
    object
WHERE
    object.firstmjd BETWEEN 58484 AND 59580  -- Corresponding MJD for 2019-01-01 to 2022-12-31
'''

# Sub-query for selecting objects with more than 50 detections
sub_query_detection_count = f'''
SELECT
    object.oid
FROM
    object
WHERE
    object.ndet > 50
'''

# Sub-query for selecting objects with initial rise rate < -0.5 mag/day in ZTF g and r-band
sub_query_initial_rise = f'''
SELECT
    magstat.oid
FROM
    magstat
WHERE
    magstat.dmdt_first < -0.5
    AND magstat.fid IN (1, 2)  -- Assuming fid 1 and 2 correspond to ZTF g and r-band
'''

# Combine sub-queries using INTERSECT to get oids satisfying all conditions
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_probability}) AS prob
INTERSECT
SELECT
    oid
FROM
    ({sub_query_date}) AS date
INTERSECT
SELECT
    oid
FROM
    ({sub_query_detection_count}) AS det_count
INTERSECT
SELECT
    oid
FROM
    ({sub_query_initial_rise}) AS init_rise
'''

# Main query to retrieve the required information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    magstat.dmdt_first,
    detection.fid
FROM
    detection
INNER JOIN
    magstat ON detection.oid = magstat.oid
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.oid
'''


# Sub-query for selecting objects classified as SN II with probability > 0.6
sub_query_probability = f'''
SELECT DISTINCT
    probability.oid
FROM
    probability
WHERE
    probability.classifier_name = 'lc_classifier'
    AND probability.class_name = 'SNII'
    AND probability.probability > 0.6
    AND probability.ranking = 1
'''

# Sub-query for selecting objects with first detection between 2019 and 2022
sub_query_date = f'''
SELECT
    object.oid
FROM
    object
WHERE
    object.firstmjd BETWEEN 58484 AND 59580  -- Corresponding MJD for 2019-01-01 to 2022-12-31
'''

# Sub-query for selecting objects with more than 50 detections
sub_query_detection_count = f'''
SELECT
    object.oid
FROM
    object
WHERE
    object.ndet > 50
'''

# Sub-query for selecting objects with initial rise rate < -0.5 mag/day in ZTF g and r-band
sub_query_initial_rise = f'''
SELECT
    magstat.oid
FROM
    magstat
WHERE
    magstat.dmdt_first < -0.5
    AND magstat.fid IN (1, 2)  -- Assuming fid 1 and 2 correspond to ZTF g and r-band
'''

# Combine sub-queries using INTERSECT to get oids satisfying all conditions
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_probability}) AS prob
INTERSECT
SELECT
    oid
FROM
    ({sub_query_date}) AS date
INTERSECT
SELECT
    oid
FROM
    ({sub_query_detection_count}) AS det_count
INTERSECT
SELECT
    oid
FROM
    ({sub_query_initial_rise}) AS init_rise
'''

# Main query to retrieve the required information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    magstat.dmdt_first,
    detection.fid
FROM
    detection
INNER JOIN
    magstat ON detection.oid = magstat.oid
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.oid
'''

Running SQL exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    magstat.dmdt_first,
    detection.fid
FROM
    detection
INNER JOIN
    magstat ON detection.oid = magstat.oid
WHERE
    detection.oid IN (
SELECT
    oid
FROM
    (
SELECT DISTINCT
    probability.oid
FROM
    probability
WHERE

[{'req_id': 13,
  'n_exp': 1,
  'query_diff': 'simple',
  'query_type': 'object',
  'n_rows_gold': 0,
  'n_rows_pred': 0,
  'rows_oid_pred_true': 0,
  'rows_oid_pred_false': 0,
  'rows_oid_gold_true': 0,
  'rows_oid_gold_false': 0,
  'n_cols_gold': 0,
  'n_cols_pred': 0,
  'cols_pred_true': 0,
  'cols_pred_false': 0,
  'cols_gold_true': 0,
  'cols_gold_false': 0,
  'gold_time': 0,
  'pred_time': 0,
  'error_pred': None,
  'are_equal': False,
  'is_oid': False,
  'cols_pred': 0,
  'cols_gold': 0,
  'columns': 1},
 {'req_id': 10,
  'n_exp': 1,
  'query_diff': 'medium',
  'query_type': 'object',
  'n_rows_gold': 0,
  'n_rows_pred': 0,
  'rows_oid_pred_true': 0,
  'rows_oid_pred_false': 0,
  'rows_oid_gold_true': 0,
  'rows_oid_gold_false': 0,
  'n_cols_gold': 0,
  'n_cols_pred': 0,
  'cols_pred_true': 0,
  'cols_pred_false': 0,
  'cols_gold_true': 0,
  'cols_gold_false': 0,
  'gold_time': 0,
  'pred_time': 0,
  'error_pred': None,
  'are_equal': False,
  'is_oid': False,
  'cols_pred': 0,
  'cols_gold': 0,
  'columns': 1},
 {'req_id': 15,
  'n_exp': 1,
  'query_diff': 'advanced',
  'query_type': 'other',
  'n_rows_gold': 0,
  'n_rows_pred': 0,
  'rows_oid_pred_true': 0,
  'rows_oid_pred_false': 0,
  'rows_oid_gold_true': 0,
  'rows_oid_gold_false': 0,
  'n_cols_gold': 0,
  'n_cols_pred': 0,
  'cols_pred_true': 0,
  'cols_pred_false': 0,
  'cols_gold_true': 0,
  'cols_gold_false': 0,
  'gold_time': 0,
  'pred_time': 0,
  'error_pred': None,
  'are_equal': False,
  'is_oid': False,
  'cols_pred': 0,
  'cols_gold': 0,
  'columns': 1},
 {'req_id': 4,
  'n_exp': 1,
  'query_diff': 'advanced',
  'query_type': 'other',
  'n_rows_gold': 0,
  'n_rows_pred': 0,
  'rows_oid_pred_true': 0,
  'rows_oid_pred_false': 0,
  'rows_oid_gold_true': 0,
  'rows_oid_gold_false': 0,
  'n_cols_gold': 0,
  'n_cols_pred': 0,
  'cols_pred_true': 0,
  'cols_pred_false': 0,
  'cols_gold_true': 0,
  'cols_gold_false': 0,
  'gold_time': 0,
  'pred_time': 0,
  'error_pred': None,
  'are_equal': False,
  'is_oid': False,
  'cols_pred': 0,
  'cols_gold': 0,
  'columns': 1},
 {'req_id': 25,
  'n_exp': 1,
  'query_diff': 'advanced',
  'query_type': 'spatial',
  'n_rows_gold': 0,
  'n_rows_pred': 0,
  'rows_oid_pred_true': 0,
  'rows_oid_pred_false': 0,
  'rows_oid_gold_true': 0,
  'rows_oid_gold_false': 0,
  'n_cols_gold': 0,
  'n_cols_pred': 0,
  'cols_pred_true': 0,
  'cols_pred_false': 0,
  'cols_gold_true': 0,
  'cols_gold_false': 0,
  'gold_time': 0,
  'pred_time': 0,
  'error_pred': None,
  'are_equal': False,
  'is_oid': False,
  'cols_pred': 0,
  'cols_gold': 0,
  'columns': 1}]

In [ ]:
# Running the evaluation in training
from pipeline.eval import run_eval_fcn

run_eval_fcn(df_train, experiment_path, save_path, model, max_tokens, format,
             ncpus, db_min, self_corr, rag_pipe, direct, size, overlap, 
             quantity)