# Evaluation notebook

## Setting up the training and testing dataframes

In [1]:
import pandas as pd

df_train = pd.read_csv("datasets/txt2sql_alerce_train_v3_1.csv")
df_test = pd.read_csv("datasets/txt2sql_alerce_test_v3_1.csv")

In [2]:
# Information about the dataframes
print(f"Shape of training set: {df_train.shape}")
df_train.head()

Shape of training set: (58, 12)

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\r\n-- mjd date for December = 59914.0\r\n-- m...,\r\n-- Super Nova (SNe) is a large explosion t...,"\r\nSELECT\r\n object.oid, probability.clas...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\r\nSELECT\r\n sq1.oid, sq1.probability as SN...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",\r\n-- mjd date for September 01 = 60188.0\r\n...,\r\n-- A fast riser is defined as an object wh...,"\r\nSELECT\r\n sq.oid, sq.probability, sq.c...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\r\n-- mjd date for the start of the year 2019...,0,"\r\nSELECT\r\n sq.oid, sq.fid, sq.dmdt_first,...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",\r\n-- mjd date for February 01 = 59976.0\r\n-...,0,"\r\nWITH catalog ( source_id, ra, dec) AS (\r\...",advanced,spatial,simple,NaN,NaN,NaN

In [3]:
print(f"Shape of testing set: {df_test.shape}")
df_test.head()

Shape of testing set: (52, 12)

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,8,Query all objects that were first classified a...,"['probability', 'object']",\r\n-- mjd date for august 17 = 60173.0\r\n-- ...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n object\r\nI...,simple,object,none,NaN,NaN,NaN
1,27,"Return the oids, meanra, meandec, ndet, firstm...","['probability', 'object']",\r\n-- object.ndet represents the total number...,NaN,"\r\nSELECT\r\n object.oid, object.meanra, o...",simple,object,simple,NaN,NaN,NaN
2,17,Return the objects classified as AGN that show...,"['probability', 'object', 'detection']",\r\n-- firstmjd represents the time of the fir...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n (\r\nSELECT *\r...,advanced,object,tree,NaN,NaN,NaN
3,37,"""Query the top 200 objects classified SNIa acc...",['probability'],NaN,NaN,\r\nSELECT\r\n *\r\nFROM\r\n probability\r...,simple,object,none,NaN,NaN,NaN
4,34,Given this list of oids ['ZTF17aaadpsi' 'ZTF19...,['feature'],\r\n-- feature.name can be 'Amplitude'\r\n-- f...,\r\n-- Multiband_period: Period obtained using...,\r\nSELECT\r\n *\r\nFROM\r\n feature\r\n...,simple,other,none,NaN,NaN,NaN

## Running experiments

In [4]:
# Experiment and save paths
experiment_path = "experiments"
save_path = "predictions"

# Running parameters
ncpus = 5
db_min = 10
n_tries = 3
exps = 5

# Model to use
model = "gpt-4o"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Type of pipeline
format = "python"
self_corr = True
rag_pipe = True
direct = False

In [ ]:
# Running the evaluation in training
from pipeline.eval import new_run_eval_fcn

new_run_eval_fcn(df_train[:5], experiment_path, model, max_tokens, format,
                 ncpus, db_min, n_tries, self_corr, rag_pipe, direct, size, 
                 overlap, quantity, exps)

c:\Users\sanfe\Documents\Mío\Trabajos\Universidad\MDS\Semestre 9\Seminario de Tesis II\Tesis-Simon-Sanfeliu\tesis\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Starting parallel evaluation using run_sqls_parallel...
Running evaluation n°0
Running evaluation n°1
Running evaluation n°2
Running evaluation n°3
Running evaluation n°4

Exception in thread Thread-7 (_handle_results):
Traceback (most recent call last):
  File "C:\Program Files\Python310\lib\threading.py", line 1016, in _bootstrap_inner
    self.run()
  File "c:\Users\sanfe\Documents\Mío\Trabajos\Universidad\MDS\Semestre 9\Seminario de Tesis II\Tesis-Simon-Sanfeliu\tesis\lib\site-packages\ipykernel\ipkernel.py", line 766, in run_closure
    _threading_Thread_run(self)
  File "C:\Program Files\Python310\lib\threading.py", line 953, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Program Files\Python310\lib\multiprocessing\pool.py", line 579, in _handle_results
    task = get()
  File "C:\Program Files\Python310\lib\multiprocessing\connection.py", line 256, in recv
    return _ForkingPickler.loads(buf.getbuffer())
TypeError: APIStatusError.__init__() missing 2 required keyword-only arguments: 'response' and 'body'

In [ ]:
# Running compare oids
from pipeline.eval import new_compare_oids

new_compare_oids(df_train[:5], 1, model, max_tokens, format, db_min, n_tries, 
                 self_corr, rag_pipe, direct, size, overlap, quantity)

c:\Users\sanfe\Documents\Mío\Trabajos\Universidad\MDS\Semestre 9\Seminario de Tesis II\Tesis-Simon-Sanfeliu\tesis\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Tables needed: [object, detection, feature, probability, magstat]
Difficulty: advanced
Resulting python query:
# Sub-query to filter objects by first detection date
sub_query_date_filtered = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
'''

# Sub-query to filter objects by probability class
sub_query_class_filtered = f'''
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
'''

# Intersection of OIDs from both sub-queries
sub_query_intersection = f'''
SELECT oid
FROM ({sub_query_date_filtered}) AS date_filtered
INTERSECT
SELECT oid
FROM ({sub_query_class_filtered}) AS class_filtered
'''

# Final query to retrieve required information
full_query = f'''
SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN ({sub_query_intersection})
AND p.ranking = 1
ORDER BY o.oid
'''


# Sub-query to filter objects by first detection date
sub_query_date_filtered = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
'''

# Sub-query to filter objects by probability class
sub_query_class_filtered = f'''
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
'''

# Intersection of OIDs from both sub-queries
sub_query_intersection = f'''
SELECT oid
FROM ({sub_query_date_filtered}) AS date_filtered
INTERSECT
SELECT oid
FROM ({sub_query_class_filtered}) AS class_filtered
'''

# Final query to retrieve required information
full_query = f'''
SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN ({sub_query_intersection})
AND p.ranking = 1
ORDER BY o.oid
'''


SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN (
SELECT oid
FROM (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
) AS date_filtered
INTERSECT
SELECT oid
FROM (
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
) AS class_filtered
)
AND p.ranking = 1
ORDER BY o.oid

Running SQL exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN (
SELECT oid
FROM (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
) AS date_filtered
INTERSECT
SELECT oid
FROM (
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
) AS class_filtered
)
AND p.ranking = 1
ORDER BY o.oid
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN (
SELECT oid
FROM (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
) AS date_filtered
INTERSECT
SELECT oid
FROM (
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
) AS class_filtered
)
AND p.ranking = 1
ORDER BY o.oid

Running SQL exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN (
SELECT oid
FROM (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
) AS date_filtered
INTERSECT
SELECT oid
FROM (
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
) AS class_filtered
)
AND p.ranking = 1
ORDER BY o.oid
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN (
SELECT oid
FROM (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
) AS date_filtered
INTERSECT
SELECT oid
FROM (
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
) AS class_filtered
)
AND p.ranking = 1
ORDER BY o.oid

Running SQL exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN (
SELECT oid
FROM (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
) AS date_filtered
INTERSECT
SELECT oid
FROM (
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
) AS class_filtered
)
AND p.ranking = 1
ORDER BY o.oid
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Raised exception: local variable 'e' referenced before assignment
Start retry with self-correction
Corrected query:
```python
# Sub-query to filter objects by first detection date
sub_query_date_filtered = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
'''

# Sub-query to filter objects by probability class
sub_query_class_filtered = f'''
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
'''

# Intersection of OIDs from both sub-queries
sub_query_intersection = f'''
SELECT oid
FROM ({sub_query_date_filtered}) AS date_filtered
INTERSECT
SELECT oid
FROM ({sub_query_class_filtered}) AS class_filtered
'''

# Final query to retrieve required information
full_query = f'''
SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN ({sub_query_intersection})
AND p.classifier_name = 'lc_classifier'
AND p.ranking = 1
AND p.class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
ORDER BY o.oid
'''
```

### Explanation:
- The sub-queries `sub_query_date_filtered` and `sub_query_class_filtered` are correctly filtering the `oid` based on the first detection date and the probability class, respectively.
- The `sub_query_intersection` correctly intersects the results of the two sub-queries to get the `oid` that satisfy both conditions.
- In the `full_query`, the `JOIN` condition is correctly specified, and the additional conditions ensure that only the relevant probability classes are selected.
- The error message "local variable 'e' referenced before assignment" is not related to the SQL query itself but might be related to the Python code handling exceptions. However, the SQL query provided here should work correctly in the ALeRCE database context.

SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN (
SELECT oid
FROM (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
) AS date_filtered
INTERSECT
SELECT oid
FROM (
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
) AS class_filtered
)
AND p.ranking = 1
ORDER BY o.oid

Running SQL exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN (
SELECT oid
FROM (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
) AS date_filtered
INTERSECT
SELECT oid
FROM (
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
) AS class_filtered
)
AND p.ranking = 1
ORDER BY o.oid
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN (
SELECT oid
FROM (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
) AS date_filtered
INTERSECT
SELECT oid
FROM (
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
) AS class_filtered
)
AND p.ranking = 1
ORDER BY o.oid

Running SQL exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN (
SELECT oid
FROM (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
) AS date_filtered
INTERSECT
SELECT oid
FROM (
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
) AS class_filtered
)
AND p.ranking = 1
ORDER BY o.oid
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

SELECT o.oid, o.firstmjd, o.lastmjd, p.class_name
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE o.oid IN (
SELECT oid
FROM (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 59910 AND 60184
) AS date_filtered
INTERSECT
SELECT oid
FROM (
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
  AND ranking = 1
) AS class_filtered
)
AND p.ranking = 1
ORDER BY o.oid