# Testing notebook

## Working the CSVs and Excel sheets

In [1]:
# Exploring the 'training' dataset
import pandas as pd
df = pd.read_csv("datasets/txt2sql_alerce_train_v3_1.csv")
df.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\r\n-- mjd date for December = 59914.0\r\n-- m...,\r\n-- Super Nova (SNe) is a large explosion t...,"\r\nSELECT\r\n object.oid, probability.clas...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\r\nSELECT\r\n sq1.oid, sq1.probability as SN...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",\r\n-- mjd date for September 01 = 60188.0\r\n...,\r\n-- A fast riser is defined as an object wh...,"\r\nSELECT\r\n sq.oid, sq.probability, sq.c...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\r\n-- mjd date for the start of the year 2019...,0,"\r\nSELECT\r\n sq.oid, sq.fid, sq.dmdt_first,...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",\r\n-- mjd date for February 01 = 59976.0\r\n-...,0,"\r\nWITH catalog ( source_id, ra, dec) AS (\r\...",advanced,spatial,simple,NaN,NaN,NaN

In [2]:
df[df["request"] == "Find at most 10 cases where the feature called 'LinearTrend' is larger than 5 and their ZTF objects have a difference between last and first detection date larger than 1 day. Return the following columns. For the ZTF objects: ZTF identifier and number of detections; for their light curve classifier data at ranking 1: classifier version, class and probability; for the 'LinearTrend' feature: value and filter identifier"]["external_knowledge"].item()

"Since no feature version is specified, the combination between ZTF oid and fid can be non-unique in the 'feature' table output"

In [3]:
# Reading the excel file
excel = pd.read_excel("datasets/SQLusecases_alerce.xlsx", 
                      sheet_name="examples_alerce_usecasesV3_1")

# Cleaning the excel a bit
excel = excel.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
excel.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,Set,python_format
0,0,Get objects that are likely to be YSOs (possib...,"['probability', 'feature']",\n-- feature.name can be 'Multiband_period'\n-...,\n-- Multiband_period: Period obtained using t...,"\nSELECT\n oid, probability, value, name, fid...",advanced,object,tree,Train,"sub_query_1='''\nSELECT\n feature.oid, prob_o..."
1,1,Get all the objects classified as AGN with a p...,"['object', 'probability', 'feature', 'magstat']",\n-- object.ndet represents the number of dete...,\n-- Amplitude: Half of the difference between...,"\nSELECT\n sq.oid, sq.value, sq.name, sq.fid ...",advanced,object,tree,Test,\nsub_query_object='''\nSELECT\n object.oid...
2,2,Give me the objects classified as YSO by their...,['probability'],NaN,NaN,"\nSELECT\n oid, probability\nFROM\n prob...",simple,object,none,Train,"query='''\nSELECT\n oid, probability\nFROM\..."
3,3,Give me the objects classified as YSO by the l...,"['object', 'probability']","\n-- last june in mjd date: [start=60096.0, en...",NaN,\nSELECT\n *\nFROM\n probability\nWHERE\...,simple,object,simple,Train,query=f'''\nSELECT\n *\nFROM\n probabili...
4,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\n-- mjd date for the start of the year 2019 =...,NaN,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,Train,# objects classified as SN II with probability...

## Tests

### Gold values and query to test

In [4]:
# Select a query
query = "Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers."

# Check if the query is in the excel file
if query in excel["request"].to_list():
    # Obtain the gold SQL query and Python query
    sql_gold = excel[excel["request"] == query]["gold_query"].item()
    python_gold = excel[excel["request"] == query]["python_format"].item()

    # Obtain the necessary tables
    gold_tables = excel[excel["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)
    print("Python gold query:\n")
    print(python_gold)
    
else:
    # Obtain the gold SQL query
    sql_gold = df[df["request"] == query]["gold_query"].item()

    # Obtain the necessary tables
    gold_tables = df[df["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)

Gold values

Tables needed for the query:
['object', 'probability', 'detection', 'magstat']

SQL gold query:

SELECT
    sq.oid, sq.probability, sq.candid, sq.fid, sq.mjd,
    magstat.fid as magstat_fid, magstat.dmdt_first
FROM
  (
SELECT
  detection.oid, detection.candid, detection.fid, detection.mjd,
  obj_oids.probability
FROM
  (
SELECT
    object.oid, probability.probability
FROM
    object INNER JOIN
    probability
    ON object.oid = probability.oid
WHERE
    probability.classifier_name='stamp_classifier'
    AND probability.class_name='SN'
    AND probability.ranking=1
    AND object.firstmjd > 60188.0
    AND object.firstmjd < 60189.0
) as obj_oids
    INNER JOIN
    detection ON detection.oid = obj_oids.oid
) AS sq
  INNER JOIN magstat
  ON sq.oid = magstat.oid
WHERE
  magstat.dmdt_first < -0.25
ORDER BY oid

Python gold query:

sub_query_object=f'''
SELECT
    object.oid, probability.probability
FROM
    object INNER JOIN
    probability
    ON object.oid = probability.oid
WHERE
    probability.classifier_name='stamp_classifier'
    AND probability.class_name='SN'
    AND probability.ranking=1
    AND object.firstmjd > {mjd_first_16}
    AND object.firstmjd < {mjd_last_16}
'''

sub_query_detection=f'''
SELECT
  detection.oid, detection.candid, detection.fid, detection.mjd,
  obj_oids.probability
FROM
  ({sub_query_object}) as obj_oids
    INNER JOIN
    detection ON detection.oid = obj_oids.oid
'''

### detections
query=f'''
SELECT
    sq.oid, sq.probability, sq.candid, sq.fid, sq.mjd,
    magstat.fid as magstat_fid, magstat.dmdt_first
FROM
  ({sub_query_detection}) AS sq
  INNER JOIN magstat
  ON sq.oid = magstat.oid
WHERE
  magstat.dmdt_first < -0.25
ORDER BY oid
'''

In [5]:
# Running the gold query
from secret.config import SQL_URL
import requests
import sqlalchemy as sa

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{params['user']}:{params['password']}@{params['host']}/{params['dbname']}")
engine.begin()

resultGold = pd.read_sql_query(sql_gold, con=engine)
resultGold

,oid,probability,candid,fid,mjd,magstat_fid,dmdt_first
0,ZTF18aaiaclp,0.520409,2434223984915015031,2,60188.223982,2,-0.445361
1,ZTF18aakjgzj,0.319556,2434219693515015039,2,60188.219699,2,-0.341342
2,ZTF18aaleydm,0.613368,2434217801715015066,2,60188.217801,2,-0.830610
3,ZTF18aamxief,0.323881,2434223031815015040,2,60188.223032,2,-0.298997
4,ZTF18aanglcr,0.336435,2434215873315015004,2,60188.215880,2,-0.713267
5,ZTF18aaouvke,0.282244,2434220161815015099,2,60188.220162,2,-0.333054
6,ZTF18aaqsuyn,0.414416,2434215875015015115,2,60188.215880,2,-0.880376
7,ZTF18aattenu,0.599858,2434216851815015097,2,60188.216852,2,-0.651601
8,ZTF18aaxkcvg,0.492333,2434224440015015034,2,60188.224444,2,-0.346522
9,ZTF18abbinqq,0.497010,2434182954115015170,1,60188.182951,1,-0.529858
10,ZTF18abgaubg,0.367991,2434219694115015021,2,60188.219699,2,-0.415153
11,ZTF18abglnwb,0.329889,2434216353715015103,2,60188.216354,2,-0.443484
12,ZTF18abhwgok,0.365993,2434182950715015047,1,60188.182951,1,-0.580608
13,ZTF18ablaynw,0.342683,2434184374315015053,1,60188.184375,1,-0.970855
14,ZTF18ableqag,0.379848,2434216850215015033,2,60188.216852,2,-0.522742
15,ZTF18acdasef,0.323562,2434185780915015012,1,60188.185787,1,-0.901711
16,ZTF18acxanzv,0.381807,2434171450015015078,1,60188.171458,1,-0.696760
17,ZTF19aamctar,0.611254,2434170520115015077,1,60188.170521,1,-0.363331
18,ZTF19aaqjtmu,0.316548,2434185785515015196,1,60188.185787,1,-0.542452
19,ZTF19aaxcivg,0.387324,2434185784315015146,1,60188.185787,1,-0.414204
20,ZTF19abvvndq,0.439971,2434172404115015076,1,60188.172407,1,-0.426276
21,ZTF19acpkrqy,0.336011,2434171450015015085,1,60188.171458,1,-0.363061
22,ZTF20abkqomr,0.584670,2434220160015015096,2,60188.220162,2,-0.253318
23,ZTF20abkrdwi,0.378856,2434220632315015080,2,60188.220637,2,-0.471683
24,ZTF20achfwjr,0.386997,2434226822515015233,2,60188.226829,2,-0.389240
25,ZTF20adimwph,0.373529,2434215400115015120,2,60188.215405,2,-0.539711
26,ZTF21abevufp,0.402187,2434183903615015008,1,60188.183901,1,-1.214308
27,ZTF22aaqqlbm,0.382260,2434170992215015013,1,60188.170995,1,-0.456345
28,ZTF22aatmbdd,0.404035,2434169570815015161,1,60188.169572,1,-0.795624
29,ZTF23abasyxe,0.323214,2434170523915015034,1,60188.170521,1,-0.389963
30,ZTF23abatcyd,0.278659,2434182954115015147,1,60188.182951,1,-0.554422
31,ZTF23abatdoy,0.344793,2434168631015015070,1,60188.168634,1,-0.672678
32,ZTF23abatgxx,0.449466,2434191153815015239,2,60188.191157,2,-0.514062
33,ZTF23abatlea,0.376271,2434186272115015073,1,60188.186273,1,-0.330905
34,ZTF23abatmhd,0.359963,2434185783715015163,1,60188.185787,1,-0.894516
35,ZTF23abatokz,0.528303,2434216352615015059,2,60188.216354,2,-0.714582
36,ZTF23abatqpu,0.351905,2434216851815015039,2,60188.216852,2,-0.452335
37,ZTF23abatqpw,0.702023,2434216851815015088,2,60188.216852,2,-0.469563
38,ZTF23abatriq,0.453436,2434219690515015189,2,60188.219699,2,-0.268780
39,ZTF23abatwjf,0.262842,2434223983715015179,2,60188.223982,2,-0.348651
40,ZTF23abatxuz,0.614179,2434215870415015187,2,60188.215880,2,-0.719351
41,ZTF23abaudpp,0.348228,2434226822115015013,2,60188.226829,2,-0.973436
42,ZTF23abaudrd,0.735403,2434220160015015156,2,60188.220162,2,-0.334129

### Trying out the pipelines

In [ ]:
from pprint import pprint
from pipeline.eval import run_pipeline
from testing.tests import engine
engine.begin()

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
format = "python"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Running the pipeline
result, error, total_usage, prompts, _ = run_pipeline(query, model, max_tokens, size, 
                                            overlap, quantity, format, False,
                                            True, True, 2, 3)
print("Resulting table:")
print(result)
print("Total usage of the pipeline:")
pprint(total_usage)

# The prompts used will be saved in this file
with open(f"prompts/examples/prompts_query_{model}.txt", "w") as f:
    f.write(str(prompts))

c:\Users\sanfe\Documents\Mío\Trabajos\Universidad\MDS\Semestre 9\Seminario de Tesis II\Tesis-Simon-Sanfeliu\tesis\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Tables needed: [object, feature, detection]
Difficulty: advanced
Raw response: ```python
# Sub-query for SN II Classification
sub_query_sn_ii = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
'''

# Sub-query for Number of Detections
sub_query_detections = f'''
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
'''

# Sub-query for Magnitude Difference in g-band
sub_query_mag_diff = f'''
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
'''

# Combine Sub-queries with INTERSECT
sub_query_combined = f'''
SELECT oid FROM ({sub_query_sn_ii}) AS sn_ii
INTERSECT
SELECT oid FROM ({sub_query_detections}) AS detections
INTERSECT
SELECT oid FROM ({sub_query_mag_diff}) AS mag_diff
'''

# Main Query to Retrieve Required Information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.mjd
'''
```
Resulting python query: # Sub-query for SN II Classification
sub_query_sn_ii = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
''' # Sub-query for Number of Detections
sub_query_detections = f'''
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
''' # Sub-query for Magnitude Difference in g-band
sub_query_mag_diff = f'''
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
''' # Combine Sub-queries with INTERSECT
sub_query_combined = f'''
SELECT oid FROM ({sub_query_sn_ii}) AS sn_ii
INTERSECT
SELECT oid FROM ({sub_query_detections}) AS detections
INTERSECT
SELECT oid FROM ({sub_query_mag_diff}) AS mag_diff
''' # Main Query to Retrieve Required Information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.mjd
'''
# Sub-query for SN II Classification
sub_query_sn_ii = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
''' # Sub-query for Number of Detections
sub_query_detections = f'''
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
''' # Sub-query for Magnitude Difference in g-band
sub_query_mag_diff = f'''
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
''' # Combine Sub-queries with INTERSECT
sub_query_combined = f'''
SELECT oid FROM ({sub_query_sn_ii}) AS sn_ii
INTERSECT
SELECT oid FROM ({sub_query_detections}) AS detections
INTERSECT
SELECT oid FROM ({sub_query_mag_diff}) AS mag_diff
''' # Main Query to Retrieve Required Information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.mjd
'''
Running SQL exception in run_query: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN (
SELECT oid FROM (
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
) AS sn_ii
INTERSECT
SELECT oid FROM (
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
) AS detections
INTERSECT
SELECT oid FROM (
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
) AS mag_diff
)
ORDER BY
    detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Raised exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN (
SELECT oid FROM (
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
) AS sn_ii
INTERSECT
SELECT oid FROM (
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
) AS detections
INTERSECT
SELECT oid FROM (
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
) AS mag_diff
)
ORDER BY
    detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Start retry with self-correction
Corrected query:
```python
# Sub-query for SN II Classification
sub_query_sn_ii = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
'''

# Sub-query for Number of Detections
sub_query_detections = f'''
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
'''

# Sub-query for Magnitude Difference in g-band
sub_query_mag_diff = f'''
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
'''

# Combine Sub-queries with INTERSECT
sub_query_combined = f'''
SELECT oid FROM ({sub_query_sn_ii}) AS sn_ii
INTERSECT
SELECT oid FROM ({sub_query_detections}) AS detections
INTERSECT
SELECT oid FROM ({sub_query_mag_diff}) AS mag_diff
'''

# Main Query to Retrieve Required Information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.mjd
'''
```

In [7]:
# Running the gold query
from secret.config import SQL_URL
import requests
import sqlalchemy as sa
import csv
from pipeline.eval import run_pipeline

# Select a query
query = "Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers."

# Obtain the gold SQL query and Python query
sql_gold = excel[excel["request"] == query]["gold_query"].item()

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{params['user']}:{params['password']}@{params['host']}/{params['dbname']}")
engine.begin()

resultGold = pd.read_sql_query(sql_gold, con=engine)

# Model to use
model = "gpt-4o"

# Format for the pipeline
format = "python"
rag = True

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

to_csv = []
for i in range(10):
    print(f"Experimento número: {i+1}")
    result, error, total_usage, _, table = run_pipeline(query, model, max_tokens, size, 
                                            overlap, quantity, format, False,
                                            rag, True, 2, 3)
    for_list = {
        "exp": 40 + i + 1,
        "request": query,
        "model": model,
        "format": format,
        "rag": rag,
        "genQuery": table,
        "goldQuery": sql_gold,
        "results": result,
        "resultsCols": result.columns.to_numpy() if result is not None else None,
        "resultsRows": result["oid"].to_numpy() if result is not None else None,
        "resultGold": resultGold,
        "resultGoldCols": resultGold.columns.to_numpy(),
        "resultGoldRows": resultGold["oid"].to_numpy()
    }
    to_csv.append(for_list)

headers = to_csv[0].keys()
file_name = f"experiments/{format}_RAG_{rag}.csv"
with open(file_name, mode='w', newline='') as file:
    writer = csv.DictWriter(file, fieldnames=headers)
    
    # Write the header row
    writer.writeheader()
    
    # Write the data rows
    for row in to_csv:
        writer.writerow(row)

Experimento número: 1
Tables needed: [object, probability, magstat]
Difficulty: advanced
Raw response: ```python
# Sub-query to get object identifiers with the highest probability for class 'SN' in the stamp classifier
sub_query_sn_probability = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
'''

# Sub-query to get object identifiers with first detection in the first 2 days of September 2024
sub_query_first_detection_september = f'''
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60275.0  -- MJD for September 1, 2024
    AND firstmjd < 60277.0  -- MJD for September 3, 2024
'''

# Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
'''

# Combine the sub-queries using INTERSECT to get the final list of object identifiers
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS first_det
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fast_rise
'''

# Final query to retrieve the required information
full_query = f'''
SELECT
    obj.oid, prob.probability, det.candid, det.fid, det.mjd
FROM
    ({sub_query_combined}) AS valid_oids
    INNER JOIN probability AS prob ON valid_oids.oid = prob.oid
    INNER JOIN detection AS det ON valid_oids.oid = det.oid
WHERE
    prob.classifier_name = 'stamp_classifier'
    AND prob.class_name = 'SN'
    AND prob.ranking = 1
ORDER BY
    obj.oid
'''
```
Resulting python query: # Sub-query to get object identifiers with the highest probability for class 'SN' in the stamp classifier
sub_query_sn_probability = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
''' # Sub-query to get object identifiers with first detection in the first 2 days of September 2024
sub_query_first_detection_september = f'''
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60275.0  -- MJD for September 1, 2024
    AND firstmjd < 60277.0  -- MJD for September 3, 2024
''' # Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
''' # Combine the sub-queries using INTERSECT to get the final list of object identifiers
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS first_det
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fast_rise
''' # Final query to retrieve the required information
full_query = f'''
SELECT
    obj.oid, prob.probability, det.candid, det.fid, det.mjd
FROM
    ({sub_query_combined}) AS valid_oids
    INNER JOIN probability AS prob ON valid_oids.oid = prob.oid
    INNER JOIN detection AS det ON valid_oids.oid = det.oid
WHERE
    prob.classifier_name = 'stamp_classifier'
    AND prob.class_name = 'SN'
    AND prob.ranking = 1
ORDER BY
    obj.oid
'''
# Sub-query to get object identifiers with the highest probability for class 'SN' in the stamp classifier
sub_query_sn_probability = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
''' # Sub-query to get object identifiers with first detection in the first 2 days of September 2024
sub_query_first_detection_september = f'''
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60275.0  -- MJD for September 1, 2024
    AND firstmjd < 60277.0  -- MJD for September 3, 2024
''' # Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
''' # Combine the sub-queries using INTERSECT to get the final list of object identifiers
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS first_det
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fast_rise
''' # Final query to retrieve the required information
full_query = f'''
SELECT
    obj.oid, prob.probability, det.candid, det.fid, det.mjd
FROM
    ({sub_query_combined}) AS valid_oids
    INNER JOIN probability AS prob ON valid_oids.oid = prob.oid
    INNER JOIN detection AS det ON valid_oids.oid = det.oid
WHERE
    prob.classifier_name = 'stamp_classifier'
    AND prob.class_name = 'SN'
    AND prob.ranking = 1
ORDER BY
    obj.oid
'''
Running SQL exception in run_query: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "obj"
LINE 3:     obj.oid, prob.probability, det.candid, det.fid, det.mjd
            ^

[SQL:
SELECT
    obj.oid, prob.probability, det.candid, det.fid, det.mjd
FROM
    (
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60275.0  -- MJD for September 1, 2024
    AND firstmjd < 60277.0  -- MJD for September 3, 2024
) AS first_det
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
) AS fast_rise
) AS valid_oids
    INNER JOIN probability AS prob ON valid_oids.oid = prob.oid
    INNER JOIN detection AS det ON valid_oids.oid = det.oid
WHERE
    prob.classifier_name = 'stamp_classifier'
    AND prob.class_name = 'SN'
    AND prob.ranking = 1
ORDER BY
    obj.oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "obj"
LINE 3:     obj.oid, prob.probability, det.candid, det.fid, det.mjd
            ^

[SQL:
SELECT
    obj.oid, prob.probability, det.candid, det.fid, det.mjd
FROM
    (
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60275.0  -- MJD for September 1, 2024
    AND firstmjd < 60277.0  -- MJD for September 3, 2024
) AS first_det
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
) AS fast_rise
) AS valid_oids
    INNER JOIN probability AS prob ON valid_oids.oid = prob.oid
    INNER JOIN detection AS det ON valid_oids.oid = det.oid
WHERE
    prob.classifier_name = 'stamp_classifier'
    AND prob.class_name = 'SN'
    AND prob.ranking = 1
ORDER BY
    obj.oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Start retry with self-correction
Corrected query:
```python
# Sub-query to get object identifiers with the highest probability for class 'SN' in the stamp classifier
sub_query_sn_probability = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
'''

# Sub-query to get object identifiers with first detection in the first 2 days of September 2024
sub_query_first_detection_september = f'''
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60275.0  -- MJD for September 1, 2024
    AND firstmjd < 60277.0  -- MJD for September 3, 2024
'''

# Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
'''

# Combine the sub-queries using INTERSECT to get the final list of object identifiers
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS first_det
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fast_rise
'''

# Final query to retrieve the required information
full_query = f'''
SELECT
    valid_oids.oid, prob.probability, det.candid, det.fid, det.mjd
FROM
    ({sub_query_combined}) AS valid_oids
    INNER JOIN probability AS prob ON valid_oids.oid = prob.oid
    INNER JOIN detection AS det ON valid_oids.oid = det.oid
WHERE
    prob.classifier_name = 'stamp_classifier'
    AND prob.class_name = 'SN'
    AND prob.ranking = 1
ORDER BY
    valid_oids.oid
'''
```
Running SQL exception in run_query: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "obj"
LINE 3:     obj.oid, prob.probability, det.candid, det.fid, det.mjd
            ^

[SQL:
SELECT
    obj.oid, prob.probability, det.candid, det.fid, det.mjd
FROM
    (
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60275.0  -- MJD for September 1, 2024
    AND firstmjd < 60277.0  -- MJD for September 3, 2024
) AS first_det
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
) AS fast_rise
) AS valid_oids
    INNER JOIN probability AS prob ON valid_oids.oid = prob.oid
    INNER JOIN detection AS det ON valid_oids.oid = det.oid
WHERE
    prob.classifier_name = 'stamp_classifier'
    AND prob.class_name = 'SN'
    AND prob.ranking = 1
ORDER BY
    obj.oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Experimento número: 2
Tables needed: [object, probability, magstat]
Difficulty: advanced
Raw response: ```python
# Sub-query to get object identifiers with the highest probability for class 'SN' in the stamp classifier
sub_query_sn_probability = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
'''

# Sub-query to get object identifiers with first detection in the first 2 days of September 2024
# Assuming the MJD for September 1, 2024, is approximately 60200.0
sub_query_first_detection_september = f'''
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60200.0
    AND firstmjd < 60202.0
'''

# Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
'''

# Combine the sub-queries using INTERSECT to get the final list of object identifiers
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS first_det
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fast_risers
'''

# Final query to retrieve the object identifiers, probabilities, and light curves (only detections)
full_query = f'''
SELECT
    p.oid, p.probability, d.candid, d.fid, d.mjd
FROM
    probability p
INNER JOIN
    detection d ON p.oid = d.oid
WHERE
    p.classifier_name = 'stamp_classifier'
    AND p.oid IN ({sub_query_combined})
ORDER BY
    p.oid
'''
```
Resulting python query: # Sub-query to get object identifiers with the highest probability for class 'SN' in the stamp classifier
sub_query_sn_probability = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
''' # Sub-query to get object identifiers with first detection in the first 2 days of September 2024
# Assuming the MJD for September 1, 2024, is approximately 60200.0
sub_query_first_detection_september = f'''
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60200.0
    AND firstmjd < 60202.0
''' # Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
''' # Combine the sub-queries using INTERSECT to get the final list of object identifiers
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS first_det
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fast_risers
''' # Final query to retrieve the object identifiers, probabilities, and light curves (only detections)
full_query = f'''
SELECT
    p.oid, p.probability, d.candid, d.fid, d.mjd
FROM
    probability p
INNER JOIN
    detection d ON p.oid = d.oid
WHERE
    p.classifier_name = 'stamp_classifier'
    AND p.oid IN ({sub_query_combined})
ORDER BY
    p.oid
'''
# Sub-query to get object identifiers with the highest probability for class 'SN' in the stamp classifier
sub_query_sn_probability = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
''' # Sub-query to get object identifiers with first detection in the first 2 days of September 2024
# Assuming the MJD for September 1, 2024, is approximately 60200.0
sub_query_first_detection_september = f'''
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60200.0
    AND firstmjd < 60202.0
''' # Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
''' # Combine the sub-queries using INTERSECT to get the final list of object identifiers
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS first_det
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fast_risers
''' # Final query to retrieve the object identifiers, probabilities, and light curves (only detections)
full_query = f'''
SELECT
    p.oid, p.probability, d.candid, d.fid, d.mjd
FROM
    probability p
INNER JOIN
    detection d ON p.oid = d.oid
WHERE
    p.classifier_name = 'stamp_classifier'
    AND p.oid IN ({sub_query_combined})
ORDER BY
    p.oid
'''
Running SQL exception in run_query: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    p.oid, p.probability, d.candid, d.fid, d.mjd
FROM
    probability p
INNER JOIN
    detection d ON p.oid = d.oid
WHERE
    p.classifier_name = 'stamp_classifier'
    AND p.oid IN (
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60200.0
    AND firstmjd < 60202.0
) AS first_det
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
) AS fast_risers
)
ORDER BY
    p.oid
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Raised exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    p.oid, p.probability, d.candid, d.fid, d.mjd
FROM
    probability p
INNER JOIN
    detection d ON p.oid = d.oid
WHERE
    p.classifier_name = 'stamp_classifier'
    AND p.oid IN (
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60200.0
    AND firstmjd < 60202.0
) AS first_det
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
) AS fast_risers
)
ORDER BY
    p.oid
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Start retry with self-correction
Corrected query:
```python
# Sub-query to get object identifiers with the highest probability for class 'SN' in the stamp classifier
sub_query_sn_probability = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
'''

# Sub-query to get object identifiers with first detection in the first 2 days of September 2024
# Assuming the MJD for September 1, 2024, is approximately 60200.0
sub_query_first_detection_september = f'''
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60200.0
    AND firstmjd < 60202.0
'''

# Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
'''

# Combine the sub-queries using INTERSECT to get the final list of object identifiers
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS first_det
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fast_risers
'''

# Final query to retrieve the object identifiers, probabilities, and light curves (only detections)
# Added a condition to ensure we only get the highest probability for the stamp classifier
full_query = f'''
SELECT
    p.oid, p.probability, d.candid, d.fid, d.mjd
FROM
    probability p
INNER JOIN
    detection d ON p.oid = d.oid
WHERE
    p.classifier_name = 'stamp_classifier'
    AND p.ranking = 1
    AND p.oid IN ({sub_query_combined})
ORDER BY
    p.oid
'''
```
Running SQL exception in run_query: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    p.oid, p.probability, d.candid, d.fid, d.mjd
FROM
    probability p
INNER JOIN
    detection d ON p.oid = d.oid
WHERE
    p.classifier_name = 'stamp_classifier'
    AND p.oid IN (
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60200.0
    AND firstmjd < 60202.0
) AS first_det
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
) AS fast_risers
)
ORDER BY
    p.oid
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Experimento número: 3
Tables needed: [object, probability, magstat]
Difficulty: advanced
Raw response: ```python
# Sub-query to get object identifiers with the highest probability for class 'SN' in the stamp classifier
sub_query_sn_probability = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
'''

# Sub-query to get object identifiers with first detection in the first 2 days of September 2024
# Assuming the MJD for September 1, 2024, is approximately 60200.0
sub_query_first_detection_september = f'''
SELECT
    oid
FROM
    object
WHERE
    firstmjd >= 60200.0
    AND firstmjd < 60202.0
'''

# Sub-query to get object identifiers that qualify as fast risers
sub_query_fast_risers = f'''
SELECT
    oid
FROM
    magstat
WHERE
    dmdt_first < -0.25
'''

# Combine the sub-queries using INTERSECT to get oids that satisfy all conditions
sub_query_combined_conditions = f'''
SELECT
    oid
FROM
    ({sub_query_sn_probability}) AS sn_prob
INTERSECT
SELECT
    oid
FROM
    ({sub_query_first_detection_september}) AS first_det
INTERSECT
SELECT
    oid
FROM
    ({sub_query_fast_risers}) AS fast_rise
'''

# Final query to retrieve object identifiers, probabilities, and light curves (only detections)
full_query = f'''
SELECT
    obj.oid, prob.probability, det.candid, det.fid, det.mjd
FROM
    ({sub_query_combined_conditions}) AS obj
INNER JOIN
    probability AS prob ON obj.oid = prob.oid
INNER JOIN
    detection AS det ON obj.oid = det.oid
WHERE
    prob.classifier_name = 'stamp_classifier'
    AND prob.class_name = 'SN'
    AND prob.ranking = 1
ORDER BY
    obj.oid
'''
```
Resulting python query: # Sub-query to get object identifiers with the highest probability for class 'SN' in the stamp classifier
sub_query_sn_probability = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1

In [13]:
data = pd.read_csv("experiments/Astroinformatics_2024/python_RAG_True.csv")
data

,Unnamed: 0,exp,request,model,format,rag,genQuery,goldQuery,results,resultsCols,resultsRows,resultGold,resultGoldCols,resultGoldRows
0,0,31,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
1,1,32,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
2,2,33,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
3,3,34,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
4,4,35,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
5,5,36,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
6,6,37,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
7,7,38,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
8,8,39,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
9,9,40,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,"\nSELECT oid,\n probability,\n fir...","\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...

In [9]:
data["exp"] = [d-10 for d in data["exp"]]
data

,exp,request,model,format,rag,genQuery,goldQuery,results,resultsCols,resultsRows,resultGold,resultGoldCols,resultGoldRows
0,31,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
1,32,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
2,33,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
3,34,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
4,35,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
5,36,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
6,37,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
7,38,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
8,39,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,# Sub-query to get object identifiers with the...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...
9,40,"Get the object identifiers, probabilities in t...",gpt-4o,python,True,"\nSELECT oid,\n probability,\n fir...","\nSELECT\n sq.oid, sq.probability, sq.candi...",NaN,NaN,NaN,oid probability ca...,['oid' 'probability' 'candid' 'fid' 'mjd' 'mag...,['ZTF18aaiaclp' 'ZTF18aakjgzj' 'ZTF18aaleydm' ...

In [ ]:
data.to_csv("experiments/Astroinformatics_2024/python_RAG_True.csv")

#### o1 tests

In [ ]:
from pprint import pprint
from pipeline.main import run_pipeline, engine
engine.begin()

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "o1-preview"

# Format for the pipeline
format = "python"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Running the pipeline
result, total_usage, prompts = run_pipeline(query, model, max_tokens, size, 
                                            overlap, quantity, format, False, 
                                            engine, rag_pipe=True, 
                                            self_corr=True)
print("Resulting table:")
print(result)
print("Total usage of the pipeline:")
pprint(total_usage)

# The prompts used will be saved in this file
with open(f"prompts/examples/prompts_query_{model}.txt", "w") as f:
    f.write(str(prompts))

Tables needed: [object, detection, magstat]
Difficulty: advanced
```python
# Get oids of objects classified as 'SN II' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59580 (2022-01-01)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections
sub_query_ndet = f'''
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
({sub_query_magstat_g})
INTERSECT
({sub_query_magstat_r})
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
Resulting python query:
# Get oids of objects classified as 'SN II' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59580 (2022-01-01)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections
sub_query_ndet = f'''
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
({sub_query_magstat_g})
INTERSECT
({sub_query_magstat_r})
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
Running SQL exception: (psycopg2.errors.UndefinedColumn) column "maxmjd" does not exist
LINE 50: WHERE fid=2 AND (maxmjd - minmjd) >= 100
                          ^

[SQL:
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN (
SELECT oids2.oid
FROM (
SELECT oids1.oid
FROM (
SELECT prob_oids.oid
FROM (
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
) AS prob_oids
INNER JOIN (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
) AS obj_oids
ON prob_oids.oid = obj_oids.oid
) AS oids1
INNER JOIN (
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
) AS ndet_oids
ON oids1.oid = ndet_oids.oid
) AS oids2
INNER JOIN (
(
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
)
INTERSECT
(
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
)
) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: local variable 'results' referenced before assignment
Start retry with self-correction
Corrected query:
```python
# Corrected sub-queries and final query

# Get oids of objects classified as 'SNII' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SNII'  -- Corrected class_name from 'SN II' to 'SNII'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59946 (2022-12-31)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946  -- Corrected MJD end date to 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections using ndet from object table
sub_query_ndet = f'''
SELECT oid
FROM object
WHERE ndet > 30  -- Changed from detection table to object table
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
SELECT g_oids.oid
FROM ({sub_query_magstat_g}) AS g_oids
INNER JOIN ({sub_query_magstat_r}) AS r_oids
ON g_oids.oid = r_oids.oid
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
```
Running SQL exception: (psycopg2.errors.UndefinedColumn) column "maxmjd" does not exist
LINE 50: WHERE fid=2 AND (maxmjd - minmjd) >= 100
                          ^

[SQL:
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN (
SELECT oids2.oid
FROM (
SELECT oids1.oid
FROM (
SELECT prob_oids.oid
FROM (
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SNII'  -- Corrected class_name from 'SN II' to 'SNII'
AND ranking=1
AND probability > 0.6
) AS prob_oids
INNER JOIN (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946  -- Corrected MJD end date to 59946
) AS obj_oids
ON prob_oids.oid = obj_oids.oid
) AS oids1
INNER JOIN (
SELECT oid
FROM object
WHERE ndet > 30  -- Changed from detection table to object table
) AS ndet_oids
ON oids1.oid = ndet_oids.oid
) AS oids2
INNER JOIN (
SELECT g_oids.oid
FROM (
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
) AS g_oids
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
) AS r_oids
ON g_oids.oid = r_oids.oid
) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/f405)

Exception: Failed again: local variable 'results' referenced before assignment