## Working the CSVs and Excel sheets

### Train dataset

In [1]:
# Exploring the 'training' dataset
import pandas as pd
df = pd.read_csv("datasets/txt2sql_alerce_train_v3_1.csv")
df.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\r\n-- mjd date for December = 59914.0\r\n-- m...,\r\n-- Super Nova (SNe) is a large explosion t...,"\r\nSELECT\r\n object.oid, probability.clas...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\r\nSELECT\r\n sq1.oid, sq1.probability as SN...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",\r\n-- mjd date for September 01 = 60188.0\r\n...,\r\n-- A fast riser is defined as an object wh...,"\r\nSELECT\r\n sq.oid, sq.probability, sq.c...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\r\n-- mjd date for the start of the year 2019...,0,"\r\nSELECT\r\n sq.oid, sq.fid, sq.dmdt_first,...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",\r\n-- mjd date for February 01 = 59976.0\r\n-...,0,"\r\nWITH catalog ( source_id, ra, dec) AS (\r\...",advanced,spatial,simple,NaN,NaN,NaN

In [2]:
df[df["req_id"] == 15]["request"].item()

"Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

In [3]:
print("External knowledge for the train dataset")
vc_df = df["external_knowledge"].value_counts().reset_index()
vc_df.columns = ["Value", "Count"]

vc_df

External knowledge for the train dataset

                                                Value  Count
0                                                   0     29
1   \r\n-- mjd date for February 01 = 59976.0\r\n-...      2
2   \r\n-- mjd date for December = 59914.0\r\n-- m...      1
3   \r\n-- ndet represents the number of detection...      1
4   Note that 'fainter' means 'larger' for magnitudes      1
5   Note that the spatial query receives coordinat...      1
6   Since no classifier version is specified, ZTF ...      1
7   Note the join between tables must be in oid an...      1
8   Since no feature version is specified, the com...      1
9   \r\n-- sgmag1 represents the g-band PSF magnit...      1
10  \r\n-- mjd date for August 25 2022 = 59816.0\r...      1
11  \r\n-- object.deltajd represnts the difference...      1
12  \r\n-- mjd date for the start of the year 2019...      1
13  \r\n-- oid represents the unique identifier fo...      1
14  \r\n-- mjd date for February 1 2023 = 59976.0\...      1
15  \r\n-- feature.name can be 'Multiband_period'\...      1
16            \r\n-- table_schema can be 'alerce'\r\n      1
17  \r\n-- detection.magpsf represents the magnitu...      1
18  \r\n-- mjd date for the start of July = 60126....      1
19  \r\n-- mjd date for the start of September = 6...      1
20  \r\n-- the previous objects need to be selecte...      1
21  \r\n-- object.ndet represents the total number...      1
22  \r\n-- consider the list of objects identifier...      1
23  \r\n-- it is important to return all the proba...      1
24  \r\n-- last june in mjd date: [start=60096.0, ...      1
25  \r\n-- mjd date for the start of January = 599...      1
26  \r\n-- mjd date for the start of the year 2019...      1
27  \r\n-- mjd date for September 01 = 60188.0\r\n...      1
28  Since no classifier version is specified for t...      1

In [4]:
print("Domain knowledge for the train dataset")
vc_df_domain = df["domain_knowledge"].value_counts().reset_index()
vc_df_domain.columns = ["Value", "Count"]

vc_df_domain

Domain knowledge for the train dataset

                                               Value  Count
0                                                  0     19
1  \r\n-- Super Nova (SNe) is a large explosion t...      1
2  \r\n-- A fast riser is defined as an object wh...      1
3  \r\n-- ss_ztf: closest MPC object as reported ...      1
4  \r\n-- sgscore1: Morphological star/galaxy sco...      1
5  \r\n-- delta_mag_fid: Difference between maxim...      1
6  \r\n-- Multiband_period: Period obtained using...      1
7  \r\n-- The galactic coordinate system locates ...      1
8  \r\n-- ps1 catalog is a catalog from the Panor...      1

### Test dataset

In [5]:
df_test = pd.read_csv("datasets/txt2sql_alerce_test_v3_1.csv")
df_test.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,8,Query all objects that were first classified a...,"['probability', 'object']",\r\n-- mjd date for august 17 = 60173.0\r\n-- ...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n object\r\nI...,simple,object,none,NaN,NaN,NaN
1,27,"Return the oids, meanra, meandec, ndet, firstm...","['probability', 'object']",\r\n-- object.ndet represents the total number...,NaN,"\r\nSELECT\r\n object.oid, object.meanra, o...",simple,object,simple,NaN,NaN,NaN
2,17,Return the objects classified as AGN that show...,"['probability', 'object', 'detection']",\r\n-- firstmjd represents the time of the fir...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n (\r\nSELECT *\r...,advanced,object,tree,NaN,NaN,NaN
3,37,"""Query the top 200 objects classified SNIa acc...",['probability'],NaN,NaN,\r\nSELECT\r\n *\r\nFROM\r\n probability\r...,simple,object,none,NaN,NaN,NaN
4,34,Given this list of oids ['ZTF17aaadpsi' 'ZTF19...,['feature'],\r\n-- feature.name can be 'Amplitude'\r\n-- f...,\r\n-- Multiband_period: Period obtained using...,\r\nSELECT\r\n *\r\nFROM\r\n feature\r\n...,simple,other,none,NaN,NaN,NaN

In [6]:
print("External knowledge for the test dataset")
vc_df_test = df_test["external_knowledge"].value_counts().reset_index()
vc_df_test.columns = ["Value", "Count"]

vc_df_test

External knowledge for the test dataset

                                                Value  Count
0                                                   0      4
1   Note the join between tables must be in oid an...      2
2   Note that 'fainter' means 'larger' for magnitudes      2
3   Since no classifier version is specified, ZTF ...      2
4   \r\n-- object.ndet represents the total number...      1
5   Since no classifier version is specified for '...      1
6   I had to use 'cast' for magnitudes in the 'for...      1
7   Note that the corrected magnitude has both e_m...      1
8   Requires using the 'xmatch' table to obtain th...      1
9   Requires using the 'xmatch' table to obtain th...      1
10  Note that the spatial query receives coordinat...      1
11  \r\n-- mjd date for august 17 = 60173.0\r\n-- ...      1
12  Note that the spatial query receives coordinat...      1
13  \r\n-- mjd date for February 13 = 59988.0\r\n-...      1
14  \r\n-- mjd date for June 1st 2018 = 58239.0\r\...      1
15  \r\n-- detection.oid represents the unique ide...      1
16  \r\n-- mjd date for March 1st 2021 = 59274.0\r...      1
17  \r\n-- mjd date for September 01 = 60188.0\r\n...      1
18  \r\n-- object.ndet represents the number of de...      1
19  \r\n-- feature.name can be 'Amplitude'\r\n-- f...      1
20  \r\n-- firstmjd represents the time of the fir...      1
21  Note that one cannot search in the reference t...      1

In [7]:
print("Domain knowledge for the train dataset")
vc_df_domain_test = df_test["domain_knowledge"].value_counts().reset_index()
vc_df_domain_test.columns = ["Value", "Count"]

vc_df_domain_test

Domain knowledge for the train dataset

                                               Value  Count
0  \r\n-- Multiband_period: Period obtained using...      1
1  \r\n-- Amplitude: Half of the difference betwe...      1
2  \r\n-- A fast riser is defined as an object wh...      1
3  \r\n-- Asteroids move, so it is necessary to c...      1
4    \r\n-- SNe refers to all types of SuperNova\r\n      1

### Additional info

In [8]:
# Reading the excel file
excel = pd.read_excel("datasets/SQLusecases_alerce.xlsx", 
                      sheet_name="examples_alerce_usecasesV3_1")

# Cleaning the excel a bit
excel = excel.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
excel.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,Set,python_format
0,0,Get objects that are likely to be YSOs (possib...,"['probability', 'feature']",\n-- feature.name can be 'Multiband_period'\n-...,\n-- Multiband_period: Period obtained using t...,"\nSELECT\n oid, probability, value, name, fid...",advanced,object,tree,Train,"sub_query_1='''\nSELECT\n feature.oid, prob_o..."
1,1,Get all the objects classified as AGN with a p...,"['object', 'probability', 'feature', 'magstat']",\n-- object.ndet represents the number of dete...,\n-- Amplitude: Half of the difference between...,"\nSELECT\n sq.oid, sq.value, sq.name, sq.fid ...",advanced,object,tree,Test,\nsub_query_object='''\nSELECT\n object.oid...
2,2,Give me the objects classified as YSO by their...,['probability'],NaN,NaN,"\nSELECT\n oid, probability\nFROM\n prob...",simple,object,none,Train,"query='''\nSELECT\n oid, probability\nFROM\..."
3,3,Give me the objects classified as YSO by the l...,"['object', 'probability']","\n-- last june in mjd date: [start=60096.0, en...",NaN,\nSELECT\n *\nFROM\n probability\nWHERE\...,simple,object,simple,Train,query=f'''\nSELECT\n *\nFROM\n probabili...
4,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\n-- mjd date for the start of the year 2019 =...,NaN,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,Train,# objects classified as SN II with probability...

## Tests

### Gold values and query to test

In [9]:
# Select a query
query = "Give me all the SNe that were first detected between december first 2022 and september first 2023. Return the probability class, the last and the first detection date and the oids of the objects."

# Check if the query is in the excel file
if query in excel["request"].to_list():
    # Obtain the gold SQL query and Python query
    sql_gold = excel[excel["request"] == query]["gold_query"].item()
    python_gold = excel[excel["request"] == query]["python_format"].item()

    # Obtain the necessary tables
    gold_tables = excel[excel["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)
    print("Python gold query:\n")
    print(python_gold)
    
else:
    # Obtain the gold SQL query
    sql_gold = df[df["request"] == query]["gold_query"].item()

    # Obtain the necessary tables
    gold_tables = df[df["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)

Gold values

Tables needed for the query:
['object', 'probability']

SQL gold query:

SELECT
    object.oid, probability.class_name, object.lastmjd, object.firstmjd
FROM
    object INNER JOIN
    probability
    ON object.oid = probability.oid
WHERE
    probability.classifier_name='lc_classifier'
    AND probability.class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
    AND probability.ranking = 1
    AND object.firstmjd < 60217.0
    AND object.firstmjd > 59914.0

In [10]:
# Running the gold query
from secret.config import SQL_URL
import requests
import sqlalchemy as sa

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{params['user']}:{params['password']}@{params['host']}/{params['dbname']}")
engine.begin()

resultGold = pd.read_sql_query(sql_gold, con=engine)
resultGold

               oid class_name       lastmjd      firstmjd
0     ZTF23aaocetr       SNIa  60133.210428  60109.208229
1     ZTF23aamzkrs       SNIa  60124.189074  60097.242882
2     ZTF23aamxbpd       SNIa  60120.218900  60100.190417
3     ZTF23aafwzmi       SNIa  60078.406505  60050.470231
4     ZTF23aackdba       SNII  60073.174653  59992.212407
...            ...        ...           ...           ...
4542  ZTF23aagaoax       SNII  60761.252708  60049.210880
4543  ZTF23aaefijg       SNII  60786.461586  60036.459398
4544  ZTF20aanlftl       SNII  60786.408137  59977.563657
4545  ZTF23aaavavg       SNIa  60770.256586  59967.353044
4546  ZTF23aablruf       SNII  60786.442083  59971.566250

[4547 rows x 4 columns]

### Trying out the pipelines

#### Singular

In [10]:
from pipeline.queryPipeline import queryPipeline

# Working query
query = "Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

In [ ]:
from pipeline.process import *
from prompts.base.prompts import *

# Prompt dictionary guideline and used by Jorge
prompts = {
    "Schema Linking": {
        "base_prompt": tables_linking_prompt_V2,
        "context1": schema_all_cntxV1,
        "context2": schema_all_cntxV2_indx,
        "context3": schema_all_cntxV2,
    },
    "Classify": {
        "base_prompt": diff_class_prompt_v7,
        "final_instructions": final_instructions_diff_v2
    },
    "Decomposition": {
        "simple": {
            "query_task": simple_query_task_v2,
            "query_context": simple_query_cntx,
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder",
            "query_instructions": simple_query_instructions_v2
        },
        "medium": {
            "decomp_plan": {
                "base_prompt": medium_decomp_prompt,
                "decomp_task": medium_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": medium_query_cntx,
                "query_instructions": medium_query_instructions_1_v2
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": medium_decomp_gen,
                    "query_task": medium_query_task_v2,
                    "query_instructions": medium_query_instructions_2_v2,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        },
        "advanced": {
            "decomp_plan": {
                "base_prompt": adv_decomp_prompt,
                "decomp_task": adv_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": adv_query_cntx,
                "query_instructions": adv_query_instructions_1_v3
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": adv_decomp_gen,
                    "query_task": adv_query_task_v2,
                    "query_instructions": adv_query_instructions_2_v3,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        }
    },
    "Direct": {
        "base_prompt": {
            "general_task": general_taskv18,
            "general_context": general_contextv15,
            "final_instructions": final_instructions_v19
        },
        "request_prompt": {
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder"
        }
    }
}

# Updating ext_kn and dom_kn
prompts["Decomposition"]["simple"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Decomposition"]["simple"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()
prompts["Direct"]["request_prompt"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Direct"]["request_prompt"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()

In [ ]:
# Pipeline object
pipe = queryPipeline(query, model, lang_type, max_tokens, prompts)

# Schema Linking
schema_usage = pipe.schema_linking()

# Classification
class_usage = pipe.classify()

# Decomposition
pipe.decomposition()

# Direct prompt
pipe.direct()

# Generating the queries
decomp_gen_query = pipe.query_generation()
print("Query generated with decomposition prompts")
print(decomp_gen_query)
print("-"*50)
direct_gen_query = pipe.query_generation()
print("Query generated with direct prompts")
print(direct_gen_query)

Query generated with decomposition prompts

-- Subquery to get object identifiers (oids) that qualify as fast risers
WITH fast_risers AS (
    SELECT DISTINCT oid
    FROM magstat
    WHERE dmdt_first <= -0.25
),

-- Subquery to get object identifiers (oids) with first detection in the first 2 days of September
first_september_detections AS (
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60188.0 AND 60189.0
),

-- Subquery to get object identifiers (oids) with highest probability in the stamp classifier for class SN
high_prob_sn AS (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
)

-- Main query to get the required information
SELECT
    d.oid,
    p.probability,
    d.fid,
    d.candid,
    m.fid AS magstat_fid,
    m.dmdt_first
FROM detection d
JOIN fast_risers fr ON d.oid = fr.oid
JOIN first_september_detections fsd ON d.oid = fsd.oid
JOIN high_prob_sn hps ON d.oid = hps.oid
JOIN probability p ON d.oid = p.oid
JOIN magstat m ON d.oid = m.oid AND d.fid = m.fid
WHERE p.classifier_name = 'stamp_classifier'
AND p.class_name = 'SN'
ORDER BY d.oid

--------------------------------------------------
Query generated with direct prompts

-- Subquery to get object identifiers (oids) that qualify as fast risers
WITH fast_risers AS (
    SELECT oid
    FROM magstat
    WHERE dmdt_first <= -0.25
),

-- Subquery to get object identifiers (oids) with first detection in the first 2 days of September
first_september_detections AS (
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60188.0 AND 60189.0
),

-- Subquery to get object identifiers (oids) with highest probability in the stamp classifier for class SN
highest_probability_sn AS (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
)

-- Main query to get the required information
SELECT
    d.oid,
    p.probability,
    d.fid AS detection_fid,
    d.candid,
    m.fid AS magstat_fid,
    m.dmdt_first
FROM detection d
JOIN fast_risers fr ON d.oid = fr.oid
JOIN first_september_detections fsd ON d.oid = fsd.oid
JOIN highest_probability_sn hps ON d.oid = hps.oid
JOIN probability p ON d.oid = p.oid
JOIN magstat m ON d.oid = m.oid
WHERE p.classifier_name = 'stamp_classifier'
AND p.class_name = 'SN'
ORDER BY d.oid

#### Multiple

##### Query generation

In [ ]:
from pipeline.queryPipeline import queryPipeline
from pipeline.process import *
from prompts.base.prompts import *

# Prompt dictionary guideline and used by Jorge
prompts = {
    "Schema Linking": {
        "base_prompt": tables_linking_prompt_V2,
        "context1": schema_all_cntxV1,
        "context2": schema_all_cntxV2_indx,
        "context3": schema_all_cntxV2,
    },
    "Classify": {
        "base_prompt": diff_class_prompt_v7,
        "final_instructions": final_instructions_diff_v2
    },
    "Decomposition": {
        "simple": {
            "query_task": simple_query_task_v2,
            "query_context": simple_query_cntx,
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder",
            "query_instructions": simple_query_instructions_v2
        },
        "medium": {
            "decomp_plan": {
                "base_prompt": medium_decomp_prompt,
                "decomp_task": medium_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": medium_query_cntx,
                "query_instructions": medium_query_instructions_1_v2
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": medium_decomp_gen,
                    "query_task": medium_query_task_v2,
                    "query_instructions": medium_query_instructions_2_v2,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        },
        "advanced": {
            "decomp_plan": {
                "base_prompt": adv_decomp_prompt,
                "decomp_task": adv_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": adv_query_cntx,
                "query_instructions": adv_query_instructions_1_v3
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": adv_decomp_gen,
                    "query_task": adv_query_task_v2,
                    "query_instructions": adv_query_instructions_2_v3,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        }
    },
    "Direct": {
        "base_prompt": {
            "general_task": general_taskv18,
            "general_context": general_contextv15,
            "final_instructions": final_instructions_v19
        },
        "request_prompt": {
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder"
        }
    }
}

# Updating ext_kn and dom_kn
prompts["Decomposition"]["simple"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Decomposition"]["simple"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()
prompts["Direct"]["request_prompt"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Direct"]["request_prompt"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()

In [9]:
from pipeline.queryPipeline import queryPipeline

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

# Path
prompts_path = "final_prompts/prompts_v3.json"

# Pipeline object
pipe = queryPipeline(None, model, lang_type, max_tokens, prompts_path)

# -----------------------------------------------------------------------------
# Testing

# Working query
query = "Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

# Trying out the new query pipeline with only 1 query
df_1 = df[df["request"] == query]
# Trying out the new query pipeline with 3 queries
df_2 = df.loc[:2]
# pipe.run_experiments(df_2, total_exps=1, restart=True)

c:\Users\ssanfeliu\Documents\GitHub\Tesis-Simon-Sanfeliu\tesis\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [11]:
# Applying the restart
pipe.run_experiments(df=df_test, total_exps=10, restart=True, use_rag=True)

2025-07-03 13:09:12,908 - INFO - Running process
2025-07-03 13:09:12,909 - INFO - Running pipeline
2025-07-03 13:09:23,709 - INFO - Saving backup
2025-07-03 13:09:23,726 - INFO - Running pipeline
2025-07-03 13:09:29,620 - INFO - Saving backup
2025-07-03 13:09:29,649 - INFO - Running pipeline
2025-07-03 13:09:40,493 - INFO - Saving backup
2025-07-03 13:09:40,526 - INFO - Running pipeline
2025-07-03 13:09:59,228 - INFO - Saving backup
2025-07-03 13:09:59,254 - INFO - Running pipeline
2025-07-03 13:10:17,144 - INFO - Saving backup
2025-07-03 13:10:17,180 - INFO - Running pipeline
2025-07-03 13:10:36,967 - INFO - Saving backup
2025-07-03 13:10:36,995 - INFO - Running pipeline
2025-07-03 13:11:04,457 - INFO - Saving backup
2025-07-03 13:11:04,515 - INFO - Running pipeline
2025-07-03 13:11:13,291 - INFO - Saving backup
2025-07-03 13:11:13,341 - INFO - Running pipeline
2025-07-03 13:11:29,233 - INFO - Saving backup
2025-07-03 13:11:29,258 - INFO - Running pipeline
2025-07-03 13:11:34,773 - INFO - Saving backup
2025-07-03 13:11:34,795 - INFO - Running pipeline
2025-07-03 13:11:51,980 - INFO - Saving backup
2025-07-03 13:11:51,995 - INFO - Running pipeline
2025-07-03 13:11:59,929 - INFO - Saving backup
2025-07-03 13:11:59,946 - INFO - Running pipeline
2025-07-03 13:12:05,987 - INFO - Saving backup
2025-07-03 13:12:05,996 - INFO - Running pipeline
2025-07-03 13:12:20,568 - INFO - Saving backup
2025-07-03 13:12:20,588 - INFO - Running pipeline
2025-07-03 13:12:26,610 - INFO - Saving backup
2025-07-03 13:12:26,618 - INFO - Running pipeline
2025-07-03 13:12:33,210 - INFO - Saving backup
2025-07-03 13:12:33,232 - INFO - Running pipeline
2025-07-03 13:12:37,939 - INFO - Saving backup
2025-07-03 13:12:37,953 - INFO - Running pipeline
2025-07-03 13:12:51,300 - INFO - Saving backup
2025-07-03 13:12:51,318 - INFO - Running pipeline
2025-07-03 13:13:13,259 - INFO - Saving backup
2025-07-03 13:13:13,285 - INFO - Running pipeline
2025-07-03 13:13:20,439 - INFO - Saving backup
2025-07-03 13:13:20,455 - INFO - Running pipeline
2025-07-03 13:13:44,635 - INFO - Saving backup
2025-07-03 13:13:44,659 - INFO - Running pipeline
2025-07-03 13:14:06,019 - INFO - Saving backup
2025-07-03 13:14:06,045 - INFO - Running pipeline
2025-07-03 13:14:27,304 - INFO - Saving backup
2025-07-03 13:14:27,324 - INFO - Running pipeline
2025-07-03 13:14:48,277 - INFO - Saving backup
2025-07-03 13:14:48,318 - INFO - Running pipeline
2025-07-03 13:15:22,221 - INFO - Saving backup
2025-07-03 13:15:22,475 - INFO - Running pipeline
2025-07-03 13:15:56,340 - INFO - Saving backup
2025-07-03 13:15:56,778 - INFO - Running pipeline
2025-07-03 13:16:21,484 - INFO - Saving backup
2025-07-03 13:16:21,592 - INFO - Running pipeline
2025-07-03 13:16:47,479 - INFO - Saving backup
2025-07-03 13:16:47,561 - INFO - Running pipeline
2025-07-03 13:17:13,515 - INFO - Saving backup
2025-07-03 13:17:13,633 - INFO - Running pipeline
2025-07-03 13:17:36,117 - INFO - Saving backup
2025-07-03 13:17:36,207 - INFO - Running pipeline
2025-07-03 13:17:44,851 - INFO - Saving backup
2025-07-03 13:17:44,980 - INFO - Running pipeline
2025-07-03 13:18:00,616 - INFO - Saving backup
2025-07-03 13:18:00,722 - INFO - Running pipeline
2025-07-03 13:18:15,337 - INFO - Saving backup
2025-07-03 13:18:15,385 - INFO - Running pipeline
2025-07-03 13:18:35,614 - INFO - Saving backup
2025-07-03 13:18:35,652 - INFO - Running pipeline
2025-07-03 13:18:50,429 - INFO - Saving backup
2025-07-03 13:18:50,530 - INFO - Running pipeline
2025-07-03 13:19:07,232 - INFO - Saving backup
2025-07-03 13:19:07,363 - INFO - Running pipeline
2025-07-03 13:19:27,942 - INFO - Saving backup
2025-07-03 13:19:28,112 - INFO - Running pipeline
2025-07-03 13:19:50,251 - INFO - Saving backup
2025-07-03 13:19:50,371 - INFO - Running pipeline
2025-07-03 13:20:07,293 - INFO - Saving backup
2025-07-03 13:20:07,380 - INFO - Running pipeline
2025-07-03 13:20:24,263 - INFO - Saving backup
2025-07-03 13:20:24,361 - INFO - Running pipeline
2025-07-03 13:20:51,737 - INFO - Saving backup
2025-07-03 13:20:51,831 - INFO - Running pipeline
2025-07-03 13:21:18,193 - INFO - Saving backup
2025-07-03 13:21:18,220 - INFO - Running pipeline
2025-07-03 13:21:49,852 - INFO - Saving backup
2025-07-03 13:21:49,940 - INFO - Running pipeline
2025-07-03 13:22:14,477 - INFO - Saving backup
2025-07-03 13:22:14,537 - INFO - Running pipeline
2025-07-03 13:22:44,771 - INFO - Saving backup
2025-07-03 13:22:44,868 - INFO - Running pipeline
2025-07-03 13:23:09,127 - INFO - Saving backup
2025-07-03 13:23:09,228 - INFO - Running pipeline
2025-07-03 13:23:33,173 - INFO - Saving backup
2025-07-03 13:23:33,206 - INFO - Running pipeline
2025-07-03 13:23:55,415 - INFO - Saving backup
2025-07-03 13:23:55,476 - INFO - Running pipeline
2025-07-03 13:24:22,634 - INFO - Saving backup
2025-07-03 13:24:22,670 - INFO - Running pipeline
2025-07-03 13:24:42,188 - INFO - Saving backup
2025-07-03 13:24:42,212 - INFO - Running pipeline
2025-07-03 13:25:05,760 - INFO - Saving backup
2025-07-03 13:25:05,782 - INFO - Running pipeline
2025-07-03 13:25:39,318 - INFO - Saving backup
2025-07-03 13:25:39,408 - INFO - Running pipeline
2025-07-03 13:26:14,295 - INFO - Saving backup
2025-07-03 13:26:14,326 - INFO - Running pipeline
2025-07-03 13:26:41,201 - INFO - Saving backup
2025-07-03 13:26:41,230 - INFO - Running pipeline
2025-07-03 13:27:06,961 - INFO - Saving backup
2025-07-03 13:27:06,997 - INFO - Running pipeline
2025-07-03 13:27:37,085 - INFO - Saving backup
2025-07-03 13:27:37,124 - INFO - Running pipeline
2025-07-03 13:28:25,997 - INFO - Saving backup
2025-07-03 13:28:26,047 - INFO - Running pipeline
2025-07-03 13:29:00,058 - INFO - Saving backup
2025-07-03 13:29:00,084 - INFO - Running pipeline
2025-07-03 13:29:27,756 - INFO - Saving backup
2025-07-03 13:29:27,825 - INFO - Running pipeline
2025-07-03 13:29:58,047 - INFO - Saving backup
2025-07-03 13:29:58,061 - INFO - Running pipeline
2025-07-03 13:30:28,361 - INFO - Saving backup
2025-07-03 13:30:28,605 - INFO - Running pipeline
2025-07-03 13:31:20,549 - INFO - Saving backup
2025-07-03 13:31:20,584 - INFO - Running pipeline
2025-07-03 13:31:46,697 - INFO - Saving backup
2025-07-03 13:31:46,727 - INFO - Running pipeline
2025-07-03 13:32:12,880 - INFO - Saving backup
2025-07-03 13:32:12,905 - INFO - Running pipeline
2025-07-03 13:32:44,121 - INFO - Saving backup
2025-07-03 13:32:44,149 - INFO - Running pipeline
2025-07-03 13:33:05,944 - INFO - Saving backup
2025-07-03 13:33:05,978 - INFO - Running pipeline
2025-07-03 13:33:29,669 - INFO - Saving backup
2025-07-03 13:33:29,693 - INFO - Running pipeline
2025-07-03 13:33:56,426 - INFO - Saving backup
2025-07-03 13:33:56,456 - INFO - Running pipeline
2025-07-03 13:34:20,389 - INFO - Saving backup
2025-07-03 13:34:20,425 - INFO - Running pipeline
2025-07-03 13:34:42,883 - INFO - Saving backup
2025-07-03 13:34:42,917 - INFO - Running pipeline
2025-07-03 13:35:00,693 - INFO - Saving backup
2025-07-03 13:35:00,722 - INFO - Running pipeline
2025-07-03 13:35:17,457 - INFO - Saving backup
2025-07-03 13:35:17,487 - INFO - Running pipeline
2025-07-03 13:35:37,399 - INFO - Saving backup
2025-07-03 13:35:37,490 - INFO - Running pipeline
2025-07-03 13:35:53,267 - INFO - Saving backup
2025-07-03 13:35:53,309 - INFO - Running pipeline
2025-07-03 13:36:12,311 - INFO - Saving backup
2025-07-03 13:36:12,356 - INFO - Running pipeline
2025-07-03 13:36:31,117 - INFO - Saving backup
2025-07-03 13:36:31,136 - INFO - Running pipeline
2025-07-03 13:36:47,564 - INFO - Saving backup
2025-07-03 13:36:47,598 - INFO - Running pipeline
2025-07-03 13:37:05,942 - INFO - Saving backup
2025-07-03 13:37:06,013 - INFO - Running pipeline
2025-07-03 13:37:33,387 - INFO - Saving backup
2025-07-03 13:37:33,418 - INFO - Running pipeline
2025-07-03 13:37:50,476 - INFO - Saving backup
2025-07-03 13:37:50,511 - INFO - Running pipeline
2025-07-03 13:38:13,059 - INFO - Saving backup
2025-07-03 13:38:13,081 - INFO - Running pipeline
2025-07-03 13:38:35,796 - INFO - Saving backup
2025-07-03 13:38:35,843 - INFO - Running pipeline
2025-07-03 13:38:57,822 - INFO - Saving backup
2025-07-03 13:38:57,862 - INFO - Running pipeline
2025-07-03 13:39:17,911 - INFO - Saving backup
2025-07-03 13:39:17,952 - INFO - Running pipeline
2025-07-03 13:39:37,014 - INFO - Saving backup
2025-07-03 13:39:37,173 - INFO - Running pipeline
2025-07-03 13:40:04,731 - INFO - Saving backup
2025-07-03 13:40:04,817 - INFO - Running pipeline
2025-07-03 13:40:45,787 - INFO - Saving backup
2025-07-03 13:40:45,873 - INFO - Running pipeline
2025-07-03 13:41:11,083 - INFO - Saving backup
2025-07-03 13:41:11,143 - INFO - Running pipeline
2025-07-03 13:41:38,261 - INFO - Saving backup
2025-07-03 13:41:38,498 - INFO - Running pipeline
2025-07-03 13:42:01,728 - INFO - Saving backup
2025-07-03 13:42:01,932 - INFO - Running pipeline
2025-07-03 13:42:09,813 - INFO - Saving backup
2025-07-03 13:42:09,987 - INFO - Running pipeline
2025-07-03 13:42:17,935 - INFO - Saving backup
2025-07-03 13:42:18,039 - INFO - Running pipeline
2025-07-03 13:42:24,928 - INFO - Saving backup
2025-07-03 13:42:25,047 - INFO - Running pipeline
2025-07-03 13:42:31,632 - INFO - Saving backup
2025-07-03 13:42:31,719 - INFO - Running pipeline
2025-07-03 13:42:38,117 - INFO - Saving backup
2025-07-03 13:42:38,168 - INFO - Running pipeline
2025-07-03 13:42:47,487 - INFO - Saving backup
2025-07-03 13:42:47,525 - INFO - Running pipeline
2025-07-03 13:42:52,460 - INFO - Saving backup
2025-07-03 13:42:52,487 - INFO - Running pipeline
2025-07-03 13:42:57,702 - INFO - Saving backup
2025-07-03 13:42:57,736 - INFO - Running pipeline
2025-07-03 13:43:03,462 - INFO - Saving backup
2025-07-03 13:43:03,503 - INFO - Running pipeline
2025-07-03 13:43:09,386 - INFO - Saving backup
2025-07-03 13:43:09,417 - INFO - Running pipeline
2025-07-03 13:43:15,515 - INFO - Saving backup
2025-07-03 13:43:15,563 - INFO - Running pipeline
2025-07-03 13:43:39,430 - INFO - Saving backup
2025-07-03 13:43:39,472 - INFO - Running pipeline
2025-07-03 13:43:44,570 - INFO - Saving backup
2025-07-03 13:43:44,617 - INFO - Running pipeline
2025-07-03 13:43:50,247 - INFO - Saving backup
2025-07-03 13:43:50,303 - INFO - Running pipeline
2025-07-03 13:43:56,654 - INFO - Saving backup
2025-07-03 13:43:56,681 - INFO - Running pipeline
2025-07-03 13:44:02,849 - INFO - Saving backup
2025-07-03 13:44:02,884 - INFO - Running pipeline
2025-07-03 13:44:23,485 - INFO - Saving backup
2025-07-03 13:44:23,533 - INFO - Running pipeline
2025-07-03 13:44:47,080 - INFO - Saving backup
2025-07-03 13:44:47,116 - INFO - Running pipeline
2025-07-03 13:44:53,360 - INFO - Saving backup
2025-07-03 13:44:53,426 - INFO - Running pipeline
2025-07-03 13:45:00,033 - INFO - Saving backup
2025-07-03 13:45:00,158 - INFO - Running pipeline
2025-07-03 13:45:33,609 - INFO - Saving backup
2025-07-03 13:45:33,656 - INFO - Running pipeline
2025-07-03 13:45:52,322 - INFO - Saving backup
2025-07-03 13:45:52,363 - INFO - Running pipeline
2025-07-03 13:45:58,434 - INFO - Saving backup
2025-07-03 13:45:58,524 - INFO - Running pipeline
2025-07-03 13:46:05,136 - INFO - Saving backup
2025-07-03 13:46:05,189 - INFO - Running pipeline
2025-07-03 13:46:30,145 - INFO - Saving backup
2025-07-03 13:46:30,190 - INFO - Running pipeline
2025-07-03 13:46:37,350 - INFO - Saving backup
2025-07-03 13:46:37,485 - INFO - Running pipeline
2025-07-03 13:46:44,969 - INFO - Saving backup
2025-07-03 13:46:45,052 - INFO - Running pipeline
2025-07-03 13:47:08,584 - INFO - Saving backup
2025-07-03 13:47:08,630 - INFO - Running pipeline
2025-07-03 13:47:27,908 - INFO - Saving backup
2025-07-03 13:47:27,958 - INFO - Running pipeline
2025-07-03 13:47:43,168 - INFO - Saving backup
2025-07-03 13:47:43,212 - INFO - Running pipeline
2025-07-03 13:48:13,252 - INFO - Saving backup
2025-07-03 13:48:13,307 - INFO - Running pipeline
2025-07-03 13:48:35,748 - INFO - Saving backup
2025-07-03 13:48:35,802 - INFO - Running pipeline
2025-07-03 13:48:44,035 - INFO - Saving backup
2025-07-03 13:48:44,097 - INFO - Running pipeline
2025-07-03 13:49:05,182 - INFO - Saving backup
2025-07-03 13:49:05,236 - INFO - Running pipeline
2025-07-03 13:49:25,354 - INFO - Saving backup
2025-07-03 13:49:25,389 - INFO - Running pipeline
2025-07-03 13:49:56,972 - INFO - Saving backup
2025-07-03 13:49:56,996 - INFO - Running pipeline
2025-07-03 13:50:05,317 - INFO - Saving backup
2025-07-03 13:50:05,373 - INFO - Running pipeline
2025-07-03 13:50:27,025 - INFO - Saving backup
2025-07-03 13:50:27,106 - INFO - Running pipeline
2025-07-03 13:51:04,126 - INFO - Saving backup
2025-07-03 13:51:04,193 - INFO - Running pipeline
2025-07-03 13:51:13,306 - INFO - Saving backup
2025-07-03 13:51:13,392 - INFO - Running pipeline
2025-07-03 13:51:18,672 - INFO - Saving backup
2025-07-03 13:51:18,743 - INFO - Running pipeline
2025-07-03 13:51:24,852 - INFO - Saving backup
2025-07-03 13:51:24,905 - INFO - Running pipeline
2025-07-03 13:51:31,285 - INFO - Saving backup
2025-07-03 13:51:31,322 - INFO - Running pipeline
2025-07-03 13:51:36,068 - INFO - Saving backup
2025-07-03 13:51:36,109 - INFO - Running pipeline
2025-07-03 13:51:40,363 - INFO - Saving backup
2025-07-03 13:51:40,392 - INFO - Running pipeline
2025-07-03 13:51:45,731 - INFO - Saving backup
2025-07-03 13:51:45,779 - INFO - Running pipeline
2025-07-03 13:51:50,286 - INFO - Saving backup
2025-07-03 13:51:50,327 - INFO - Running pipeline
2025-07-03 13:51:55,773 - INFO - Saving backup
2025-07-03 13:51:55,810 - INFO - Running pipeline
2025-07-03 13:52:00,724 - INFO - Saving backup
2025-07-03 13:52:00,752 - INFO - Running pipeline
2025-07-03 13:52:05,821 - INFO - Saving backup
2025-07-03 13:52:05,859 - INFO - Running pipeline
2025-07-03 13:52:14,465 - INFO - Saving backup
2025-07-03 13:52:14,493 - INFO - Running pipeline
2025-07-03 13:52:20,436 - INFO - Saving backup
2025-07-03 13:52:20,487 - INFO - Running pipeline
2025-07-03 13:52:27,154 - INFO - Saving backup
2025-07-03 13:52:27,203 - INFO - Running pipeline
2025-07-03 13:52:33,592 - INFO - Saving backup
2025-07-03 13:52:33,670 - INFO - Running pipeline
2025-07-03 13:52:40,225 - INFO - Saving backup
2025-07-03 13:52:40,277 - INFO - Running pipeline
2025-07-03 13:52:47,298 - INFO - Saving backup
2025-07-03 13:52:47,396 - INFO - Running pipeline
2025-07-03 13:52:55,212 - INFO - Saving backup
2025-07-03 13:52:55,237 - INFO - Running pipeline
2025-07-03 13:53:01,612 - INFO - Saving backup
2025-07-03 13:53:01,660 - INFO - Running pipeline
2025-07-03 13:53:07,540 - INFO - Saving backup
2025-07-03 13:53:07,584 - INFO - Running pipeline
2025-07-03 13:53:13,875 - INFO - Saving backup
2025-07-03 13:53:13,921 - INFO - Running pipeline
2025-07-03 13:53:30,788 - INFO - Saving backup
2025-07-03 13:53:30,846 - INFO - Running pipeline
2025-07-03 13:53:57,728 - INFO - Saving backup
2025-07-03 13:53:57,776 - INFO - Running pipeline
2025-07-03 13:54:15,181 - INFO - Saving backup
2025-07-03 13:54:15,232 - INFO - Running pipeline
2025-07-03 13:54:32,265 - INFO - Saving backup
2025-07-03 13:54:32,301 - INFO - Running pipeline
2025-07-03 13:54:46,707 - INFO - Saving backup
2025-07-03 13:54:46,916 - INFO - Running pipeline
2025-07-03 13:55:10,809 - INFO - Saving backup
2025-07-03 13:55:10,909 - INFO - Running pipeline
2025-07-03 13:55:30,443 - INFO - Saving backup
2025-07-03 13:55:30,833 - INFO - Running pipeline
2025-07-03 13:55:47,927 - INFO - Saving backup
2025-07-03 13:55:47,986 - INFO - Running pipeline
2025-07-03 13:56:01,918 - INFO - Saving backup
2025-07-03 13:56:01,967 - INFO - Running pipeline
2025-07-03 13:56:15,864 - INFO - Saving backup
2025-07-03 13:56:15,899 - INFO - Running pipeline
2025-07-03 13:56:21,150 - INFO - Saving backup
2025-07-03 13:56:21,194 - INFO - Running pipeline
2025-07-03 13:56:26,780 - INFO - Saving backup
2025-07-03 13:56:26,840 - INFO - Running pipeline
2025-07-03 13:56:31,705 - INFO - Saving backup
2025-07-03 13:56:31,753 - INFO - Running pipeline
2025-07-03 13:56:36,839 - INFO - Saving backup
2025-07-03 13:56:36,896 - INFO - Running pipeline
2025-07-03 13:56:43,257 - INFO - Saving backup
2025-07-03 13:56:43,290 - INFO - Running pipeline
2025-07-03 13:56:48,614 - INFO - Saving backup
2025-07-03 13:56:48,660 - INFO - Running pipeline
2025-07-03 13:56:53,910 - INFO - Saving backup
2025-07-03 13:56:53,940 - INFO - Running pipeline
2025-07-03 13:56:58,976 - INFO - Saving backup
2025-07-03 13:56:59,019 - INFO - Running pipeline
2025-07-03 13:57:04,369 - INFO - Saving backup
2025-07-03 13:57:04,416 - INFO - Running pipeline
2025-07-03 13:57:09,127 - INFO - Saving backup
2025-07-03 13:57:09,178 - INFO - Running pipeline
2025-07-03 13:57:24,467 - INFO - Saving backup
2025-07-03 13:57:24,792 - INFO - Running pipeline
2025-07-03 13:57:45,736 - INFO - Saving backup
2025-07-03 13:57:45,789 - INFO - Running pipeline
2025-07-03 13:58:11,520 - INFO - Saving backup
2025-07-03 13:58:11,568 - INFO - Running pipeline
2025-07-03 13:58:39,373 - INFO - Saving backup
2025-07-03 13:58:39,413 - INFO - Running pipeline
2025-07-03 13:58:58,141 - INFO - Saving backup
2025-07-03 13:58:58,183 - INFO - Running pipeline
2025-07-03 13:59:16,455 - INFO - Saving backup
2025-07-03 13:59:16,493 - INFO - Running pipeline
2025-07-03 13:59:36,286 - INFO - Saving backup
2025-07-03 13:59:36,316 - INFO - Running pipeline
2025-07-03 13:59:57,093 - INFO - Saving backup
2025-07-03 13:59:57,124 - INFO - Running pipeline
2025-07-03 14:00:17,100 - INFO - Saving backup
2025-07-03 14:00:17,153 - INFO - Running pipeline
2025-07-03 14:00:37,238 - INFO - Saving backup
2025-07-03 14:00:37,308 - INFO - Running pipeline
2025-07-03 14:00:42,591 - INFO - Saving backup
2025-07-03 14:00:42,638 - INFO - Running pipeline
2025-07-03 14:00:50,065 - INFO - Saving backup
2025-07-03 14:00:50,104 - INFO - Running pipeline
2025-07-03 14:00:55,888 - INFO - Saving backup
2025-07-03 14:00:55,922 - INFO - Running pipeline
2025-07-03 14:01:03,271 - INFO - Saving backup
2025-07-03 14:01:03,323 - INFO - Running pipeline
2025-07-03 14:01:08,725 - INFO - Saving backup
2025-07-03 14:01:08,784 - INFO - Running pipeline
2025-07-03 14:01:14,774 - INFO - Saving backup
2025-07-03 14:01:14,819 - INFO - Running pipeline
2025-07-03 14:01:20,381 - INFO - Saving backup
2025-07-03 14:01:20,421 - INFO - Running pipeline
2025-07-03 14:01:26,659 - INFO - Saving backup
2025-07-03 14:01:26,711 - INFO - Running pipeline
2025-07-03 14:01:31,940 - INFO - Saving backup
2025-07-03 14:01:31,992 - INFO - Running pipeline
2025-07-03 14:01:37,738 - INFO - Saving backup
2025-07-03 14:01:37,778 - INFO - Running pipeline
2025-07-03 14:01:56,523 - INFO - Saving backup
2025-07-03 14:01:56,562 - INFO - Running pipeline
2025-07-03 14:02:27,588 - INFO - Saving backup
2025-07-03 14:02:27,652 - INFO - Running pipeline
2025-07-03 14:02:54,146 - INFO - Saving backup
2025-07-03 14:02:54,214 - INFO - Running pipeline
2025-07-03 14:03:12,233 - INFO - Saving backup
2025-07-03 14:03:12,280 - INFO - Running pipeline
2025-07-03 14:03:38,771 - INFO - Saving backup
2025-07-03 14:03:38,820 - INFO - Running pipeline
2025-07-03 14:04:07,169 - INFO - Saving backup
2025-07-03 14:04:07,205 - INFO - Running pipeline
2025-07-03 14:04:44,673 - INFO - Saving backup
2025-07-03 14:04:44,720 - INFO - Running pipeline
2025-07-03 14:05:02,248 - INFO - Saving backup
2025-07-03 14:05:02,292 - INFO - Running pipeline
2025-07-03 14:05:24,930 - INFO - Saving backup
2025-07-03 14:05:24,979 - INFO - Running pipeline
2025-07-03 14:06:03,301 - INFO - Saving backup
2025-07-03 14:06:03,385 - INFO - Running pipeline
2025-07-03 14:06:13,130 - INFO - Saving backup
2025-07-03 14:06:13,180 - INFO - Running pipeline
2025-07-03 14:06:19,234 - INFO - Saving backup
2025-07-03 14:06:19,263 - INFO - Running pipeline
2025-07-03 14:06:26,277 - INFO - Saving backup
2025-07-03 14:06:26,339 - INFO - Running pipeline
2025-07-03 14:06:32,930 - INFO - Saving backup
2025-07-03 14:06:33,051 - INFO - Running pipeline
2025-07-03 14:06:40,203 - INFO - Saving backup
2025-07-03 14:06:40,242 - INFO - Running pipeline

##### Metrics generation

In [ ]:
# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

# Paths
pred_path = "experiments/preds_gpt-4o_2025-07-03T13-09-12.csv"
prompts_path = "final_prompts/prompts_v3.json"

# Trying out the metrics pipeline with only 1 query
#df_1 = df[df["request"] == query]
# Trying out the metrics pipeline with 3 queries
df_2 = df.loc[:2]

Tiempos direct / no self-correction (18/05/2025)

279m 29.9s
12m 46.5s

Tiempos direct / self-correction (19/05/2025)

5m 4.7s
409m 22s
139m 15.1s

Tiempos step-by-step / self-correction (20/05/2025)

6m 32.4s
159m 0s
135m 0s
4m 7.7s
210m 18.8s

In [14]:
from pipeline.metricsPipeline import metricsPipeline

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

# Paths
pred_path = "experiments/preds_gpt-4o_2025-07-03T13-09-12.csv"
prompts_path = "final_prompts/prompts_v3.json"

# Trying out the metrics pipeline with 3 queries    
df_2 = df.loc[:2]

# Running all the metrics of the test set
metrics = metricsPipeline(model, lang_type, max_tokens, 
                          t_conn=2, n_tries=3, direct=True, self_corr=True, 
                          self_corr_prompts={}, prompts_path=prompts_path)
metrics.run_metrics(sql_preds_path=pred_path, df=df_test, total_exps=10, 
                    restart=True)

2025-07-03 22:42:12,798 - INFO - Restarting
2025-07-03 22:42:12,919 - INFO - Query ID: 51, Run ID: 3
2025-07-03 22:42:12,920 - INFO - Getting the gold values to compare
2025-07-03 22:42:16,510 - INFO - Query ID: 51, Run ID: 3, Query gold:              oid           mjd  fid        mag     e_mag   mag_corr  \
0   ZTF24aaiutyh  60379.298576    2  22.773140  1.164226  21.607100
1   ZTF24aaiutyh  60379.353646    1  24.290796  4.187508  21.701127
2   ZTF24aaiutyh  60388.374248    2  21.594248  0.462391  20.677787
3   ZTF24aaiutyh  60388.403090    1  22.186195  0.958558  21.226965
4   ZTF24aaiutyh  60391.247940    2  20.535074  0.539723  20.094963
..           ...           ...  ...        ...       ...        ...
60  ZTF24aaiutyh  60461.285498    2  19.569294  0.063208  19.366501
61  ZTF24aaiutyh  60463.216609    1  19.693674  0.064697  19.548642
62  ZTF24aaiutyh  60463.241956    2  19.620783  0.054562  19.409044
63  ZTF24aaiutyh  60475.197060    1  19.829998  0.135698  19.666953
64  ZTF24aaiutyh  60475.258437    2  19.761471  0.108217  19.523438

    e_mag_corr_ext  isdiffpos
0         0.397760         -1
1         0.385556          1
2         0.198804          1
3         0.396211          1
4         0.359854          1
..             ...        ...
60        0.052439          1
61        0.056607          1
62        0.044895          1
63        0.116776          1
64        0.086913          1

[65 rows x 8 columns]
2025-07-03 22:42:16,515 - INFO - Getting the request for self correction
2025-07-03 22:42:16,518 - INFO - Self-correction
2025-07-03 22:42:20,045 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "oid"
LINE 1: ...     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF...
                                                             ^

[SQL: SELECT     oid,     mjd,     fid,     mag,     e_mag,     mag_corr,     e_mag_corr,     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF24aaiutyh'ORDER BY     mjd]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-03 22:42:20,181 - INFO - Using SQL
2025-07-03 22:42:25,891 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "oid"
LINE 1: ...     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF...
                                                             ^

[SQL: SELECT     oid,     mjd,     fid,     mag,     e_mag,     mag_corr,     e_mag_corr,     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF24aaiutyh'ORDER BY     mjd]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-03 22:42:26,045 - INFO - Saving backup
2025-07-03 22:42:26,138 - INFO - Query ID: 51, Run ID: 4
2025-07-03 22:42:26,138 - INFO - Getting the gold values to compare
2025-07-03 22:42:29,453 - INFO - Query ID: 51, Run ID: 4, Query gold:              oid           mjd  fid        mag     e_mag   mag_corr  \
0   ZTF24aaiutyh  60379.298576    2  22.773140  1.164226  21.607100
1   ZTF24aaiutyh  60379.353646    1  24.290796  4.187508  21.701127
2   ZTF24aaiutyh  60388.374248    2  21.594248  0.462391  20.677787
3   ZTF24aaiutyh  60388.403090    1  22.186195  0.958558  21.226965
4   ZTF24aaiutyh  60391.247940    2  20.535074  0.539723  20.094963
..           ...           ...  ...        ...       ...        ...
60  ZTF24aaiutyh  60461.285498    2  19.569294  0.063208  19.366501
61  ZTF24aaiutyh  60463.216609    1  19.693674  0.064697  19.548642
62  ZTF24aaiutyh  60463.241956    2  19.620783  0.054562  19.409044
63  ZTF24aaiutyh  60475.197060    1  19.829998  0.135698  19.666953
64  ZTF24aaiutyh  60475.258437    2  19.761471  0.108217  19.523438

    e_mag_corr_ext  isdiffpos
0         0.397760         -1
1         0.385556          1
2         0.198804          1
3         0.396211          1
4         0.359854          1
..             ...        ...
60        0.052439          1
61        0.056607          1
62        0.044895          1
63        0.116776          1
64        0.086913          1

[65 rows x 8 columns]
2025-07-03 22:42:29,455 - INFO - Getting the request for self correction
2025-07-03 22:42:29,458 - INFO - Self-correction
2025-07-03 22:42:32,781 - INFO - Using SQL
2025-07-03 22:42:39,310 - INFO - Saving backup
2025-07-03 22:42:39,398 - INFO - Query ID: 51, Run ID: 5
2025-07-03 22:42:39,399 - INFO - Getting the gold values to compare
2025-07-03 22:42:42,949 - INFO - Query ID: 51, Run ID: 5, Query gold:              oid           mjd  fid        mag     e_mag   mag_corr  \
0   ZTF24aaiutyh  60379.298576    2  22.773140  1.164226  21.607100
1   ZTF24aaiutyh  60379.353646    1  24.290796  4.187508  21.701127
2   ZTF24aaiutyh  60388.374248    2  21.594248  0.462391  20.677787
3   ZTF24aaiutyh  60388.403090    1  22.186195  0.958558  21.226965
4   ZTF24aaiutyh  60391.247940    2  20.535074  0.539723  20.094963
..           ...           ...  ...        ...       ...        ...
60  ZTF24aaiutyh  60461.285498    2  19.569294  0.063208  19.366501
61  ZTF24aaiutyh  60463.216609    1  19.693674  0.064697  19.548642
62  ZTF24aaiutyh  60463.241956    2  19.620783  0.054562  19.409044
63  ZTF24aaiutyh  60475.197060    1  19.829998  0.135698  19.666953
64  ZTF24aaiutyh  60475.258437    2  19.761471  0.108217  19.523438

    e_mag_corr_ext  isdiffpos
0         0.397760         -1
1         0.385556          1
2         0.198804          1
3         0.396211          1
4         0.359854          1
..             ...        ...
60        0.052439          1
61        0.056607          1
62        0.044895          1
63        0.116776          1
64        0.086913          1

[65 rows x 8 columns]
2025-07-03 22:42:42,952 - INFO - Getting the request for self correction
2025-07-03 22:42:42,953 - INFO - Self-correction
2025-07-03 22:42:46,237 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "oid"
LINE 1: ...     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF...
                                                             ^

[SQL: SELECT     oid,     mjd,     fid,     mag,     e_mag,     mag_corr,     e_mag_corr,     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF24aaiutyh'ORDER BY     mjd]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-03 22:42:46,373 - INFO - Using SQL
2025-07-03 22:42:51,773 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "oid"
LINE 1: ...     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF...
                                                             ^

[SQL: SELECT     oid,     mjd,     fid,     mag,     e_mag,     mag_corr,     e_mag_corr,     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF24aaiutyh'ORDER BY     mjd]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-03 22:42:51,967 - INFO - Saving backup
2025-07-03 22:42:52,052 - INFO - Query ID: 51, Run ID: 6
2025-07-03 22:42:52,053 - INFO - Getting the gold values to compare
2025-07-03 22:42:55,631 - INFO - Query ID: 51, Run ID: 6, Query gold:              oid           mjd  fid        mag     e_mag   mag_corr  \
0   ZTF24aaiutyh  60379.298576    2  22.773140  1.164226  21.607100
1   ZTF24aaiutyh  60379.353646    1  24.290796  4.187508  21.701127
2   ZTF24aaiutyh  60388.374248    2  21.594248  0.462391  20.677787
3   ZTF24aaiutyh  60388.403090    1  22.186195  0.958558  21.226965
4   ZTF24aaiutyh  60391.247940    2  20.535074  0.539723  20.094963
..           ...           ...  ...        ...       ...        ...
60  ZTF24aaiutyh  60461.285498    2  19.569294  0.063208  19.366501
61  ZTF24aaiutyh  60463.216609    1  19.693674  0.064697  19.548642
62  ZTF24aaiutyh  60463.241956    2  19.620783  0.054562  19.409044
63  ZTF24aaiutyh  60475.197060    1  19.829998  0.135698  19.666953
64  ZTF24aaiutyh  60475.258437    2  19.761471  0.108217  19.523438

    e_mag_corr_ext  isdiffpos
0         0.397760         -1
1         0.385556          1
2         0.198804          1
3         0.396211          1
4         0.359854          1
..             ...        ...
60        0.052439          1
61        0.056607          1
62        0.044895          1
63        0.116776          1
64        0.086913          1

[65 rows x 8 columns]
2025-07-03 22:42:55,635 - INFO - Getting the request for self correction
2025-07-03 22:42:55,639 - INFO - Self-correction
2025-07-03 22:42:59,068 - INFO - Using SQL
2025-07-03 22:43:05,217 - INFO - Saving backup
2025-07-03 22:43:05,302 - INFO - Query ID: 51, Run ID: 7
2025-07-03 22:43:05,303 - INFO - Getting the gold values to compare
2025-07-03 22:43:08,673 - INFO - Query ID: 51, Run ID: 7, Query gold:              oid           mjd  fid        mag     e_mag   mag_corr  \
0   ZTF24aaiutyh  60379.298576    2  22.773140  1.164226  21.607100
1   ZTF24aaiutyh  60379.353646    1  24.290796  4.187508  21.701127
2   ZTF24aaiutyh  60388.374248    2  21.594248  0.462391  20.677787
3   ZTF24aaiutyh  60388.403090    1  22.186195  0.958558  21.226965
4   ZTF24aaiutyh  60391.247940    2  20.535074  0.539723  20.094963
..           ...           ...  ...        ...       ...        ...
60  ZTF24aaiutyh  60461.285498    2  19.569294  0.063208  19.366501
61  ZTF24aaiutyh  60463.216609    1  19.693674  0.064697  19.548642
62  ZTF24aaiutyh  60463.241956    2  19.620783  0.054562  19.409044
63  ZTF24aaiutyh  60475.197060    1  19.829998  0.135698  19.666953
64  ZTF24aaiutyh  60475.258437    2  19.761471  0.108217  19.523438

    e_mag_corr_ext  isdiffpos
0         0.397760         -1
1         0.385556          1
2         0.198804          1
3         0.396211          1
4         0.359854          1
..             ...        ...
60        0.052439          1
61        0.056607          1
62        0.044895          1
63        0.116776          1
64        0.086913          1

[65 rows x 8 columns]
2025-07-03 22:43:08,677 - INFO - Getting the request for self correction
2025-07-03 22:43:08,680 - INFO - Self-correction
2025-07-03 22:43:11,861 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "oid"
LINE 1: ...     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF...
                                                             ^

[SQL: SELECT     oid,     mjd,     fid,     mag,     e_mag,     mag_corr,     e_mag_corr,     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF24aaiutyh'ORDER BY     mjd]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-03 22:43:12,034 - INFO - Using SQL
2025-07-03 22:43:17,263 - INFO - Saving backup
2025-07-03 22:43:17,364 - INFO - Query ID: 51, Run ID: 8
2025-07-03 22:43:17,364 - INFO - Getting the gold values to compare
2025-07-03 22:43:20,853 - INFO - Query ID: 51, Run ID: 8, Query gold:              oid           mjd  fid        mag     e_mag   mag_corr  \
0   ZTF24aaiutyh  60379.298576    2  22.773140  1.164226  21.607100
1   ZTF24aaiutyh  60379.353646    1  24.290796  4.187508  21.701127
2   ZTF24aaiutyh  60388.374248    2  21.594248  0.462391  20.677787
3   ZTF24aaiutyh  60388.403090    1  22.186195  0.958558  21.226965
4   ZTF24aaiutyh  60391.247940    2  20.535074  0.539723  20.094963
..           ...           ...  ...        ...       ...        ...
60  ZTF24aaiutyh  60461.285498    2  19.569294  0.063208  19.366501
61  ZTF24aaiutyh  60463.216609    1  19.693674  0.064697  19.548642
62  ZTF24aaiutyh  60463.241956    2  19.620783  0.054562  19.409044
63  ZTF24aaiutyh  60475.197060    1  19.829998  0.135698  19.666953
64  ZTF24aaiutyh  60475.258437    2  19.761471  0.108217  19.523438

    e_mag_corr_ext  isdiffpos
0         0.397760         -1
1         0.385556          1
2         0.198804          1
3         0.396211          1
4         0.359854          1
..             ...        ...
60        0.052439          1
61        0.056607          1
62        0.044895          1
63        0.116776          1
64        0.086913          1

[65 rows x 8 columns]
2025-07-03 22:43:20,855 - INFO - Getting the request for self correction
2025-07-03 22:43:20,857 - INFO - Self-correction
2025-07-03 22:43:24,319 - INFO - Using SQL
2025-07-03 22:43:29,267 - INFO - Saving backup
2025-07-03 22:43:29,359 - INFO - Query ID: 51, Run ID: 9
2025-07-03 22:43:29,360 - INFO - Getting the gold values to compare
2025-07-03 22:43:33,071 - INFO - Query ID: 51, Run ID: 9, Query gold:              oid           mjd  fid        mag     e_mag   mag_corr  \
0   ZTF24aaiutyh  60379.298576    2  22.773140  1.164226  21.607100
1   ZTF24aaiutyh  60379.353646    1  24.290796  4.187508  21.701127
2   ZTF24aaiutyh  60388.374248    2  21.594248  0.462391  20.677787
3   ZTF24aaiutyh  60388.403090    1  22.186195  0.958558  21.226965
4   ZTF24aaiutyh  60391.247940    2  20.535074  0.539723  20.094963
..           ...           ...  ...        ...       ...        ...
60  ZTF24aaiutyh  60461.285498    2  19.569294  0.063208  19.366501
61  ZTF24aaiutyh  60463.216609    1  19.693674  0.064697  19.548642
62  ZTF24aaiutyh  60463.241956    2  19.620783  0.054562  19.409044
63  ZTF24aaiutyh  60475.197060    1  19.829998  0.135698  19.666953
64  ZTF24aaiutyh  60475.258437    2  19.761471  0.108217  19.523438

    e_mag_corr_ext  isdiffpos
0         0.397760         -1
1         0.385556          1
2         0.198804          1
3         0.396211          1
4         0.359854          1
..             ...        ...
60        0.052439          1
61        0.056607          1
62        0.044895          1
63        0.116776          1
64        0.086913          1

[65 rows x 8 columns]
2025-07-03 22:43:33,078 - INFO - Getting the request for self correction
2025-07-03 22:43:33,083 - INFO - Self-correction
2025-07-03 22:43:36,616 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "oid"
LINE 1: ...     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF...
                                                             ^

[SQL: SELECT     oid,     mjd,     fid,     mag,     e_mag,     mag_corr,     e_mag_corr,     isdiffposFROM     forced_photometryWHERE     oid = 'ZTF24aaiutyh'ORDER BY     mjd]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-03 22:43:36,748 - INFO - Using SQL
2025-07-03 22:43:41,621 - INFO - Saving backup
2025-07-03 22:43:41,788 - INFO - Query ID: 51, Run ID: 10
2025-07-03 22:43:41,788 - INFO - Getting the gold values to compare
2025-07-03 22:43:45,135 - INFO - Query ID: 51, Run ID: 10, Query gold:              oid           mjd  fid        mag     e_mag   mag_corr  \
0   ZTF24aaiutyh  60379.298576    2  22.773140  1.164226  21.607100
1   ZTF24aaiutyh  60379.353646    1  24.290796  4.187508  21.701127
2   ZTF24aaiutyh  60388.374248    2  21.594248  0.462391  20.677787
3   ZTF24aaiutyh  60388.403090    1  22.186195  0.958558  21.226965
4   ZTF24aaiutyh  60391.247940    2  20.535074  0.539723  20.094963
..           ...           ...  ...        ...       ...        ...
60  ZTF24aaiutyh  60461.285498    2  19.569294  0.063208  19.366501
61  ZTF24aaiutyh  60463.216609    1  19.693674  0.064697  19.548642
62  ZTF24aaiutyh  60463.241956    2  19.620783  0.054562  19.409044
63  ZTF24aaiutyh  60475.197060    1  19.829998  0.135698  19.666953
64  ZTF24aaiutyh  60475.258437    2  19.761471  0.108217  19.523438

    e_mag_corr_ext  isdiffpos
0         0.397760         -1
1         0.385556          1
2         0.198804          1
3         0.396211          1
4         0.359854          1
..             ...        ...
60        0.052439          1
61        0.056607          1
62        0.044895          1
63        0.116776          1
64        0.086913          1

[65 rows x 8 columns]
2025-07-03 22:43:45,137 - INFO - Getting the request for self correction
2025-07-03 22:43:45,139 - INFO - Self-correction
2025-07-03 22:43:48,524 - INFO - Using SQL
2025-07-03 22:44:01,147 - INFO - Saving backup
2025-07-03 22:44:01,293 - INFO - Query ID: 59, Run ID: 0
2025-07-03 22:44:04,831 - INFO - Query ID: 59, Run ID: 0, Query gold:             oid  fid  ndet    magmean
0  ZTF18acsvogv    1    16  18.035183
1  ZTF18acsvogv    2    11  17.625395
2025-07-03 22:44:04,839 - INFO - Saving backup
2025-07-03 22:44:04,998 - INFO - Saving backup
2025-07-03 22:44:05,119 - INFO - Query ID: 59, Run ID: 1
2025-07-03 22:44:05,120 - INFO - Getting the gold values to compare
2025-07-03 22:44:08,640 - INFO - Query ID: 59, Run ID: 1, Query gold:             oid  fid  ndet    magmean
0  ZTF18acsvogv    1    16  18.035183
1  ZTF18acsvogv    2    11  17.625395
2025-07-03 22:44:08,647 - INFO - Getting the request for self correction
2025-07-03 22:44:08,652 - INFO - Self-correction
2025-07-03 22:44:12,156 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "oid"
LINE 1: SELECT oid, fid, ndet, magmeanFROM magstatWHERE oid = 'ZTF18...
                                                        ^

[SQL: SELECT oid, fid, ndet, magmeanFROM magstatWHERE oid = 'ZTF18acsvogv']
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-03 22:44:12,296 - INFO - Using SQL
2025-07-03 22:44:16,781 - INFO - Saving backup
2025-07-03 22:44:17,018 - INFO - Query ID: 59, Run ID: 2
2025-07-03 22:44:17,020 - INFO - Getting the gold values to compare
2025-07-03 22:44:20,680 - INFO - Query ID: 59, Run ID: 2, Query gold:             oid  fid  ndet    magmean
0  ZTF18acsvogv    1    16  18.035183
1  ZTF18acsvogv    2    11  17.625395
2025-07-03 22:44:20,682 - INFO - Getting the request for self correction
2025-07-03 22:44:20,684 - INFO - Self-correction
2025-07-03 22:44:24,625 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "oid"
LINE 1: SELECT oid, fid, ndet, magmeanFROM magstatWHERE oid = 'ZTF18...
                                                        ^

[SQL: SELECT oid, fid, ndet, magmeanFROM magstatWHERE oid = 'ZTF18acsvogv']
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-03 22:44:24,857 - INFO - Using SQL
2025-07-03 22:44:29,341 - INFO - Saving backup
2025-07-03 22:44:29,509 - INFO - Query ID: 59, Run ID: 3
2025-07-03 22:44:29,510 - INFO - Getting the gold values to compare
2025-07-03 22:44:33,060 - INFO - Query ID: 59, Run ID: 3, Query gold:             oid  fid  ndet    magmean
0  ZTF18acsvogv    1    16  18.035183
1  ZTF18acsvogv    2    11  17.625395
2025-07-03 22:44:33,065 - INFO - Getting the request for self correction
2025-07-03 22:44:33,067 - INFO - Self-correction
2025-07-03 22:44:36,639 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "oid"
LINE 1: SELECT oid, fid, ndet, magmeanFROM magstatWHERE oid = 'ZTF18...
                                                        ^

[SQL: SELECT oid, fid, ndet, magmeanFROM magstatWHERE oid = 'ZTF18acsvogv']
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-03 22:44:36,780 - INFO - Using SQL
2025-07-03 22:44:41,696 - INFO - Saving backup
2025-07-03 22:44:41,873 - INFO - Query ID: 59, Run ID: 4
2025-07-03 22:44:41,875 - INFO - Getting the gold values to compare
2025-07-03 22:44:45,501 - INFO - Query ID: 59, Run ID: 4, Query gold:             oid  fid  ndet    magmean
0  ZTF18acsvogv    1    16  18.035183
1  ZTF18acsvogv    2    11  17.625395
2025-07-03 22:44:45,507 - INFO - Getting the request for self correction
2025-07-03 22:44:45,512 - INFO - Self-correction
2025-07-03 22:44:48,662 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "oid"
LINE 1: SELECT oid, fid, ndet, magmeanFROM magstatWHERE oid = 'ZTF18...
                                                        ^

[SQL: SELECT oid, fid, ndet, magmeanFROM magstatWHERE oid = 'ZTF18acsvogv']
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-03 22:44:48,795 - INFO - Using SQL
2025-07-03 22:44:52,857 - INFO - Saving backup