# Testing notebook

## Working the CSVs and Excel sheets

In [1]:
# Exploring the 'training' dataset
import pandas as pd
df = pd.read_csv("txt2sql_alerce_train_v3_1.csv")
df.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\n-- mjd date for December = 59914.0\n-- mjd d...,\n-- Super Nova (SNe) is a large explosion tha...,"\nSELECT\n object.oid, probability.class_na...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\nSELECT\n sq1.oid, sq1.probability as SN_pro...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",\n-- mjd date for September 01 = 60188.0\n-- m...,\n-- A fast riser is defined as an object whos...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\n-- mjd date for the start of the year 2019 =...,0,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",\n-- mjd date for February 01 = 59976.0\n-- mj...,0,"\nWITH catalog ( source_id, ra, dec) AS (\n ...",advanced,spatial,simple,NaN,NaN,NaN

In [2]:
df[df["request"] == "Find at most 10 cases where the feature called 'LinearTrend' is larger than 5 and their ZTF objects have a difference between last and first detection date larger than 1 day. Return the following columns. For the ZTF objects: ZTF identifier and number of detections; for their light curve classifier data at ranking 1: classifier version, class and probability; for the 'LinearTrend' feature: value and filter identifier"]["external_knowledge"].item()

"Since no feature version is specified, the combination between ZTF oid and fid can be non-unique in the 'feature' table output"

In [3]:
# Reading the excel file
excel = pd.read_excel("SQLusecases_alerce.xlsx", 
                      sheet_name="examples_alerce_usecasesV3_1")

# Cleaning the excel a bit
excel = excel.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
excel.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,Set,python_format
0,0,Get objects that are likely to be YSOs (possib...,"['probability', 'feature']",\n-- feature.name can be 'Multiband_period'\n-...,\n-- Multiband_period: Period obtained using t...,"\nSELECT\n oid, probability, value, name, fid...",advanced,object,tree,Train,"sub_query_1='''\nSELECT\n feature.oid, prob_o..."
1,1,Get all the objects classified as AGN with a p...,"['object', 'probability', 'feature', 'magstat']",\n-- object.ndet represents the number of dete...,\n-- Amplitude: Half of the difference between...,"\nSELECT\n sq.oid, sq.value, sq.name, sq.fid ...",advanced,object,tree,Test,\nsub_query_object='''\nSELECT\n object.oid...
2,2,Give me the objects classified as YSO by their...,['probability'],NaN,NaN,"\nSELECT\n oid, probability\nFROM\n prob...",simple,object,none,Train,"query='''\nSELECT\n oid, probability\nFROM\..."
3,3,Give me the objects classified as YSO by the l...,"['object', 'probability']","\n-- last june in mjd date: [start=60096.0, en...",NaN,\nSELECT\n *\nFROM\n probability\nWHERE\...,simple,object,simple,Train,query=f'''\nSELECT\n *\nFROM\n probabili...
4,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\n-- mjd date for the start of the year 2019 =...,NaN,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,Train,# objects classified as SN II with probability...

## Tests

### Gold values and query to test

In [4]:
# Select a query
query = "Find at most 50 ZTF objects that satisfy the following conditions: have a probability larger than 0.7 of being an AGN in the light curve classifier version 'hierarchical_rf_1.1.0', a distance to the nearest PS1 source lower than 2 arcsec, and a difference between the star/galaxy score from PS1 and the star/galaxy score from SExtractor lower than 0.5. Return the following columns. For the ZTF object: ZTF identifier and probability; for each epoch: candidate and filter identifier, reduced chi-square, star/galaxy score from SExtractor, and also the identifier, PS1 star/galaxy score and distance of the nearest PS1 source"

# Check if the query is in the excel file
if query in excel["request"].to_list():
    # Obtain the gold SQL query and Python query
    sql_gold = excel[excel["request"] == query]["gold_query"].item()
    python_gold = excel[excel["request"] == query]["python_format"].item()

    # Obtain the necessary tables
    gold_tables = excel[excel["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)
    print("Python gold query:\n")
    print(python_gold)
    
else:
    # Obtain the gold SQL query
    sql_gold = df[df["request"] == query]["gold_query"].item()

    # Obtain the necessary tables
    gold_tables = df[df["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)

Gold values

Tables needed for the query:
['object', 'probability', 'dataquality', 'ps1_ztf']

SQL gold query:
SELECT
    sq1.oid,
    sq1.probability, sq1.candid, sq1.fid,
    sq1.chipsf, sq1.classtar,
    sq2.objectidps1, sq2.sgscore1,
    sq2.distpsnr1
FROM
(
SELECT
    probability.oid,
    probability.probability, dataquality.candid,
    dataquality.fid, dataquality.chipsf,
    dataquality.classtar
FROM
    probability INNER JOIN
    dataquality
    ON probability.oid = dataquality.oid
WHERE
    classifier_name = 'lc_classifier'
    AND classifier_version = 'hierarchical_rf_1.1.0'
    AND class_name = 'AGN'
    AND probability > 0.7
) AS sq1
INNER JOIN
(
SELECT
    probability.oid, ps1_ztf.candid,
    ps1_ztf.objectidps1, ps1_ztf.sgscore1,
    ps1_ztf.distpsnr1
FROM
    probability INNER JOIN
    ps1_ztf
    ON probability.oid = ps1_ztf.oid
WHERE
    classifier_name = 'lc_classifier'
    AND classifier_version = 'hierarchical_rf_1.1.0'
    AND class_name = 'AGN'
    AND probability > 0.7
) AS sq2
ON sq1.oid = sq2.oid
AND sq1.candid = sq2.candid
WHERE
    sq2.distpsnr1 < 2
    AND sq2.sgscore1 - sq1.classtar < 0.5
LIMIT 50

In [5]:
# Running the gold query
from secret.config import SQL_URL
import requests
import sqlalchemy as sa

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{params['user']}:{params['password']}@{params['host']}/{params['dbname']}")
engine.begin()

pd.read_sql_query(sql_gold, con=engine)

,oid,probability,candid,fid,chipsf,classtar,objectidps1,sgscore1,distpsnr1
0,ZTF19adcfkex,0.895584,1122215490915015013,1,0.844136,0.703,196461506589680576,0.000000,0.450575
1,ZTF19aayljdt,0.736064,889273400115010007,2,0.930399,0.710,93462548914078624,0.000000,0.212540
2,ZTF19aayljdt,0.736064,2663376350115010007,2,1.464525,0.722,93462551400022020,0.000000,0.408871
3,ZTF19aayljdt,0.736064,2708293920115010017,1,0.755105,0.728,93462551400022020,0.000000,0.255659
4,ZTF19aayljdt,0.736064,2708356890115010007,2,0.812704,0.870,93462551400022020,0.000000,0.025791
5,ZTF21acrahxc,0.705740,1796484212915015001,1,0.998092,0.787,121911687945259580,0.207875,0.651341
6,ZTF21aatxjsz,0.857960,1560264781615010001,2,0.916886,0.862,199211439285418180,0.000000,0.302456
7,ZTF19acmossq,0.756504,1058267391815010001,2,2.443726,0.937,180880922553841600,0.002500,0.432530
8,ZTF19acmossq,0.756504,2871339051815010002,2,1.635072,0.935,180880915583467520,0.002500,0.429585
9,ZTF19acmossq,0.756504,2871413911815010012,1,1.307080,0.809,180880915583467520,0.002500,0.188457
10,ZTF21aalgamq,0.807240,1508282281115010003,1,0.950969,0.459,179000856073286620,0.009167,0.537842
11,ZTF20absxark,0.735392,1362417456115015001,2,1.389545,0.850,100330582542541664,0.028750,0.556189
12,ZTF20absxark,0.735392,2572253866115010000,1,0.944510,0.798,100330582063448060,0.028750,0.261874
13,ZTF20absxark,0.735392,2572312266115010010,2,0.849501,0.707,100330582063448060,0.028750,0.602018
14,ZTF20absxark,0.735392,2796436606115010001,2,1.584608,0.713,100330582063448060,0.028750,0.566743
15,ZTF20absxark,0.735392,2798490486115010000,1,1.389076,0.795,100330582063448060,0.028750,0.603855
16,ZTF20absxark,0.735392,2808460546115010000,1,0.995240,0.662,100330582063448060,0.028750,0.427027
17,ZTF19addeakd,0.787248,1735234354715010003,1,1.710191,0.767,105703449747679600,0.576458,0.140058
18,ZTF18acefber,0.838368,736215262315010006,2,0.678192,0.649,129401255525807632,0.001250,0.454792
19,ZTF19acatxxt,0.756808,1039245011215015006,1,0.692044,0.791,162390495776415232,0.402737,0.351639
20,ZTF19acatxxt,0.756808,2726469473215010011,2,1.458360,0.933,162390497258635260,0.402737,0.377357
21,ZTF19acatxxt,0.756808,2726465973215010009,2,0.999100,0.979,162390497258635260,0.402737,0.197591
22,ZTF19acatxxt,0.756808,2734469003215010006,2,1.180333,0.996,162390497258635260,0.402737,0.137362
23,ZTF19acatxxt,0.756808,2734476034515010005,2,1.572293,0.977,162390497258635260,0.402737,0.384660
24,ZTF19acatxxt,0.756808,2736472711215010024,2,1.212952,0.753,162390497258635260,0.402737,0.435291
25,ZTF19acatxxt,0.756808,2737466781215010013,2,1.331670,0.746,162390497258635260,0.402737,0.318210
26,ZTF19acatxxt,0.756808,2740468781215010017,2,1.120895,0.678,162390497258635260,0.402737,0.182367
27,ZTF19acatxxt,0.756808,2734468064515010007,2,1.615348,0.974,162390497258635260,0.402737,0.128414
28,ZTF19acatxxt,0.756808,2737469691215010007,2,1.266753,0.695,162390497258635260,0.402737,0.364542
29,ZTF19acatxxt,0.756808,2736466921215010020,2,0.926970,0.840,162390497258635260,0.402737,0.625304
30,ZTF19acatxxt,0.756808,2770454741215010024,1,1.611665,0.754,162390497258635260,0.402737,0.219340
31,ZTF19acatxxt,0.756808,2803408421215010019,1,0.935296,0.858,162390497258635260,0.402737,0.162076
32,ZTF19aagxalb,0.892496,2062454865715010002,1,1.189524,0.762,100210606447001600,0.005625,0.032077
33,ZTF21acqrxtv,0.777600,2033433924415010000,2,1.581124,0.931,124080273741578240,0.029167,0.536504
34,ZTF21acqrxtv,0.777600,2779413354415010000,2,1.573906,0.952,124080273741578240,0.029167,0.391183
35,ZTF21acqrxtv,0.777600,2839380044415010001,2,1.274309,0.658,124080273741578240,0.029167,0.557134
36,ZTF21acqrxtv,0.777600,2852295714415010002,2,0.924592,0.747,124080273741578240,0.029167,0.207661
37,ZTF22abdtjqp,0.784944,2065420081015010019,1,1.057892,0.629,126800078961639420,0.000000,0.193731
38,ZTF22abdtjqp,0.784944,2800338181015010014,1,1.031214,0.540,126800078961639420,0.000000,0.311100
39,ZTF20aawbauz,0.776272,1210160765715010000,1,1.094707,0.843,109271270261936672,0.244000,0.214234
40,ZTF20aawbauz,0.776272,2814514064715010002,2,1.561580,0.987,109271269454643200,0.244000,0.102033
41,ZTF20aawbauz,0.776272,2814513594715010001,2,1.702307,0.999,109271269454643200,0.244000,0.203134
42,ZTF20aawbauz,0.776272,2814515034715010002,2,1.184004,0.703,109271269454643200,0.244000,0.443802
43,ZTF19abyfbmy,0.872356,990132810915010016,1,1.325425,0.955,127622582714028640,0.007333,0.378367
44,ZTF19abyfbmy,0.872356,2663461340915015012,1,1.592159,0.912,127622582378692600,0.007333,0.332434
45,ZTF19abyfbmy,0.872356,2692401850915015018,1,1.151527,0.690,127622582378692600,0.007333,0.201257
46,ZTF19abyfbmy,0.872356,2696381340915015011,2,1.102652,0.791,127622582378692600,0.007333,0.343949
47,ZTF19abyfbmy,0.872356,2704435890915015011,1,0.933713,0.485,127622582378692600,0.007333,0.400021
48,ZTF19abyfbmy,0.872356,2706332000915015012,1,1.198042,0.721,127622582378692600,0.007333,0.295903
49,ZTF19abyfbmy,0.872356,2708276530915015011,1,1.193502,0.765,127622582378692600,0.007333,0.130103

### Trying out the pipelines

In [ ]:
from pprint import pprint
from pipeline.main import run_pipeline
from tests import engine
engine.begin()

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
format = "python"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Running the pipeline
result, total_usage, prompts = run_pipeline(query, model, max_tokens, size, 
                                            overlap, quantity, format, False, 
                                            engine, rag_pipe=False, 
                                            self_corr=True)
print("Resulting table:")
print(result)
print("Total usage of the pipeline:")
pprint(total_usage)

# The prompts used will be saved in this file
with open(f"prompts/examples/prompts_query_{model}.txt", "w") as f:
    f.write(str(prompts))

Running SQL exception: (psycopg2.errors.UndefinedColumn) column "sgscore1" does not exist
LINE 43:     ABS(sgscore1 - classtar) < 0.5
                 ^
HINT:  There is a column named "sgscore1" in table "d", but it cannot be referenced from this part of the query.

[SQL:
SELECT
    o.oid AS ztf_identifier,
    prob.probability,
    det.candid AS candidate_identifier,
    det.fid AS filter_identifier,
    dq.chipsf AS reduced_chi_square,
    dq.classtar AS star_galaxy_score_sextractor,
    ps.objectidps1 AS ps1_identifier,
    ps.sgscore1 AS ps1_star_galaxy_score,
    ps.distpsnr1 AS distance_to_ps1
FROM
    (
SELECT
    p.oid
FROM
    (
SELECT DISTINCT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND classifier_version = 'hierarchical_rf_1.1.0'
    AND class_name = 'AGN'
    AND probability > 0.7
    AND ranking = 1
) AS p
    INNER JOIN (
SELECT
    oid, objectidps1, sgscore1, distpsnr1
FROM
    ps1_ztf
WHERE
    distpsnr1 < 2
) AS d ON p.oid = d.oid
    INNER JOIN (
SELECT
    oid, classtar
FROM
    dataquality
WHERE
    ABS(sgscore1 - classtar) < 0.5
) AS s ON p.oid = s.oid
) AS valid_oids
    INNER JOIN object o ON valid_oids.oid = o.oid
    INNER JOIN probability prob ON o.oid = prob.oid
    INNER JOIN detection det ON o.oid = det.oid
    INNER JOIN dataquality dq ON o.oid = dq.oid
    INNER JOIN ps1_ztf ps ON o.oid = ps.oid
WHERE
    prob.classifier_name = 'lc_classifier'
    AND prob.classifier_version = 'hierarchical_rf_1.1.0'
    AND prob.class_name = 'AGN'
    AND prob.ranking = 1
LIMIT 50
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: local variable 'e' referenced before assignment
Start retry with self-correction
Corrected query:
```python
# Sub-query for Probability: Filter objects with a probability > 0.7 of being an AGN
sub_query_probability = f'''
SELECT DISTINCT
    oid, probability
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND classifier_version = 'hierarchical_rf_1.1.0'
    AND class_name = 'AGN'
    AND probability > 0.7
    AND ranking = 1
'''

# Sub-query for Distance: Filter objects with distance to nearest PS1 source < 2 arcsec
sub_query_distance = f'''
SELECT
    oid, objectidps1, sgscore1, distpsnr1
FROM
    ps1_ztf
WHERE
    distpsnr1 < 2
'''

# Sub-query for Star/Galaxy Score Difference: Filter objects with score difference < 0.5
sub_query_score_difference = f'''
SELECT
    oid, classtar
FROM
    dataquality
WHERE
    ABS(sgscore1 - classtar) < 0.5
'''

# Intersection of Sub-queries: Combine results to get oids meeting all conditions
sub_query_intersection = f'''
SELECT
    p.oid, p.probability
FROM
    ({sub_query_probability}) AS p
    INNER JOIN ({sub_query_distance}) AS d ON p.oid = d.oid
    INNER JOIN ({sub_query_score_difference}) AS s ON p.oid = s.oid
'''

# Main Query Construction: Retrieve required columns using the intersection result
full_query = f'''
SELECT
    o.oid AS ztf_identifier,
    valid_oids.probability,
    det.candid AS candidate_identifier,
    det.fid AS filter_identifier,
    dq.chipsf AS reduced_chi_square,
    dq.classtar AS star_galaxy_score_sextractor,
    ps.objectidps1 AS ps1_identifier,
    ps.sgscore1 AS ps1_star_galaxy_score,
    ps.distpsnr1 AS distance_to_ps1
FROM
    ({sub_query_intersection}) AS valid_oids
    INNER JOIN object o ON valid_oids.oid = o.oid
    INNER JOIN detection det ON o.oid = det.oid
    INNER JOIN dataquality dq ON det.candid = dq.candid
    INNER JOIN ps1_ztf ps ON o.oid = ps.oid
LIMIT 50
'''
```

### Explanation:
- **Probability Sub-query**: Added `probability` to the select clause to ensure it is available in the main query.
- **Intersection Sub-query**: Included `probability` in the select clause to pass it to the main query.
- **Main Query**: Corrected the join condition for `dataquality` to use `candid` from `detection` to `dataquality` since `dataquality` is indexed by `candid`.
- **LIMIT**: Ensures that at most 50 results are returned.
Running SQL exception: (psycopg2.errors.UndefinedColumn) column "sgscore1" does not exist
LINE 43:     ABS(sgscore1 - classtar) < 0.5
                 ^
HINT:  There is a column named "sgscore1" in table "d", but it cannot be referenced from this part of the query.

[SQL:
SELECT
    o.oid AS ztf_identifier,
    valid_oids.probability,
    det.candid AS candidate_identifier,
    det.fid AS filter_identifier,
    dq.chipsf AS reduced_chi_square,
    dq.classtar AS star_galaxy_score_sextractor,
    ps.objectidps1 AS ps1_identifier,
    ps.sgscore1 AS ps1_star_galaxy_score,
    ps.distpsnr1 AS distance_to_ps1
FROM
    (
SELECT
    p.oid, p.probability
FROM
    (
SELECT DISTINCT
    oid, probability
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND classifier_version = 'hierarchical_rf_1.1.0'
    AND class_name = 'AGN'
    AND probability > 0.7
    AND ranking = 1
) AS p
    INNER JOIN (
SELECT
    oid, objectidps1, sgscore1, distpsnr1
FROM
    ps1_ztf
WHERE
    distpsnr1 < 2
) AS d ON p.oid = d.oid
    INNER JOIN (
SELECT
    oid, classtar
FROM
    dataquality
WHERE
    ABS(sgscore1 - classtar) < 0.5
) AS s ON p.oid = s.oid
) AS valid_oids
    INNER JOIN object o ON valid_oids.oid = o.oid
    INNER JOIN detection det ON o.oid = det.oid
    INNER JOIN dataquality dq ON det.candid = dq.candid
    INNER JOIN ps1_ztf ps ON o.oid = ps.oid
LIMIT 50
]
(Background on this error at: https://sqlalche.me/e/20/f405)

Exception: Failed again: local variable 'e' referenced before assignment

In [ ]:
from pprint import pprint
from pipeline.main import run_pipeline, engine
engine.begin()

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "o1-preview"

# Format for the pipeline
format = "python"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Running the pipeline
result, total_usage, prompts = run_pipeline(query, model, max_tokens, size, 
                                            overlap, quantity, format, False, 
                                            engine, rag_pipe=True, 
                                            self_corr=True)
print("Resulting table:")
print(result)
print("Total usage of the pipeline:")
pprint(total_usage)

# The prompts used will be saved in this file
with open(f"prompts/examples/prompts_query_{model}.txt", "w") as f:
    f.write(str(prompts))

Tables needed: [object, detection, magstat]
Difficulty: advanced
```python
# Get oids of objects classified as 'SN II' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59580 (2022-01-01)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections
sub_query_ndet = f'''
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
({sub_query_magstat_g})
INTERSECT
({sub_query_magstat_r})
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
Resulting python query:
# Get oids of objects classified as 'SN II' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59580 (2022-01-01)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections
sub_query_ndet = f'''
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
({sub_query_magstat_g})
INTERSECT
({sub_query_magstat_r})
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
Running SQL exception: (psycopg2.errors.UndefinedColumn) column "maxmjd" does not exist
LINE 50: WHERE fid=2 AND (maxmjd - minmjd) >= 100
                          ^

[SQL:
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN (
SELECT oids2.oid
FROM (
SELECT oids1.oid
FROM (
SELECT prob_oids.oid
FROM (
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
) AS prob_oids
INNER JOIN (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
) AS obj_oids
ON prob_oids.oid = obj_oids.oid
) AS oids1
INNER JOIN (
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
) AS ndet_oids
ON oids1.oid = ndet_oids.oid
) AS oids2
INNER JOIN (
(
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
)
INTERSECT
(
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
)
) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: local variable 'results' referenced before assignment
Start retry with self-correction
Corrected query:
```python
# Corrected sub-queries and final query

# Get oids of objects classified as 'SNII' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SNII'  -- Corrected class_name from 'SN II' to 'SNII'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59946 (2022-12-31)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946  -- Corrected MJD end date to 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections using ndet from object table
sub_query_ndet = f'''
SELECT oid
FROM object
WHERE ndet > 30  -- Changed from detection table to object table
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
SELECT g_oids.oid
FROM ({sub_query_magstat_g}) AS g_oids
INNER JOIN ({sub_query_magstat_r}) AS r_oids
ON g_oids.oid = r_oids.oid
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
```
Running SQL exception: (psycopg2.errors.UndefinedColumn) column "maxmjd" does not exist
LINE 50: WHERE fid=2 AND (maxmjd - minmjd) >= 100
                          ^

[SQL:
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN (
SELECT oids2.oid
FROM (
SELECT oids1.oid
FROM (
SELECT prob_oids.oid
FROM (
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SNII'  -- Corrected class_name from 'SN II' to 'SNII'
AND ranking=1
AND probability > 0.6
) AS prob_oids
INNER JOIN (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946  -- Corrected MJD end date to 59946
) AS obj_oids
ON prob_oids.oid = obj_oids.oid
) AS oids1
INNER JOIN (
SELECT oid
FROM object
WHERE ndet > 30  -- Changed from detection table to object table
) AS ndet_oids
ON oids1.oid = ndet_oids.oid
) AS oids2
INNER JOIN (
SELECT g_oids.oid
FROM (
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
) AS g_oids
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
) AS r_oids
ON g_oids.oid = r_oids.oid
) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/f405)

Exception: Failed again: local variable 'results' referenced before assignment