## Working the CSVs and Excel sheets

### Train dataset

In [1]:
# Exploring the 'training' dataset
import pandas as pd
df = pd.read_csv("datasets/txt2sql_alerce_train_v4_0.csv")
df.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\n-- mjd date for December = 59914.0\n-- mjd d...,\n-- Super Nova (SNe) is a large explosion tha...,"\nSELECT\n object.oid, probability.class_na...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\nSELECT\n sq1.oid, sq1.probability as SN_pro...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",-- mjd date for September 01 = 60188.0\n-- mjd...,\n-- A fast riser is defined as an object whos...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",0,0,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",-- mjd date for February 01 = 59976.0\n-- mjd ...,0,"\nWITH catalog ( source_id, ra, dec) AS (\n ...",advanced,spatial,simple,NaN,NaN,NaN

In [2]:
df[df["req_id"] == 15]["request"].item()

"Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

In [3]:
print("External knowledge for the train dataset")
vc_df = df["external_knowledge"].value_counts().reset_index()
vc_df.columns = ["Value", "Count"]

vc_df

External knowledge for the train dataset

                                                Value  Count
0                                                   0     43
1   \n-- mjd date for December = 59914.0\n-- mjd d...      1
2   -- mjd date for September 01 = 60188.0\n-- mjd...      1
3   -- mjd date for February 01 = 59976.0\n-- mjd ...      1
4   -- mjd date for the start of January = 59945.0...      1
5   \n-- last june in mjd date: [start=60096.0, en...      1
6   \n-- it is important to return all the probabi...      1
7   -- consider the list of objects identifiers: [...      1
8   \n-- mjd date for the start of September = 601...      1
9   -- mjd date for the start of July = 60126.0\n-...      1
10                    -- table_schema can be 'alerce'      1
11  \n-- mjd date for February 01 = 59976.0\n-- mj...      1
12  \n-- mjd date for February 1 2023 = 59976.0\n-...      1
13  \n-- mjd date for the start of the year 2019 =...      1
14  -- mjd date for August 25 2022 = 59816.0\n-- m...      1
15  Note that 'fainter' means 'larger' for magnitudes      1

In [4]:
print("Domain knowledge for the train dataset")
vc_df_domain = df["domain_knowledge"].value_counts().reset_index()
vc_df_domain.columns = ["Value", "Count"]

vc_df_domain

Domain knowledge for the train dataset

                                               Value  Count
0                                                  0     54
1  \n-- Super Nova (SNe) is a large explosion tha...      1
2  \n-- A fast riser is defined as an object whos...      1
3                -- 1000 arcmin = 16.16667 degrees\n      1
4  \n-- The galactic coordinate system locates ob...      1

### Test dataset

In [5]:
df_test = pd.read_csv("datasets/txt2sql_alerce_test_v4_0.csv")
df_test.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,8,Query all objects that were first classified a...,"['probability', 'object']",\n-- mjd date for august 17 = 60173.0\n-- mjd ...,0,\nSELECT\n *\nFROM\n object\nINNER JOIN\...,simple,object,none,NaN,NaN,NaN
1,27,"Return the oids, meanra, meandec, ndet, firstm...","['probability', 'object']",0,0,"\nSELECT\n object.oid, object.meanra, objec...",simple,object,simple,NaN,NaN,NaN
2,17,Return the objects classified as AGN that show...,"['probability', 'object', 'detection']",0,0,\nSELECT\n *\nFROM\n (\nSELECT *\nFROM (\nSE...,advanced,object,tree,NaN,NaN,NaN
3,37,"""Query the top 200 objects classified SNIa acc...",['probability'],0,0,\nSELECT\n *\nFROM\n probability\nWHERE\n ...,simple,object,none,NaN,NaN,NaN
4,34,Given this list of oids ['ZTF17aaadpsi' 'ZTF19...,['feature'],0,0,\nSELECT\n *\nFROM\n feature\nWHERE\n ...,simple,other,none,NaN,NaN,NaN

In [6]:
print("External knowledge for the test dataset")
vc_df_test = df_test["external_knowledge"].value_counts().reset_index()
vc_df_test.columns = ["Value", "Count"]

vc_df_test

External knowledge for the test dataset

                                               Value  Count
0                                                  0     44
1  Note that 'fainter' means 'larger' for magnitudes      2
2  \n-- mjd date for august 17 = 60173.0\n-- mjd ...      1
3  \n-- mjd date for September 01 = 60188.0\n-- m...      1
4  \n-- mjd date for March 1st 2021 = 59274.0\n--...      1
5  \n-- mjd date for June 1st 2018 = 58239.0\n-- ...      1
6  -- mjd date for February 13 = 59988.0\n-- mjd ...      1
7  Note that filters W1 to W4 means returning W1,...      1

In [7]:
print("Domain knowledge for the train dataset")
vc_df_domain_test = df_test["domain_knowledge"].value_counts().reset_index()
vc_df_domain_test.columns = ["Value", "Count"]

vc_df_domain_test

Domain knowledge for the train dataset

                                               Value  Count
0                                                  0     48
1  \n-- A fast riser is defined as an object whos...      1
2  -- Asteroids move, so it is necessary to choos...      1
3        \n-- SNe refers to all types of SuperNova\n      1

### Additional info

In [8]:
# Reading the excel file
excel = pd.read_excel("datasets/SQLusecases_alerce.xlsx", 
                      sheet_name="examples_alerce_usecasesV3_1")

# Cleaning the excel a bit
excel = excel.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
excel.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,Set,python_format
0,0,Get objects that are likely to be YSOs (possib...,"['probability', 'feature']",\n-- feature.name can be 'Multiband_period'\n-...,\n-- Multiband_period: Period obtained using t...,"\nSELECT\n oid, probability, value, name, fid...",advanced,object,tree,Train,"sub_query_1='''\nSELECT\n feature.oid, prob_o..."
1,1,Get all the objects classified as AGN with a p...,"['object', 'probability', 'feature', 'magstat']",\n-- object.ndet represents the number of dete...,\n-- Amplitude: Half of the difference between...,"\nSELECT\n sq.oid, sq.value, sq.name, sq.fid ...",advanced,object,tree,Test,\nsub_query_object='''\nSELECT\n object.oid...
2,2,Give me the objects classified as YSO by their...,['probability'],NaN,NaN,"\nSELECT\n oid, probability\nFROM\n prob...",simple,object,none,Train,"query='''\nSELECT\n oid, probability\nFROM\..."
3,3,Give me the objects classified as YSO by the l...,"['object', 'probability']","\n-- last june in mjd date: [start=60096.0, en...",NaN,\nSELECT\n *\nFROM\n probability\nWHERE\...,simple,object,simple,Train,query=f'''\nSELECT\n *\nFROM\n probabili...
4,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\n-- mjd date for the start of the year 2019 =...,NaN,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,Train,# objects classified as SN II with probability...

## Tests

### Gold values and query to test

In [9]:
# Select a query
query = "Give me all the SNe that were first detected between december first 2022 and september first 2023. Return the probability class, the last and the first detection date and the oids of the objects."

# Check if the query is in the excel file
if query in excel["request"].to_list():
    # Obtain the gold SQL query and Python query
    sql_gold = excel[excel["request"] == query]["gold_query"].item()
    python_gold = excel[excel["request"] == query]["python_format"].item()

    # Obtain the necessary tables
    gold_tables = excel[excel["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)
    print("Python gold query:\n")
    print(python_gold)
    
else:
    # Obtain the gold SQL query
    sql_gold = df[df["request"] == query]["gold_query"].item()

    # Obtain the necessary tables
    gold_tables = df[df["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)

Gold values

Tables needed for the query:
['object', 'probability']

SQL gold query:

SELECT
    object.oid, probability.class_name, object.lastmjd, object.firstmjd
FROM
    object INNER JOIN
    probability
    ON object.oid = probability.oid
WHERE
    probability.classifier_name='lc_classifier'
    AND probability.class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
    AND probability.ranking = 1
    AND object.firstmjd < 60217.0
    AND object.firstmjd > 59914.0

In [10]:
# Running the gold query
from secret.config import SQL_URL
import requests
import sqlalchemy as sa

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{params['user']}:{params['password']}@{params['host']}/{params['dbname']}")
engine.begin()

resultGold = pd.read_sql_query(sql_gold, con=engine)
resultGold

               oid class_name       lastmjd      firstmjd
0     ZTF23aaocetr       SNIa  60133.210428  60109.208229
1     ZTF23aamzkrs       SNIa  60124.189074  60097.242882
2     ZTF23aamxbpd       SNIa  60120.218900  60100.190417
3     ZTF23aafwzmi       SNIa  60078.406505  60050.470231
4     ZTF23aackdba       SNII  60073.174653  59992.212407
...            ...        ...           ...           ...
4542  ZTF23aagaoax       SNII  60761.252708  60049.210880
4543  ZTF23aaefijg       SNII  60786.461586  60036.459398
4544  ZTF20aanlftl       SNII  60786.408137  59977.563657
4545  ZTF23aaavavg       SNIa  60770.256586  59967.353044
4546  ZTF23aablruf       SNII  60786.442083  59971.566250

[4547 rows x 4 columns]

### Trying out the pipelines

#### Singular

In [10]:
from pipeline.queryPipeline import queryPipeline

# Working query
query = "Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

In [ ]:
from pipeline.process import *
from prompts.base.prompts import *

# Prompt dictionary guideline and used by Jorge
prompts = {
    "Schema Linking": {
        "base_prompt": tables_linking_prompt_V2,
        "context1": schema_all_cntxV1,
        "context2": schema_all_cntxV2_indx,
        "context3": schema_all_cntxV2,
    },
    "Classify": {
        "base_prompt": diff_class_prompt_v7,
        "final_instructions": final_instructions_diff_v2
    },
    "Decomposition": {
        "simple": {
            "query_task": simple_query_task_v2,
            "query_context": simple_query_cntx,
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder",
            "query_instructions": simple_query_instructions_v2
        },
        "medium": {
            "decomp_plan": {
                "base_prompt": medium_decomp_prompt,
                "decomp_task": medium_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": medium_query_cntx,
                "query_instructions": medium_query_instructions_1_v2
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": medium_decomp_gen,
                    "query_task": medium_query_task_v2,
                    "query_instructions": medium_query_instructions_2_v2,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        },
        "advanced": {
            "decomp_plan": {
                "base_prompt": adv_decomp_prompt,
                "decomp_task": adv_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": adv_query_cntx,
                "query_instructions": adv_query_instructions_1_v3
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": adv_decomp_gen,
                    "query_task": adv_query_task_v2,
                    "query_instructions": adv_query_instructions_2_v3,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        }
    },
    "Direct": {
        "base_prompt": {
            "general_task": general_taskv18,
            "general_context": general_contextv15,
            "final_instructions": final_instructions_v19
        },
        "request_prompt": {
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder"
        }
    }
}

# Updating ext_kn and dom_kn
prompts["Decomposition"]["simple"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Decomposition"]["simple"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()
prompts["Direct"]["request_prompt"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Direct"]["request_prompt"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()

In [ ]:
# Pipeline object
pipe = queryPipeline(query, model, lang_type, max_tokens, prompts)

# Schema Linking
schema_usage = pipe.schema_linking()

# Classification
class_usage = pipe.classify()

# Decomposition
pipe.decomposition()

# Direct prompt
pipe.direct()

# Generating the queries
decomp_gen_query = pipe.query_generation()
print("Query generated with decomposition prompts")
print(decomp_gen_query)
print("-"*50)
direct_gen_query = pipe.query_generation()
print("Query generated with direct prompts")
print(direct_gen_query)

Query generated with decomposition prompts

-- Subquery to get object identifiers (oids) that qualify as fast risers
WITH fast_risers AS (
    SELECT DISTINCT oid
    FROM magstat
    WHERE dmdt_first <= -0.25
),

-- Subquery to get object identifiers (oids) with first detection in the first 2 days of September
first_september_detections AS (
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60188.0 AND 60189.0
),

-- Subquery to get object identifiers (oids) with highest probability in the stamp classifier for class SN
high_prob_sn AS (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
)

-- Main query to get the required information
SELECT
    d.oid,
    p.probability,
    d.fid,
    d.candid,
    m.fid AS magstat_fid,
    m.dmdt_first
FROM detection d
JOIN fast_risers fr ON d.oid = fr.oid
JOIN first_september_detections fsd ON d.oid = fsd.oid
JOIN high_prob_sn hps ON d.oid = hps.oid
JOIN probability p ON d.oid = p.oid
JOIN magstat m ON d.oid = m.oid AND d.fid = m.fid
WHERE p.classifier_name = 'stamp_classifier'
AND p.class_name = 'SN'
ORDER BY d.oid

--------------------------------------------------
Query generated with direct prompts

-- Subquery to get object identifiers (oids) that qualify as fast risers
WITH fast_risers AS (
    SELECT oid
    FROM magstat
    WHERE dmdt_first <= -0.25
),

-- Subquery to get object identifiers (oids) with first detection in the first 2 days of September
first_september_detections AS (
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60188.0 AND 60189.0
),

-- Subquery to get object identifiers (oids) with highest probability in the stamp classifier for class SN
highest_probability_sn AS (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
)

-- Main query to get the required information
SELECT
    d.oid,
    p.probability,
    d.fid AS detection_fid,
    d.candid,
    m.fid AS magstat_fid,
    m.dmdt_first
FROM detection d
JOIN fast_risers fr ON d.oid = fr.oid
JOIN first_september_detections fsd ON d.oid = fsd.oid
JOIN highest_probability_sn hps ON d.oid = hps.oid
JOIN probability p ON d.oid = p.oid
JOIN magstat m ON d.oid = m.oid
WHERE p.classifier_name = 'stamp_classifier'
AND p.class_name = 'SN'
ORDER BY d.oid

#### Multiple

##### Query generation

In [ ]:
from pipeline.queryPipeline import queryPipeline
from pipeline.process import *
from prompts.base.prompts import *

# Prompt dictionary guideline and used by Jorge
prompts = {
    "Schema Linking": {
        "base_prompt": tables_linking_prompt_V2,
        "context1": schema_all_cntxV1,
        "context2": schema_all_cntxV2_indx,
        "context3": schema_all_cntxV2,
    },
    "Classify": {
        "base_prompt": diff_class_prompt_v7,
        "final_instructions": final_instructions_diff_v2
    },
    "Decomposition": {
        "simple": {
            "query_task": simple_query_task_v2,
            "query_context": simple_query_cntx,
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder",
            "query_instructions": simple_query_instructions_v2
        },
        "medium": {
            "decomp_plan": {
                "base_prompt": medium_decomp_prompt,
                "decomp_task": medium_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": medium_query_cntx,
                "query_instructions": medium_query_instructions_1_v2
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": medium_decomp_gen,
                    "query_task": medium_query_task_v2,
                    "query_instructions": medium_query_instructions_2_v2,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        },
        "advanced": {
            "decomp_plan": {
                "base_prompt": adv_decomp_prompt,
                "decomp_task": adv_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": adv_query_cntx,
                "query_instructions": adv_query_instructions_1_v3
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": adv_decomp_gen,
                    "query_task": adv_query_task_v2,
                    "query_instructions": adv_query_instructions_2_v3,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        }
    },
    "Direct": {
        "base_prompt": {
            "general_task": general_taskv18,
            "general_context": general_contextv15,
            "final_instructions": final_instructions_v19
        },
        "request_prompt": {
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder"
        }
    }
}

# Updating ext_kn and dom_kn
prompts["Decomposition"]["simple"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Decomposition"]["simple"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()
prompts["Direct"]["request_prompt"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Direct"]["request_prompt"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()

In [22]:
from pipeline.queryPipeline import queryPipeline

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o-2024-11-20"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

# Path
prompts_path = "final_prompts/prompts_v4.json"

# Pipeline object
pipe = queryPipeline(None, model, lang_type, max_tokens, prompts_path)

# -----------------------------------------------------------------------------
# Testing

# Working query
query = "Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

# Trying out the new query pipeline with only 1 query
df_1 = df[df["request"] == query]
# Trying out the new query pipeline with 3 queries
df_2 = df.loc[:2]
# pipe.run_experiments(df_2, total_exps=1, restart=True)

In [23]:
# Applying the restart
pipe.run_experiments(df=df_test, total_exps=10, restart=True, use_rag=False)

2025-07-23 17:57:55,222 - INFO - Running process
2025-07-23 17:57:55,223 - INFO - Running pipeline
2025-07-23 17:58:21,074 - INFO - Saving backup
2025-07-23 17:58:21,082 - INFO - Running pipeline
2025-07-23 17:58:42,516 - INFO - Saving backup
2025-07-23 17:58:42,525 - INFO - Running pipeline
2025-07-23 17:59:05,289 - INFO - Saving backup
2025-07-23 17:59:05,299 - INFO - Running pipeline
2025-07-23 17:59:28,932 - INFO - Saving backup
2025-07-23 17:59:28,947 - INFO - Running pipeline
2025-07-23 17:59:49,800 - INFO - Saving backup
2025-07-23 17:59:49,815 - INFO - Running pipeline
2025-07-23 18:00:17,506 - INFO - Saving backup
2025-07-23 18:00:17,519 - INFO - Running pipeline
2025-07-23 18:00:41,325 - INFO - Saving backup
2025-07-23 18:00:41,333 - INFO - Running pipeline
2025-07-23 18:01:10,986 - INFO - Saving backup
2025-07-23 18:01:11,008 - INFO - Running pipeline
2025-07-23 18:01:46,967 - INFO - Saving backup
2025-07-23 18:01:46,977 - INFO - Running pipeline
2025-07-23 18:02:11,060 - INFO - Saving backup
2025-07-23 18:02:11,083 - INFO - Running pipeline
2025-07-23 18:02:35,758 - INFO - Saving backup
2025-07-23 18:02:35,772 - INFO - Running pipeline
2025-07-23 18:02:53,985 - INFO - Saving backup
2025-07-23 18:02:54,001 - INFO - Running pipeline
2025-07-23 18:03:14,947 - INFO - Saving backup
2025-07-23 18:03:14,964 - INFO - Running pipeline
2025-07-23 18:03:33,695 - INFO - Saving backup
2025-07-23 18:03:33,709 - INFO - Running pipeline
2025-07-23 18:03:59,887 - INFO - Saving backup
2025-07-23 18:03:59,932 - INFO - Running pipeline
2025-07-23 18:04:21,577 - INFO - Saving backup
2025-07-23 18:04:21,617 - INFO - Running pipeline
2025-07-23 18:04:43,934 - INFO - Saving backup
2025-07-23 18:04:43,970 - INFO - Running pipeline
2025-07-23 18:05:08,072 - INFO - Saving backup
2025-07-23 18:05:08,099 - INFO - Running pipeline
2025-07-23 18:05:27,744 - INFO - Saving backup
2025-07-23 18:05:27,886 - INFO - Running pipeline
2025-07-23 18:05:49,838 - INFO - Saving backup
2025-07-23 18:05:49,858 - INFO - Running pipeline
2025-07-23 18:06:10,839 - INFO - Saving backup
2025-07-23 18:06:10,911 - INFO - Running pipeline
2025-07-23 18:06:31,573 - INFO - Saving backup
2025-07-23 18:06:31,627 - INFO - Running pipeline
2025-07-23 18:07:01,309 - INFO - Saving backup
2025-07-23 18:07:01,380 - INFO - Running pipeline
2025-07-23 18:07:28,817 - INFO - Saving backup
2025-07-23 18:07:28,835 - INFO - Running pipeline
2025-07-23 18:07:50,976 - INFO - Saving backup
2025-07-23 18:07:50,996 - INFO - Running pipeline
2025-07-23 18:08:14,549 - INFO - Saving backup
2025-07-23 18:08:14,564 - INFO - Running pipeline
2025-07-23 18:08:36,079 - INFO - Saving backup
2025-07-23 18:08:36,090 - INFO - Running pipeline
2025-07-23 18:09:02,281 - INFO - Saving backup
2025-07-23 18:09:02,333 - INFO - Running pipeline
2025-07-23 18:09:27,966 - INFO - Saving backup
2025-07-23 18:09:28,017 - INFO - Running pipeline
2025-07-23 18:10:04,650 - INFO - Saving backup
2025-07-23 18:10:04,669 - INFO - Running pipeline
2025-07-23 18:10:09,200 - INFO - Saving backup
2025-07-23 18:10:09,217 - INFO - Running pipeline
2025-07-23 18:10:13,427 - INFO - Saving backup
2025-07-23 18:10:13,451 - INFO - Running pipeline
2025-07-23 18:10:17,337 - INFO - Saving backup
2025-07-23 18:10:17,359 - INFO - Running pipeline
2025-07-23 18:10:22,559 - INFO - Saving backup
2025-07-23 18:10:22,587 - INFO - Running pipeline
2025-07-23 18:10:26,935 - INFO - Saving backup
2025-07-23 18:10:26,968 - INFO - Running pipeline
2025-07-23 18:10:35,213 - INFO - Saving backup
2025-07-23 18:10:35,234 - INFO - Running pipeline
2025-07-23 18:10:38,611 - INFO - Saving backup
2025-07-23 18:10:38,644 - INFO - Running pipeline
2025-07-23 18:10:43,654 - INFO - Saving backup
2025-07-23 18:10:43,719 - INFO - Running pipeline
2025-07-23 18:10:48,152 - INFO - Saving backup
2025-07-23 18:10:48,223 - INFO - Running pipeline
2025-07-23 18:10:51,943 - INFO - Saving backup
2025-07-23 18:10:51,993 - INFO - Running pipeline
2025-07-23 18:11:22,767 - INFO - Saving backup
2025-07-23 18:11:22,782 - INFO - Running pipeline
2025-07-23 18:11:44,896 - INFO - Saving backup
2025-07-23 18:11:44,928 - INFO - Running pipeline
2025-07-23 18:12:23,703 - INFO - Saving backup
2025-07-23 18:12:23,745 - INFO - Running pipeline
2025-07-23 18:12:54,235 - INFO - Saving backup
2025-07-23 18:12:54,255 - INFO - Running pipeline
2025-07-23 18:13:27,354 - INFO - Saving backup
2025-07-23 18:13:27,371 - INFO - Running pipeline
2025-07-23 18:14:02,402 - INFO - Saving backup
2025-07-23 18:14:02,418 - INFO - Running pipeline
2025-07-23 18:14:23,924 - INFO - Saving backup
2025-07-23 18:14:23,955 - INFO - Running pipeline
2025-07-23 18:14:46,830 - INFO - Saving backup
2025-07-23 18:14:46,857 - INFO - Running pipeline
2025-07-23 18:15:13,117 - INFO - Saving backup
2025-07-23 18:15:13,150 - INFO - Running pipeline
2025-07-23 18:15:34,630 - INFO - Saving backup
2025-07-23 18:15:34,666 - INFO - Running pipeline
2025-07-23 18:16:24,986 - INFO - Saving backup
2025-07-23 18:16:25,002 - INFO - Running pipeline
2025-07-23 18:16:56,746 - INFO - Saving backup
2025-07-23 18:16:56,901 - INFO - Running pipeline
2025-07-23 18:17:30,582 - INFO - Saving backup
2025-07-23 18:17:30,627 - INFO - Running pipeline
2025-07-23 18:18:18,927 - INFO - Saving backup
2025-07-23 18:18:18,973 - INFO - Running pipeline
2025-07-23 18:19:00,539 - INFO - Saving backup
2025-07-23 18:19:00,588 - INFO - Running pipeline
2025-07-23 18:19:36,521 - INFO - Saving backup
2025-07-23 18:19:36,565 - INFO - Running pipeline
2025-07-23 18:20:03,332 - INFO - Saving backup
2025-07-23 18:20:03,379 - INFO - Running pipeline
2025-07-23 18:20:37,475 - INFO - Saving backup
2025-07-23 18:20:37,505 - INFO - Running pipeline
2025-07-23 18:21:25,376 - INFO - Saving backup
2025-07-23 18:21:25,400 - INFO - Running pipeline
2025-07-23 18:22:14,872 - INFO - Saving backup
2025-07-23 18:22:15,016 - INFO - Running pipeline
2025-07-23 18:23:15,384 - INFO - Saving backup
2025-07-23 18:23:15,504 - INFO - Running pipeline
2025-07-23 18:23:41,194 - INFO - Saving backup
2025-07-23 18:23:41,323 - INFO - Running pipeline
2025-07-23 18:24:04,451 - INFO - Saving backup
2025-07-23 18:24:04,649 - INFO - Running pipeline
2025-07-23 18:24:35,126 - INFO - Saving backup
2025-07-23 18:24:35,267 - INFO - Running pipeline
2025-07-23 18:25:06,855 - INFO - Saving backup
2025-07-23 18:25:06,880 - INFO - Running pipeline
2025-07-23 18:25:46,343 - INFO - Saving backup
2025-07-23 18:25:46,383 - INFO - Running pipeline
2025-07-23 18:26:42,047 - INFO - Saving backup
2025-07-23 18:26:42,082 - INFO - Running pipeline
2025-07-23 18:27:11,902 - INFO - Saving backup
2025-07-23 18:27:11,939 - INFO - Running pipeline
2025-07-23 18:27:55,275 - INFO - Saving backup
2025-07-23 18:27:55,305 - INFO - Running pipeline
2025-07-23 18:28:54,209 - INFO - Saving backup
2025-07-23 18:28:54,270 - INFO - Running pipeline
2025-07-23 18:29:28,713 - INFO - Saving backup
2025-07-23 18:29:28,759 - INFO - Running pipeline
2025-07-23 18:29:52,033 - INFO - Saving backup
2025-07-23 18:29:52,062 - INFO - Running pipeline
2025-07-23 18:30:30,658 - INFO - Saving backup
2025-07-23 18:30:30,823 - INFO - Running pipeline
2025-07-23 18:30:53,299 - INFO - Saving backup
2025-07-23 18:30:53,325 - INFO - Running pipeline
2025-07-23 18:31:20,694 - INFO - Saving backup
2025-07-23 18:31:20,739 - INFO - Running pipeline
2025-07-23 18:31:43,620 - INFO - Saving backup
2025-07-23 18:31:43,671 - INFO - Running pipeline
2025-07-23 18:32:04,839 - INFO - Saving backup
2025-07-23 18:32:04,914 - INFO - Running pipeline
2025-07-23 18:32:29,760 - INFO - Saving backup
2025-07-23 18:32:29,840 - INFO - Running pipeline
2025-07-23 18:32:51,384 - INFO - Saving backup
2025-07-23 18:32:51,444 - INFO - Running pipeline
2025-07-23 18:33:17,644 - INFO - Saving backup
2025-07-23 18:33:17,700 - INFO - Running pipeline
2025-07-23 18:34:12,625 - INFO - Saving backup
2025-07-23 18:34:12,710 - INFO - Running pipeline
2025-07-23 18:34:39,447 - INFO - Saving backup
2025-07-23 18:34:39,534 - INFO - Running pipeline
2025-07-23 18:35:33,125 - INFO - Saving backup
2025-07-23 18:35:33,206 - INFO - Running pipeline
2025-07-23 18:36:13,181 - INFO - Saving backup
2025-07-23 18:36:13,236 - INFO - Running pipeline
2025-07-23 18:36:41,289 - INFO - Saving backup
2025-07-23 18:36:41,362 - INFO - Running pipeline
2025-07-23 18:37:03,803 - INFO - Saving backup
2025-07-23 18:37:03,832 - INFO - Running pipeline
2025-07-23 18:37:37,528 - INFO - Saving backup
2025-07-23 18:37:37,627 - INFO - Running pipeline
2025-07-23 18:38:03,383 - INFO - Saving backup
2025-07-23 18:38:03,472 - INFO - Running pipeline
2025-07-23 18:38:34,302 - INFO - Saving backup
2025-07-23 18:38:34,331 - INFO - Running pipeline
2025-07-23 18:39:03,613 - INFO - Saving backup
2025-07-23 18:39:03,648 - INFO - Running pipeline
2025-07-23 18:39:07,248 - INFO - Saving backup
2025-07-23 18:39:07,293 - INFO - Running pipeline
2025-07-23 18:39:11,346 - INFO - Saving backup
2025-07-23 18:39:11,371 - INFO - Running pipeline
2025-07-23 18:39:13,948 - INFO - Saving backup
2025-07-23 18:39:13,976 - INFO - Running pipeline
2025-07-23 18:39:18,461 - INFO - Saving backup
2025-07-23 18:39:18,484 - INFO - Running pipeline
2025-07-23 18:39:21,637 - INFO - Saving backup
2025-07-23 18:39:21,694 - INFO - Running pipeline
2025-07-23 18:39:26,038 - INFO - Saving backup
2025-07-23 18:39:26,070 - INFO - Running pipeline
2025-07-23 18:39:28,584 - INFO - Saving backup
2025-07-23 18:39:28,636 - INFO - Running pipeline
2025-07-23 18:39:31,688 - INFO - Saving backup
2025-07-23 18:39:31,711 - INFO - Running pipeline
2025-07-23 18:39:34,913 - INFO - Saving backup
2025-07-23 18:39:34,961 - INFO - Running pipeline
2025-07-23 18:39:37,456 - INFO - Saving backup
2025-07-23 18:39:37,485 - INFO - Running pipeline
2025-07-23 18:39:40,050 - INFO - Saving backup
2025-07-23 18:39:40,094 - INFO - Running pipeline
2025-07-23 18:39:46,709 - INFO - Saving backup
2025-07-23 18:39:46,743 - INFO - Running pipeline
2025-07-23 18:39:49,598 - INFO - Saving backup
2025-07-23 18:39:49,649 - INFO - Running pipeline
2025-07-23 18:39:53,073 - INFO - Saving backup
2025-07-23 18:39:53,108 - INFO - Running pipeline
2025-07-23 18:39:55,634 - INFO - Saving backup
2025-07-23 18:39:55,677 - INFO - Running pipeline
2025-07-23 18:39:58,018 - INFO - Saving backup
2025-07-23 18:39:58,070 - INFO - Running pipeline
2025-07-23 18:40:03,483 - INFO - Saving backup
2025-07-23 18:40:03,536 - INFO - Running pipeline
2025-07-23 18:40:07,235 - INFO - Saving backup
2025-07-23 18:40:07,267 - INFO - Running pipeline
2025-07-23 18:40:10,038 - INFO - Saving backup
2025-07-23 18:40:10,069 - INFO - Running pipeline
2025-07-23 18:40:13,335 - INFO - Saving backup
2025-07-23 18:40:13,376 - INFO - Running pipeline
2025-07-23 18:40:19,298 - INFO - Saving backup
2025-07-23 18:40:19,331 - INFO - Running pipeline
2025-07-23 18:40:22,755 - INFO - Saving backup
2025-07-23 18:40:22,806 - INFO - Running pipeline
2025-07-23 18:40:27,202 - INFO - Saving backup
2025-07-23 18:40:27,250 - INFO - Running pipeline
2025-07-23 18:40:31,490 - INFO - Saving backup
2025-07-23 18:40:31,529 - INFO - Running pipeline
2025-07-23 18:40:35,977 - INFO - Saving backup
2025-07-23 18:40:36,025 - INFO - Running pipeline
2025-07-23 18:40:39,624 - INFO - Saving backup
2025-07-23 18:40:39,677 - INFO - Running pipeline
2025-07-23 18:40:43,081 - INFO - Saving backup
2025-07-23 18:40:43,129 - INFO - Running pipeline
2025-07-23 18:40:46,408 - INFO - Saving backup
2025-07-23 18:40:46,470 - INFO - Running pipeline
2025-07-23 18:40:50,493 - INFO - Saving backup
2025-07-23 18:40:50,542 - INFO - Running pipeline
2025-07-23 18:40:53,729 - INFO - Saving backup
2025-07-23 18:40:53,754 - INFO - Running pipeline
2025-07-23 18:41:28,337 - INFO - Saving backup
2025-07-23 18:41:28,367 - INFO - Running pipeline
2025-07-23 18:41:54,329 - INFO - Saving backup
2025-07-23 18:41:54,353 - INFO - Running pipeline
2025-07-23 18:43:05,624 - INFO - Saving backup
2025-07-23 18:43:05,660 - INFO - Running pipeline
2025-07-23 18:43:42,953 - INFO - Saving backup
2025-07-23 18:43:42,988 - INFO - Running pipeline
2025-07-23 18:44:14,142 - INFO - Saving backup
2025-07-23 18:44:14,186 - INFO - Running pipeline
2025-07-23 18:44:36,889 - INFO - Saving backup
2025-07-23 18:44:36,933 - INFO - Running pipeline
2025-07-23 18:45:03,143 - INFO - Saving backup
2025-07-23 18:45:03,194 - INFO - Running pipeline
2025-07-23 18:45:31,314 - INFO - Saving backup
2025-07-23 18:45:31,360 - INFO - Running pipeline
2025-07-23 18:45:56,305 - INFO - Saving backup
2025-07-23 18:45:56,354 - INFO - Running pipeline
2025-07-23 18:46:23,515 - INFO - Saving backup
2025-07-23 18:46:23,567 - INFO - Running pipeline
2025-07-23 18:46:26,505 - INFO - Saving backup
2025-07-23 18:46:26,549 - INFO - Running pipeline
2025-07-23 18:46:29,241 - INFO - Saving backup
2025-07-23 18:46:29,292 - INFO - Running pipeline
2025-07-23 18:46:34,351 - INFO - Saving backup
2025-07-23 18:46:34,389 - INFO - Running pipeline
2025-07-23 18:46:38,185 - INFO - Saving backup
2025-07-23 18:46:38,222 - INFO - Running pipeline
2025-07-23 18:46:40,386 - INFO - Saving backup
2025-07-23 18:46:40,441 - INFO - Running pipeline
2025-07-23 18:46:42,601 - INFO - Saving backup
2025-07-23 18:46:42,651 - INFO - Running pipeline
2025-07-23 18:46:47,776 - INFO - Saving backup
2025-07-23 18:46:47,831 - INFO - Running pipeline
2025-07-23 18:46:50,833 - INFO - Saving backup
2025-07-23 18:46:50,882 - INFO - Running pipeline
2025-07-23 18:46:53,869 - INFO - Saving backup
2025-07-23 18:46:53,906 - INFO - Running pipeline
2025-07-23 18:46:56,521 - INFO - Saving backup
2025-07-23 18:46:56,572 - INFO - Running pipeline
2025-07-23 18:47:17,454 - INFO - Saving backup
2025-07-23 18:47:17,493 - INFO - Running pipeline
2025-07-23 18:47:43,167 - INFO - Saving backup
2025-07-23 18:47:43,221 - INFO - Running pipeline
2025-07-23 18:48:06,358 - INFO - Saving backup
2025-07-23 18:48:06,409 - INFO - Running pipeline
2025-07-23 18:48:28,390 - INFO - Saving backup
2025-07-23 18:48:28,443 - INFO - Running pipeline
2025-07-23 18:48:47,011 - INFO - Saving backup
2025-07-23 18:48:47,067 - INFO - Running pipeline
2025-07-23 18:49:06,458 - INFO - Saving backup
2025-07-23 18:49:06,508 - INFO - Running pipeline
2025-07-23 18:49:25,487 - INFO - Saving backup
2025-07-23 18:49:25,524 - INFO - Running pipeline
2025-07-23 18:49:44,847 - INFO - Saving backup
2025-07-23 18:49:45,100 - INFO - Running pipeline
2025-07-23 18:50:01,664 - INFO - Saving backup
2025-07-23 18:50:01,781 - INFO - Running pipeline
2025-07-23 18:50:18,248 - INFO - Saving backup
2025-07-23 18:50:18,486 - INFO - Running pipeline
2025-07-23 18:50:46,446 - INFO - Saving backup
2025-07-23 18:50:46,550 - INFO - Running pipeline
2025-07-23 18:51:09,401 - INFO - Saving backup
2025-07-23 18:51:09,477 - INFO - Running pipeline
2025-07-23 18:51:31,776 - INFO - Saving backup
2025-07-23 18:51:31,990 - INFO - Running pipeline
2025-07-23 18:51:53,271 - INFO - Saving backup
2025-07-23 18:51:53,824 - INFO - Running pipeline
2025-07-23 18:52:15,978 - INFO - Saving backup
2025-07-23 18:52:16,485 - INFO - Running pipeline
2025-07-23 18:52:38,950 - INFO - Saving backup
2025-07-23 18:52:39,608 - INFO - Running pipeline
2025-07-23 18:53:02,050 - INFO - Saving backup
2025-07-23 18:53:02,469 - INFO - Running pipeline
2025-07-23 18:53:21,965 - INFO - Saving backup
2025-07-23 18:53:22,322 - INFO - Running pipeline
2025-07-23 18:53:40,973 - INFO - Saving backup
2025-07-23 18:53:41,045 - INFO - Running pipeline
2025-07-23 18:54:03,613 - INFO - Saving backup
2025-07-23 18:54:03,713 - INFO - Running pipeline
2025-07-23 18:54:07,197 - INFO - Saving backup
2025-07-23 18:54:07,288 - INFO - Running pipeline
2025-07-23 18:54:11,004 - INFO - Saving backup
2025-07-23 18:54:11,090 - INFO - Running pipeline
2025-07-23 18:54:14,059 - INFO - Saving backup
2025-07-23 18:54:14,209 - INFO - Running pipeline
2025-07-23 18:54:16,966 - INFO - Saving backup
2025-07-23 18:54:17,105 - INFO - Running pipeline
2025-07-23 18:54:20,153 - INFO - Saving backup
2025-07-23 18:54:20,242 - INFO - Running pipeline
2025-07-23 18:54:22,523 - INFO - Saving backup
2025-07-23 18:54:22,665 - INFO - Running pipeline
2025-07-23 18:54:27,883 - INFO - Saving backup
2025-07-23 18:54:28,037 - INFO - Running pipeline
2025-07-23 18:54:31,201 - INFO - Saving backup
2025-07-23 18:54:31,315 - INFO - Running pipeline
2025-07-23 18:54:34,433 - INFO - Saving backup
2025-07-23 18:54:34,562 - INFO - Running pipeline
2025-07-23 18:54:37,258 - INFO - Saving backup
2025-07-23 18:54:37,401 - INFO - Running pipeline
2025-07-23 18:55:20,620 - INFO - Saving backup
2025-07-23 18:55:20,774 - INFO - Running pipeline
2025-07-23 18:55:44,463 - INFO - Saving backup
2025-07-23 18:55:44,583 - INFO - Running pipeline
2025-07-23 18:56:03,997 - INFO - Saving backup
2025-07-23 18:56:04,108 - INFO - Running pipeline
2025-07-23 18:56:52,316 - INFO - Saving backup
2025-07-23 18:56:52,432 - INFO - Running pipeline
2025-07-23 18:57:14,459 - INFO - Saving backup
2025-07-23 18:57:14,757 - INFO - Running pipeline
2025-07-23 18:57:35,685 - INFO - Saving backup
2025-07-23 18:57:35,751 - INFO - Running pipeline
2025-07-23 18:58:04,938 - INFO - Saving backup
2025-07-23 18:58:05,028 - INFO - Running pipeline
2025-07-23 18:58:29,325 - INFO - Saving backup
2025-07-23 18:58:29,492 - INFO - Running pipeline
2025-07-23 18:58:50,736 - INFO - Saving backup
2025-07-23 18:58:50,847 - INFO - Running pipeline
2025-07-23 18:59:13,966 - INFO - Saving backup
2025-07-23 18:59:14,062 - INFO - Running pipeline
2025-07-23 18:59:17,489 - INFO - Saving backup
2025-07-23 18:59:17,588 - INFO - Running pipeline
2025-07-23 18:59:20,624 - INFO - Saving backup
2025-07-23 18:59:20,716 - INFO - Running pipeline
2025-07-23 18:59:24,247 - INFO - Saving backup
2025-07-23 18:59:24,369 - INFO - Running pipeline
2025-07-23 18:59:27,276 - INFO - Saving backup
2025-07-23 18:59:27,428 - INFO - Running pipeline
2025-07-23 18:59:30,931 - INFO - Saving backup
2025-07-23 18:59:31,034 - INFO - Running pipeline
2025-07-23 18:59:33,739 - INFO - Saving backup
2025-07-23 18:59:33,953 - INFO - Running pipeline
2025-07-23 18:59:38,166 - INFO - Saving backup
2025-07-23 18:59:38,499 - INFO - Running pipeline
2025-07-23 18:59:42,041 - INFO - Saving backup
2025-07-23 18:59:42,301 - INFO - Running pipeline
2025-07-23 18:59:46,013 - INFO - Saving backup
2025-07-23 18:59:46,361 - INFO - Running pipeline
2025-07-23 18:59:49,569 - INFO - Saving backup
2025-07-23 18:59:49,965 - INFO - Running pipeline
2025-07-23 19:00:30,143 - INFO - Saving backup
2025-07-23 19:00:30,205 - INFO - Running pipeline
2025-07-23 19:01:19,647 - INFO - Saving backup
2025-07-23 19:01:19,708 - INFO - Running pipeline
2025-07-23 19:02:06,720 - INFO - Saving backup
2025-07-23 19:02:06,817 - INFO - Running pipeline
2025-07-23 19:02:55,721 - INFO - Saving backup
2025-07-23 19:02:55,777 - INFO - Running pipeline
2025-07-23 19:03:32,627 - INFO - Saving backup
2025-07-23 19:03:32,690 - INFO - Running pipeline
2025-07-23 19:03:48,174 - INFO - Saving backup
2025-07-23 19:03:48,223 - INFO - Running pipeline
2025-07-23 19:04:06,201 - INFO - Saving backup
2025-07-23 19:04:06,301 - INFO - Running pipeline
2025-07-23 19:04:22,099 - INFO - Saving backup
2025-07-23 19:04:22,154 - INFO - Running pipeline
2025-07-23 19:04:39,149 - INFO - Saving backup
2025-07-23 19:04:39,214 - INFO - Running pipeline
2025-07-23 19:04:59,192 - INFO - Saving backup
2025-07-23 19:04:59,251 - INFO - Running pipeline
2025-07-23 19:05:03,699 - INFO - Saving backup
2025-07-23 19:05:03,758 - INFO - Running pipeline
2025-07-23 19:05:07,525 - INFO - Saving backup
2025-07-23 19:05:07,599 - INFO - Running pipeline
2025-07-23 19:05:11,985 - INFO - Saving backup
2025-07-23 19:05:12,041 - INFO - Running pipeline
2025-07-23 19:05:19,148 - INFO - Saving backup
2025-07-23 19:05:19,205 - INFO - Running pipeline
2025-07-23 19:05:23,124 - INFO - Saving backup
2025-07-23 19:05:23,194 - INFO - Running pipeline

##### Metrics generation

In [9]:
# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o-2024-11-20"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

# Paths
pred_path = "experiments/preds_gpt-4o-2024-11-20_2025-07-23T17-57-55.csv"
prompts_path = "final_prompts/prompts_v4.json"

# Trying out the metrics pipeline with only 1 query
#df_1 = df[df["request"] == query]
# Trying out the metrics pipeline with 3 queries
df_2 = df.loc[:2]

Tiempos direct / no self-correction (18/05/2025)

279m 29.9s
12m 46.5s

Tiempos direct / self-correction (19/05/2025)

5m 4.7s
409m 22s
139m 15.1s

Tiempos step-by-step / self-correction (20/05/2025)

6m 32.4s
159m 0s
135m 0s
4m 7.7s
210m 18.8s

In [12]:
from pipeline.metricsPipeline import metricsPipeline

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o-2024-11-20"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

# Paths
pred_path = "experiments/preds_gpt-4o-2024-11-20_2025-07-23T17-57-55.csv"
prompts_path = "final_prompts/prompts_v4.json"

# Trying out the metrics pipeline with 3 queries    
df_2 = df_test[df_test["difficulty"] == "medium"]

# Running all the metrics of the test set
metrics = metricsPipeline(model, lang_type, max_tokens, 
                          t_conn=2, n_tries=3, direct=True, self_corr=True, 
                          self_corr_prompts={}, prompts_path=prompts_path)
metrics.run_metrics(sql_preds_path=pred_path, df=df_2, total_exps=10, 
                    restart=True)

2025-07-24 09:18:12,889 - INFO - Restarting
2025-07-24 09:18:12,957 - INFO - Query ID: 90, Run ID: 5
2025-07-24 09:18:12,957 - INFO - Getting the gold values to compare
2025-07-24 09:18:17,632 - INFO - Query ID: 90, Run ID: 5, Query gold:               oid classifier_name     classifier_version class_name  \
0    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        CEP
1    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0       DSCT
2    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        RRL
3    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0        RRL
4    ZTF18abadjvy   lc_classifier  hierarchical_rf_1.1.0          E
..            ...             ...                    ...        ...
341  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0          E
342  ZTF18abasovn   lc_classifier   lc_classifier_1.1.13          E
343  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0        RRL
344  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0     Blazar
345  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0        QSO

     probability  ranking
0       0.161280        2
1       0.283360        1
2       0.190720        1
3       0.227040        2
4       0.093744        2
..           ...      ...
341     0.424664        1
342     0.309624        1
343     0.188956        2
344     0.205800        2
345     0.678160        1

[346 rows x 6 columns]
2025-07-24 09:18:17,645 - INFO - Getting the request for self correction
2025-07-24 09:18:17,653 - INFO - Self-correction
2025-07-24 09:18:22,395 - ERROR - Running SQL exception in run_query: (psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- Final Query to retrieve at most 100 ZTF objects with a multiband period lower than 5 days-- and return all columns from the 'probability' table for the light curve classifier-- with rankings either 1 or 2.WITH filtered_objects AS (    -- Subquery 1: Filter objects based on multiband period    SELECT DISTINCT oid    FROM feature    WHERE name = 'multiband_period'      AND value < 5      AND version = 'lc_classifier_1.2.1-P'),filtered_probabilities AS (    -- Subquery 2: Filter probabilities for light curve classifier    SELECT *    FROM probability    WHERE classifier_name = 'lc_classifier'      AND ranking IN (1, 2))-- Final Query: Join the filtered objects with the filtered probabilitiesSELECT p.*FROM filtered_probabilities pINNER JOIN filtered_objects oON p.oid = o.oidLIMIT 100]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-24 09:18:22,595 - INFO - Using SQL
2025-07-24 09:18:35,704 - ERROR - Running SQL exception in run_query: (psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- Final Query to retrieve at most 100 ZTF objects with a multiband period lower than 5 days-- and return all columns from the 'probability' table for the light curve classifier-- with rankings either 1 or 2.WITH filtered_objects AS (    -- Subquery 1: Filter objects based on multiband period    SELECT DISTINCT oid    FROM feature    WHERE name = 'multiband_period'      AND value < 5      AND version = 'lc_classifier_1.2.1-P'),filtered_probabilities AS (    -- Subquery 2: Filter probabilities for light curve classifier    SELECT *    FROM probability    WHERE classifier_name = 'lc_classifier'      AND ranking IN (1, 2))-- Final Query: Join the filtered objects with the filtered probabilitiesSELECT p.*FROM filtered_probabilities pINNER JOIN filtered_objects oON p.oid = o.oidLIMIT 100]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-24 09:18:36,034 - INFO - Saving backup
2025-07-24 09:18:36,179 - INFO - Query ID: 90, Run ID: 6
2025-07-24 09:18:36,179 - INFO - Getting the gold values to compare
2025-07-24 09:18:41,240 - INFO - Query ID: 90, Run ID: 6, Query gold:               oid classifier_name     classifier_version class_name  \
0    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        CEP
1    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0       DSCT
2    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        RRL
3    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0        RRL
4    ZTF18abadjvy   lc_classifier  hierarchical_rf_1.1.0          E
..            ...             ...                    ...        ...
341  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0          E
342  ZTF18abasovn   lc_classifier   lc_classifier_1.1.13          E
343  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0        RRL
344  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0     Blazar
345  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0        QSO

     probability  ranking
0       0.161280        2
1       0.283360        1
2       0.190720        1
3       0.227040        2
4       0.093744        2
..           ...      ...
341     0.424664        1
342     0.309624        1
343     0.188956        2
344     0.205800        2
345     0.678160        1

[346 rows x 6 columns]
2025-07-24 09:18:41,249 - INFO - Getting the request for self correction
2025-07-24 09:18:41,252 - INFO - Self-correction
2025-07-24 09:18:45,541 - ERROR - Running SQL exception in run_query: (psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- Final Query to retrieve at most 100 ZTF objects with the specified conditionsWITH filtered_objects AS (    -- Subquery 1: Filter objects based on the 'multiband_period' feature    SELECT DISTINCT f.oid    FROM feature f    INNER JOIN object o ON f.oid = o.oid    WHERE f.name = 'multiband_period'      AND f.value < 5      AND f.version = 'lc_classifier_1.2.1-P'),filtered_probabilities AS (    -- Subquery 2: Filter probabilities for the selected objects    SELECT p.*    FROM probability p    INNER JOIN filtered_objects fo ON p.oid = fo.oid    WHERE p.classifier_name = 'lc_classifier'      AND p.ranking IN (1, 2))-- Final Query: Retrieve all columns from the 'probability' table for the filtered objectsSELECT *FROM filtered_probabilitiesLIMIT 100]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-24 09:18:45,674 - INFO - Using SQL
2025-07-24 09:18:54,015 - ERROR - Running SQL exception in run_query: (psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- Final Query to retrieve at most 100 ZTF objects with the specified conditionsWITH filtered_objects AS (    -- Subquery 1: Filter objects based on the 'multiband_period' feature    SELECT DISTINCT f.oid    FROM feature f    INNER JOIN object o ON f.oid = o.oid    WHERE f.name = 'multiband_period'       AND f.value < 5       AND f.version = 'lc_classifier_1.2.1-P'),filtered_probabilities AS (    -- Subquery 2: Filter probabilities for the selected objects    SELECT p.*    FROM probability p    INNER JOIN filtered_objects fo ON p.oid = fo.oid    WHERE p.classifier_name = 'lc_classifier'       AND p.ranking IN (1, 2))-- Final Query: Retrieve all columns from the 'probability' table for the filtered objectsSELECT *FROM filtered_probabilitiesLIMIT 100]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-24 09:18:54,156 - INFO - Saving backup
2025-07-24 09:18:54,250 - INFO - Query ID: 90, Run ID: 7
2025-07-24 09:18:54,252 - INFO - Getting the gold values to compare
2025-07-24 09:18:59,840 - INFO - Query ID: 90, Run ID: 7, Query gold:               oid classifier_name     classifier_version class_name  \
0    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        CEP
1    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0       DSCT
2    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        RRL
3    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0        RRL
4    ZTF18abadjvy   lc_classifier  hierarchical_rf_1.1.0          E
..            ...             ...                    ...        ...
341  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0          E
342  ZTF18abasovn   lc_classifier   lc_classifier_1.1.13          E
343  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0        RRL
344  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0     Blazar
345  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0        QSO

     probability  ranking
0       0.161280        2
1       0.283360        1
2       0.190720        1
3       0.227040        2
4       0.093744        2
..           ...      ...
341     0.424664        1
342     0.309624        1
343     0.188956        2
344     0.205800        2
345     0.678160        1

[346 rows x 6 columns]
2025-07-24 09:18:59,849 - INFO - Getting the request for self correction
2025-07-24 09:18:59,853 - INFO - Self-correction
2025-07-24 09:19:03,801 - ERROR - Running SQL exception in run_query: (psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- Final Query to retrieve at most 100 ZTF objects with a multiband period lower than 5 days-- in the 'lc_classifier_1.2.1-P' feature version, returning all columns from the 'probability' table-- for the light curve classifier with rankings 1 or 2.WITH filtered_features AS (    -- Subquery to filter objects based on the multiband period condition    SELECT oid    FROM feature    WHERE name = 'multiband_period'      AND value < 5      AND version = 'lc_classifier_1.2.1-P'),filtered_probabilities AS (    -- Subquery to filter probabilities for the light curve classifier with rankings 1 or 2    SELECT *    FROM probability    WHERE classifier_name = 'lc_classifier'      AND ranking IN (1, 2))-- Combine the results of the two subqueries using an INNER JOINSELECT p.*FROM filtered_probabilities pINNER JOIN filtered_features fON p.oid = f.oidLIMIT 100]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-24 09:19:04,081 - INFO - Using SQL
2025-07-24 09:19:12,377 - ERROR - Running SQL exception in run_query: (psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- Final Query to retrieve at most 100 ZTF objects with a multiband period lower than 5 days-- in the 'lc_classifier_1.2.1-P' feature version, returning all columns from the 'probability' table-- for the light curve classifier with rankings 1 or 2.WITH filtered_features AS (    -- Subquery to filter objects based on the multiband period condition    SELECT oid    FROM feature    WHERE name = 'multiband_period'  -- Ensure the feature name matches the condition      AND value < 5                 -- Multiband period lower than 5 days      AND version = 'lc_classifier_1.2.1-P' -- Specific feature version),filtered_probabilities AS (    -- Subquery to filter probabilities for the light curve classifier with rankings 1 or 2    SELECT *    FROM probability    WHERE classifier_name = 'lc_classifier' -- Light curve classifier      AND ranking IN (1, 2)                 -- Rankings 1 or 2)-- Combine the results of the two subqueries using an INNER JOINSELECT p.*FROM filtered_probabilities pINNER JOIN filtered_features fON p.oid = f.oid -- Match objects based on their unique identifierLIMIT 100 -- Limit the result to at most 100 objects]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-24 09:19:12,604 - INFO - Saving backup
2025-07-24 09:19:12,745 - INFO - Query ID: 90, Run ID: 8
2025-07-24 09:19:12,745 - INFO - Getting the gold values to compare
2025-07-24 09:19:17,346 - INFO - Query ID: 90, Run ID: 8, Query gold:               oid classifier_name     classifier_version class_name  \
0    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        CEP
1    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0       DSCT
2    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        RRL
3    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0        RRL
4    ZTF18abadjvy   lc_classifier  hierarchical_rf_1.1.0          E
..            ...             ...                    ...        ...
341  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0          E
342  ZTF18abasovn   lc_classifier   lc_classifier_1.1.13          E
343  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0        RRL
344  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0     Blazar
345  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0        QSO

     probability  ranking
0       0.161280        2
1       0.283360        1
2       0.190720        1
3       0.227040        2
4       0.093744        2
..           ...      ...
341     0.424664        1
342     0.309624        1
343     0.188956        2
344     0.205800        2
345     0.678160        1

[346 rows x 6 columns]
2025-07-24 09:19:17,358 - INFO - Getting the request for self correction
2025-07-24 09:19:17,363 - INFO - Self-correction
2025-07-24 09:19:21,479 - ERROR - Running SQL exception in run_query: (psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- Final Query to retrieve at most 100 ZTF objects with a multiband period lower than 5 days-- and return all columns from the 'probability' table for the light curve classifier-- with rankings of 1 or 2.WITH filtered_objects AS (    -- Sub-query to filter objects based on the multiband period    SELECT DISTINCT oid    FROM feature    WHERE name = 'MultibandPeriod'      AND value < 5      AND version = 'lc_classifier_1.2.1-P'),filtered_probabilities AS (    -- Sub-query to filter classification data from the probability table    SELECT *    FROM probability    WHERE classifier_name = 'lc_classifier'      AND ranking IN (1, 2))-- Combine results by performing an INNER JOIN on the oid columnSELECT p.*FROM filtered_probabilities pINNER JOIN filtered_objects oON p.oid = o.oidLIMIT 100]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-24 09:19:21,685 - INFO - Using SQL
2025-07-24 09:19:29,563 - ERROR - Running SQL exception in run_query: (psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- Final Query to retrieve at most 100 ZTF objects with a multiband period lower than 5 days-- and return all columns from the 'probability' table for the light curve classifier-- with rankings of 1 or 2.WITH filtered_objects AS (    -- Sub-query to filter objects based on the multiband period    SELECT DISTINCT oid    FROM feature    WHERE name = 'MultibandPeriod'       AND value < 5       AND version = 'lc_classifier_1.2.1-P'),filtered_probabilities AS (    -- Sub-query to filter classification data from the probability table    SELECT *    FROM probability    WHERE classifier_name = 'lc_classifier'       AND ranking IN (1, 2))-- Combine results by performing an INNER JOIN on the oid columnSELECT p.*FROM filtered_probabilities pINNER JOIN filtered_objects oON p.oid = o.oidLIMIT 100]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-24 09:19:29,795 - INFO - Saving backup
2025-07-24 09:19:29,942 - INFO - Query ID: 90, Run ID: 9
2025-07-24 09:19:29,944 - INFO - Getting the gold values to compare
2025-07-24 09:19:34,365 - INFO - Query ID: 90, Run ID: 9, Query gold:               oid classifier_name     classifier_version class_name  \
0    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        CEP
1    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0       DSCT
2    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        RRL
3    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0        RRL
4    ZTF18abadjvy   lc_classifier  hierarchical_rf_1.1.0          E
..            ...             ...                    ...        ...
341  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0          E
342  ZTF18abasovn   lc_classifier   lc_classifier_1.1.13          E
343  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0        RRL
344  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0     Blazar
345  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0        QSO

     probability  ranking
0       0.161280        2
1       0.283360        1
2       0.190720        1
3       0.227040        2
4       0.093744        2
..           ...      ...
341     0.424664        1
342     0.309624        1
343     0.188956        2
344     0.205800        2
345     0.678160        1

[346 rows x 6 columns]
2025-07-24 09:19:34,376 - INFO - Getting the request for self correction
2025-07-24 09:19:34,383 - INFO - Self-correction
2025-07-24 09:19:38,692 - ERROR - Running SQL exception in run_query: (psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- Final Query to retrieve at most 100 ZTF objects with a multiband period lower than 5 days-- in the 'lc_classifier_1.2.1-P' feature version, returning all columns from the 'probability' table-- for the light curve classifier with rankings 1 or 2.WITH filtered_objects AS (    -- Subquery 1: Filter objects based on multiband period    SELECT DISTINCT oid    FROM feature    WHERE name = 'MultibandPeriod'      AND value < 5      AND version = 'lc_classifier_1.2.1-P'),filtered_probabilities AS (    -- Subquery 2: Filter probabilities for light curve classifier    SELECT *    FROM probability    WHERE classifier_name = 'lc_classifier'      AND ranking IN (1, 2))-- Combine the two subqueries using an INNER JOINSELECT p.*FROM filtered_probabilities pINNER JOIN filtered_objects oON p.oid = o.oid-- Limit the results to at most 100 objectsLIMIT 100]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-24 09:19:38,986 - INFO - Using SQL
2025-07-24 09:19:46,273 - ERROR - Running SQL exception in run_query: (psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- Final Query to retrieve at most 100 ZTF objects with a multiband period lower than 5 days-- in the 'lc_classifier_1.2.1-P' feature version, returning all columns from the 'probability' table-- for the light curve classifier with rankings 1 or 2.WITH filtered_objects AS (    -- Subquery 1: Filter objects based on multiband period    SELECT DISTINCT oid    FROM feature    WHERE name = 'MultibandPeriod'       AND value < 5       AND version = 'lc_classifier_1.2.1-P'),filtered_probabilities AS (    -- Subquery 2: Filter probabilities for light curve classifier    SELECT *    FROM probability    WHERE classifier_name = 'lc_classifier'       AND ranking IN (1, 2))-- Combine the two subqueries using an INNER JOINSELECT p.*FROM filtered_probabilities pINNER JOIN filtered_objects oON p.oid = o.oid-- Limit the results to at most 100 objectsLIMIT 100]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-24 09:19:46,596 - INFO - Saving backup
2025-07-24 09:19:46,763 - INFO - Query ID: 90, Run ID: 10
2025-07-24 09:19:46,763 - INFO - Getting the gold values to compare
2025-07-24 09:19:50,928 - INFO - Query ID: 90, Run ID: 10, Query gold:               oid classifier_name     classifier_version class_name  \
0    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        CEP
1    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0       DSCT
2    ZTF19abdyprc   lc_classifier   lc_classifier_1.1.13        RRL
3    ZTF19abdyprc   lc_classifier  hierarchical_rf_1.1.0        RRL
4    ZTF18abadjvy   lc_classifier  hierarchical_rf_1.1.0          E
..            ...             ...                    ...        ...
341  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0          E
342  ZTF18abasovn   lc_classifier   lc_classifier_1.1.13          E
343  ZTF18abasovn   lc_classifier  hierarchical_rf_1.1.0        RRL
344  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0     Blazar
345  ZTF22aabwnvh   lc_classifier  hierarchical_rf_1.1.0        QSO

     probability  ranking
0       0.161280        2
1       0.283360        1
2       0.190720        1
3       0.227040        2
4       0.093744        2
..           ...      ...
341     0.424664        1
342     0.309624        1
343     0.188956        2
344     0.205800        2
345     0.678160        1

[346 rows x 6 columns]
2025-07-24 09:19:50,937 - INFO - Getting the request for self correction
2025-07-24 09:19:50,946 - INFO - Self-correction
2025-07-24 09:19:56,710 - ERROR - Running SQL exception in run_query: (psycopg2.ProgrammingError) can't execute an empty query

In [13]:
df_2

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
8,14,For the next list of oids: ['ZTF23aavzgjg' 'ZT...,"['detection', 'ps1_ztf']",0,0,"SELECT\n det.oid, det.candid,\n det.drb,...",medium,other,simple,NaN,NaN,NaN
11,12,Give me all the SNe that first occurred betwee...,"['object', 'probability']",-- mjd date for February 13 = 59988.0\n-- mjd ...,\n-- SNe refers to all types of SuperNova\n,"\nSELECT o.oid, o.meanra, o.meandec\n\nFROM (\...",medium,spatial,simple,NaN,NaN,NaN
15,89,Find at most 50 ZTF objects that have a probab...,"['probability', 'dataquality']",0,0,SELECT\n *\nFROM\n dataquality\nWHERE\n ...,medium,NaN,NaN,NaN,Retrieve all the data from the 'dataquality' t...,Retrieve all columns from the 'dataquality' ta...
25,92,Find at most 500 ZTF objects ordered by their ...,"['probability', 'magstat']",0,0,"SELECT\n oid, classifier_version, class_nam...",medium,NaN,NaN,NaN,"Retrieve the ZTF identifier, classifier versio...",Retrieve up to 500 objects from the ZTF datase...
34,83,Get all columns in the 'allwise' table for the...,"['xmatch', 'allwise']",0,0,SELECT\n *\nFROM\n allwise\nWHERE\n o...,medium,NaN,NaN,NaN,Retrieve all the information from the 'allwise...,Retrieve every column from the 'allwise' table...
35,84,For the ZTF object 'ZTF19aascdol' get the foll...,"['xmatch', 'allwise']","Note that filters W1 to W4 means returning W1,...",0,"SELECT\n oid, xmatch.oid_catalog, dist,\n ...",medium,NaN,NaN,NaN,Retrieve the ZTF object 'ZTF19aascdol' and gat...,"Retrieve the ZTF identifier, catalog identifie..."
36,96,For Solar System identifiers '2003FP134' and '...,"['detection', 'ss_ztf']",0,0,"SELECT\n ss_ztf.*, detection.mjd, detection...",medium,NaN,NaN,NaN,Retrieve all detections for ZTF objects that a...,Retrieve all detections for ZTF objects that a...
41,94,Get all columns from the 'object' and 'referen...,"['object', 'reference']",0,0,SELECT\n *\nFROM\n object INNER JOIN\n ...,medium,NaN,NaN,NaN,Retrieve the complete information from both th...,Retrieve all columns from both the 'object' an...
42,90,Find at most 100 ZTF objects that have a multi...,"['probability', 'feature']",0,0,SELECT\n *\nFROM\n probability\nWHERE\n ...,medium,NaN,NaN,NaN,Retrieve all information from the 'probability...,Retrieve up to 100 ZTF objects whose multiband...
51,39,Get the columns that contains: object identifi...,"['probability', 'object', 'detection']",0,0,"SELECT\n sq.oid, sq.meanra, sq.meandec,\n de...",medium,other,simple,NaN,NaN,NaN