# Testing notebook

## Working the CSVs and Excel sheets

In [2]:
# Exploring the 'training' dataset
import pandas as pd
df = pd.read_csv("datasets/txt2sql_alerce_train_v3_1.csv")
df.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\r\n-- mjd date for December = 59914.0\r\n-- m...,\r\n-- Super Nova (SNe) is a large explosion t...,"\r\nSELECT\r\n object.oid, probability.clas...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\r\nSELECT\r\n sq1.oid, sq1.probability as SN...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",\r\n-- mjd date for September 01 = 60188.0\r\n...,\r\n-- A fast riser is defined as an object wh...,"\r\nSELECT\r\n sq.oid, sq.probability, sq.c...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\r\n-- mjd date for the start of the year 2019...,0,"\r\nSELECT\r\n sq.oid, sq.fid, sq.dmdt_first,...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",\r\n-- mjd date for February 01 = 59976.0\r\n-...,0,"\r\nWITH catalog ( source_id, ra, dec) AS (\r\...",advanced,spatial,simple,NaN,NaN,NaN

In [3]:
df[df["request"] == "Find at most 10 cases where the feature called 'LinearTrend' is larger than 5 and their ZTF objects have a difference between last and first detection date larger than 1 day. Return the following columns. For the ZTF objects: ZTF identifier and number of detections; for their light curve classifier data at ranking 1: classifier version, class and probability; for the 'LinearTrend' feature: value and filter identifier"]["external_knowledge"].item()

"Since no feature version is specified, the combination between ZTF oid and fid can be non-unique in the 'feature' table output"

In [4]:
# Reading the excel file
excel = pd.read_excel("datasets/SQLusecases_alerce.xlsx", 
                      sheet_name="examples_alerce_usecasesV3_1")

# Cleaning the excel a bit
excel = excel.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
excel.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,Set,python_format
0,0,Get objects that are likely to be YSOs (possib...,"['probability', 'feature']",\n-- feature.name can be 'Multiband_period'\n-...,\n-- Multiband_period: Period obtained using t...,"\nSELECT\n oid, probability, value, name, fid...",advanced,object,tree,Train,"sub_query_1='''\nSELECT\n feature.oid, prob_o..."
1,1,Get all the objects classified as AGN with a p...,"['object', 'probability', 'feature', 'magstat']",\n-- object.ndet represents the number of dete...,\n-- Amplitude: Half of the difference between...,"\nSELECT\n sq.oid, sq.value, sq.name, sq.fid ...",advanced,object,tree,Test,\nsub_query_object='''\nSELECT\n object.oid...
2,2,Give me the objects classified as YSO by their...,['probability'],NaN,NaN,"\nSELECT\n oid, probability\nFROM\n prob...",simple,object,none,Train,"query='''\nSELECT\n oid, probability\nFROM\..."
3,3,Give me the objects classified as YSO by the l...,"['object', 'probability']","\n-- last june in mjd date: [start=60096.0, en...",NaN,\nSELECT\n *\nFROM\n probability\nWHERE\...,simple,object,simple,Train,query=f'''\nSELECT\n *\nFROM\n probabili...
4,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\n-- mjd date for the start of the year 2019 =...,NaN,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,Train,# objects classified as SN II with probability...

## Tests

### Gold values and query to test

In [1]:
# Select a query
query = "Get the object identifier, candidate identifier, magnitudes, magnitude errors, and band identifiers as a function of time of the objects classified as SN II in the year 2019-2022, with probability larger than 0.6, initial rise rate greater than 0.5 mag/day in ZTF g and r-band and number of detections greater than 50."

# Check if the query is in the excel file
if query in excel["request"].to_list():
    # Obtain the gold SQL query and Python query
    sql_gold = excel[excel["request"] == query]["gold_query"].item()
    python_gold = excel[excel["request"] == query]["python_format"].item()

    # Obtain the necessary tables
    gold_tables = excel[excel["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)
    print("Python gold query:\n")
    print(python_gold)
    
else:
    # Obtain the gold SQL query
    sql_gold = df[df["request"] == query]["gold_query"].item()

    # Obtain the necessary tables
    gold_tables = df[df["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)

NameError: name 'excel' is not defined

In [6]:
# Running the gold query
from secret.config import SQL_URL
import requests
import sqlalchemy as sa

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{params['user']}:{params['password']}@{params['host']}/{params['dbname']}")
engine.begin()

pd.read_sql_query(sql_gold, con=engine)

,oid,fid,dmdt_first,candid,f_id,magpsf,sigmapsf_corr,sigmapsf_corr_ext
0,ZTF19aapafit,2,-0.558783,930197831815015015,1,18.973324,NaN,NaN
1,ZTF19aapafit,2,-0.558783,966161521815015016,1,21.047300,NaN,NaN
2,ZTF19aapafit,2,-0.558783,915206811815015006,1,18.550970,NaN,NaN
3,ZTF19aapafit,2,-0.558783,943198551815015015,1,19.923222,NaN,NaN
4,ZTF19aapafit,2,-0.558783,887301201815015002,2,17.714327,NaN,NaN
...,...,...,...,...,...,...,...,...
1532,ZTF22aavpkwo,2,-0.741901,2066164120015015004,2,18.693998,0.065604,0.067338
1533,ZTF22aavpkwo,1,-1.033192,2064225370015015008,2,18.641981,0.045120,0.047414
1534,ZTF22aavpkwo,1,-1.033192,2064198290015015012,1,19.064133,0.069056,0.070349
1535,ZTF22aavpkwo,1,-1.033192,2062211000015015006,1,19.070250,0.076004,0.077192
1536,ZTF22aavpkwo,1,-1.033192,2062179500015015013,2,18.581594,0.070124,0.071485

### Trying out the pipelines

In [7]:
from pprint import pprint
from pipeline.eval import run_pipeline
from testing.tests import engine
engine.begin()

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
format = "python"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Running the pipeline
result, error, total_usage, prompts = run_pipeline(query, model, max_tokens, size, 
                                            overlap, quantity, format, False,
                                            True, True, 2, 3)
print("Resulting table:")
print(result)
print("Total usage of the pipeline:")
pprint(total_usage)

# The prompts used will be saved in this file
with open(f"prompts/examples/prompts_query_{model}.txt", "w") as f:
    f.write(str(prompts))

c:\Users\sanfe\Documents\Mío\Trabajos\Universidad\MDS\Semestre 9\Seminario de Tesis II\Tesis-Simon-Sanfeliu\tesis\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Tables needed: [object, detection, magstat]
Difficulty: advanced
Resulting python query:
# Sub-query to select oids of objects classified as SN II with probability > 0.6
sub_query_probability = f'''
SELECT DISTINCT
    probability.oid
FROM
    probability
WHERE
    probability.classifier_name = 'lc_classifier'
    AND probability.class_name = 'SNII'
    AND probability.probability > 0.6
    AND probability.ranking = 1
'''

# Sub-query to select oids of objects with number of detections > 50
sub_query_detection_count = f'''
SELECT
    object.oid
FROM
    object
WHERE
    object.ndet > 50
'''

# Sub-query to select oids of objects with magnitude difference in ZTF g-band > 2
sub_query_magnitude_difference = f'''
SELECT
    magstat.oid
FROM
    magstat
WHERE
    magstat.fid = 1
    AND (magstat.magmax - magstat.magmin) > 2
'''

# Combine sub-queries using INTERSECT to get oids satisfying all conditions
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_probability}) AS prob_oids
INTERSECT
SELECT
    oid
FROM
    ({sub_query_detection_count}) AS det_count_oids
INTERSECT
SELECT
    oid
FROM
    ({sub_query_magnitude_difference}) AS mag_diff_oids
'''

# Main query to retrieve the required information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf_corr,
    detection.sigmapsf_corr_ext,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.oid, detection.mjd
'''


# Sub-query to select oids of objects classified as SN II with probability > 0.6
sub_query_probability = f'''
SELECT DISTINCT
    probability.oid
FROM
    probability
WHERE
    probability.classifier_name = 'lc_classifier'
    AND probability.class_name = 'SNII'
    AND probability.probability > 0.6
    AND probability.ranking = 1
'''

# Sub-query to select oids of objects with number of detections > 50
sub_query_detection_count = f'''
SELECT
    object.oid
FROM
    object
WHERE
    object.ndet > 50
'''

# Sub-query to select oids of objects with magnitude difference in ZTF g-band > 2
sub_query_magnitude_difference = f'''
SELECT
    magstat.oid
FROM
    magstat
WHERE
    magstat.fid = 1
    AND (magstat.magmax - magstat.magmin) > 2
'''

# Combine sub-queries using INTERSECT to get oids satisfying all conditions
sub_query_combined = f'''
SELECT
    oid
FROM
    ({sub_query_probability}) AS prob_oids
INTERSECT
SELECT
    oid
FROM
    ({sub_query_detection_count}) AS det_count_oids
INTERSECT
SELECT
    oid
FROM
    ({sub_query_magnitude_difference}) AS mag_diff_oids
'''

# Main query to retrieve the required information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf_corr,
    detection.sigmapsf_corr_ext,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.oid, detection.mjd
'''

Running SQL exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf_corr,
    detection.sigmapsf_corr_ext,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN (
SELECT
    oid
FROM
    (
SELECT DISTINCT
    probability.oid
FROM
    probability
WHERE
    probability.classifier_name = 'lc_classifier'
    AND probability.class_name = 'SNII'
    AND probability.probability > 0.6
    AND probability.ranking = 1
) AS prob_oids
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    object.oid
FROM
    object
WHERE
    object.ndet > 50
) AS det_count_oids
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    magstat.oid
FROM
    magstat
WHERE
    magstat.fid = 1
    AND (magstat.magmax - magstat.magmin) > 2
) AS mag_diff_oids
)
ORDER BY
    detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Running SQL exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf_corr,
    detection.sigmapsf_corr_ext,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN (
SELECT
    oid
FROM
    (
SELECT DISTINCT
    probability.oid
FROM
    probability
WHERE
    probability.classifier_name = 'lc_classifier'
    AND probability.class_name = 'SNII'
    AND probability.probability > 0.6
    AND probability.ranking = 1
) AS prob_oids
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    object.oid
FROM
    object
WHERE
    object.ndet > 50
) AS det_count_oids
INTERSECT
SELECT
    oid
FROM
    (
SELECT
    magstat.oid
FROM
    magstat
WHERE
    magstat.fid = 1
    AND (magstat.magmax - magstat.magmin) > 2
) AS mag_diff_oids
)
ORDER BY
    detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Resulting table:
(               oid               candid     magpsf  sigmapsf_corr  \
0     ZTF18aatyqds   498381456015015001  18.514900            NaN
1     ZTF18aatyqds   498444120615015116  18.193400       0.008656
2     ZTF18aatyqds   498478916015015004  18.243600       0.013274
3     ZTF18aatyqds   501402876015015005  17.881000       0.009903
4     ZTF18aatyqds   501406600615015097  17.832800       0.009210
...            ...                  ...        ...            ...
2198  ZTF23aaquhaz  2499144590815015005  19.689196            NaN
2199  ZTF23aaquhaz  2501145830815015007  19.722720            NaN
2200  ZTF23aaquhaz  2506109570815015011  19.719301            NaN
2201  ZTF23aaquhaz  2514133310815015007  19.770700            NaN
2202  ZTF23aaquhaz  2531133500815015004  19.721457            NaN

      sigmapsf_corr_ext  fid           mjd
0                   NaN    2  58252.381458
1              0.017647    1  58252.444120
2              0.022277    1  58252.478912
3              0.016723    1  58255.402870
4              0.014796    1  58255.406609
...                 ...  ...           ...
2198                NaN    2  60253.144595
2199                NaN    2  60255.145833
2200                NaN    2  60260.109572
2201                NaN    2  60268.133310
2202                NaN    2  60285.133507

[2203 rows x 7 columns], None)
Total usage of the pipeline:
{'Classification': {'input_cost': 0.00068,
                    'input_tokens': 272,
                    'output_cost': 5e-05,
                    'output_tokens': 5,
                    'total_cost': 0.0007300000000000001,
                    'total_tokens': 277},
 'Decompostion': {'input_cost': 0.0092725,
                  'input_tokens': 3709,
                  'output_cost': 0.0072,
                  'output_tokens': 720,
                  'total_cost': 0.0164725,
                  'total_tokens': 4429},
 'Query generation': {'input_cost': 0.00515,
                      'input_tokens': 2060,
                      'output_cost': 0.00388,
                      'output_tokens': 388,
                      'total_cost': 0.00903,
                      'total_tokens': 2448},
 'Schema Linking': {'input_cost': 0.004015,
                    'input_tokens': 1606,
                    'new_total_cost': 0.004205,
                    'output_cost': 0.00019,
                    'output_tokens': 19,
                    'total_cost': 0.002447,
                    'total_tokens': 1625}}
Tables needed: [object, detection, probability]
Difficulty: advanced
Resulting python query:
# Sub-query to get oids of objects classified as SN II with probability > 0.6
sub_query_oid = f'''
SELECT DISTINCT
    probability.oid
FROM
    probability
WHERE
    probability.classifier_name = 'lc_classifier'
    AND probability.class_name = 'SNII'
    AND probability.probability > 0.6
    AND probability.ranking = 1
'''

# Sub-query to get oids with initial rise rate > 0.5 mag/day in ZTF g and r-band
sub_query_rise_rate = f'''
SELECT
    magstat.oid
FROM
    magstat
WHERE
    magstat.dmdt_first < -0.5
    AND magstat.fid IN (1, 2)
GROUP BY
    magstat.oid
HAVING
    COUNT(DISTINCT magstat.fid) = 2
'''

# Sub-query to get oids with number of detections > 50
sub_query_detections = f'''
SELECT
    object.oid
FROM
    object
WHERE
    object.ndet > 50
'''

# Main query to get the required information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf_corr,
    detection.sigmapsf_corr_ext,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_oid}
                      INTERSECT
                      {sub_query_rise_rate}
                      INTERSECT
                      {sub_query_detections})
    AND detection.mjd BETWEEN 58484 AND 59580  -- Corresponding to 2019-2022
ORDER BY
    detection.oid, detection.mjd
'''


# Sub-query to get oids of objects classified as SN II with probability > 0.6
sub_query_oid = f'''
SELECT DISTINCT
    probability.oid
FROM
    probability
WHERE
    probability.classifier_name = 'lc_classifier'
    AND probability.class_name = 'SNII'
    AND probability.probability > 0.6
    AND probability.ranking = 1
'''

# Sub-query to get oids with initial rise rate > 0.5 mag/day in ZTF g and r-band
sub_query_rise_rate = f'''
SELECT
    magstat.oid
FROM
    magstat
WHERE
    magstat.dmdt_first < -0.5
    AND magstat.fid IN (1, 2)
GROUP BY
    magstat.oid
HAVING
    COUNT(DISTINCT magstat.fid) = 2
'''

# Sub-query to get oids with number of detections > 50
sub_query_detections = f'''
SELECT
    object.oid
FROM
    object
WHERE
    object.ndet > 50
'''

# Main query to get the required information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf_corr,
    detection.sigmapsf_corr_ext,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_oid}
                      INTERSECT
                      {sub_query_rise_rate}
                      INTERSECT
                      {sub_query_detections})
    AND detection.mjd BETWEEN 58484 AND 59580  -- Corresponding to 2019-2022
ORDER BY
    detection.oid, detection.mjd
'''

Running SQL exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf_corr,
    detection.sigmapsf_corr_ext,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN (
SELECT DISTINCT
    probability.oid
FROM
    probability
WHERE
    probability.classifier_name = 'lc_classifier'
    AND probability.class_name = 'SNII'
    AND probability.probability > 0.6
    AND probability.ranking = 1

                      INTERSECT

SELECT
    magstat.oid
FROM
    magstat
WHERE
    magstat.dmdt_first < -0.5
    AND magstat.fid IN (1, 2)
GROUP BY
    magstat.oid
HAVING
    COUNT(DISTINCT magstat.fid) = 2

                      INTERSECT

SELECT
    object.oid
FROM
    object
WHERE
    object.ndet > 50
)
    AND detection.mjd BETWEEN 58484 AND 59580  -- Corresponding to 2019-2022
ORDER BY
    detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Running SQL exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf_corr,
    detection.sigmapsf_corr_ext,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN (
SELECT DISTINCT
    probability.oid
FROM
    probability
WHERE
    probability.classifier_name = 'lc_classifier'
    AND probability.class_name = 'SNII'
    AND probability.probability > 0.6
    AND probability.ranking = 1

                      INTERSECT

SELECT
    magstat.oid
FROM
    magstat
WHERE
    magstat.dmdt_first < -0.5
    AND magstat.fid IN (1, 2)
GROUP BY
    magstat.oid
HAVING
    COUNT(DISTINCT magstat.fid) = 2

                      INTERSECT

SELECT
    object.oid
FROM
    object
WHERE
    object.ndet > 50
)
    AND detection.mjd BETWEEN 58484 AND 59580  -- Corresponding to 2019-2022
ORDER BY
    detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

KeyboardInterrupt:

#### o1 tests

In [ ]:
from pprint import pprint
from pipeline.main import run_pipeline, engine
engine.begin()

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "o1-preview"

# Format for the pipeline
format = "python"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Running the pipeline
result, total_usage, prompts = run_pipeline(query, model, max_tokens, size, 
                                            overlap, quantity, format, False, 
                                            engine, rag_pipe=True, 
                                            self_corr=True)
print("Resulting table:")
print(result)
print("Total usage of the pipeline:")
pprint(total_usage)

# The prompts used will be saved in this file
with open(f"prompts/examples/prompts_query_{model}.txt", "w") as f:
    f.write(str(prompts))

Tables needed: [object, detection, magstat]
Difficulty: advanced
```python
# Get oids of objects classified as 'SN II' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59580 (2022-01-01)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections
sub_query_ndet = f'''
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
({sub_query_magstat_g})
INTERSECT
({sub_query_magstat_r})
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
Resulting python query:
# Get oids of objects classified as 'SN II' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59580 (2022-01-01)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections
sub_query_ndet = f'''
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
({sub_query_magstat_g})
INTERSECT
({sub_query_magstat_r})
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
Running SQL exception: (psycopg2.errors.UndefinedColumn) column "maxmjd" does not exist
LINE 50: WHERE fid=2 AND (maxmjd - minmjd) >= 100
                          ^

[SQL:
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN (
SELECT oids2.oid
FROM (
SELECT oids1.oid
FROM (
SELECT prob_oids.oid
FROM (
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
) AS prob_oids
INNER JOIN (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
) AS obj_oids
ON prob_oids.oid = obj_oids.oid
) AS oids1
INNER JOIN (
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
) AS ndet_oids
ON oids1.oid = ndet_oids.oid
) AS oids2
INNER JOIN (
(
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
)
INTERSECT
(
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
)
) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: local variable 'results' referenced before assignment
Start retry with self-correction
Corrected query:
```python
# Corrected sub-queries and final query

# Get oids of objects classified as 'SNII' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SNII'  -- Corrected class_name from 'SN II' to 'SNII'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59946 (2022-12-31)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946  -- Corrected MJD end date to 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections using ndet from object table
sub_query_ndet = f'''
SELECT oid
FROM object
WHERE ndet > 30  -- Changed from detection table to object table
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
SELECT g_oids.oid
FROM ({sub_query_magstat_g}) AS g_oids
INNER JOIN ({sub_query_magstat_r}) AS r_oids
ON g_oids.oid = r_oids.oid
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
```
Running SQL exception: (psycopg2.errors.UndefinedColumn) column "maxmjd" does not exist
LINE 50: WHERE fid=2 AND (maxmjd - minmjd) >= 100
                          ^

[SQL:
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN (
SELECT oids2.oid
FROM (
SELECT oids1.oid
FROM (
SELECT prob_oids.oid
FROM (
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SNII'  -- Corrected class_name from 'SN II' to 'SNII'
AND ranking=1
AND probability > 0.6
) AS prob_oids
INNER JOIN (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946  -- Corrected MJD end date to 59946
) AS obj_oids
ON prob_oids.oid = obj_oids.oid
) AS oids1
INNER JOIN (
SELECT oid
FROM object
WHERE ndet > 30  -- Changed from detection table to object table
) AS ndet_oids
ON oids1.oid = ndet_oids.oid
) AS oids2
INNER JOIN (
SELECT g_oids.oid
FROM (
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
) AS g_oids
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
) AS r_oids
ON g_oids.oid = r_oids.oid
) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/f405)

Exception: Failed again: local variable 'results' referenced before assignment