## Working the CSVs and Excel sheets

### Train dataset

In [1]:
# Exploring the 'training' dataset
import pandas as pd
df = pd.read_csv("datasets/txt2sql_alerce_train_v3_1.csv")
df.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\r\n-- mjd date for December = 59914.0\r\n-- m...,\r\n-- Super Nova (SNe) is a large explosion t...,"\r\nSELECT\r\n object.oid, probability.clas...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\r\nSELECT\r\n sq1.oid, sq1.probability as SN...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",\r\n-- mjd date for September 01 = 60188.0\r\n...,\r\n-- A fast riser is defined as an object wh...,"\r\nSELECT\r\n sq.oid, sq.probability, sq.c...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\r\n-- mjd date for the start of the year 2019...,0,"\r\nSELECT\r\n sq.oid, sq.fid, sq.dmdt_first,...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",\r\n-- mjd date for February 01 = 59976.0\r\n-...,0,"\r\nWITH catalog ( source_id, ra, dec) AS (\r\...",advanced,spatial,simple,NaN,NaN,NaN

In [2]:
df[df["req_id"] == 15]["request"].item()

"Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

In [3]:
print("External knowledge for the train dataset")
vc_df = df["external_knowledge"].value_counts().reset_index()
vc_df.columns = ["Value", "Count"]

vc_df

External knowledge for the train dataset

                                                Value  Count
0                                                   0     29
1   \r\n-- mjd date for February 01 = 59976.0\r\n-...      2
2   \r\n-- mjd date for December = 59914.0\r\n-- m...      1
3   \r\n-- ndet represents the number of detection...      1
4   Note that 'fainter' means 'larger' for magnitudes      1
5   Note that the spatial query receives coordinat...      1
6   Since no classifier version is specified, ZTF ...      1
7   Note the join between tables must be in oid an...      1
8   Since no feature version is specified, the com...      1
9   \r\n-- sgmag1 represents the g-band PSF magnit...      1
10  \r\n-- mjd date for August 25 2022 = 59816.0\r...      1
11  \r\n-- object.deltajd represnts the difference...      1
12  \r\n-- mjd date for the start of the year 2019...      1
13  \r\n-- oid represents the unique identifier fo...      1
14  \r\n-- mjd date for February 1 2023 = 59976.0\...      1
15  \r\n-- feature.name can be 'Multiband_period'\...      1
16            \r\n-- table_schema can be 'alerce'\r\n      1
17  \r\n-- detection.magpsf represents the magnitu...      1
18  \r\n-- mjd date for the start of July = 60126....      1
19  \r\n-- mjd date for the start of September = 6...      1
20  \r\n-- the previous objects need to be selecte...      1
21  \r\n-- object.ndet represents the total number...      1
22  \r\n-- consider the list of objects identifier...      1
23  \r\n-- it is important to return all the proba...      1
24  \r\n-- last june in mjd date: [start=60096.0, ...      1
25  \r\n-- mjd date for the start of January = 599...      1
26  \r\n-- mjd date for the start of the year 2019...      1
27  \r\n-- mjd date for September 01 = 60188.0\r\n...      1
28  Since no classifier version is specified for t...      1

In [4]:
print("Domain knowledge for the train dataset")
vc_df_domain = df["domain_knowledge"].value_counts().reset_index()
vc_df_domain.columns = ["Value", "Count"]

vc_df_domain

Domain knowledge for the train dataset

                                               Value  Count
0                                                  0     19
1  \r\n-- Super Nova (SNe) is a large explosion t...      1
2  \r\n-- A fast riser is defined as an object wh...      1
3  \r\n-- ss_ztf: closest MPC object as reported ...      1
4  \r\n-- sgscore1: Morphological star/galaxy sco...      1
5  \r\n-- delta_mag_fid: Difference between maxim...      1
6  \r\n-- Multiband_period: Period obtained using...      1
7  \r\n-- The galactic coordinate system locates ...      1
8  \r\n-- ps1 catalog is a catalog from the Panor...      1

### Test dataset

In [5]:
df_test = pd.read_csv("datasets/txt2sql_alerce_test_v3_1.csv")
df_test.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,8,Query all objects that were first classified a...,"['probability', 'object']",\r\n-- mjd date for august 17 = 60173.0\r\n-- ...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n object\r\nI...,simple,object,none,NaN,NaN,NaN
1,27,"Return the oids, meanra, meandec, ndet, firstm...","['probability', 'object']",\r\n-- object.ndet represents the total number...,NaN,"\r\nSELECT\r\n object.oid, object.meanra, o...",simple,object,simple,NaN,NaN,NaN
2,17,Return the objects classified as AGN that show...,"['probability', 'object', 'detection']",\r\n-- firstmjd represents the time of the fir...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n (\r\nSELECT *\r...,advanced,object,tree,NaN,NaN,NaN
3,37,"""Query the top 200 objects classified SNIa acc...",['probability'],NaN,NaN,\r\nSELECT\r\n *\r\nFROM\r\n probability\r...,simple,object,none,NaN,NaN,NaN
4,34,Given this list of oids ['ZTF17aaadpsi' 'ZTF19...,['feature'],\r\n-- feature.name can be 'Amplitude'\r\n-- f...,\r\n-- Multiband_period: Period obtained using...,\r\nSELECT\r\n *\r\nFROM\r\n feature\r\n...,simple,other,none,NaN,NaN,NaN

In [6]:
print("External knowledge for the test dataset")
vc_df_test = df_test["external_knowledge"].value_counts().reset_index()
vc_df_test.columns = ["Value", "Count"]

vc_df_test

External knowledge for the test dataset

                                                Value  Count
0                                                   0      4
1   Note the join between tables must be in oid an...      2
2   Note that 'fainter' means 'larger' for magnitudes      2
3   Since no classifier version is specified, ZTF ...      2
4   \r\n-- object.ndet represents the total number...      1
5   Since no classifier version is specified for '...      1
6   I had to use 'cast' for magnitudes in the 'for...      1
7   Note that the corrected magnitude has both e_m...      1
8   Requires using the 'xmatch' table to obtain th...      1
9   Requires using the 'xmatch' table to obtain th...      1
10  Note that the spatial query receives coordinat...      1
11  \r\n-- mjd date for august 17 = 60173.0\r\n-- ...      1
12  Note that the spatial query receives coordinat...      1
13  \r\n-- mjd date for February 13 = 59988.0\r\n-...      1
14  \r\n-- mjd date for June 1st 2018 = 58239.0\r\...      1
15  \r\n-- detection.oid represents the unique ide...      1
16  \r\n-- mjd date for March 1st 2021 = 59274.0\r...      1
17  \r\n-- mjd date for September 01 = 60188.0\r\n...      1
18  \r\n-- object.ndet represents the number of de...      1
19  \r\n-- feature.name can be 'Amplitude'\r\n-- f...      1
20  \r\n-- firstmjd represents the time of the fir...      1
21  Note that one cannot search in the reference t...      1

In [7]:
print("Domain knowledge for the train dataset")
vc_df_domain_test = df_test["domain_knowledge"].value_counts().reset_index()
vc_df_domain_test.columns = ["Value", "Count"]

vc_df_domain_test

Domain knowledge for the train dataset

                                               Value  Count
0  \r\n-- Multiband_period: Period obtained using...      1
1  \r\n-- Amplitude: Half of the difference betwe...      1
2  \r\n-- A fast riser is defined as an object wh...      1
3  \r\n-- Asteroids move, so it is necessary to c...      1
4    \r\n-- SNe refers to all types of SuperNova\r\n      1

### Additional info

In [8]:
# Reading the excel file
excel = pd.read_excel("datasets/SQLusecases_alerce.xlsx", 
                      sheet_name="examples_alerce_usecasesV3_1")

# Cleaning the excel a bit
excel = excel.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
excel.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,Set,python_format
0,0,Get objects that are likely to be YSOs (possib...,"['probability', 'feature']",\n-- feature.name can be 'Multiband_period'\n-...,\n-- Multiband_period: Period obtained using t...,"\nSELECT\n oid, probability, value, name, fid...",advanced,object,tree,Train,"sub_query_1='''\nSELECT\n feature.oid, prob_o..."
1,1,Get all the objects classified as AGN with a p...,"['object', 'probability', 'feature', 'magstat']",\n-- object.ndet represents the number of dete...,\n-- Amplitude: Half of the difference between...,"\nSELECT\n sq.oid, sq.value, sq.name, sq.fid ...",advanced,object,tree,Test,\nsub_query_object='''\nSELECT\n object.oid...
2,2,Give me the objects classified as YSO by their...,['probability'],NaN,NaN,"\nSELECT\n oid, probability\nFROM\n prob...",simple,object,none,Train,"query='''\nSELECT\n oid, probability\nFROM\..."
3,3,Give me the objects classified as YSO by the l...,"['object', 'probability']","\n-- last june in mjd date: [start=60096.0, en...",NaN,\nSELECT\n *\nFROM\n probability\nWHERE\...,simple,object,simple,Train,query=f'''\nSELECT\n *\nFROM\n probabili...
4,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\n-- mjd date for the start of the year 2019 =...,NaN,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,Train,# objects classified as SN II with probability...

## Tests

### Gold values and query to test

In [9]:
# Select a query
query = "Give me all the SNe that were first detected between december first 2022 and september first 2023. Return the probability class, the last and the first detection date and the oids of the objects."

# Check if the query is in the excel file
if query in excel["request"].to_list():
    # Obtain the gold SQL query and Python query
    sql_gold = excel[excel["request"] == query]["gold_query"].item()
    python_gold = excel[excel["request"] == query]["python_format"].item()

    # Obtain the necessary tables
    gold_tables = excel[excel["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)
    print("Python gold query:\n")
    print(python_gold)
    
else:
    # Obtain the gold SQL query
    sql_gold = df[df["request"] == query]["gold_query"].item()

    # Obtain the necessary tables
    gold_tables = df[df["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)

Gold values

Tables needed for the query:
['object', 'probability']

SQL gold query:

SELECT
    object.oid, probability.class_name, object.lastmjd, object.firstmjd
FROM
    object INNER JOIN
    probability
    ON object.oid = probability.oid
WHERE
    probability.classifier_name='lc_classifier'
    AND probability.class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
    AND probability.ranking = 1
    AND object.firstmjd < 60217.0
    AND object.firstmjd > 59914.0

In [10]:
# Running the gold query
from secret.config import SQL_URL
import requests
import sqlalchemy as sa

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{params['user']}:{params['password']}@{params['host']}/{params['dbname']}")
engine.begin()

resultGold = pd.read_sql_query(sql_gold, con=engine)
resultGold

               oid class_name       lastmjd      firstmjd
0     ZTF23aaocetr       SNIa  60133.210428  60109.208229
1     ZTF23aamzkrs       SNIa  60124.189074  60097.242882
2     ZTF23aamxbpd       SNIa  60120.218900  60100.190417
3     ZTF23aafwzmi       SNIa  60078.406505  60050.470231
4     ZTF23aackdba       SNII  60073.174653  59992.212407
...            ...        ...           ...           ...
4542  ZTF23aagaoax       SNII  60761.252708  60049.210880
4543  ZTF23aaefijg       SNII  60786.461586  60036.459398
4544  ZTF20aanlftl       SNII  60786.408137  59977.563657
4545  ZTF23aaavavg       SNIa  60770.256586  59967.353044
4546  ZTF23aablruf       SNII  60786.442083  59971.566250

[4547 rows x 4 columns]

### Trying out the pipelines

#### Singular

In [10]:
from pipeline.queryPipeline import queryPipeline

# Working query
query = "Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

In [ ]:
from pipeline.process import *
from prompts.base.prompts import *

# Prompt dictionary guideline and used by Jorge
prompts = {
    "Schema Linking": {
        "base_prompt": tables_linking_prompt_V2,
        "context1": schema_all_cntxV1,
        "context2": schema_all_cntxV2_indx,
        "context3": schema_all_cntxV2,
    },
    "Classify": {
        "base_prompt": diff_class_prompt_v7,
        "final_instructions": final_instructions_diff_v2
    },
    "Decomposition": {
        "simple": {
            "query_task": simple_query_task_v2,
            "query_context": simple_query_cntx,
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder",
            "query_instructions": simple_query_instructions_v2
        },
        "medium": {
            "decomp_plan": {
                "base_prompt": medium_decomp_prompt,
                "decomp_task": medium_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": medium_query_cntx,
                "query_instructions": medium_query_instructions_1_v2
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": medium_decomp_gen,
                    "query_task": medium_query_task_v2,
                    "query_instructions": medium_query_instructions_2_v2,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        },
        "advanced": {
            "decomp_plan": {
                "base_prompt": adv_decomp_prompt,
                "decomp_task": adv_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": adv_query_cntx,
                "query_instructions": adv_query_instructions_1_v3
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": adv_decomp_gen,
                    "query_task": adv_query_task_v2,
                    "query_instructions": adv_query_instructions_2_v3,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        }
    },
    "Direct": {
        "base_prompt": {
            "general_task": general_taskv18,
            "general_context": general_contextv15,
            "final_instructions": final_instructions_v19
        },
        "request_prompt": {
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder"
        }
    }
}

# Updating ext_kn and dom_kn
prompts["Decomposition"]["simple"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Decomposition"]["simple"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()
prompts["Direct"]["request_prompt"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Direct"]["request_prompt"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()

In [ ]:
# Pipeline object
pipe = queryPipeline(query, model, lang_type, max_tokens, prompts)

# Schema Linking
schema_usage = pipe.schema_linking()

# Classification
class_usage = pipe.classify()

# Decomposition
pipe.decomposition()

# Direct prompt
pipe.direct()

# Generating the queries
decomp_gen_query = pipe.query_generation()
print("Query generated with decomposition prompts")
print(decomp_gen_query)
print("-"*50)
direct_gen_query = pipe.query_generation()
print("Query generated with direct prompts")
print(direct_gen_query)

Query generated with decomposition prompts

-- Subquery to get object identifiers (oids) that qualify as fast risers
WITH fast_risers AS (
    SELECT DISTINCT oid
    FROM magstat
    WHERE dmdt_first <= -0.25
),

-- Subquery to get object identifiers (oids) with first detection in the first 2 days of September
first_september_detections AS (
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60188.0 AND 60189.0
),

-- Subquery to get object identifiers (oids) with highest probability in the stamp classifier for class SN
high_prob_sn AS (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
)

-- Main query to get the required information
SELECT
    d.oid,
    p.probability,
    d.fid,
    d.candid,
    m.fid AS magstat_fid,
    m.dmdt_first
FROM detection d
JOIN fast_risers fr ON d.oid = fr.oid
JOIN first_september_detections fsd ON d.oid = fsd.oid
JOIN high_prob_sn hps ON d.oid = hps.oid
JOIN probability p ON d.oid = p.oid
JOIN magstat m ON d.oid = m.oid AND d.fid = m.fid
WHERE p.classifier_name = 'stamp_classifier'
AND p.class_name = 'SN'
ORDER BY d.oid

--------------------------------------------------
Query generated with direct prompts

-- Subquery to get object identifiers (oids) that qualify as fast risers
WITH fast_risers AS (
    SELECT oid
    FROM magstat
    WHERE dmdt_first <= -0.25
),

-- Subquery to get object identifiers (oids) with first detection in the first 2 days of September
first_september_detections AS (
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60188.0 AND 60189.0
),

-- Subquery to get object identifiers (oids) with highest probability in the stamp classifier for class SN
highest_probability_sn AS (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
)

-- Main query to get the required information
SELECT
    d.oid,
    p.probability,
    d.fid AS detection_fid,
    d.candid,
    m.fid AS magstat_fid,
    m.dmdt_first
FROM detection d
JOIN fast_risers fr ON d.oid = fr.oid
JOIN first_september_detections fsd ON d.oid = fsd.oid
JOIN highest_probability_sn hps ON d.oid = hps.oid
JOIN probability p ON d.oid = p.oid
JOIN magstat m ON d.oid = m.oid
WHERE p.classifier_name = 'stamp_classifier'
AND p.class_name = 'SN'
ORDER BY d.oid

#### Multiple

##### Query generation

In [ ]:
from pipeline.queryPipeline import queryPipeline
from pipeline.process import *
from prompts.base.prompts import *

# Prompt dictionary guideline and used by Jorge
prompts = {
    "Schema Linking": {
        "base_prompt": tables_linking_prompt_V2,
        "context1": schema_all_cntxV1,
        "context2": schema_all_cntxV2_indx,
        "context3": schema_all_cntxV2,
    },
    "Classify": {
        "base_prompt": diff_class_prompt_v7,
        "final_instructions": final_instructions_diff_v2
    },
    "Decomposition": {
        "simple": {
            "query_task": simple_query_task_v2,
            "query_context": simple_query_cntx,
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder",
            "query_instructions": simple_query_instructions_v2
        },
        "medium": {
            "decomp_plan": {
                "base_prompt": medium_decomp_prompt,
                "decomp_task": medium_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": medium_query_cntx,
                "query_instructions": medium_query_instructions_1_v2
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": medium_decomp_gen,
                    "query_task": medium_query_task_v2,
                    "query_instructions": medium_query_instructions_2_v2,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        },
        "advanced": {
            "decomp_plan": {
                "base_prompt": adv_decomp_prompt,
                "decomp_task": adv_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": adv_query_cntx,
                "query_instructions": adv_query_instructions_1_v3
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": adv_decomp_gen,
                    "query_task": adv_query_task_v2,
                    "query_instructions": adv_query_instructions_2_v3,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        }
    },
    "Direct": {
        "base_prompt": {
            "general_task": general_taskv18,
            "general_context": general_contextv15,
            "final_instructions": final_instructions_v19
        },
        "request_prompt": {
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder"
        }
    }
}

# Updating ext_kn and dom_kn
prompts["Decomposition"]["simple"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Decomposition"]["simple"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()
prompts["Direct"]["request_prompt"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Direct"]["request_prompt"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()

In [17]:
from pipeline.queryPipeline import queryPipeline

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "python"
max_tokens = 10000

# Path
prompts_path = "final_prompts/prompts_v3.json"

# Pipeline object
pipe = queryPipeline(None, model, lang_type, max_tokens, prompts_path)

# -----------------------------------------------------------------------------
# Testing

# Working query
query = "Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

# Trying out the new query pipeline with only 1 query
df_1 = df[df["request"] == query]
# Trying out the new query pipeline with 3 queries
df_2 = df.loc[:2]
# pipe.run_experiments(df_2, total_exps=1, restart=True)

In [59]:
# Applying the restart
pipe.run_experiments(df=df_test, total_exps=10, restart=True, use_rag=True)

2025-07-04 12:03:09,247 - INFO - Restarting
2025-07-04 12:03:09,368 - INFO - Query ID: 39, Run ID: 1
2025-07-04 12:03:09,369 - INFO - Running pipeline
2025-07-04 12:03:33,419 - INFO - Saving backup
2025-07-04 12:03:33,751 - INFO - Query ID: 39, Run ID: 2
2025-07-04 12:03:33,755 - INFO - Running pipeline
2025-07-04 12:03:55,959 - INFO - Saving backup
2025-07-04 12:03:56,030 - INFO - Query ID: 39, Run ID: 3
2025-07-04 12:03:56,030 - INFO - Running pipeline
2025-07-04 12:04:20,310 - INFO - Saving backup
2025-07-04 12:04:20,567 - INFO - Query ID: 39, Run ID: 4
2025-07-04 12:04:20,569 - INFO - Running pipeline
2025-07-04 12:04:44,814 - INFO - Saving backup
2025-07-04 12:04:45,219 - INFO - Query ID: 39, Run ID: 5
2025-07-04 12:04:45,221 - INFO - Running pipeline
2025-07-04 12:05:11,888 - INFO - Saving backup
2025-07-04 12:05:12,364 - INFO - Query ID: 39, Run ID: 6
2025-07-04 12:05:12,369 - INFO - Running pipeline
2025-07-04 12:05:34,412 - INFO - Saving backup
2025-07-04 12:05:35,272 - INFO - Query ID: 39, Run ID: 7
2025-07-04 12:05:35,277 - INFO - Running pipeline
2025-07-04 12:05:57,729 - INFO - Saving backup
2025-07-04 12:05:58,364 - INFO - Query ID: 39, Run ID: 8
2025-07-04 12:05:58,369 - INFO - Running pipeline
2025-07-04 12:06:23,232 - INFO - Saving backup
2025-07-04 12:06:23,480 - INFO - Query ID: 39, Run ID: 9
2025-07-04 12:06:23,482 - INFO - Running pipeline
2025-07-04 12:06:44,995 - INFO - Saving backup
2025-07-04 12:06:45,651 - INFO - Query ID: 39, Run ID: 10
2025-07-04 12:06:45,654 - INFO - Running pipeline
2025-07-04 12:07:10,563 - INFO - Saving backup
2025-07-04 12:07:10,861 - INFO - Saving all

##### Metrics generation

In [ ]:
# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "python"
max_tokens = 10000

# Paths
pred_path = "experiments/preds_gpt-4o_2025-07-04T12-03-09.csv"
prompts_path = "final_prompts/prompts_v3.json"

# Trying out the metrics pipeline with only 1 query
#df_1 = df[df["request"] == query]
# Trying out the metrics pipeline with 3 queries
df_2 = df.loc[:2]

Tiempos direct / no self-correction (18/05/2025)

279m 29.9s
12m 46.5s

Tiempos direct / self-correction (19/05/2025)

5m 4.7s
409m 22s
139m 15.1s

Tiempos step-by-step / self-correction (20/05/2025)

6m 32.4s
159m 0s
135m 0s
4m 7.7s
210m 18.8s

In [ ]:
from pipeline.metricsPipeline import metricsPipeline

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "python"
max_tokens = 10000

# Paths
pred_path = "experiments/preds_gpt-4o_2025-07-04T12-03-09.csv"
prompts_path = "final_prompts/prompts_v3.json"

# Trying out the metrics pipeline with 3 queries    
df_2 = df.loc[:2]

# Running all the metrics of the test set
metrics = metricsPipeline(model, lang_type, max_tokens, 
                          t_conn=2, n_tries=3, direct=False, self_corr=True, 
                          self_corr_prompts={}, prompts_path=prompts_path)
metrics.run_metrics(sql_preds_path=pred_path, df=df_test, total_exps=10, 
                    restart=True)

2025-07-07 11:13:30,935 - INFO - Restarting
2025-07-07 11:13:31,032 - INFO - Query ID: 12, Run ID: 1
2025-07-07 11:13:31,033 - INFO - Getting the gold values to compare
2025-07-07 11:14:09,269 - INFO - Query ID: 12, Run ID: 1, Query gold:              oid      meanra    meandec
0   ZTF23aazxfdh   11.327556  -2.327343
1   ZTF23aazneeg  357.339861 -17.674648
2   ZTF23aazxair   14.098124   0.520434
3   ZTF23abawaav  359.369924  -5.159571
4   ZTF23abbbrbi  358.010245  -4.224612
5   ZTF23abbbygf   16.168206  -1.053601
6   ZTF23aazwytj    0.881927 -10.744196
7   ZTF23abbkepd   13.835889   5.077601
8   ZTF23abapoiv    5.230048  -1.758021
9   ZTF23abbjstt   13.706127  -3.710276
10  ZTF23ababooa  347.699685 -15.441363
11  ZTF23aazkvym  357.860400 -11.907847
12  ZTF23abbbybs   12.780815  -5.443683
13  ZTF23abaychv   12.394942  -3.037759
14  ZTF23aaovxwf  351.140762 -19.056710
15  ZTF23aapnlvr  352.465073 -11.202974
16  ZTF23aaowayh  356.647299 -13.542643
17  ZTF23aapvrkk    0.175006 -12.236802
18  ZTF23aapvzyq  359.503657 -11.916706
19  ZTF23aaohpnv    8.491958   4.082251
20  ZTF23aapgxic    7.748520   5.157252
21  ZTF23aapqtxd    8.879058   2.147919
22  ZTF23abbygzm  343.960147 -17.448733
23  ZTF23abcvivc  358.337513  -5.886772
24  ZTF23aaqixha    8.509318  -9.703939
25  ZTF23aazxiuu    6.501685  -0.884798
26  ZTF23aaqixyp    6.388770  -7.758614
27  ZTF23abbefkk    9.982778   6.622644
28  ZTF23aazwshk   10.101225   4.791153
29  ZTF23abawaqe  352.826653 -18.783349
30  ZTF23aaqygof  345.346057 -18.765263
31  ZTF23aapwihe   17.827492   0.742945
32  ZTF23aaretvs   15.263196  -2.912866
33  ZTF23aarfbvs   11.196881  -2.378468
34  ZTF23aarffak  356.743944 -19.262242
35  ZTF23aarfpck    6.464097   2.183000
36  ZTF23aaqluoo  358.419121 -17.190397
37  ZTF23aascfrd  354.052083  -7.437187
38  ZTF23abbbomo  345.634527 -19.724748
39  ZTF23aapgjtm  351.100632 -14.425906
40  ZTF23aasyvbf    9.411387  -4.281495
41  ZTF23aatzjdo    1.226893 -13.502189
42  ZTF23aaovzyu  349.534040 -12.976046
43  ZTF23aaumlxn    6.423729  -1.050326
44  ZTF23aaaweph    1.307964 -11.502395
45  ZTF23aaaweph    1.307964 -11.502395
46  ZTF23aazsfpa  356.794110 -16.513073
47  ZTF23abbjtdn    6.232715   1.033046
48  ZTF23aavlyvc  359.897395  -6.376741
49  ZTF23aavmycb    7.102145   0.441236
50  ZTF23aawqydv   19.468501   0.780816
51  ZTF23aaxavca    9.017651   1.801565
52  ZTF23aaxavca    9.017651   1.801565
53  ZTF23aaxbfyp    4.112309 -10.371170
54  ZTF23aaxbfzl   16.973081   1.732003
55  ZTF23aaxtrgs    1.760985  -9.567699
56  ZTF23abbitkh   10.628642   8.028922
57  ZTF23aaxtdpc    9.048410  -2.151892
58  ZTF22abrrqkf  351.152588 -13.510948
2025-07-07 11:14:09,272 - INFO - Getting the request for self correction
2025-07-07 11:14:09,274 - INFO - Self-correction
2025-07-07 11:14:12,374 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "probability"
LINE 1: ...oid, object.meanra, object.meandecFROM objectJOIN probabilit...
                                                             ^

[SQL: SELECT object.oid, object.meanra, object.meandecFROM objectJOIN probability ON object.oid = probability.oidWHERE probability.ranking = 1AND probability.classifier_name = 'lc_classifier'AND probability.class IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')AND object.firstmjd BETWEEN 59988.0 AND 60197.0AND q3c_poly_query(object.meanra, object.meandec, '((-20, -20), (-2, -20), (20, 1), (10, 10))'::polygon)]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-07 11:14:12,505 - INFO - Using SQL
2025-07-07 11:14:19,735 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "("
LINE 1: ...oid, object.meanra, object.meandecFROM objectJOIN (    SELEC...
                                                             ^

[SQL: SELECT object.oid, object.meanra, object.meandecFROM objectJOIN (    SELECT oid    FROM probability    WHERE ranking = 1    AND classifier_name = 'lc_classifier'    AND class IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')) AS prob ON object.oid = prob.oidWHERE object.firstmjd BETWEEN 59988.0 AND 60197.0AND q3c_poly_query(object.meanra, object.meandec, '((-20, -20), (-2, -20), (20, 1), (10, 10))'::polygon)]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-07 11:14:19,892 - INFO - Saving backup
2025-07-07 11:14:19,932 - INFO - Query ID: 12, Run ID: 2
2025-07-07 11:14:19,932 - INFO - Getting the gold values to compare
2025-07-07 11:14:28,065 - INFO - Query ID: 12, Run ID: 2, Query gold:              oid      meanra    meandec
0   ZTF23aazxfdh   11.327556  -2.327343
1   ZTF23aazneeg  357.339861 -17.674648
2   ZTF23aazxair   14.098124   0.520434
3   ZTF23abawaav  359.369924  -5.159571
4   ZTF23abbbrbi  358.010245  -4.224612
5   ZTF23abbbygf   16.168206  -1.053601
6   ZTF23aazwytj    0.881927 -10.744196
7   ZTF23abbkepd   13.835889   5.077601
8   ZTF23abapoiv    5.230048  -1.758021
9   ZTF23abbjstt   13.706127  -3.710276
10  ZTF23ababooa  347.699685 -15.441363
11  ZTF23aazkvym  357.860400 -11.907847
12  ZTF23abbbybs   12.780815  -5.443683
13  ZTF23abaychv   12.394942  -3.037759
14  ZTF23aaovxwf  351.140762 -19.056710
15  ZTF23aapnlvr  352.465073 -11.202974
16  ZTF23aaowayh  356.647299 -13.542643
17  ZTF23aapvrkk    0.175006 -12.236802
18  ZTF23aapvzyq  359.503657 -11.916706
19  ZTF23aaohpnv    8.491958   4.082251
20  ZTF23aapgxic    7.748520   5.157252
21  ZTF23aapqtxd    8.879058   2.147919
22  ZTF23abbygzm  343.960147 -17.448733
23  ZTF23abcvivc  358.337513  -5.886772
24  ZTF23aaqixha    8.509318  -9.703939
25  ZTF23aazxiuu    6.501685  -0.884798
26  ZTF23aaqixyp    6.388770  -7.758614
27  ZTF23abbefkk    9.982778   6.622644
28  ZTF23aazwshk   10.101225   4.791153
29  ZTF23abawaqe  352.826653 -18.783349
30  ZTF23aaqygof  345.346057 -18.765263
31  ZTF23aapwihe   17.827492   0.742945
32  ZTF23aaretvs   15.263196  -2.912866
33  ZTF23aarfbvs   11.196881  -2.378468
34  ZTF23aarffak  356.743944 -19.262242
35  ZTF23aarfpck    6.464097   2.183000
36  ZTF23aaqluoo  358.419121 -17.190397
37  ZTF23aascfrd  354.052083  -7.437187
38  ZTF23abbbomo  345.634527 -19.724748
39  ZTF23aapgjtm  351.100632 -14.425906
40  ZTF23aasyvbf    9.411387  -4.281495
41  ZTF23aatzjdo    1.226893 -13.502189
42  ZTF23aaovzyu  349.534040 -12.976046
43  ZTF23aaumlxn    6.423729  -1.050326
44  ZTF23aaaweph    1.307964 -11.502395
45  ZTF23aaaweph    1.307964 -11.502395
46  ZTF23aazsfpa  356.794110 -16.513073
47  ZTF23abbjtdn    6.232715   1.033046
48  ZTF23aavlyvc  359.897395  -6.376741
49  ZTF23aavmycb    7.102145   0.441236
50  ZTF23aawqydv   19.468501   0.780816
51  ZTF23aaxavca    9.017651   1.801565
52  ZTF23aaxavca    9.017651   1.801565
53  ZTF23aaxbfyp    4.112309 -10.371170
54  ZTF23aaxbfzl   16.973081   1.732003
55  ZTF23aaxtrgs    1.760985  -9.567699
56  ZTF23abbitkh   10.628642   8.028922
57  ZTF23aaxtdpc    9.048410  -2.151892
58  ZTF22abrrqkf  351.152588 -13.510948
2025-07-07 11:14:28,069 - INFO - Getting the request for self correction
2025-07-07 11:14:28,071 - INFO - Self-correction
2025-07-07 11:14:31,661 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "probability"
LINE 1: ...oid, object.meanra, object.meandecFROM objectJOIN probabilit...
                                                             ^

[SQL: SELECT object.oid, object.meanra, object.meandecFROM objectJOIN probability ON object.oid = probability.oidWHERE probability.ranking = 1AND probability.classifier_name = 'lc_classifier'AND probability.class IN ('SNIa', 'SNIbc', 'SNII', 'SLSN') -- SNe typesAND object.firstmjd BETWEEN 59988.0 AND 60197.0AND q3c_poly_query(object.meanra, object.meandec, '((-20, -20), (-2, -20), (20, 1), (10, 10))'::polygon)]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-07 11:14:31,788 - INFO - Using SQL
2025-07-07 11:14:40,589 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "("
LINE 1: ...oid, object.meanra, object.meandecFROM objectJOIN (    SELEC...
                                                             ^

[SQL: SELECT object.oid, object.meanra, object.meandecFROM objectJOIN (    SELECT oid    FROM probability    WHERE ranking = 1    AND classifier_name = 'lc_classifier'    AND class IN ('SNIa', 'SNIbc', 'SNII', 'SLSN') -- SNe types) AS probability_filtered ON object.oid = probability_filtered.oidWHERE object.firstmjd BETWEEN 59988.0 AND 60197.0AND q3c_poly_query(object.meanra, object.meandec, '((-20, -20), (-2, -20), (20, 1), (10, 10))'::polygon)]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-07 11:14:40,739 - INFO - Saving backup
2025-07-07 11:14:40,784 - INFO - Query ID: 12, Run ID: 3
2025-07-07 11:14:40,785 - INFO - Getting the gold values to compare
2025-07-07 11:14:49,076 - INFO - Query ID: 12, Run ID: 3, Query gold:              oid      meanra    meandec
0   ZTF23aazxfdh   11.327556  -2.327343
1   ZTF23aazneeg  357.339861 -17.674648
2   ZTF23aazxair   14.098124   0.520434
3   ZTF23abawaav  359.369924  -5.159571
4   ZTF23abbbrbi  358.010245  -4.224612
5   ZTF23abbbygf   16.168206  -1.053601
6   ZTF23aazwytj    0.881927 -10.744196
7   ZTF23abbkepd   13.835889   5.077601
8   ZTF23abapoiv    5.230048  -1.758021
9   ZTF23abbjstt   13.706127  -3.710276
10  ZTF23ababooa  347.699685 -15.441363
11  ZTF23aazkvym  357.860400 -11.907847
12  ZTF23abbbybs   12.780815  -5.443683
13  ZTF23abaychv   12.394942  -3.037759
14  ZTF23aaovxwf  351.140762 -19.056710
15  ZTF23aapnlvr  352.465073 -11.202974
16  ZTF23aaowayh  356.647299 -13.542643
17  ZTF23aapvrkk    0.175006 -12.236802
18  ZTF23aapvzyq  359.503657 -11.916706
19  ZTF23aaohpnv    8.491958   4.082251
20  ZTF23aapgxic    7.748520   5.157252
21  ZTF23aapqtxd    8.879058   2.147919
22  ZTF23abbygzm  343.960147 -17.448733
23  ZTF23abcvivc  358.337513  -5.886772
24  ZTF23aaqixha    8.509318  -9.703939
25  ZTF23aazxiuu    6.501685  -0.884798
26  ZTF23aaqixyp    6.388770  -7.758614
27  ZTF23abbefkk    9.982778   6.622644
28  ZTF23aazwshk   10.101225   4.791153
29  ZTF23abawaqe  352.826653 -18.783349
30  ZTF23aaqygof  345.346057 -18.765263
31  ZTF23aapwihe   17.827492   0.742945
32  ZTF23aaretvs   15.263196  -2.912866
33  ZTF23aarfbvs   11.196881  -2.378468
34  ZTF23aarffak  356.743944 -19.262242
35  ZTF23aarfpck    6.464097   2.183000
36  ZTF23aaqluoo  358.419121 -17.190397
37  ZTF23aascfrd  354.052083  -7.437187
38  ZTF23abbbomo  345.634527 -19.724748
39  ZTF23aapgjtm  351.100632 -14.425906
40  ZTF23aasyvbf    9.411387  -4.281495
41  ZTF23aatzjdo    1.226893 -13.502189
42  ZTF23aaovzyu  349.534040 -12.976046
43  ZTF23aaumlxn    6.423729  -1.050326
44  ZTF23aaaweph    1.307964 -11.502395
45  ZTF23aaaweph    1.307964 -11.502395
46  ZTF23aazsfpa  356.794110 -16.513073
47  ZTF23abbjtdn    6.232715   1.033046
48  ZTF23aavlyvc  359.897395  -6.376741
49  ZTF23aavmycb    7.102145   0.441236
50  ZTF23aawqydv   19.468501   0.780816
51  ZTF23aaxavca    9.017651   1.801565
52  ZTF23aaxavca    9.017651   1.801565
53  ZTF23aaxbfyp    4.112309 -10.371170
54  ZTF23aaxbfzl   16.973081   1.732003
55  ZTF23aaxtrgs    1.760985  -9.567699
56  ZTF23abbitkh   10.628642   8.028922
57  ZTF23aaxtdpc    9.048410  -2.151892
58  ZTF22abrrqkf  351.152588 -13.510948
2025-07-07 11:14:49,079 - INFO - Getting the request for self correction
2025-07-07 11:14:49,081 - INFO - Self-correction
2025-07-07 11:14:52,242 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "JOIN"
LINE 1: ...id, object.meanra, object.meandecFROM objectINNER JOIN proba...
                                                             ^

[SQL: SELECT object.oid, object.meanra, object.meandecFROM objectINNER JOIN probability ON object.oid = probability.oidWHERE probability.ranking = 1AND probability.classifier_name = 'lc_classifier'AND probability.class IN ('SNIa', 'SNIbc', 'SNII', 'SLSN') -- SNe typesAND object.firstmjd BETWEEN 59988.0 AND 60197.0AND q3c_poly_query(object.meanra, object.meandec, '((-20, -20), (-2, -20), (20, 1), (10, 10))'::polygon)]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-07 11:14:52,372 - INFO - Using SQL
2025-07-07 11:14:57,670 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "JOIN"
LINE 1: ...id, object.meanra, object.meandecFROM objectINNER JOIN proba...
                                                             ^

[SQL: SELECT object.oid, object.meanra, object.meandecFROM objectINNER JOIN probability ON object.oid = probability.oidWHERE probability.ranking = 1AND probability.classifier_name = 'lc_classifier'AND probability.class IN ('SNIa', 'SNIbc', 'SNII', 'SLSN') -- SNe typesAND object.firstmjd BETWEEN 59988.0 AND 60197.0AND q3c_poly_query(object.meanra, object.meandec, '((-20, -20), (-2, -20), (20, 1), (10, 10))'::polygon)]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-07 11:14:57,811 - INFO - Saving backup
2025-07-07 11:14:57,848 - INFO - Query ID: 12, Run ID: 4
2025-07-07 11:14:57,848 - INFO - Getting the gold values to compare
2025-07-07 11:15:06,098 - INFO - Query ID: 12, Run ID: 4, Query gold:              oid      meanra    meandec
0   ZTF23aazxfdh   11.327556  -2.327343
1   ZTF23aazneeg  357.339861 -17.674648
2   ZTF23aazxair   14.098124   0.520434
3   ZTF23abawaav  359.369924  -5.159571
4   ZTF23abbbrbi  358.010245  -4.224612
5   ZTF23abbbygf   16.168206  -1.053601
6   ZTF23aazwytj    0.881927 -10.744196
7   ZTF23abbkepd   13.835889   5.077601
8   ZTF23abapoiv    5.230048  -1.758021
9   ZTF23abbjstt   13.706127  -3.710276
10  ZTF23ababooa  347.699685 -15.441363
11  ZTF23aazkvym  357.860400 -11.907847
12  ZTF23abbbybs   12.780815  -5.443683
13  ZTF23abaychv   12.394942  -3.037759
14  ZTF23aaovxwf  351.140762 -19.056710
15  ZTF23aapnlvr  352.465073 -11.202974
16  ZTF23aaowayh  356.647299 -13.542643
17  ZTF23aapvrkk    0.175006 -12.236802
18  ZTF23aapvzyq  359.503657 -11.916706
19  ZTF23aaohpnv    8.491958   4.082251
20  ZTF23aapgxic    7.748520   5.157252
21  ZTF23aapqtxd    8.879058   2.147919
22  ZTF23abbygzm  343.960147 -17.448733
23  ZTF23abcvivc  358.337513  -5.886772
24  ZTF23aaqixha    8.509318  -9.703939
25  ZTF23aazxiuu    6.501685  -0.884798
26  ZTF23aaqixyp    6.388770  -7.758614
27  ZTF23abbefkk    9.982778   6.622644
28  ZTF23aazwshk   10.101225   4.791153
29  ZTF23abawaqe  352.826653 -18.783349
30  ZTF23aaqygof  345.346057 -18.765263
31  ZTF23aapwihe   17.827492   0.742945
32  ZTF23aaretvs   15.263196  -2.912866
33  ZTF23aarfbvs   11.196881  -2.378468
34  ZTF23aarffak  356.743944 -19.262242
35  ZTF23aarfpck    6.464097   2.183000
36  ZTF23aaqluoo  358.419121 -17.190397
37  ZTF23aascfrd  354.052083  -7.437187
38  ZTF23abbbomo  345.634527 -19.724748
39  ZTF23aapgjtm  351.100632 -14.425906
40  ZTF23aasyvbf    9.411387  -4.281495
41  ZTF23aatzjdo    1.226893 -13.502189
42  ZTF23aaovzyu  349.534040 -12.976046
43  ZTF23aaumlxn    6.423729  -1.050326
44  ZTF23aaaweph    1.307964 -11.502395
45  ZTF23aaaweph    1.307964 -11.502395
46  ZTF23aazsfpa  356.794110 -16.513073
47  ZTF23abbjtdn    6.232715   1.033046
48  ZTF23aavlyvc  359.897395  -6.376741
49  ZTF23aavmycb    7.102145   0.441236
50  ZTF23aawqydv   19.468501   0.780816
51  ZTF23aaxavca    9.017651   1.801565
52  ZTF23aaxavca    9.017651   1.801565
53  ZTF23aaxbfyp    4.112309 -10.371170
54  ZTF23aaxbfzl   16.973081   1.732003
55  ZTF23aaxtrgs    1.760985  -9.567699
56  ZTF23abbitkh   10.628642   8.028922
57  ZTF23aaxtdpc    9.048410  -2.151892
58  ZTF22abrrqkf  351.152588 -13.510948
2025-07-07 11:15:06,103 - INFO - Getting the request for self correction
2025-07-07 11:15:06,105 - INFO - Self-correction
2025-07-07 11:15:09,492 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "probability"
LINE 1: ...oid, object.meanra, object.meandecFROM objectJOIN probabilit...
                                                             ^

[SQL: SELECT object.oid, object.meanra, object.meandecFROM objectJOIN probability ON object.oid = probability.oidWHERE probability.ranking = 1AND probability.classifier_name = 'lc_classifier'AND probability.class IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')AND object.firstmjd BETWEEN 59988.0 AND 60197.0AND q3c_poly_query(object.meanra, object.meandec, '((-20, -20), (-2, -20), (20, 1), (10, 10))'::polygon)]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-07 11:15:09,650 - INFO - Using SQL
2025-07-07 11:15:16,460 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "("
LINE 1: ...oid, object.meanra, object.meandecFROM objectJOIN (    SELEC...
                                                             ^

[SQL: SELECT object.oid, object.meanra, object.meandecFROM objectJOIN (    SELECT oid    FROM probability    WHERE ranking = 1    AND classifier_name = 'lc_classifier'    AND class IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')) AS probability_filtered ON object.oid = probability_filtered.oidWHERE object.firstmjd BETWEEN 59988.0 AND 60197.0AND q3c_poly_query(object.meanra, object.meandec, '((-20, -20), (-2, -20), (20, 1), (10, 10))'::polygon)]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-07 11:15:16,624 - INFO - Saving backup
2025-07-07 11:15:16,664 - INFO - Query ID: 12, Run ID: 5
2025-07-07 11:15:16,664 - INFO - Getting the gold values to compare
2025-07-07 11:15:24,897 - INFO - Query ID: 12, Run ID: 5, Query gold:              oid      meanra    meandec
0   ZTF23aazxfdh   11.327556  -2.327343
1   ZTF23aazneeg  357.339861 -17.674648
2   ZTF23aazxair   14.098124   0.520434
3   ZTF23abawaav  359.369924  -5.159571
4   ZTF23abbbrbi  358.010245  -4.224612
5   ZTF23abbbygf   16.168206  -1.053601
6   ZTF23aazwytj    0.881927 -10.744196
7   ZTF23abbkepd   13.835889   5.077601
8   ZTF23abapoiv    5.230048  -1.758021
9   ZTF23abbjstt   13.706127  -3.710276
10  ZTF23ababooa  347.699685 -15.441363
11  ZTF23aazkvym  357.860400 -11.907847
12  ZTF23abbbybs   12.780815  -5.443683
13  ZTF23abaychv   12.394942  -3.037759
14  ZTF23aaovxwf  351.140762 -19.056710
15  ZTF23aapnlvr  352.465073 -11.202974
16  ZTF23aaowayh  356.647299 -13.542643
17  ZTF23aapvrkk    0.175006 -12.236802
18  ZTF23aapvzyq  359.503657 -11.916706
19  ZTF23aaohpnv    8.491958   4.082251
20  ZTF23aapgxic    7.748520   5.157252
21  ZTF23aapqtxd    8.879058   2.147919
22  ZTF23abbygzm  343.960147 -17.448733
23  ZTF23abcvivc  358.337513  -5.886772
24  ZTF23aaqixha    8.509318  -9.703939
25  ZTF23aazxiuu    6.501685  -0.884798
26  ZTF23aaqixyp    6.388770  -7.758614
27  ZTF23abbefkk    9.982778   6.622644
28  ZTF23aazwshk   10.101225   4.791153
29  ZTF23abawaqe  352.826653 -18.783349
30  ZTF23aaqygof  345.346057 -18.765263
31  ZTF23aapwihe   17.827492   0.742945
32  ZTF23aaretvs   15.263196  -2.912866
33  ZTF23aarfbvs   11.196881  -2.378468
34  ZTF23aarffak  356.743944 -19.262242
35  ZTF23aarfpck    6.464097   2.183000
36  ZTF23aaqluoo  358.419121 -17.190397
37  ZTF23aascfrd  354.052083  -7.437187
38  ZTF23abbbomo  345.634527 -19.724748
39  ZTF23aapgjtm  351.100632 -14.425906
40  ZTF23aasyvbf    9.411387  -4.281495
41  ZTF23aatzjdo    1.226893 -13.502189
42  ZTF23aaovzyu  349.534040 -12.976046
43  ZTF23aaumlxn    6.423729  -1.050326
44  ZTF23aaaweph    1.307964 -11.502395
45  ZTF23aaaweph    1.307964 -11.502395
46  ZTF23aazsfpa  356.794110 -16.513073
47  ZTF23abbjtdn    6.232715   1.033046
48  ZTF23aavlyvc  359.897395  -6.376741
49  ZTF23aavmycb    7.102145   0.441236
50  ZTF23aawqydv   19.468501   0.780816
51  ZTF23aaxavca    9.017651   1.801565
52  ZTF23aaxavca    9.017651   1.801565
53  ZTF23aaxbfyp    4.112309 -10.371170
54  ZTF23aaxbfzl   16.973081   1.732003
55  ZTF23aaxtrgs    1.760985  -9.567699
56  ZTF23abbitkh   10.628642   8.028922
57  ZTF23aaxtdpc    9.048410  -2.151892
58  ZTF22abrrqkf  351.152588 -13.510948
2025-07-07 11:15:24,903 - INFO - Getting the request for self correction