# Testing notebook

## Working the CSVs and Excel sheets

In [1]:
# Exploring the 'training' dataset
import pandas as pd
df = pd.read_csv("datasets/txt2sql_alerce_train_v3_1.csv")
df.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\r\n-- mjd date for December = 59914.0\r\n-- m...,\r\n-- Super Nova (SNe) is a large explosion t...,"\r\nSELECT\r\n object.oid, probability.clas...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\r\nSELECT\r\n sq1.oid, sq1.probability as SN...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",\r\n-- mjd date for September 01 = 60188.0\r\n...,\r\n-- A fast riser is defined as an object wh...,"\r\nSELECT\r\n sq.oid, sq.probability, sq.c...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\r\n-- mjd date for the start of the year 2019...,0,"\r\nSELECT\r\n sq.oid, sq.fid, sq.dmdt_first,...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",\r\n-- mjd date for February 01 = 59976.0\r\n-...,0,"\r\nWITH catalog ( source_id, ra, dec) AS (\r\...",advanced,spatial,simple,NaN,NaN,NaN

In [2]:
df[df["request"] == "Find at most 10 cases where the feature called 'LinearTrend' is larger than 5 and their ZTF objects have a difference between last and first detection date larger than 1 day. Return the following columns. For the ZTF objects: ZTF identifier and number of detections; for their light curve classifier data at ranking 1: classifier version, class and probability; for the 'LinearTrend' feature: value and filter identifier"]["external_knowledge"].item()

"Since no feature version is specified, the combination between ZTF oid and fid can be non-unique in the 'feature' table output"

In [3]:
df_test = pd.read_csv("datasets/txt2sql_alerce_test_v3_1.csv")
df_test.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,8,Query all objects that were first classified a...,"['probability', 'object']",\r\n-- mjd date for august 17 = 60173.0\r\n-- ...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n object\r\nI...,simple,object,none,NaN,NaN,NaN
1,27,"Return the oids, meanra, meandec, ndet, firstm...","['probability', 'object']",\r\n-- object.ndet represents the total number...,NaN,"\r\nSELECT\r\n object.oid, object.meanra, o...",simple,object,simple,NaN,NaN,NaN
2,17,Return the objects classified as AGN that show...,"['probability', 'object', 'detection']",\r\n-- firstmjd represents the time of the fir...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n (\r\nSELECT *\r...,advanced,object,tree,NaN,NaN,NaN
3,37,"""Query the top 200 objects classified SNIa acc...",['probability'],NaN,NaN,\r\nSELECT\r\n *\r\nFROM\r\n probability\r...,simple,object,none,NaN,NaN,NaN
4,34,Given this list of oids ['ZTF17aaadpsi' 'ZTF19...,['feature'],\r\n-- feature.name can be 'Amplitude'\r\n-- f...,\r\n-- Multiband_period: Period obtained using...,\r\nSELECT\r\n *\r\nFROM\r\n feature\r\n...,simple,other,none,NaN,NaN,NaN

In [4]:
# Reading the excel file
excel = pd.read_excel("datasets/SQLusecases_alerce.xlsx", 
                      sheet_name="examples_alerce_usecasesV3_1")

# Cleaning the excel a bit
excel = excel.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
excel.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,Set,python_format
0,0,Get objects that are likely to be YSOs (possib...,"['probability', 'feature']",\n-- feature.name can be 'Multiband_period'\n-...,\n-- Multiband_period: Period obtained using t...,"\nSELECT\n oid, probability, value, name, fid...",advanced,object,tree,Train,"sub_query_1='''\nSELECT\n feature.oid, prob_o..."
1,1,Get all the objects classified as AGN with a p...,"['object', 'probability', 'feature', 'magstat']",\n-- object.ndet represents the number of dete...,\n-- Amplitude: Half of the difference between...,"\nSELECT\n sq.oid, sq.value, sq.name, sq.fid ...",advanced,object,tree,Test,\nsub_query_object='''\nSELECT\n object.oid...
2,2,Give me the objects classified as YSO by their...,['probability'],NaN,NaN,"\nSELECT\n oid, probability\nFROM\n prob...",simple,object,none,Train,"query='''\nSELECT\n oid, probability\nFROM\..."
3,3,Give me the objects classified as YSO by the l...,"['object', 'probability']","\n-- last june in mjd date: [start=60096.0, en...",NaN,\nSELECT\n *\nFROM\n probability\nWHERE\...,simple,object,simple,Train,query=f'''\nSELECT\n *\nFROM\n probabili...
4,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\n-- mjd date for the start of the year 2019 =...,NaN,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,Train,# objects classified as SN II with probability...

## Tests

### Gold values and query to test

In [16]:
# Select a query
query = "Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers."

# Check if the query is in the excel file
if query in excel["request"].to_list():
    # Obtain the gold SQL query and Python query
    sql_gold = excel[excel["request"] == query]["gold_query"].item()
    python_gold = excel[excel["request"] == query]["python_format"].item()

    # Obtain the necessary tables
    gold_tables = excel[excel["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)
    print("Python gold query:\n")
    print(python_gold)
    
else:
    # Obtain the gold SQL query
    sql_gold = df[df["request"] == query]["gold_query"].item()

    # Obtain the necessary tables
    gold_tables = df[df["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)

Gold values

Tables needed for the query:
['object', 'probability', 'detection', 'magstat']

SQL gold query:

SELECT
    sq.oid, sq.probability, sq.candid, sq.fid, sq.mjd,
    magstat.fid as magstat_fid, magstat.dmdt_first
FROM
  (
SELECT
  detection.oid, detection.candid, detection.fid, detection.mjd,
  obj_oids.probability
FROM
  (
SELECT
    object.oid, probability.probability
FROM
    object INNER JOIN
    probability
    ON object.oid = probability.oid
WHERE
    probability.classifier_name='stamp_classifier'
    AND probability.class_name='SN'
    AND probability.ranking=1
    AND object.firstmjd > 60188.0
    AND object.firstmjd < 60189.0
) as obj_oids
    INNER JOIN
    detection ON detection.oid = obj_oids.oid
) AS sq
  INNER JOIN magstat
  ON sq.oid = magstat.oid
WHERE
  magstat.dmdt_first < -0.25
ORDER BY oid

Python gold query:

sub_query_object=f'''
SELECT
    object.oid, probability.probability
FROM
    object INNER JOIN
    probability
    ON object.oid = probability.oid
WHERE
    probability.classifier_name='stamp_classifier'
    AND probability.class_name='SN'
    AND probability.ranking=1
    AND object.firstmjd > {mjd_first_16}
    AND object.firstmjd < {mjd_last_16}
'''

sub_query_detection=f'''
SELECT
  detection.oid, detection.candid, detection.fid, detection.mjd,
  obj_oids.probability
FROM
  ({sub_query_object}) as obj_oids
    INNER JOIN
    detection ON detection.oid = obj_oids.oid
'''

### detections
query=f'''
SELECT
    sq.oid, sq.probability, sq.candid, sq.fid, sq.mjd,
    magstat.fid as magstat_fid, magstat.dmdt_first
FROM
  ({sub_query_detection}) AS sq
  INNER JOIN magstat
  ON sq.oid = magstat.oid
WHERE
  magstat.dmdt_first < -0.25
ORDER BY oid
'''

In [15]:
# Running the gold query
from secret.config import SQL_URL
import requests
import sqlalchemy as sa

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{params['user']}:{params['password']}@{params['host']}/{params['dbname']}")
engine.begin()

resultGold = pd.read_sql_query(sql_gold, con=engine)
resultGold

,oid,probability,candid,fid,mjd,magstat_fid,dmdt_first
0,ZTF18aaiaclp,0.520409,2434223984915015031,2,60188.223982,2,-0.445361
1,ZTF18aakjgzj,0.319556,2434219693515015039,2,60188.219699,2,-0.341342
2,ZTF18aaleydm,0.613368,2434217801715015066,2,60188.217801,2,-0.830610
3,ZTF18aamxief,0.323881,2434223031815015040,2,60188.223032,2,-0.298997
4,ZTF18aanglcr,0.336435,2434215873315015004,2,60188.215880,2,-0.713267
5,ZTF18aaouvke,0.282244,2434220161815015099,2,60188.220162,2,-0.333054
6,ZTF18aaqsuyn,0.414416,2434215875015015115,2,60188.215880,2,-0.880376
7,ZTF18aattenu,0.599858,2434216851815015097,2,60188.216852,2,-0.651601
8,ZTF18aaxkcvg,0.492333,2434224440015015034,2,60188.224444,2,-0.346522
9,ZTF18abbinqq,0.497010,2434182954115015170,1,60188.182951,1,-0.529858
10,ZTF18abgaubg,0.367991,2434219694115015021,2,60188.219699,2,-0.415153
11,ZTF18abglnwb,0.329889,2434216353715015103,2,60188.216354,2,-0.443484
12,ZTF18abhwgok,0.365993,2434182950715015047,1,60188.182951,1,-0.580608
13,ZTF18ablaynw,0.342683,2434184374315015053,1,60188.184375,1,-0.970855
14,ZTF18ableqag,0.379848,2434216850215015033,2,60188.216852,2,-0.522742
15,ZTF18acdasef,0.323562,2434185780915015012,1,60188.185787,1,-0.901711
16,ZTF18acxanzv,0.381807,2434171450015015078,1,60188.171458,1,-0.696760
17,ZTF19aamctar,0.611254,2434170520115015077,1,60188.170521,1,-0.363331
18,ZTF19aaqjtmu,0.316548,2434185785515015196,1,60188.185787,1,-0.542452
19,ZTF19aaxcivg,0.387324,2434185784315015146,1,60188.185787,1,-0.414204
20,ZTF19abvvndq,0.439971,2434172404115015076,1,60188.172407,1,-0.426276
21,ZTF19acpkrqy,0.336011,2434171450015015085,1,60188.171458,1,-0.363061
22,ZTF20abkqomr,0.584670,2434220160015015096,2,60188.220162,2,-0.253318
23,ZTF20abkrdwi,0.378856,2434220632315015080,2,60188.220637,2,-0.471683
24,ZTF20achfwjr,0.386997,2434226822515015233,2,60188.226829,2,-0.389240
25,ZTF20adimwph,0.373529,2434215400115015120,2,60188.215405,2,-0.539711
26,ZTF21abevufp,0.402187,2434183903615015008,1,60188.183901,1,-1.214308
27,ZTF22aaqqlbm,0.382260,2434170992215015013,1,60188.170995,1,-0.456345
28,ZTF22aatmbdd,0.404035,2434169570815015161,1,60188.169572,1,-0.795624
29,ZTF23abasyxe,0.323214,2434170523915015034,1,60188.170521,1,-0.389963
30,ZTF23abatcyd,0.278659,2434182954115015147,1,60188.182951,1,-0.554422
31,ZTF23abatdoy,0.344793,2434168631015015070,1,60188.168634,1,-0.672678
32,ZTF23abatgxx,0.449466,2434191153815015239,2,60188.191157,2,-0.514062
33,ZTF23abatlea,0.376271,2434186272115015073,1,60188.186273,1,-0.330905
34,ZTF23abatmhd,0.359963,2434185783715015163,1,60188.185787,1,-0.894516
35,ZTF23abatokz,0.528303,2434216352615015059,2,60188.216354,2,-0.714582
36,ZTF23abatqpu,0.351905,2434216851815015039,2,60188.216852,2,-0.452335
37,ZTF23abatqpw,0.702023,2434216851815015088,2,60188.216852,2,-0.469563
38,ZTF23abatriq,0.453436,2434219690515015189,2,60188.219699,2,-0.268780
39,ZTF23abatwjf,0.262842,2434223983715015179,2,60188.223982,2,-0.348651
40,ZTF23abatxuz,0.614179,2434215870415015187,2,60188.215880,2,-0.719351
41,ZTF23abaudpp,0.348228,2434226822115015013,2,60188.226829,2,-0.973436
42,ZTF23abaudrd,0.735403,2434220160015015156,2,60188.220162,2,-0.334129

### Trying out the pipelines

#### Singular

In [ ]:
from pprint import pprint
from pipeline.eval import run_pipeline
from testing.tests import engine
engine.begin()

# Working query
query = "Query all objects that were first classified as SN by the stamp classifier between august 17 and august 21, with a probability greater than 0.5 or at least have two detections."

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
format = "python"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Running the pipeline
result, error, total_usage, prompts, _ = run_pipeline(query, model, max_tokens, size, 
                                            overlap, quantity, format, False,
                                            True, True, 2, 3)
print("Resulting table:")
print(result)
print("Total usage of the pipeline:")
pprint(total_usage)

# The prompts used will be saved in this file
with open(f"prompts/examples/prompts_query_{model}.txt", "w") as f:
    f.write(str(prompts))

c:\Users\sanfe\Documents\Mo\Trabajos\Universidad\MDS\Semestre 9\Seminario de Tesis II\Tesis-Simon-Sanfeliu\tesis\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Tables needed: [object, feature, detection]
Difficulty: advanced
Raw response: ```python
# Sub-query for SN II Classification
sub_query_sn_ii = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
'''

# Sub-query for Number of Detections
sub_query_detections = f'''
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
'''

# Sub-query for Magnitude Difference in g-band
sub_query_mag_diff = f'''
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
'''

# Combine Sub-queries with INTERSECT
sub_query_combined = f'''
SELECT oid FROM ({sub_query_sn_ii}) AS sn_ii
INTERSECT
SELECT oid FROM ({sub_query_detections}) AS detections
INTERSECT
SELECT oid FROM ({sub_query_mag_diff}) AS mag_diff
'''

# Main Query to Retrieve Required Information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.mjd
'''
```
Resulting python query: # Sub-query for SN II Classification
sub_query_sn_ii = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
''' # Sub-query for Number of Detections
sub_query_detections = f'''
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
''' # Sub-query for Magnitude Difference in g-band
sub_query_mag_diff = f'''
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
''' # Combine Sub-queries with INTERSECT
sub_query_combined = f'''
SELECT oid FROM ({sub_query_sn_ii}) AS sn_ii
INTERSECT
SELECT oid FROM ({sub_query_detections}) AS detections
INTERSECT
SELECT oid FROM ({sub_query_mag_diff}) AS mag_diff
''' # Main Query to Retrieve Required Information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.mjd
'''
# Sub-query for SN II Classification
sub_query_sn_ii = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
''' # Sub-query for Number of Detections
sub_query_detections = f'''
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
''' # Sub-query for Magnitude Difference in g-band
sub_query_mag_diff = f'''
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
''' # Combine Sub-queries with INTERSECT
sub_query_combined = f'''
SELECT oid FROM ({sub_query_sn_ii}) AS sn_ii
INTERSECT
SELECT oid FROM ({sub_query_detections}) AS detections
INTERSECT
SELECT oid FROM ({sub_query_mag_diff}) AS mag_diff
''' # Main Query to Retrieve Required Information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.mjd
'''
Running SQL exception in run_query: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN (
SELECT oid FROM (
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
) AS sn_ii
INTERSECT
SELECT oid FROM (
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
) AS detections
INTERSECT
SELECT oid FROM (
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
) AS mag_diff
)
ORDER BY
    detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Raised exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN (
SELECT oid FROM (
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
) AS sn_ii
INTERSECT
SELECT oid FROM (
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
) AS detections
INTERSECT
SELECT oid FROM (
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
) AS mag_diff
)
ORDER BY
    detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Start retry with self-correction
Corrected query:
```python
# Sub-query for SN II Classification
sub_query_sn_ii = f'''
SELECT
    oid
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND class_name = 'SNII'
    AND probability > 0.6
    AND ranking = 1
'''

# Sub-query for Number of Detections
sub_query_detections = f'''
SELECT
    oid
FROM
    object
WHERE
    ndet > 50
'''

# Sub-query for Magnitude Difference in g-band
sub_query_mag_diff = f'''
SELECT
    oid
FROM
    feature
WHERE
    name = 'delta_mag_fid'
    AND value > 2
    AND fid = 1  -- Assuming fid=1 corresponds to ZTF g-band
'''

# Combine Sub-queries with INTERSECT
sub_query_combined = f'''
SELECT oid FROM ({sub_query_sn_ii}) AS sn_ii
INTERSECT
SELECT oid FROM ({sub_query_detections}) AS detections
INTERSECT
SELECT oid FROM ({sub_query_mag_diff}) AS mag_diff
'''

# Main Query to Retrieve Required Information
full_query = f'''
SELECT
    detection.oid,
    detection.candid,
    detection.magpsf,
    detection.sigmapsf,
    detection.fid,
    detection.mjd
FROM
    detection
WHERE
    detection.oid IN ({sub_query_combined})
ORDER BY
    detection.mjd
'''
```

#### Various

In [11]:
# Advanced queries of the test dataset
queries = ["Return the objects classified as AGN that show variability in the r band, but have no detections or show no variability in the g band. Order the features by their value in ascending order, and the final query by oid.", "Get all the objects classified as AGN with a probability larger than 0.6, with light curves covering at least one year that have at least 20 detections at least in one band, and select those that show variations larger than 1 magnitude in the g band and larger than 0.5 in the r band. The magnitudes need to be the corrected ones. Return their oid, the value, name, version and filter id from the features, mean coordinates, number of detections, maximum and minimum magnitudes, the variations in bands as the difference between the maximum and minimum magnitudes aliasing the column as 'delta_mag'. For the filter id columns, use the alias '[table_name]_fid' using the table name as the alias.", " Get the object identifiers, probabilities in the stamp classifier and light curves (including only non-detections) for objects whose highest probability in the stamp classifier is obtained for class SN, had their first detection in the first 2 days of september, and qualify as fast risers. Also, return the oid, probability, filter ID and the image difference, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid and limit the results to 100 rows due to time constraints.", "Find at most 200 ZTF objects that satisfy the following conditions: have a distance to the nearest PS1 source larger than 5 arcsec, and have a probability larger than 0.7 of being in a class other than supernova in the light curve classifier. Return all columns from the 'object', 'probability' and 'ps1_ztf' table for such objects, and order the results by the nearest PS1 source distance.", "Find at most 10 ZTF objects that have a first detection date later than mjd=60310 days, as well as a probability of 1 of being an asteroid in the stamp classifier, ordered by the first detection date. Return all columns from the 'forced_photometry' table for such objects", "Find at most 50 ZTF objects that satisfy the following conditions: have a probability larger than 0.6 of being an AGN in the light curve classifier, and a WISE W1 magnitude between 12 and 13. Return all columns from the 'magstat' table for such objects", "Find at most 30 ZTF objects that have a probability larger than 0.9 of being an asteroid in the stamp classifier version 'stamp_classifier_1.0.4'. Return the following columns: identifier of the ZTF and candidate, distance from the nearest Solar System object, MPC archive magnitude and name. Include also the following columns related to each candidate in the output table: filter identifier, FWHM from SExtractor, number of PS1 calibrators used, and exposure time", "Find at most 10 ZTF objects that satisfy the following conditions: have more than 500 detections, a probability larger than 0.5 of being an asteroid in the stamp classifier version 'stamp_classifier_1.0.4', and a distance from the nearest Solar System object below 2 arcsec. Return the following columns: ZTF identifier, number of detections, first and last detection date, probability, candidate identifier, distance between ZTF object and MPC object, MPC name, detection date and filter identifier. Order the results by the first detection date.", "Find all detections, non-detections and forced photometry points for the ZTF object 'ZTF24aamtvxb'. Return all epochs in the same output table, including the following columns: ZTF identifier, epoch date, filter identifier, isdiffpos flag, detection difference magnitude and its uncertainty, 5-sigma magnitude limit, forced difference magnitude and its uncertainty, and a column named 'table' (that contains the name of the table of origin for each epoch)", "Find at most 30 ZTF objects that satisfy the following conditions: have more than 10 detections, a probability larger than 0.7 of being a bogus in the stamp classifier version 'stamp_classifier_1.0.4', and  a probability larger than 0.9 of being a transient in the light curve classifier top level. Return the following columns: ZTF identifier, number of detections, first detection date, probability in the stamp classifier (name this column 'prob_stamp_bogus'), and probability in the light curve classifier top level (name this column 'prob_lc_transient'). Order the results by the ZTF identifier of the objects classified as bogus in the stamp classifier."]

# Testing
df_test[df_test["difficulty"] == "simple"]["request"].to_numpy()

32

In [8]:
# Running the gold query
from secret.config import SQL_URL, USER_10, PASS_10
import requests
import sqlalchemy as sa
import csv
from pipeline.eval import run_pipeline

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{USER_10}:{PASS_10}@{params['host']}/{params['dbname']}", poolclass=sa.pool.NullPool)
engine.begin()

# Model to use
model = "gpt-4o"

# Format for the pipeline
format = "sql"
rag = True

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Select a query
queries = df_test[df_test["difficulty"] == "simple"]["request"].to_numpy()

to_csv = []
for i, query in enumerate(queries):
    # Obtain the gold SQL query
    sql_gold = df_test[df_test["request"] == query]["gold_query"].iloc[0]
    try:
        resultGold = pd.read_sql_query(sql_gold, con=engine)
    except Exception as e:
        print(f"Exception occured running SQL gold: {e}")
        print("Skipping this query for the sake of the CSV")
        continue

    print(f"Experimento nmero: {i+1}")
    result, error, total_usage, _, table = run_pipeline(query, model, max_tokens, size, 
                                                overlap, quantity, format, False,
                                                rag, True, 10, 3)
    
    # Saving the actual query used in Python
    full_query = None
    if format == "python" and df_test[df_test["request"] == query]["difficulty"].iloc[0] != "simple":
        exec(table, globals())
        
    # Adding extra validation for result
    if result is not None:
        if "oid" not in result.columns:
            resultRows = result[result.columns[0]].to_numpy()
        else:
            resultRows = result["oid"].to_numpy()
    
    if result is not None:
        # Get predicted oid list
        if 'oid' in result.columns:
            oids_pred = result.sort_values(by="oid",axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'oid_catalog' in result.columns:
            oids_pred = result.sort_values(by="oid_catalog",axis=0).reset_index(drop=True)['oid_catalog'].values.tolist()
        elif 'objectidps1' in result.columns:
            oids_pred = result.sort_values(by="objectidps1",axis=0).reset_index(drop=True)['objectidps1'].values.tolist()
        elif 'classifier_name' in result.columns:
            oids_pred = result.sort_values(by="classifier_name",axis=0).reset_index(drop=True)['classifier_name'].values.tolist()
        elif 'count' in result.columns:
            oids_pred = result.sort_values(by="count",axis=0).reset_index(drop=True)['count'].values.tolist()
            
            # check oids for tipical columns names hallucinations
        elif 'ztf_identifier' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'ztf_identifier': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'ztf identifier' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'ztf identifier': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'ztf_oid' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'ztf_oid': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'ztf_id' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'ztf_id': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'object' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'object': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'ztf' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'ztf': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'allwise_id' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'allwise_id': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
          
    for_list = {
        "exp": 40 + i + 1,
        "request": query,
        "model": model,
        "format": format,
        "rag": rag,
        "genQuery": table,
        "genQueryPython": full_query,
        "goldQuery": sql_gold,
        "results": result,
        "resultsCols": result.columns.to_numpy() if result is not None else None,
        "resultsRows": resultRows if result is not None else None,
        "error": error,
        "usage": total_usage,
        "resultGold": resultGold,
        "resultGoldCols": resultGold.columns.to_numpy(),
        "resultGoldRows": resultGold["oid"].to_numpy() if "oid" in resultGold.columns else resultGold[resultGold.columns[0]]
    }
    to_csv.append(for_list)

headers = to_csv[0].keys()
file_name = f"experiments/{format}_RAG_{rag}_10_diff.csv"
with open(file_name, mode='w', newline='') as file:
    writer = csv.DictWriter(file, fieldnames=headers)
    
    # Write the header row
    writer.writeheader()
    
    # Write the data rows
    for row in to_csv:
        writer.writerow(row)

Experimento nmero: 1
Tables needed: [object, probability]
Difficulty: simple
Raw response: ```sql
SELECT *
FROM object
WHERE oid IN (
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
      AND mjd BETWEEN 60200 AND 60204
)
OR ndet >= 2;
```
Resulting sql query:
SELECT *
FROM object
WHERE oid IN (
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
      AND mjd BETWEEN 60200 AND 60204
)
OR ndet >= 2


SELECT *
FROM object
WHERE oid IN (
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
      AND mjd BETWEEN 60200 AND 60204
)
OR ndet >= 2

Running SQL exception in run_query: (psycopg2.errors.UndefinedColumn) column "mjd" does not exist
LINE 11:       AND mjd BETWEEN 60200 AND 60204
                   ^

[SQL:
SELECT *
FROM object
WHERE oid IN (
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
      AND mjd BETWEEN 60200 AND 60204
)
OR ndet >= 2
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: (psycopg2.errors.UndefinedColumn) column "mjd" does not exist
LINE 11:       AND mjd BETWEEN 60200 AND 60204
                   ^

[SQL:
SELECT *
FROM object
WHERE oid IN (
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
      AND mjd BETWEEN 60200 AND 60204
)
OR ndet >= 2
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Start retry with self-correction
Corrected query:

-- Step 1: Filter the probability table for the required conditions and get distinct oids
WITH filtered_probability AS (
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
)

-- Step 2: Query the object table for the required conditions
SELECT *
FROM object
WHERE (oid IN (SELECT oid FROM filtered_probability)
       AND firstmjd BETWEEN 60200 AND 60204)
   OR ndet >= 2

Running SQL exception in run_query: (psycopg2.errors.UndefinedColumn) column "mjd" does not exist
LINE 11:       AND mjd BETWEEN 60200 AND 60204
                   ^

[SQL:
SELECT *
FROM object
WHERE oid IN (
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
      AND mjd BETWEEN 60200 AND 60204
)
OR ndet >= 2
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Experimento nmero: 2
Tables needed: [object, probability]
Difficulty: simple
Raw response: ```sql
SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    o.deltajd,
    o.g_r_max,
    p.classifier_name,
    p.class_name,
    p.ranking,
    p.probability
FROM
    object o
WHERE
    o.ndet >= 100
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'lc_classifier'
            AND class_name = 'CEP'
            AND probability > 0.76
            AND ranking = 1
    )
```
Resulting sql query:
SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    o.deltajd,
    o.g_r_max,
    p.classifier_name,
    p.class_name,
    p.ranking,
    p.probability
FROM
    object o
WHERE
    o.ndet >= 100
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'lc_classifier'
            AND class_name = 'CEP'
            AND probability > 0.76
            AND ranking = 1
    )


SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    o.deltajd,
    o.g_r_max,
    p.classifier_name,
    p.class_name,
    p.ranking,
    p.probability
FROM
    object o
WHERE
    o.ndet >= 100
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'lc_classifier'
            AND class_name = 'CEP'
            AND probability > 0.76
            AND ranking = 1
    )

Running SQL exception in run_query: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 10:     p.classifier_name,
             ^

[SQL:
SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    o.deltajd,
    o.g_r_max,
    p.classifier_name,
    p.class_name,
    p.ranking,
    p.probability
FROM
    object o
WHERE
    o.ndet >= 100
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'lc_classifier'
            AND class_name = 'CEP'
            AND probability > 0.76
            AND ranking = 1
    )
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 10:     p.classifier_name,
             ^

[SQL:
SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    o.deltajd,
    o.g_r_max,
    p.classifier_name,
    p.class_name,
    p.ranking,
    p.probability
FROM
    object o
WHERE
    o.ndet >= 100
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'lc_classifier'
            AND class_name = 'CEP'
            AND probability > 0.76
            AND ranking = 1
    )
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Start retry with self-correction
Corrected query:

SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    o.deltajd,
    o.g_r_max,
    p.classifier_name,
    p.class_name,
    p.ranking,
    p.probability
FROM
    object o
JOIN
    probability p ON o.oid = p.oid  -- Correctly join the probability table
WHERE
    o.ndet >= 100
    AND p.classifier_name = 'lc_classifier'
    AND p.class_name = 'CEP'
    AND p.probability > 0.76
    AND p.ranking = 1

Running SQL exception in run_query: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 10:     p.classifier_name,
             ^

[SQL:
SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    o.deltajd,
    o.g_r_max,
    p.classifier_name,
    p.class_name,
    p.ranking,
    p.probability
FROM
    object o
WHERE
    o.ndet >= 100
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'lc_classifier'
            AND class_name = 'CEP'
            AND probability > 0.76
            AND ranking = 1
    )
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Experimento nmero: 3
Tables needed: [probability]
Difficulty: simple
Raw response: ```sql
SELECT oid, probability
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name = 'SNIa'
ORDER BY probability DESC
LIMIT 200
```
Resulting sql query:
SELECT oid, probability
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name = 'SNIa'
ORDER BY probability DESC
LIMIT 200


SELECT oid, probability
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name = 'SNIa'
ORDER BY probability DESC
LIMIT 200

Raised exception:
Start retry with self-correction
Corrected query:

SELECT oid, probability
FROM probability
WHERE classifier_name = 'lc_classifier'
  AND class_name = 'SNIa'
  AND ranking = 1 -- Ensure only the most likely probabilities are selected
ORDER BY probability DESC
LIMIT 200

Experimento nmero: 4
Tables needed: [feature]
Difficulty: advanced
Raw response: ```1
-- Step 1: Sub-query to filter the list of oids
WITH filtered_oids AS (
    SELECT unnest(ARRAY['ZTF17aaadpsi', 'ZTF19aaduncs', 'ZTF18abnvehl', 'ZTF19abrqsxy', 'ZTF19aaduodl', 'ZTF19aadovdv', 'ZTF18aammkke', 'ZTF18abtriul', 'ZTF17aabwtky', 'ZTF18abwjpfy']) AS oid
)
```

```2
-- Step 2: Sub-query for Feature 'Amplitude'
, amplitude_features AS (
    SELECT f.*
    FROM feature f
    INNER JOIN filtered_oids oids ON f.oid = oids.oid
    WHERE f.name = 'Amplitude'
)
```

```3
-- Step 3: Sub-query for Feature 'Multiband_period'
, multiband_period_features AS (
    SELECT f.*
    FROM feature f
    INNER JOIN filtered_oids oids ON f.oid = oids.oid
    WHERE f.name = 'Multiband_period'
)
```

```4
-- Step 4: UNION of Feature Sub-queries
, combined_features AS (
    SELECT * FROM amplitude_features
    UNION
    SELECT * FROM multiband_period_features
)
```

```sql
-- Final Query: Select from the combined features
SELECT *
FROM combined_features
ORDER BY oid;
```
Resulting sql query:
-- Final Query: Select from the combined features
SELECT *
FROM combined_features
ORDER BY oid


-- Final Query: Select from the combined features
SELECT *
FROM combined_features
ORDER BY oid

Running SQL exception in run_query: (psycopg2.errors.UndefinedTable) relation "combined_features" does not exist
LINE 4: FROM combined_features
             ^

[SQL:
-- Final Query: Select from the combined features
SELECT *
FROM combined_features
ORDER BY oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: (psycopg2.errors.UndefinedTable) relation "combined_features" does not exist
LINE 4: FROM combined_features
             ^

[SQL:
-- Final Query: Select from the combined features
SELECT *
FROM combined_features
ORDER BY oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Start retry with self-correction
Corrected query:

-- Step 1: Select the oids from the feature table where the name is either 'Amplitude' or 'Multiband_period'
WITH selected_features AS (
    SELECT oid, name, value
    FROM feature
    WHERE name IN ('Amplitude', 'Multiband_period')
    AND oid IN ('ZTF17aaadpsi', 'ZTF19aaduncs', 'ZTF18abnvehl', 'ZTF19abrqsxy', 'ZTF19aaduodl', 'ZTF19aadovdv', 'ZTF18aammkke', 'ZTF18abtriul', 'ZTF17aabwtky', 'ZTF18abwjpfy')
)

-- Final Query: Select from the selected_features
SELECT *
FROM selected_features
ORDER BY oid

Running SQL exception in run_query: (psycopg2.errors.UndefinedTable) relation "combined_features" does not exist
LINE 4: FROM combined_features
             ^

[SQL:
-- Final Query: Select from the combined features
SELECT *
FROM combined_features
ORDER BY oid
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Experimento nmero: 5
Tables needed: [object, probability]
Difficulty: simple
Raw response: ```sql
SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    p.class_name,
    p.probability
FROM
    object o
WHERE
    o.firstmjd BETWEEN 59288 AND 59319
    AND o.ndet <= 1
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'stamp_classifier'
            AND class_name = 'asteroid'
            AND probability > 0.7
            AND ranking = 1
    );
```
Resulting sql query:
SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    p.class_name,
    p.probability
FROM
    object o
WHERE
    o.firstmjd BETWEEN 59288 AND 59319
    AND o.ndet <= 1
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'stamp_classifier'
            AND class_name = 'asteroid'
            AND probability > 0.7
            AND ranking = 1
    )


SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    p.class_name,
    p.probability
FROM
    object o
WHERE
    o.firstmjd BETWEEN 59288 AND 59319
    AND o.ndet <= 1
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'stamp_classifier'
            AND class_name = 'asteroid'
            AND probability > 0.7
            AND ranking = 1
    )

Running SQL exception in run_query: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 8:     p.class_name,
            ^

[SQL:
SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    p.class_name,
    p.probability
FROM
    object o
WHERE
    o.firstmjd BETWEEN 59288 AND 59319
    AND o.ndet <= 1
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'stamp_classifier'
            AND class_name = 'asteroid'
            AND probability > 0.7
            AND ranking = 1
    )
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 8:     p.class_name,
            ^

[SQL:
SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    p.class_name,
    p.probability
FROM
    object o
WHERE
    o.firstmjd BETWEEN 59288 AND 59319
    AND o.ndet <= 1
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'stamp_classifier'
            AND class_name = 'asteroid'
            AND probability > 0.7
            AND ranking = 1
    )
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Start retry with self-correction
Corrected query:

SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    p.class_name,
    p.probability
FROM
    object o
JOIN
    probability p ON o.oid = p.oid  -- Corrected: Added JOIN clause to include the probability table
WHERE
    o.firstmjd BETWEEN 59288 AND 59319
    AND o.ndet <= 1
    AND p.classifier_name = 'stamp_classifier'  -- Corrected: Moved conditions to the WHERE clause
    AND p.class_name = 'asteroid'
    AND p.probability > 0.7
    AND p.ranking = 1

Running SQL exception in run_query: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 8:     p.class_name,
            ^

[SQL:
SELECT
    o.oid,
    o.meanra,
    o.meandec,
    o.ndet,
    o.firstmjd,
    p.class_name,
    p.probability
FROM
    object o
WHERE
    o.firstmjd BETWEEN 59288 AND 59319
    AND o.ndet <= 1
    AND o.oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE
            classifier_name = 'stamp_classifier'
            AND class_name = 'asteroid'
            AND probability > 0.7
            AND ranking = 1
    )
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Experimento nmero: 6
Tables needed: [object, probability]
Difficulty: simple
Raw response: ```sql
SELECT
    oid,
    class_name,
    probability
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND ranking = 1
```
Resulting sql query:
SELECT
    oid,
    class_name,
    probability
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND ranking = 1


SELECT
    oid,
    class_name,
    probability
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND ranking = 1

Raised exception:
Start retry with self-correction
Corrected query:

SELECT
    oid,
    class_name,
    probability
FROM
    probability
WHERE
    classifier_name = 'lc_classifier'
    AND ranking = 1

Experimento nmero: 7
Tables needed: [object, probability]
Difficulty: simple
Raw response: ```sql
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58262 AND 58392
AND oid IN (
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'lc_classifier'
)
```
Resulting sql query:
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58262 AND 58392
AND oid IN (
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'lc_classifier'
)


SELECT oid
FROM object
WHERE firstmjd BETWEEN 58262 AND 58392
AND oid IN (
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'lc_classifier'
)

Raised exception:
Start retry with self-correction
Corrected query:

SELECT oid
FROM object
WHERE firstmjd BETWEEN 58262 AND 58392
AND oid IN (
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'lc_classifier'
    AND ranking = 1
)

Experimento nmero: 8
Tables needed: [object]
Difficulty: simple
Raw response: ```sql
WITH catalog (identifier, ra, dec, search_radius) AS (
    VALUES
        ('id_1', 354.67, 15.954, 30/3600.0),
        ('id_2', 20.7993, 1.00331, 20/3600.0)
),
matched_objects AS (
    SELECT
        c.identifier, c.ra AS input_ra, c.dec AS input_dec, c.search_radius,
        o.oid AS ztf_identifier, o.ndet AS number_of_detections,
        o.meanra AS mean_ra, o.meandec AS mean_dec, o.firstmjd AS first_detection_date,
        o.lastmjd AS last_detection_date
    FROM object o, catalog c
    WHERE q3c_join(c.ra, c.dec, o.meanra, o.meandec, c.search_radius)
)
SELECT
    identifier, input_ra, input_dec, search_radius,
    ztf_identifier, number_of_detections, mean_ra, mean_dec, first_detection_date
FROM matched_objects
ORDER BY last_detection_date DESC
```
Resulting sql query:
WITH catalog (identifier, ra, dec, search_radius) AS (
    VALUES
        ('id_1', 354.67, 15.954, 30/3600.0),
        ('id_2', 20.7993, 1.00331, 20/3600.0)
),
matched_objects AS (
    SELECT
        c.identifier, c.ra AS input_ra, c.dec AS input_dec, c.search_radius,
        o.oid AS ztf_identifier, o.ndet AS number_of_detections,
        o.meanra AS mean_ra, o.meandec AS mean_dec, o.firstmjd AS first_detection_date,
        o.lastmjd AS last_detection_date
    FROM object o, catalog c
    WHERE q3c_join(c.ra, c.dec, o.meanra, o.meandec, c.search_radius)
)
SELECT
    identifier, input_ra, input_dec, search_radius,
    ztf_identifier, number_of_detections, mean_ra, mean_dec, first_detection_date
FROM matched_objects
ORDER BY last_detection_date DESC


WITH catalog (identifier, ra, dec, search_radius) AS (
    VALUES
        ('id_1', 354.67, 15.954, 30/3600.0),
        ('id_2', 20.7993, 1.00331, 20/3600.0)
),
matched_objects AS (
    SELECT
        c.identifier, c.ra AS input_ra, c.dec AS input_dec, c.search_radius,
        o.oid AS ztf_identifier, o.ndet AS number_of_detections,
        o.meanra AS mean_ra, o.meandec AS mean_dec, o.firstmjd AS first_detection_date,
        o.lastmjd AS last_detection_date
    FROM object o, catalog c
    WHERE q3c_join(c.ra, c.dec, o.meanra, o.meandec, c.search_radius)
)
SELECT
    identifier, input_ra, input_dec, search_radius,
    ztf_identifier, number_of_detections, mean_ra, mean_dec, first_detection_date
FROM matched_objects
ORDER BY last_detection_date DESC

Raised exception:
Start retry with self-correction
Corrected query:

WITH catalog (identifier, ra, dec, search_radius) AS (
    VALUES
        ('id_1', 354.67, 15.954, 30/3600.0),
        ('id_2', 20.7993, 1.00331, 20/3600.0)
),
matched_objects AS (
    SELECT
        c.identifier, c.ra AS input_ra, c.dec AS input_dec, c.search_radius,
        o.oid AS ztf_identifier, o.ndet AS number_of_detections,
        o.meanra AS mean_ra, o.meandec AS mean_dec, o.firstmjd AS first_detection_date
    FROM object o, catalog c
    WHERE q3c_join(c.ra, c.dec, o.meanra, o.meandec, c.search_radius)
)
SELECT
    identifier, input_ra, input_dec, search_radius,
    ztf_identifier, number_of_detections, mean_ra, mean_dec, first_detection_date
FROM matched_objects
ORDER BY first_detection_date DESC

Experimento nmero: 9
Tables needed: [ss_ztf]
Difficulty: simple
Raw response: ```sql
SELECT *
FROM ss_ztf
WHERE ssnamenr IS NOT NULL
LIMIT 100
```
Resulting sql query:
SELECT *
FROM ss_ztf
WHERE ssnamenr IS NOT NULL
LIMIT 100


SELECT *
FROM ss_ztf
WHERE ssnamenr IS NOT NULL
LIMIT 100

Raised exception:
Start retry with self-correction
Corrected query:

SELECT *
FROM ss_ztf
WHERE ssnamenr IS NOT NULL
LIMIT 100

Experimento nmero: 10
Tables needed: [dataquality, object]
Difficulty: advanced
Raw response: ```1
-- Step 1: Retrieve the 'oid' for the specified ZTF identifiers from the 'object' table.
SELECT oid
FROM object
WHERE ztf_id IN ('ZTF20acwrybw', 'ZTF22abugigx');
```

```2

In [8]:
data = pd.read_csv("experiments/python_RAG_False_10_diff.csv")
data

,exp,request,model,format,rag,genQuery,genQueryPython,goldQuery,results,resultsCols,resultsRows,error,usage,resultGold,resultGoldCols,resultGoldRows
0,11,Query all objects that were first classified a...,gpt-4o,python,False,\nSELECT *\nFROM object\nWHERE oid IN (\n S...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n object\r\nI...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""mjd""...","{'Schema Linking': {'input_tokens': 11437, 'ou...",oid ndethist ncovhist mjdstar...,['oid' 'ndethist' 'ncovhist' 'mjdstarthist' 'm...,[['ZTF23aaygkbn' 'ZTF23aaygkbn']\n ['ZTF23aayg...
1,12,"Return the oids, meanra, meandec, ndet, firstm...",gpt-4o,python,False,\n# Sub-query to filter OIDs from the probabil...,NaN,"\r\nSELECT\r\n object.oid, object.meanra, o...","Empty DataFrame\nColumns: [oid, meanra, meande...",['oid' 'meanra' 'meandec' 'ndet' 'firstmjd' 'd...,[],NaN,"{'Schema Linking': {'input_tokens': 11476, 'ou...",oid meanra meandec nde...,['oid' 'meanra' 'meandec' 'ndet' 'firstmjd' 'd...,['ZTF18abcjwgb' 'ZTF18abcjwgb' 'ZTF18abcjwgb' ...
2,13,"""Query the top 200 objects classified SNIa acc...",gpt-4o,python,False,\nSELECT * \nFROM object \nWHERE oid IN (\n ...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n probability\r...,oid ndethist ncovhist mjdstar...,['oid' 'ndethist' 'ncovhist' 'mjdstarthist' 'm...,['ZTF19abitbcj' 'ZTF23abegkob' 'ZTF23abijnsm' ...,NaN,"{'Schema Linking': {'input_tokens': 11431, 'ou...",oid classifier_name classifi...,['oid' 'classifier_name' 'classifier_version' ...,['ZTF20acobvxk' 'ZTF22aalpfln' 'ZTF21abuyhau' ...
3,14,Given this list of oids ['ZTF17aaadpsi' 'ZTF19...,gpt-4o,python,False,\n# Subquery to filter the list of oids from t...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n feature\r\n...,NaN,NaN,NaN,(psycopg2.errors.SyntaxError) subquery in FROM...,"{'Schema Linking': {'input_tokens': 11519, 'ou...",oid name value ...,['oid' 'name' 'value' 'fid' 'version'],['ZTF19aaduodl' 'ZTF18abtriul' 'ZTF18abtriul' ...
4,15,Write a script in PostgreSQL that return objec...,gpt-4o,python,False,"\nSELECT \n o.oid, \n o.meanra, \n o....",NaN,"SELECT\r\n object.oid, object.meanra, objec...",NaN,NaN,NaN,(psycopg2.errors.UndefinedTable) missing FROM-...,"{'Schema Linking': {'input_tokens': 11479, 'ou...",oid meanra meandec n...,['oid' 'meanra' 'meandec' 'ndet' 'firstmjd' 'c...,['ZTF21aanqjqc' 'ZTF21aanqpxc' 'ZTF21aanqpwg' ...
5,16,Return a Sql query to get the predicted class ...,gpt-4o,python,False,"\nSELECT \n oid, \n class_name, \n pr...",NaN,"\r\nselect oid, class_name, probability from p...",oid class_name probabi...,['oid' 'class_name' 'probability'],['ZTF19ablzahy' 'ZTF18adjvyyu' 'ZTF18absuoro' ...,NaN,"{'Schema Linking': {'input_tokens': 11437, 'ou...",oid class_name probabi...,['oid' 'class_name' 'probability'],['ZTF19ablzahy' 'ZTF18adjvyyu' 'ZTF18absuoro' ...
6,17,Which objects were found between June 1st and ...,gpt-4o,python,False,\nSELECT oid\nFROM object\nWHERE firstmjd BETW...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n object INNE...,oid\n0 ZTF18absjuld\n1 ...,['oid'],['ZTF18absjuld' 'ZTF18abnpplz' 'ZTF18absideh' ...,NaN,"{'Schema Linking': {'input_tokens': 11422, 'ou...",oid ndethist ncovhist mjdst...,['oid' 'ndethist' 'ncovhist' 'mjdstarthist' 'm...,[['ZTF18aabkuxx' 'ZTF18aabkuxx']\n ['ZTF18aavs...
7,18,Find all ZTF objects that lie within 30 arcsec...,gpt-4o,python,False,"\nWITH catalog (identifier, ra, dec, search_ra...",NaN,"WITH catalog (id, obj_ra, obj_dec, r_deg) AS (...",identifier input_ra input_dec search_radi...,['identifier' 'input_ra' 'input_dec' 'search_r...,['ZTF18acfqezx' 'ZTF22acabgbb' 'ZTF20abyptpc' ...,NaN,"{'Schema Linking': {'input_tokens': 11543, 'ou...",id obj_ra obj_dec r_deg ...,['id' 'obj_ra' 'obj_dec' 'r_deg' 'oid' 'ndet' ...,['ZTF18acfqezx' 'ZTF22acabgbb' 'ZTF20abyptpc' ...
8,19,Get at most 100 rows from the 'ss_ztf' table t...,gpt-4o,python,False,\nSELECT * \nFROM ss_ztf \nWHERE ssnamenr IS N...,NaN,SELECT\r\n *\r\nFROM\r\n ss_ztf\r\nWHERE...,oid candid ssdistn...,['oid' 'candid' 'ssdistnr' 'ssmagnr' 'ssnamenr'],['ZTF22aaavvzj' 'ZTF22aaavund' 'ZTF18acvupsi' ...,NaN,"{'Schema Linking': {'input_tokens': 11424, 'ou...",oid candid ssdistn...,['oid' 'candid' 'ssdistnr' 'ssmagnr' 'ssnamenr'],['ZTF22aaavvzj' 'ZTF22aaavund' 'ZTF18adbnedl' ...
9,20,For objects with ZTF identifiers 'ZTF20acwrybw...,gpt-4o,python,False,\n# Sub-query to get the 'oid' for the specifi...,NaN,"SELECT\r\n oid, candid, xpos, ypos, scorr\r...",NaN,NaN,NaN,(psycopg2.errors.UndefinedColumn) column dq.pe...,"{'Schema Linking': {'input_tokens': 11461, 'ou...",oid candid xp...,['oid' 'candid' 'xpos' 'ypos' 'scorr'],['ZTF20acwrybw' 'ZTF20acwrybw' 'ZTF20acwrybw' ...

In [7]:
print(data["genQuery"][0])

# Sub-query for AGN Classification with probability > 0.6
sub_query_agn = f'''
SELECT
    probability.oid
FROM
    probability
WHERE
    probability.classifier_name = 'lc_classifier'
    AND probability.class_name = 'AGN'
    AND probability.probability > 0.6
    AND probability.ranking = 1
''' # Sub-query for Light Curve Duration and Detections
sub_query_light_curve = f'''
SELECT
    object.oid
FROM
    object
WHERE
    object.ndet >= 20
    AND (object.lastmjd - object.firstmjd) >= 365
''' # Sub-query for Magnitude Variations in g band
sub_query_g_band = f'''
SELECT
    feature.oid
FROM
    feature
    INNER JOIN ({sub_query_agn}) AS agn_oids ON feature.oid = agn_oids.oid
WHERE
    feature.name = 'delta_mag_fid'
    AND feature.value > 1
    AND feature.fid = 'g'
''' # Sub-query for Magnitude Variations in r band
sub_query_r_band = f'''
SELECT
    feature.oid
FROM
    feature
    INNER JOIN ({sub_query_agn}) AS agn_oids ON feature.oid = agn_oids.oid
WHERE
    feature.name = 'delta_mag_fid'
    AND feature.value > 0.5
    AND feature.fid = 'r'
''' # Intersect to ensure oids meet both g and r band conditions
sub_query_intersect = f'''
SELECT
    oid
FROM
    ({sub_query_g_band})
INTERSECT
SELECT
    oid
FROM
    ({sub_query_r_band})
''' # Final Query Construction
full_query = f'''
SELECT
    obj.oid,
    feat.value,
    feat.name,
    feat.version,
    feat.fid AS feature_fid,
    obj.meanra,
    obj.meandec,
    obj.ndet,
    magstat.max_mag,
    magstat.min_mag,
    (magstat.max_mag - magstat.min_mag) AS delta_mag
FROM
    object AS obj
    INNER JOIN ({sub_query_intersect}) AS valid_oids ON obj.oid = valid_oids.oid
    INNER JOIN feature AS feat ON obj.oid = feat.oid
    INNER JOIN magstat ON obj.oid = magstat.oid
WHERE
    feat.name IN ('delta_mag_fid')
ORDER BY
    obj.oid
'''

In [10]:
data = pd.read_csv("experiments/sql_RAG_False_10_diff.csv")
data["exp"] = [exp+10 for exp in data["exp"]]
data

,exp,request,model,format,rag,genQuery,goldQuery,results,resultsCols,resultsRows,error,usage,resultGold,resultGoldCols,resultGoldRows
0,21,Return the objects classified as AGN that show...,gpt-4o,sql,False,-- Final query to retrieve objects classified ...,\r\nSELECT\r\n *\r\nFROM\r\n (\r\nSELECT *\r...,NaN,NaN,NaN,(psycopg2.errors.QueryCanceled) canceling stat...,"{'Schema Linking': {'input_tokens': 11444, 'ou...",oid value name ...,['oid' 'value' 'name' 'version' 'fid'],['ZTF18aazyweo' 'ZTF18aazyweo' 'ZTF18abcobxs' ...
1,22,Get all the objects classified as AGN with a p...,gpt-4o,sql,False,-- Final Query: Select required columns from t...,"\r\nSELECT\r\n sq.oid, sq.value, sq.name, sq....",NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""filt...","{'Schema Linking': {'input_tokens': 11552, 'ou...",oid value name fea...,['oid' 'value' 'name' 'feature_fid' 'version' ...,['ZTF18aajadqs' 'ZTF18aajadqs' 'ZTF18aajadqs' ...
2,23,"Get the object identifiers, probabilities in ...",gpt-4o,sql,False,"-- Final Query\n\nSELECT sq.oid,\n sq.pr...","SELECT\r\n sq.oid, sq.probability, sq.diffm...",NaN,NaN,NaN,(psycopg2.errors.UndefinedColumn) column proba...,"{'Schema Linking': {'input_tokens': 11508, 'ou...",oid probability diffmaglim fid...,['oid' 'probability' 'diffmaglim' 'fid' 'mjd' ...,['ZTF18aaiaclp' 'ZTF18aaiaclp' 'ZTF18aaiaclp' ...
3,24,Find at most 200 ZTF objects that satisfy the ...,gpt-4o,sql,False,-- Final query to retrieve the desired ZTF obj...,SELECT\r\n *\r\nFROM\r\n object INNER JO...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""clas...","{'Schema Linking': {'input_tokens': 11490, 'ou...",oid ndethist ncovhist mjdstarth...,['oid' 'ndethist' 'ncovhist' 'mjdstarthist' 'm...,[['ZTF20acoknjv' 'ZTF20acoknjv' 'ZTF20acoknjv'...
4,25,Find at most 10 ZTF objects that have a first ...,gpt-4o,sql,False,-- Final query to retrieve the desired informa...,SELECT\r\n *\r\nFROM\r\n forced_photomet...,NaN,NaN,NaN,(psycopg2.errors.AmbiguousColumn) column refer...,"{'Schema Linking': {'input_tokens': 11461, 'ou...",pid oid mjd ...,['pid' 'oid' 'mjd' 'fid' 'ra' 'dec' 'e_ra' 'e_...,['ZTF24aaaajnz' 'ZTF24aaaajnz' 'ZTF24aaaajnz' ...
5,26,Find at most 50 ZTF objects that satisfy the f...,gpt-4o,sql,False,-- Final Query: Retrieve at most 50 ZTF object...,SELECT\r\n *\r\nFROM\r\n magstat\r\nWHER...,oid fid stellar corrected nde...,['oid' 'fid' 'stellar' 'corrected' 'ndet' 'ndu...,['ZTF18admasxp' 'ZTF18admasxp' 'ZTF18aagvjgn' ...,NaN,"{'Schema Linking': {'input_tokens': 11460, 'ou...",oid fid stellar corrected nd...,['oid' 'fid' 'stellar' 'corrected' 'ndet' 'ndu...,['ZTF19acccyyt' 'ZTF19acccyyt' 'ZTF19aadblpm' ...
6,27,Find at most 30 ZTF objects that have a probab...,gpt-4o,sql,False,-- Final Query: Combine all sub-queries and li...,"SELECT\r\n sq1.oid,\r\n ss_ztf.candid, s...",NaN,NaN,NaN,(psycopg2.errors.UndefinedColumn) column dataq...,"{'Schema Linking': {'input_tokens': 11498, 'ou...",oid candid ssdistn...,['oid' 'candid' 'ssdistnr' 'ssmagnr' 'ssnamenr...,['ZTF23abglvgd' 'ZTF23abglvgk' 'ZTF23abglvge' ...
7,28,Find at most 10 ZTF objects that satisfy the f...,gpt-4o,sql,False,-- Final query to retrieve at most 10 ZTF obje...,"SELECT\r\n object.oid, ndet, firstmjd, last...",oid ndet firstmjd last...,['oid' 'ndet' 'firstmjd' 'lastmjd' 'probabilit...,['ZTF18aakqcul' 'ZTF18aakqcul' 'ZTF18aakqcul' ...,NaN,"{'Schema Linking': {'input_tokens': 11514, 'ou...",oid ndet firstmjd last...,['oid' 'ndet' 'firstmjd' 'lastmjd' 'probabilit...,['ZTF18aakqcul' 'ZTF18abbxrwg' 'ZTF18abctcjx' ...
8,29,"Find all detections, non-detections and forced...",gpt-4o,sql,False,-- Step 1: Retrieve the 'oid' for the object '...,"\r\nSELECT\r\n oid, mjd, fid, isdiffpos,\r\...",NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""ztf_...","{'Schema Linking': {'input_tokens': 11497, 'ou...",oid mjd fid isdiffpo...,['oid' 'mjd' 'fid' 'isdiffpos' 'magpsf' 'sigma...,['ZTF24aamtvxb' 'ZTF24aamtvxb' 'ZTF24aamtvxb' ...
9,30,Find at most 30 ZTF objects that satisfy the f...,gpt-4o,sql,False,"\nSELECT o.oid AS ztf_identifier,\n o.nd...","\r\nSELECT\r\n sq1.oid, sq1.ndet, sq1.first...","Empty DataFrame\nColumns: [oid, number_of_dete...",['oid' 'number_of_detections' 'first_detection...,[],NaN,"{'Schema Linking': {'input_tokens': 11542, 'ou...",oid ndet firstmjd prob_sta...,['oid' 'ndet' 'firstmjd' 'prob_stamp_bogus' 'p...,['ZTF17aaahhwn' 'ZTF18aajkcdn' 'ZTF18abjrfqx' ...

#### o1 tests

In [ ]:
from pprint import pprint
from pipeline.main import run_pipeline, engine
engine.begin()

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "o1-preview"

# Format for the pipeline
format = "python"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Running the pipeline
result, total_usage, prompts = run_pipeline(query, model, max_tokens, size, 
                                            overlap, quantity, format, False, 
                                            engine, rag_pipe=True, 
                                            self_corr=True)
print("Resulting table:")
print(result)
print("Total usage of the pipeline:")
pprint(total_usage)

# The prompts used will be saved in this file
with open(f"prompts/examples/prompts_query_{model}.txt", "w") as f:
    f.write(str(prompts))

Tables needed: [object, detection, magstat]
Difficulty: advanced
```python
# Get oids of objects classified as 'SN II' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59580 (2022-01-01)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections
sub_query_ndet = f'''
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
({sub_query_magstat_g})
INTERSECT
({sub_query_magstat_r})
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
Resulting python query:
# Get oids of objects classified as 'SN II' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59580 (2022-01-01)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections
sub_query_ndet = f'''
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
({sub_query_magstat_g})
INTERSECT
({sub_query_magstat_r})
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
Running SQL exception: (psycopg2.errors.UndefinedColumn) column "maxmjd" does not exist
LINE 50: WHERE fid=2 AND (maxmjd - minmjd) >= 100
                          ^

[SQL:
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN (
SELECT oids2.oid
FROM (
SELECT oids1.oid
FROM (
SELECT prob_oids.oid
FROM (
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
) AS prob_oids
INNER JOIN (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
) AS obj_oids
ON prob_oids.oid = obj_oids.oid
) AS oids1
INNER JOIN (
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
) AS ndet_oids
ON oids1.oid = ndet_oids.oid
) AS oids2
INNER JOIN (
(
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
)
INTERSECT
(
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
)
) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: local variable 'results' referenced before assignment
Start retry with self-correction
Corrected query:
```python
# Corrected sub-queries and final query

# Get oids of objects classified as 'SNII' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SNII'  -- Corrected class_name from 'SN II' to 'SNII'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59946 (2022-12-31)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946  -- Corrected MJD end date to 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections using ndet from object table
sub_query_ndet = f'''
SELECT oid
FROM object
WHERE ndet > 30  -- Changed from detection table to object table
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
SELECT g_oids.oid
FROM ({sub_query_magstat_g}) AS g_oids
INNER JOIN ({sub_query_magstat_r}) AS r_oids
ON g_oids.oid = r_oids.oid
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
```
Running SQL exception: (psycopg2.errors.UndefinedColumn) column "maxmjd" does not exist
LINE 50: WHERE fid=2 AND (maxmjd - minmjd) >= 100
                          ^

[SQL:
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN (
SELECT oids2.oid
FROM (
SELECT oids1.oid
FROM (
SELECT prob_oids.oid
FROM (
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SNII'  -- Corrected class_name from 'SN II' to 'SNII'
AND ranking=1
AND probability > 0.6
) AS prob_oids
INNER JOIN (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946  -- Corrected MJD end date to 59946
) AS obj_oids
ON prob_oids.oid = obj_oids.oid
) AS oids1
INNER JOIN (
SELECT oid
FROM object
WHERE ndet > 30  -- Changed from detection table to object table
) AS ndet_oids
ON oids1.oid = ndet_oids.oid
) AS oids2
INNER JOIN (
SELECT g_oids.oid
FROM (
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
) AS g_oids
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
) AS r_oids
ON g_oids.oid = r_oids.oid
) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/f405)

Exception: Failed again: local variable 'results' referenced before assignment