# Testing notebook

## Working the CSVs and Excel sheets

In [1]:
# Exploring the 'training' dataset
import pandas as pd
df = pd.read_csv("datasets/txt2sql_alerce_train_v3_1.csv")
df.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\r\n-- mjd date for December = 59914.0\r\n-- m...,\r\n-- Super Nova (SNe) is a large explosion t...,"\r\nSELECT\r\n object.oid, probability.clas...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\r\nSELECT\r\n sq1.oid, sq1.probability as SN...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",\r\n-- mjd date for September 01 = 60188.0\r\n...,\r\n-- A fast riser is defined as an object wh...,"\r\nSELECT\r\n sq.oid, sq.probability, sq.c...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\r\n-- mjd date for the start of the year 2019...,0,"\r\nSELECT\r\n sq.oid, sq.fid, sq.dmdt_first,...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",\r\n-- mjd date for February 01 = 59976.0\r\n-...,0,"\r\nWITH catalog ( source_id, ra, dec) AS (\r\...",advanced,spatial,simple,NaN,NaN,NaN

In [2]:
df[df["req_id"] == 13]["request"].item()

'Give me all the SNe that were first detected between december first 2022 and september first 2023. Return the probability class, the last and the first detection date and the oids of the objects.'

In [3]:
df[df["request"] == "Find at most 10 cases where the feature called 'LinearTrend' is larger than 5 and their ZTF objects have a difference between last and first detection date larger than 1 day. Return the following columns. For the ZTF objects: ZTF identifier and number of detections; for their light curve classifier data at ranking 1: classifier version, class and probability; for the 'LinearTrend' feature: value and filter identifier"]["external_knowledge"].item()

"Since no feature version is specified, the combination between ZTF oid and fid can be non-unique in the 'feature' table output"

In [4]:
df_test = pd.read_csv("datasets/txt2sql_alerce_test_v3_1.csv")
df_test.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,8,Query all objects that were first classified a...,"['probability', 'object']",\r\n-- mjd date for august 17 = 60173.0\r\n-- ...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n object\r\nI...,simple,object,none,NaN,NaN,NaN
1,27,"Return the oids, meanra, meandec, ndet, firstm...","['probability', 'object']",\r\n-- object.ndet represents the total number...,NaN,"\r\nSELECT\r\n object.oid, object.meanra, o...",simple,object,simple,NaN,NaN,NaN
2,17,Return the objects classified as AGN that show...,"['probability', 'object', 'detection']",\r\n-- firstmjd represents the time of the fir...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n (\r\nSELECT *\r...,advanced,object,tree,NaN,NaN,NaN
3,37,"""Query the top 200 objects classified SNIa acc...",['probability'],NaN,NaN,\r\nSELECT\r\n *\r\nFROM\r\n probability\r...,simple,object,none,NaN,NaN,NaN
4,34,Given this list of oids ['ZTF17aaadpsi' 'ZTF19...,['feature'],\r\n-- feature.name can be 'Amplitude'\r\n-- f...,\r\n-- Multiband_period: Period obtained using...,\r\nSELECT\r\n *\r\nFROM\r\n feature\r\n...,simple,other,none,NaN,NaN,NaN

In [5]:
# Reading the excel file
excel = pd.read_excel("datasets/SQLusecases_alerce.xlsx", 
                      sheet_name="examples_alerce_usecasesV3_1")

# Cleaning the excel a bit
excel = excel.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
excel.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,Set,python_format
0,0,Get objects that are likely to be YSOs (possib...,"['probability', 'feature']",\n-- feature.name can be 'Multiband_period'\n-...,\n-- Multiband_period: Period obtained using t...,"\nSELECT\n oid, probability, value, name, fid...",advanced,object,tree,Train,"sub_query_1='''\nSELECT\n feature.oid, prob_o..."
1,1,Get all the objects classified as AGN with a p...,"['object', 'probability', 'feature', 'magstat']",\n-- object.ndet represents the number of dete...,\n-- Amplitude: Half of the difference between...,"\nSELECT\n sq.oid, sq.value, sq.name, sq.fid ...",advanced,object,tree,Test,\nsub_query_object='''\nSELECT\n object.oid...
2,2,Give me the objects classified as YSO by their...,['probability'],NaN,NaN,"\nSELECT\n oid, probability\nFROM\n prob...",simple,object,none,Train,"query='''\nSELECT\n oid, probability\nFROM\..."
3,3,Give me the objects classified as YSO by the l...,"['object', 'probability']","\n-- last june in mjd date: [start=60096.0, en...",NaN,\nSELECT\n *\nFROM\n probability\nWHERE\...,simple,object,simple,Train,query=f'''\nSELECT\n *\nFROM\n probabili...
4,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\n-- mjd date for the start of the year 2019 =...,NaN,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,Train,# objects classified as SN II with probability...

## Tests

### Gold values and query to test

In [9]:
# Select a query
query = "Give me all the SNe that were first detected between december first 2022 and september first 2023. Return the probability class, the last and the first detection date and the oids of the objects."

# Check if the query is in the excel file
if query in excel["request"].to_list():
    # Obtain the gold SQL query and Python query
    sql_gold = excel[excel["request"] == query]["gold_query"].item()
    python_gold = excel[excel["request"] == query]["python_format"].item()

    # Obtain the necessary tables
    gold_tables = excel[excel["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)
    print("Python gold query:\n")
    print(python_gold)
    
else:
    # Obtain the gold SQL query
    sql_gold = df[df["request"] == query]["gold_query"].item()

    # Obtain the necessary tables
    gold_tables = df[df["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)

Gold values

Tables needed for the query:
['object', 'probability']

SQL gold query:

SELECT
    object.oid, probability.class_name, object.lastmjd, object.firstmjd
FROM
    object INNER JOIN
    probability
    ON object.oid = probability.oid
WHERE
    probability.classifier_name='lc_classifier'
    AND probability.class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
    AND probability.ranking = 1
    AND object.firstmjd < 60217.0
    AND object.firstmjd > 59914.0

In [10]:
# Running the gold query
from secret.config import SQL_URL
import requests
import sqlalchemy as sa

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{params['user']}:{params['password']}@{params['host']}/{params['dbname']}")
engine.begin()

resultGold = pd.read_sql_query(sql_gold, con=engine)
resultGold

               oid class_name       lastmjd      firstmjd
0     ZTF23aamxbpd       SNIa  60120.218900  60100.190417
1     ZTF23aaphtry       SNIa  60147.231875  60116.315278
2     ZTF23aamzkrs       SNIa  60124.189074  60097.242882
3     ZTF23aafwzmi       SNIa  60078.406505  60050.470231
4     ZTF23aackdba       SNII  60073.174653  59992.212407
...            ...        ...           ...           ...
4599  ZTF22aagnxdl       SLSN  60733.522118  59967.502882
4600  ZTF23aasfdzw       SLSN  60739.525313  60112.435741
4601  ZTF22aallpha       SNII  60725.144745  60170.496470
4602  ZTF23aaciqgi       SNII  60730.549861  59987.562743
4603  ZTF23aacgnve       SNII  60739.524838  59972.564907

[4604 rows x 4 columns]

### Trying out the pipelines

#### Singular

In [7]:
from pprint import pprint
from pipeline.eval import run_pipeline
# from testing.tests import engine
# engine.begin()

# Working query
query = "Give me all the SNe that were first detected between december first 2022 and september first 2023. Return the probability class, the last and the first detection date and the oids of the objects."

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
format = "sql"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Running the pipeline
result, error, total_usage, prompts, gen_query, gen_label = run_pipeline(query, model, max_tokens, size, overlap, quantity, format, direct=False, rag_pipe=False, self_corr=False)
print("-" * 100)
print("Original query:")
print(df[df["request"] == query]["gold_query"].iloc[0])
print("Predicted query:")
print(gen_query)
print("-" * 100)
print("Resulting table:")
print(result)
print("Total usage of the pipeline:")
pprint(total_usage)

# The prompts used will be saved in this file
with open(f"prompts_query_{model}.txt", "w") as f:
    f.write(str(prompts))

Recreated pipeline
Raw response: ```sql
SELECT p.class_name AS probability_class,
       o.firstmjd AS first_detection_date,
       o.lastmjd AS last_detection_date,
       o.oid
FROM object o
WHERE o.firstmjd BETWEEN 59922 AND 60195
AND o.oid IN (
    SELECT oid
    FROM probability
    WHERE class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
    AND classifier_name = 'lc_classifier'
    AND ranking = 1
);
```

SELECT p.class_name AS probability_class,
       o.firstmjd AS first_detection_date,
       o.lastmjd AS last_detection_date,
       o.oid
FROM object o
WHERE o.firstmjd BETWEEN 59922 AND 60195
AND o.oid IN (
    SELECT oid
    FROM probability
    WHERE class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
    AND classifier_name = 'lc_classifier'
    AND ranking = 1
)

Running SQL exception in run_query: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 2: SELECT p.class_name AS probability_class,
               ^

[SQL:
SELECT p.class_name AS probability_class,
       o.firstmjd AS first_detection_date,
       o.lastmjd AS last_detection_date,
       o.oid
FROM object o
WHERE o.firstmjd BETWEEN 59922 AND 60195
AND o.oid IN (
    SELECT oid
    FROM probability
    WHERE class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
    AND classifier_name = 'lc_classifier'
    AND ranking = 1
)
]
(Background on this error at: https://sqlalche.me/e/20/f405)
----------------------------------------------------------------------------------------------------
Original query:

SELECT
    object.oid, probability.class_name, object.lastmjd, object.firstmjd
FROM
    object INNER JOIN
    probability
    ON object.oid = probability.oid
WHERE
    probability.classifier_name='lc_classifier'
    AND probability.class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
    AND probability.ranking = 1
    AND object.firstmjd < 60217.0
    AND object.firstmjd > 59914.0

Predicted query:

SELECT p.class_name AS probability_class,
       o.firstmjd AS first_detection_date,
       o.lastmjd AS last_detection_date,
       o.oid
FROM object o
WHERE o.firstmjd BETWEEN 59922 AND 60195
AND o.oid IN (
    SELECT oid
    FROM probability
    WHERE class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
    AND classifier_name = 'lc_classifier'
    AND ranking = 1
)

----------------------------------------------------------------------------------------------------
Resulting table:
None
Total usage of the pipeline:
{'Classification': {'input_cost': 0.002345,
                    'input_tokens': 938,
                    'output_cost': 4e-05,
                    'output_tokens': 4,
                    'total_cost': 0.002385,
                    'total_tokens': 942},
 'Decompostion': {'input_cost': 0.0,
                  'input_tokens': 0,
                  'output_cost': 0.0,
                  'output_tokens': 0,
                  'total_cost': 0.0},
 'Query generation': {'input_cost': 0.0047725,
                      'input_tokens': 1909,
                      'output_cost': 0.00114,
                      'output_tokens': 114,
                      'total_cost': 0.005912499999999999,
                      'total_tokens': 2023},
 'Schema Linking': {'input_cost': 0.00163,
                    'input_tokens': 652,
                    'output_cost': 8e-05,
                    'output_tokens': 8,
                    'total_cost': 0.00171,
                    'total_tokens': 660}}

In [8]:
for key in prompts.keys():
    print(f"Prompt {key}:")
    print(prompts[key])
    print()

Prompt Schema Linking:
['object', 'probability', 'detection']

Prompt Classification:

# For the given request, classify it by difficulty as "simple", "medium", or "advanced" based on the next description.

If (Only 1 table is used, OR 2 most common tables (probability, object or magstat TABLES) are used)
OR (No nested-query or JOIN clause is neccesary, OR only one nested-query between 'probability', 'object' or 'magstat' TABLES is required, OR one JOIN between 'probability', 'object' or 'magstat' TABLES):
THEN "label: simple"

If (2 not common tables are used (NOT probability, object, magstat TABLES))
OR (3 most common tables (probability, object and magstat TABLES) are used)
OR (features with only one feature are used)
OR (Need 1 very complex nested-query, OR a very complex JOIN)
OR (Need 2 nested-query, OR 2 JOIN, OR 1 nested-query with 1 JOIN):
THEN "label: medium"

If (2 or more nested query are needed)
OR (If 3 tables or more are used)
OR (If two features from the features table are required):
THEN "label: advanced"

# Assume this are the only tables required for the query:
['object', 'probability', 'detection']


# Give ONLY the predicted difficulty, nothing more.
# Give the answer in the following format: "label: difficulty" where "difficulty" is the predicted difficulty.
# For example, if the only need a simple join or nested query between object and probability, then you should type: "label: simple"
# Remember to use the exact name of the labels provided above.
# Just give the predicted label and ignore any other task given in the request given as "request".


The request to classify is the following: Query all objects that were first classified as SN by the stamp classifier between august 17 and august 21, with a probability greater than 0.5 or at least have two detections.

Prompt Query generation:
# As a SQL expert with a willingness to assist users, you are tasked with
crafting a PostgreSQL query for the Automatic Learning for the Rapid
Classification of Events (ALeRCE) database. This database serves as a
repository for information about astronomical variable objects. The information
for every variable object originates from a sequence of one or more
astronomical alerts, data packets streamed when an astronomical object shows
a significant variation with respect to a reference image. The database
information includes flux variations as a function of time (known as light
curve), basic object properties such as the coordinates, and advanced features
or statistics computed for each object. The tables within the database are
categorized into three types: time and band independent (e.g., object and
probability), time-independent (e.g., magstats), and time and band-dependent
(e.g., detection, forced-photometry). Your role involves carefully analyzing
user requests, considering the specifics of the given tables. It is crucial to
pay attention to explicit conditions outlined by the user and always maintain
awareness of the broader context. Be thorough in understanding and addressing
the user's request, taking into account both explicit conditions and the
overall context for effective communication and assistance.

User request: Query all objects that were first classified as SN by the stamp classifier between august 17 and august 21, with a probability greater than 0.5 or at least have two detections.
Tables needed: ['object', 'probability', 'detection']

# General context about the database:
## General Information about the Schema and Database
- An object is uniquely identified by its object identifier or 'oid' index,
used in most tables
- A detection from an object is identified by the candidate identifier or
'candid' index, used only in the detection table
- A given band is identified by the filter identifier or 'fid' index, used in
the magstats, feature, and detection tables
- In most cases you will need to use information from the object table
- When particular astronomical classes are requested, you will need to use the
probability table
- Prioritize obtaining oids in a subquery to optimize the main query.
- Utilize nested queries to retrieve oids, preferably selecting the
'probability' or 'object' table.
- Avoid JOIN clauses; instead, favor nested queries.
- Beware of variables that are not indexed when doing the queries. Favour using
nested queries where the inner queries use indexed variables.
- Note that the typical timeout time is 2 minutes
- Special attention needs to be paid to the feature table, which, if possible,
should be avoided. In this table the name of a given feature is stored in the
column 'name' and its value for a given object in the column 'value'. These
columns are not indexed, so you should query this table in the outer levels of
a nested query, after most of the filtering has already happened using indexed
variables.

## ALeRCE Pipeline Details
- Stamp Classifier (denoted as ""stamp_classifier""): A convolutional neural
  network that uses as input the image stamps from a given object and that uses
  a 5 class taxonomy. This classifier is triggered only by the first alert of
  every object.
- Light Curve Classifier (denoted as ""lc_classifier""): A balanced
  hierarchical random forest classifier that uses as input object features and
  that consists of four models with a taxonomy of 15 classes in total. This
  classifier is triggered with every new alert of an object with at least six
  detections in a given band.
- The first hierarchical classifier of the Light Curve Classifier has three
  classes: [periodic, stochastic, transient], denoted as ""lc_classifier_top.""
- Three additional classifiers of the Light Curve Classifier specialize in
  different types of object: Periodic, Transient, and Stochastic, denoted as
  ""lc_classifier_periodic,"" ""lc_classifier_transient,"" and
  ""lc_classifier_stochastic,"" respectively.
- The 15 classes are separated for each object type:
  - Transient: [SNe Ia ('SNIa'), SNe Ib/c ('SNIbc'), SNe II ('SNII'), and Super
    Luminous SNe ('SLSN')].
  - Stochastic: [Active Galactic Nuclei ('AGN'), Quasi Stellar Object ('QSO'),
    'Blazar', Cataclysmic Variable/Novae ('CV/Nova'), and Young Stellar Object
    ('YSO')].
  - Periodic: [Delta Scuti ('DSCT'), RR Lyrae ('RRL'), Cepheid ('Ceph'), Long
    Period Variable ('LPV'), Eclipsing Binary ('E'), and other periodic objects
    ('Periodic-Other')].
## Probability Variable Names
- classifier_name=('lc_classifier', 'lc_classifier_top',
  'lc_classifier_transient', 'lc_classifier_stochastic',
  'lc_classifier_periodic', 'stamp_classifier')
- Classes in 'lc_classifier'= ('SNIa', 'SNIbc', 'SNII', 'SLSN', 'QSO', 'AGN',
  'Blazar', 'CV/Nova', 'YSO', 'LPV', 'E', 'DSCT', 'RRL', 'CEP', 'Periodic-Other')
- Classes in 'lc_classifier_top'= ('transient', 'stochastic', 'periodic')
- Classes in 'lc_classifier_transient'= ('SNIa', 'SNIbc', 'SNII', 'SLSN')
- Classes in 'lc_classifier_stochastic'= ('QSO', 'AGN', 'Blazar', 'CV/Nova', 'YSO')
- Classes in 'lc_classifier_periodic'= ('LPV', 'E', 'DSCT', 'RRL', 'CEP', 'Periodic-Other')
- Classes in 'stamp_classifier'= ('SN', 'AGN', 'VS', 'asteroid', 'bogus')

## Astronomical context:

### Types of objects:
- There are two main types of variable objects: those that have persistent variability and those that have a transient nature.
- In the case of transient sources (Transient), the relevant light curve is the uncorrected magnitude (magpsf) and its error (sigmapsf).
- In the case of persistent variability sources (Periodic or Stochastic), the relevant light curve magnitude is the corrected magnitude (magpsf_corr) and its error (sigmapsf_corr for periodic sources and sigmapsf_corr_ext for stochastic sources).

### Definitions:
- The initial rise rate is indicated by the dmdt_first column in the magstat table, separated by band. You need to use the filter id (fid) column to specify the given band.
- If the user requests an initial rise rate greater than some value, what they mean is that the rise rate should be less than the negative of that value, because in astronomy magnitudes are lower for brighter objects, so when an object is rising its magnitudes are decreasing.
- Objects that are transient are considered to be fast risers if dmdt_first < -0.25 mag per day (in the table magstat) in any band.

### Restriction on dates or times:
- When the user refers to the first detection of a given object, you should use the firstmjd column (indexed in the table object).
- When possible, avoid adding restrictions on the mjd column in the detection table, try putting them in the object table instead.
- All the rows in the detection table are by definition detections. this in not the case for the table forced_photometry, where even measurements that are not considered to be detections are reported.
- You need to convert dates (if given) into mjd before doing any query.
- If the year is not specified, assume that the user refers to the current year (2024).

### Nested subqueries vs inner joins:
- In general, if you need to query data from the detection and feature table, it is recommended to use nested subqueries that do the filtering with information not contained in the detection or feature table first, using the WHERE statement and requesting the oid column to be inside a given list. For example, use WHERE oid in {subquery}, where subquery returns a list of oids.
- However, sometimes it is necessary to use an INNER JOIN between tables to get all the requested columns. When this happens, make sure to use the inner join clause when it is ABSOLUTELY necessary.

### Samples of objects:
- If you are asked to provide a sample of a given set of objects, you can use the LIMIT command. If you do this, it will be more feasible to do multiple inner joins in some cases.
- When you are asked to find 'at most' a number of examples, use the 'LIMIT {n}' command in SQL, where n is the number of examples.

### Object table:
- The number of detections is contained in the ndet variable located in the object table.

### Probability table:
- Use the ranking=1 column in the probability table to get the highest probability class (for a given classifier and classifier_version).
- The probability table has the column "classifier_version", that indicates the version of the classifier used. Use this column to specifiy the version of the classifier for the particular query.
- If you are querying the probability table to get a list of oids, and if you want to get only one result for a given classifier, irrespective of the version of the classifier, use the DISTINCT command, e.g. 'SELECT DISTINCT oid'. However, it is preferable that the version of the classifier is specified.
- If you want to check that an object is periodic, you could check whether the probability of being in the periodic branch (lc_classifier_periodic) has the largest value (ranking=1).
- Keep in mind that sometimes the concept of probability is referred to as a "posibility" by some users.

### feature table
- You should avoid using the feature table as much as possible, since it is generally very expensive to query data from it.
- For example, avoid using the feature (or detection) table to get the time of first detection, use the firstmjd column from the object table instead.
- If you do want to select objects based on restrictions on the feature table, we recommend that you use nested subqueries, where the innermost query defines the sample based on restrictions in the feature or other tables, and where the
upper levels do inner joins between the different tables and select the necessary columns.
- The galactic latitude is in the value column of the feature table, for name='gal_b'.
- The difference between the minimum and maximum magnitudes in ZTF for a given band is in the value column of the feature table, for name='delta_mag_fid'.
- The light curve (photometric) period is in the value column of the feature table, for name='Multiband_period'.
- The light curve amplitude is in the value column of the feature table, for name='Amplitude'.

### detection table:
- Every detection in the detection table has a unique candidate identifier (indexed column candid)
- When asked for magnitude errors, the user is referring to the columns sigmapsf_corr and sigmapsf_corr_ext from the detection table.

### dataquality table:
- The dataquality table contains information related to the quality of every detection in the database. It has information for every object (with index oid) and candidate detection (with index candid) that is not available in the detection table.
- Some of the most relevant columns are the reduced chi-square for PSF-fit (chipsf), the full width half maximum (fwhm), the star galaxy
classification score from SEXtractor (classtar), and the magnitude zero point estimate and its error (magzpsci, magzpunc).

### forced_photometry table:
- the forced photometry tables contains light curve measurements for all detected objects even when they didn't trigger a detection, but only from December 2023.

### non_detection table:
- the non detection table contains upper limits for the absolute difference with respect to the reference when no detections were triggered in objects that have associated alerts.

### PanSTARRS (PS1) and the ps1_ztf table:
- The ps1_ztf table contains information about the closest sources in the PanSTARRS catalog.
- Variables ending in 1 refer to the closest object, variables ending in 2 refer to the second closest object, and variables ending in 3 refer to third closest object. For example, the variables associated to these closest PS1 objects from a given ZTF object are sgscore1, which is the star galaxy classication score; distpsnr1, which is the distance to the source; sgmag1, srmag1, simag1, szmag1 which are
the magnitudes in the g, r, i, and z bands, respectively; and objectidps1, which is the PanSTARRS unique identifier of the object.

### gaia_ztf:
- Objects have information about the nearest objects in the Gaia catalog in the gaia_ztf table.
- The key quantities are the distance to the closest gaia source irrespective of magnitude (neargaia) and the magnitude of the closest source (maggaia).

### ss_ztf:
- Objects that have Solar System counterparts (asteroids or moving objects) have this information stored in the ss_ztf table.
- The key quantities for a given oid and candid are the distance to the nearest known Solar System object in arcsec (ssdistnr), its magnitude (ssmagnr), and its name (ssnamenr).

### allwise table:
- We keep a copy of the allwise catalog objects that are found when crossmatching ZTF objects against Allwise in the allwise table.
- The key quantities are the name of the object in the allwise catalog (oid_catalog), its right ascension and declination (ra and dec), and the W1 to W4 magnitudes (w1mpro to w4mpro) and errors (w1sigmpro to w4sigmpro)

### xmatch table:
- The xmatch table has three identifiers that are indexed columns: oid, which corresponds to the unique ZTF identifier; catid, which corresponds to the catalog identifier; and oid_catalog, which is the unique identifier for a given source in the catalog nomenclature.
- If you want to associate objects in xmatch with one of the available xmatch catalogs, e.g. allwise, you should first do an inner join between xmatch and allwise using the oid_catalog identifier.
- If you want to restrict the query to some objects based on other properties, you should use two nested queries that first select the oid_catalog identifiers and a second innermost query that uses the oid column to apply additional restrictions, e.g.
```python
innermostquery = '''
SELECT
    oid
FROM
    object
WHERE
    ndet>1
'''
subquery = '''
SELECT
   oid_catalog
FROM
   xmatch
WHERE
   oid IN {innermostquery}
'''
final_query = '''
SELECT
   *
FROM
   xmatch INNER JOIN allwise
   ON xmatch.oid_catalog=allwise.oid_catalog
WHERE
   allwise.oid_catalog IN {subquery}
'''
```

### Spatial queries:
To look for matches between the object table and a set of coordinates given a crossmatch radius, you can use the q3c_join function as shown below:
```python
# Prepare the query
query = '''
-- ids and coordinates of the catalog against which we want to crossmatch
WITH catalog ( source_id, ra, dec) AS (
    VALUES
        {values}
)
SELECT
    c.source_id, c.ra, c.dec, o.oid, o.meanra, o.meandec, q3c_dist(c.ra,c.dec,o.meanra,o.meandec),
    o.firstmjd

FROM object o, catalog c
    -- It is REALLY important to first use the catalog then the object ra,dec for speed. The radius is in degrees.
WHERE
    q3c_join(c.ra, c.dec, o.meanra, o.meandec, {radius})
'''
```
In this example, we also return the distance between matching objects
using the q3c_dist function, as well as other properties from the object table.
It is very important that the radius variable should be in degrees. In this example, the values variable should
correspond to the list of coordinates using the following format, e.g.
'(id1,ra1,dec1),\n(id2,ra2,dec2)\n', e.g., '(ZTF24aabbcc,120.345677,-30.45774)\n,(ZTF24aabbcd,65.346829,12.73474)\n'.

If the external catalog ids and coordinates are in a dataframe with column names id_source, ra, and dec, respectively, you could use the following code to get this formatted list:
```python
# starting with a dataframe df with the columns id_source, ra and dec, get the formatted list of coordinates ready for SQL
objects = []
for _,row in df.iterrows():
    objects.append(f"(\'{row.id_source}\', {row.ra}, {row.dec})")
objects_str = ",\n".join(objects)
```
Finally, remember that the table object does not have the ra and dec of every detection, only their mean values, so we used the meanra and meandec variables in the example above.


## Important details about the database required for the query:
## Default Parameters to Consider
- Class probabilities for a given classifier and object are sorted from most to
  least likely, where the relative position is indicated by the 'ranking'
  column in the probability table. Hence, the most probable class should have 'ranking'=1.
- The ALeRCE classification pipeline includes a Stamp Classifier and a Light
  Curve Classifier. The Light Curve classifier employs a hierarchical
  classification. If no classifier is specified, use
  'classifier_name=""lc_classifier""' when selecting probabilities.
- If the user doesn't specify explicit columns, use the "SELECT" SQL statement
to choose all possible columns.
- Avoid changing the names of columns or tables unless necessary for the SQL query.
- Use the exact class names as they are in the database, marked with single quotes, for example, 'SNIa'.

# If you need to use 2 tables, try using a INNER JOIN statement, or a sub-query
over 'probability' or 'object' if it is necessary (in this order).
# Add COMMENTS IN PostgreSQL format so that the user can understand.

# Answer ONLY with a SQL query, with the following format:
```sql SQL_QUERY_HERE ```

DON'T include anything else in your answer.

# If there is SQL code, use it only as reference, changing the conditions you consider necessary.
# You can join some of the steps if you consider it better for the query. For
example, if 2 or more use the same table and are not requested to be different sub-queries, then you can join them.

In [2]:
def run_pipeline_debug(query, model, rag_pipe=True, format="sql"):
    print("DEBUG: rag_pipe =", rag_pipe)
    print("DEBUG: format =", format)

run_pipeline_debug("some query", "gpt-3", rag_pipe=False, format="var")

DEBUG: rag_pipe = False
DEBUG: format = var

#### Various

In [ ]:
# Advanced queries of the test dataset
queries = ["Return the objects classified as AGN that show variability in the r band, but have no detections or show no variability in the g band. Order the features by their value in ascending order, and the final query by oid.", "Get all the objects classified as AGN with a probability larger than 0.6, with light curves covering at least one year that have at least 20 detections at least in one band, and select those that show variations larger than 1 magnitude in the g band and larger than 0.5 in the r band. The magnitudes need to be the corrected ones. Return their oid, the value, name, version and filter id from the features, mean coordinates, number of detections, maximum and minimum magnitudes, the variations in bands as the difference between the maximum and minimum magnitudes aliasing the column as 'delta_mag'. For the filter id columns, use the alias '[table_name]_fid' using the table name as the alias.", " Get the object identifiers, probabilities in the stamp classifier and light curves (including only non-detections) for objects whose highest probability in the stamp classifier is obtained for class SN, had their first detection in the first 2 days of september, and qualify as fast risers. Also, return the oid, probability, filter ID and the image difference, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid and limit the results to 100 rows due to time constraints.", "Find at most 200 ZTF objects that satisfy the following conditions: have a distance to the nearest PS1 source larger than 5 arcsec, and have a probability larger than 0.7 of being in a class other than supernova in the light curve classifier. Return all columns from the 'object', 'probability' and 'ps1_ztf' table for such objects, and order the results by the nearest PS1 source distance.", "Find at most 10 ZTF objects that have a first detection date later than mjd=60310 days, as well as a probability of 1 of being an asteroid in the stamp classifier, ordered by the first detection date. Return all columns from the 'forced_photometry' table for such objects", "Find at most 50 ZTF objects that satisfy the following conditions: have a probability larger than 0.6 of being an AGN in the light curve classifier, and a WISE W1 magnitude between 12 and 13. Return all columns from the 'magstat' table for such objects", "Find at most 30 ZTF objects that have a probability larger than 0.9 of being an asteroid in the stamp classifier version 'stamp_classifier_1.0.4'. Return the following columns: identifier of the ZTF and candidate, distance from the nearest Solar System object, MPC archive magnitude and name. Include also the following columns related to each candidate in the output table: filter identifier, FWHM from SExtractor, number of PS1 calibrators used, and exposure time", "Find at most 10 ZTF objects that satisfy the following conditions: have more than 500 detections, a probability larger than 0.5 of being an asteroid in the stamp classifier version 'stamp_classifier_1.0.4', and a distance from the nearest Solar System object below 2 arcsec. Return the following columns: ZTF identifier, number of detections, first and last detection date, probability, candidate identifier, distance between ZTF object and MPC object, MPC name, detection date and filter identifier. Order the results by the first detection date.", "Find all detections, non-detections and forced photometry points for the ZTF object 'ZTF24aamtvxb'. Return all epochs in the same output table, including the following columns: ZTF identifier, epoch date, filter identifier, isdiffpos flag, detection difference magnitude and its uncertainty, 5-sigma magnitude limit, forced difference magnitude and its uncertainty, and a column named 'table' (that contains the name of the table of origin for each epoch)", "Find at most 30 ZTF objects that satisfy the following conditions: have more than 10 detections, a probability larger than 0.7 of being a bogus in the stamp classifier version 'stamp_classifier_1.0.4', and  a probability larger than 0.9 of being a transient in the light curve classifier top level. Return the following columns: ZTF identifier, number of detections, first detection date, probability in the stamp classifier (name this column 'prob_stamp_bogus'), and probability in the light curve classifier top level (name this column 'prob_lc_transient'). Order the results by the ZTF identifier of the objects classified as bogus in the stamp classifier."]

# Testing
df_test[df_test["difficulty"] == "simple"]["request"].to_numpy()

In [6]:
# Running the gold query
from secret.config import SQL_URL, USER_10, PASS_10
import requests
import sqlalchemy as sa
import csv
from pipeline.eval import run_pipeline

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{USER_10}:{PASS_10}@{params['host']}/{params['dbname']}", poolclass=sa.pool.NullPool)
engine.begin()

# Model to use
model = "gpt-4o"

# Format for the pipeline
format = "sql"
rag = False

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Select a query
queries = df_test[df_test["difficulty"] == "simple"]["request"].to_numpy()

to_csv = []
for i, query in enumerate(queries):
    # Obtain the gold SQL query
    sql_gold = df_test[df_test["request"] == query]["gold_query"].iloc[0]
    try:
        resultGold = pd.read_sql_query(sql_gold, con=engine)
    except Exception as e:
        print(f"Exception occured running SQL gold: {e}")
        print("Skipping this query for the sake of the CSV")
        continue
    
    # Obtain the true label of the query
    true_label = df_test[df_test["request"] == query]["difficulty"].iloc[0]

    print(f"Experimento número: {i+1}")
    result, error, total_usage, prompts, table, label = run_pipeline(query, model, max_tokens, size, 
                                                overlap, quantity, format, False,
                                                rag, True, 10, 3)
    
    # Saving the actual query used in Python
    full_query = None
    if format == "python" and df_test[df_test["request"] == query]["difficulty"].iloc[0] != "simple":
        exec(table, globals())
        
    # Adding extra validation for result
    if result is not None:
        if "oid" not in result.columns:
            resultRows = result[result.columns[0]].to_numpy()
        else:
            resultRows = result["oid"].to_numpy()
    
    if result is not None:
        # Get predicted oid list
        if 'oid' in result.columns:
            oids_pred = result.sort_values(by="oid",axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'oid_catalog' in result.columns:
            oids_pred = result.sort_values(by="oid_catalog",axis=0).reset_index(drop=True)['oid_catalog'].values.tolist()
        elif 'objectidps1' in result.columns:
            oids_pred = result.sort_values(by="objectidps1",axis=0).reset_index(drop=True)['objectidps1'].values.tolist()
        elif 'classifier_name' in result.columns:
            oids_pred = result.sort_values(by="classifier_name",axis=0).reset_index(drop=True)['classifier_name'].values.tolist()
        elif 'count' in result.columns:
            oids_pred = result.sort_values(by="count",axis=0).reset_index(drop=True)['count'].values.tolist()
            
            # check oids for tipical columns names hallucinations
        elif 'ztf_identifier' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'ztf_identifier': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'ztf identifier' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'ztf identifier': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'ztf_oid' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'ztf_oid': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'ztf_id' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'ztf_id': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'object' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'object': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'ztf' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'ztf': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
        elif 'allwise_id' in [col.lower() for col in result.columns.tolist()]:
            # change the column name to 'oid'
            result.rename(columns={'allwise_id': 'oid'}, inplace=True)
            oids_pred = result.sort_values(by='oid',axis=0).reset_index(drop=True)['oid'].values.tolist()
          
    for_list = {
        "exp": 20 + i + 1,
        "request": query,
        "model": model,
        "format": format,
        "rag": rag,
        "label": label,
        "goldLabel": true_label,
        "genQuery": table,
        "genQueryPython": full_query,
        "goldQuery": sql_gold,
        "results": result,
        "resultsCols": result.columns.to_numpy() if result is not None else None,
        "resultsRows": resultRows if result is not None else None,
        "error": error,
        "resultGold": resultGold,
        "resultGoldCols": resultGold.columns.to_numpy(),
        "resultGoldRows": resultGold["oid"].to_numpy() if "oid" in resultGold.columns else resultGold[resultGold.columns[0]].to_numpy(),
        "usage": total_usage,
        "prompts": prompts
    }
    to_csv.append(for_list)

headers = to_csv[0].keys()
file_name = f"experiments/{format}_RAG_{rag}_simple_v2.csv"
with open(file_name, mode='w', newline='') as file:
    writer = csv.DictWriter(file, fieldnames=headers)
    
    # Write the header row
    writer.writeheader()
    
    # Write the data rows
    for row in to_csv:
        writer.writerow(row)

Experimento número: 1
Raw response: ```1
-- Step 1: Convert the date range to Modified Julian Date (MJD) format.
-- Assuming August 17, 2024, corresponds to MJD 60100 and August 21, 2024, to MJD 60104.
-- These values are hypothetical and should be replaced with actual MJD values.

-- Step 2: Sub-query to get oids classified as SN by the stamp classifier with probability > 0.5
SELECT DISTINCT oid
FROM probability
WHERE classifier_name = 'stamp_classifier'
  AND class_name = 'SN'
  AND ranking = 1
  AND probability > 0.5
```

```2
-- Step 3: Sub-query to get oids with first classification date between August 17 and August 21, 2024
SELECT oid
FROM object
WHERE firstmjd BETWEEN 60100 AND 60104
```

```3
-- Step 4: Sub-query to get oids with at least two detections
SELECT oid
FROM object
WHERE ndet >= 2
```

```sql
-- Final Query: Combine all conditions to get the desired objects
SELECT *
FROM object
WHERE oid IN (
    -- Sub-query for classification as SN with probability > 0.5
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
  )
  AND oid IN (
    -- Sub-query for first classification date between August 17 and August 21, 2024
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60100 AND 60104
  )
  AND (
    -- Sub-query for at least two detections
    oid IN (
      SELECT oid
      FROM object
      WHERE ndet >= 2
    )
    OR oid IN (
      -- Include objects with probability > 0.5
      SELECT DISTINCT oid
      FROM probability
      WHERE classifier_name = 'stamp_classifier'
        AND class_name = 'SN'
        AND ranking = 1
        AND probability > 0.5
    )
  )
```


-- Final Query: Combine all conditions to get the desired objects
SELECT *
FROM object
WHERE oid IN (
    -- Sub-query for classification as SN with probability > 0.5
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
  )
  AND oid IN (
    -- Sub-query for first classification date between August 17 and August 21, 2024
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60100 AND 60104
  )
  AND (
    -- Sub-query for at least two detections
    oid IN (
      SELECT oid
      FROM object
      WHERE ndet >= 2
    )
    OR oid IN (
      -- Include objects with probability > 0.5
      SELECT DISTINCT oid
      FROM probability
      WHERE classifier_name = 'stamp_classifier'
        AND class_name = 'SN'
        AND ranking = 1
        AND probability > 0.5
    )
  )

Running SQL exception in run_query: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
-- Final Query: Combine all conditions to get the desired objects
SELECT *
FROM object
WHERE oid IN (
    -- Sub-query for classification as SN with probability > 0.5
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
  )
  AND oid IN (
    -- Sub-query for first classification date between August 17 and August 21, 2024
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60100 AND 60104
  )
  AND (
    -- Sub-query for at least two detections
    oid IN (
      SELECT oid
      FROM object
      WHERE ndet >= 2
    )
    OR oid IN (
      -- Include objects with probability > 0.5
      SELECT DISTINCT oid
      FROM probability
      WHERE classifier_name = 'stamp_classifier'
        AND class_name = 'SN'
        AND ranking = 1
        AND probability > 0.5
    )
  )
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Raised exception: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
-- Final Query: Combine all conditions to get the desired objects
SELECT *
FROM object
WHERE oid IN (
    -- Sub-query for classification as SN with probability > 0.5
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
  )
  AND oid IN (
    -- Sub-query for first classification date between August 17 and August 21, 2024
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60100 AND 60104
  )
  AND (
    -- Sub-query for at least two detections
    oid IN (
      SELECT oid
      FROM object
      WHERE ndet >= 2
    )
    OR oid IN (
      -- Include objects with probability > 0.5
      SELECT DISTINCT oid
      FROM probability
      WHERE classifier_name = 'stamp_classifier'
        AND class_name = 'SN'
        AND ranking = 1
        AND probability > 0.5
    )
  )
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Start retry with self-correction
Corrected query:

-- Final Query: Combine all conditions to get the desired objects
SELECT *
FROM object
WHERE oid IN (
    -- Combine conditions for classification as SN with probability > 0.5 and date range
    SELECT oid
    FROM (
        SELECT DISTINCT p.oid
        FROM probability p
        JOIN object o ON p.oid = o.oid
        WHERE p.classifier_name = 'stamp_classifier'
          AND p.class_name = 'SN'
          AND p.ranking = 1
          AND p.probability > 0.5
          AND o.firstmjd BETWEEN 60100 AND 60104
    ) AS subquery1
)
AND (
    -- Ensure at least two detections or probability > 0.5
    oid IN (
        SELECT oid
        FROM detection
        GROUP BY oid
        HAVING COUNT(*) >= 2
    )
    OR oid IN (
        SELECT DISTINCT oid
        FROM probability
        WHERE classifier_name = 'stamp_classifier'
          AND class_name = 'SN'
          AND ranking = 1
          AND probability > 0.5
    )
)

Running SQL exception in run_query: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
-- Final Query: Combine all conditions to get the desired objects
SELECT *
FROM object
WHERE oid IN (
    -- Sub-query for classification as SN with probability > 0.5
    SELECT DISTINCT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
      AND class_name = 'SN'
      AND ranking = 1
      AND probability > 0.5
  )
  AND oid IN (
    -- Sub-query for first classification date between August 17 and August 21, 2024
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60100 AND 60104
  )
  AND (
    -- Sub-query for at least two detections
    oid IN (
      SELECT oid
      FROM object
      WHERE ndet >= 2
    )
    OR oid IN (
      -- Include objects with probability > 0.5
      SELECT DISTINCT oid
      FROM probability
      WHERE classifier_name = 'stamp_classifier'
        AND class_name = 'SN'
        AND ranking = 1
        AND probability > 0.5
    )
  )
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Experimento número: 2
Raw response: ```sql
SELECT o.oid, o.meanra, o.meandec, o.ndet, o.firstmjd, o.deltajd, o.g_r_max,
       p.classifier_name, p.class_name, p.ranking, p.probability
FROM object o
WHERE o.ndet >= 100
AND o.oid IN (
    SELECT p.oid
    FROM probability p
    WHERE p.classifier_name = 'lc_classifier'
    AND p.class_name = 'CEP'
    AND p.probability > 0.76
    AND p.ranking = 1
)
```

SELECT o.oid, o.meanra, o.meandec, o.ndet, o.firstmjd, o.deltajd, o.g_r_max,
       p.classifier_name, p.class_name, p.ranking, p.probability
FROM object o
WHERE o.ndet >= 100
AND o.oid IN (
    SELECT p.oid
    FROM probability p
    WHERE p.classifier_name = 'lc_classifier'
    AND p.class_name = 'CEP'
    AND p.probability > 0.76
    AND p.ranking = 1
)

Running SQL exception in run_query: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 3:        p.classifier_name, p.class_name, p.ranking, p.probabi...
               ^

[SQL:
SELECT o.oid, o.meanra, o.meandec, o.ndet, o.firstmjd, o.deltajd, o.g_r_max,
       p.classifier_name, p.class_name, p.ranking, p.probability
FROM object o
WHERE o.ndet >= 100
AND o.oid IN (
    SELECT p.oid
    FROM probability p
    WHERE p.classifier_name = 'lc_classifier'
    AND p.class_name = 'CEP'
    AND p.probability > 0.76
    AND p.ranking = 1
)
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 3:        p.classifier_name, p.class_name, p.ranking, p.probabi...
               ^

[SQL:
SELECT o.oid, o.meanra, o.meandec, o.ndet, o.firstmjd, o.deltajd, o.g_r_max,
       p.classifier_name, p.class_name, p.ranking, p.probability
FROM object o
WHERE o.ndet >= 100
AND o.oid IN (
    SELECT p.oid
    FROM probability p
    WHERE p.classifier_name = 'lc_classifier'
    AND p.class_name = 'CEP'
    AND p.probability > 0.76
    AND p.ranking = 1
)
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Start retry with self-correction
Corrected query:

SELECT o.oid, o.meanra, o.meandec, o.ndet, o.firstmjd, o.deltajd, o.g_r_max,
       p.classifier_name, p.class_name, p.ranking, p.probability
FROM object o
JOIN (
    SELECT p.oid
    FROM probability p
    WHERE p.classifier_name = 'lc_classifier'
    AND p.class_name = 'CEP'
    AND p.probability > 0.76
    AND p.ranking = 1
) p ON o.oid = p.oid
WHERE o.ndet >= 100

Running SQL exception in run_query: (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 3:        p.classifier_name, p.class_name, p.ranking, p.probabi...
               ^

[SQL:
SELECT o.oid, o.meanra, o.meandec, o.ndet, o.firstmjd, o.deltajd, o.g_r_max,
       p.classifier_name, p.class_name, p.ranking, p.probability
FROM object o
WHERE o.ndet >= 100
AND o.oid IN (
    SELECT p.oid
    FROM probability p
    WHERE p.classifier_name = 'lc_classifier'
    AND p.class_name = 'CEP'
    AND p.probability > 0.76
    AND p.ranking = 1
)
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Experimento número: 3
Raw response: ```sql
SELECT *
FROM object
WHERE oid IN (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'lc_classifier'
      AND class_name = 'SNIa'
      AND ranking = 1
    ORDER BY probability DESC
    LIMIT 200
)
ORDER BY (
    SELECT probability
    FROM probability
    WHERE probability.oid = object.oid
      AND classifier_name = 'lc_classifier'
      AND class_name = 'SNIa'
      AND ranking = 1
) DESC;
```

SELECT *
FROM object
WHERE oid IN (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'lc_classifier'
      AND class_name = 'SNIa'
      AND ranking = 1
    ORDER BY probability DESC
    LIMIT 200
)
ORDER BY (
    SELECT probability
    FROM probability
    WHERE probability.oid = object.oid
      AND classifier_name = 'lc_classifier'
      AND class_name = 'SNIa'
      AND ranking = 1
) DESC

Running SQL exception in run_query: (psycopg2.errors.CardinalityViolation) more than one row returned by a subquery used as an expression

[SQL:
SELECT *
FROM object
WHERE oid IN (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'lc_classifier'
      AND class_name = 'SNIa'
      AND ranking = 1
    ORDER BY probability DESC
    LIMIT 200
)
ORDER BY (
    SELECT probability
    FROM probability
    WHERE probability.oid = object.oid
      AND classifier_name = 'lc_classifier'
      AND class_name = 'SNIa'
      AND ranking = 1
) DESC
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: (psycopg2.errors.CardinalityViolation) more than one row returned by a subquery used as an expression

[SQL:
SELECT *
FROM object
WHERE oid IN (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'lc_classifier'
      AND class_name = 'SNIa'
      AND ranking = 1
    ORDER BY probability DESC
    LIMIT 200
)
ORDER BY (
    SELECT probability
    FROM probability
    WHERE probability.oid = object.oid
      AND classifier_name = 'lc_classifier'
      AND class_name = 'SNIa'
      AND ranking = 1
) DESC
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Start retry with self-correction
Corrected query:

SELECT o.*, p.probability
FROM object o
JOIN probability p ON o.oid = p.oid
WHERE p.classifier_name = 'lc_classifier'
  AND p.class_name = 'SNIa'
  AND p.ranking = 1
ORDER BY p.probability DESC
LIMIT 200

Running SQL exception in run_query: (psycopg2.errors.CardinalityViolation) more than one row returned by a subquery used as an expression

[SQL:
SELECT *
FROM object
WHERE oid IN (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'lc_classifier'
      AND class_name = 'SNIa'
      AND ranking = 1
    ORDER BY probability DESC
    LIMIT 200
)
ORDER BY (
    SELECT probability
    FROM probability
    WHERE probability.oid = object.oid
      AND classifier_name = 'lc_classifier'
      AND class_name = 'SNIa'
      AND ranking = 1
) DESC
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Experimento número: 4
Raw response: ```sql
-- Step 1: Sub-query to filter the 'object' table using the provided list of oids
WITH filtered_oids AS (
    SELECT oid
    FROM object
    WHERE oid IN ('ZTF17aaadpsi', 'ZTF19aaduncs', 'ZTF18abnvehl', 'ZTF19abrqsxy', 'ZTF19aaduodl', 'ZTF19aadovdv', 'ZTF18aammkke', 'ZTF18abtriul', 'ZTF17aabwtky', 'ZTF18abwjpfy')
),

-- Step 2: Sub-query to retrieve the 'Amplitude' feature
amplitude_features AS (
    SELECT oid, value AS Feature_Value, 'Amplitude' AS Feature_Name
    FROM feature
    WHERE name = 'Amplitude' AND oid IN (SELECT oid FROM filtered_oids)
),

-- Step 3: Sub-query to retrieve the 'Multiband_period' feature
multiband_period_features AS (
    SELECT oid, value AS Feature_Value, 'Multiband_period' AS Feature_Name
    FROM feature
    WHERE name = 'Multiband_period' AND oid IN (SELECT oid FROM filtered_oids)
)

-- Step 4: Union of the feature queries
SELECT oid, Feature_Name, Feature_Value
FROM (
    SELECT * FROM amplitude_features
    UNION
    SELECT * FROM multiband_period_features
) AS feature_union
ORDER BY oid, Feature_Name;
```

-- Step 1: Sub-query to filter the 'object' table using the provided list of oids
WITH filtered_oids AS (
    SELECT oid
    FROM object
    WHERE oid IN ('ZTF17aaadpsi', 'ZTF19aaduncs', 'ZTF18abnvehl', 'ZTF19abrqsxy', 'ZTF19aaduodl', 'ZTF19aadovdv', 'ZTF18aammkke', 'ZTF18abtriul', 'ZTF17aabwtky', 'ZTF18abwjpfy')
),

-- Step 2: Sub-query to retrieve the 'Amplitude' feature
amplitude_features AS (
    SELECT oid, value AS Feature_Value, 'Amplitude' AS Feature_Name
    FROM feature
    WHERE name = 'Amplitude' AND oid IN (SELECT oid FROM filtered_oids)
),

-- Step 3: Sub-query to retrieve the 'Multiband_period' feature
multiband_period_features AS (
    SELECT oid, value AS Feature_Value, 'Multiband_period' AS Feature_Name
    FROM feature
    WHERE name = 'Multiband_period' AND oid IN (SELECT oid FROM filtered_oids)
)

-- Step 4: Union of the feature queries
SELECT oid, Feature_Name, Feature_Value
FROM (
    SELECT * FROM amplitude_features
    UNION
    SELECT * FROM multiband_period_features
) AS feature_union
ORDER BY oid, Feature_Name

Raised exception:
Start retry with self-correction
Corrected query:

-- Step 1: Sub-query to filter the 'object' table using the provided list of oids
WITH filtered_oids AS (
    SELECT oid
    FROM object
    WHERE oid IN ('ZTF17aaadpsi', 'ZTF19aaduncs', 'ZTF18abnvehl', 'ZTF19abrqsxy', 'ZTF19aaduodl', 'ZTF19aadovdv', 'ZTF18aammkke', 'ZTF18abtriul', 'ZTF17aabwtky', 'ZTF18abwjpfy')
),

-- Step 2: Sub-query to retrieve the 'Amplitude' feature
amplitude_features AS (
    SELECT oid, value AS Feature_Value, 'Amplitude' AS Feature_Name
    FROM feature
    WHERE name = 'Amplitude' AND oid IN (SELECT oid FROM filtered_oids)
),

-- Step 3: Sub-query to retrieve the 'Multiband_period' feature
multiband_period_features AS (
    SELECT oid, value AS Feature_Value, 'Multiband_period' AS Feature_Name
    FROM feature
    WHERE name = 'Multiband_period' AND oid IN (SELECT oid FROM filtered_oids)
)

-- Step 4: Union of the feature queries
SELECT oid, Feature_Name, Feature_Value
FROM (
    SELECT * FROM amplitude_features
    UNION ALL
    SELECT * FROM multiband_period_features
) AS feature_union
ORDER BY oid, Feature_Name

Experimento número: 5
Raw response: ```sql
-- Step 1: Filter objects based on date range and number of detections
WITH date_detection_filtered AS (
    SELECT
        oid, meanra, meandec, ndet, firstmjd
    FROM
        object
    WHERE
        firstmjd BETWEEN 59288 AND 59319 -- MJD for March 1st, 2021 to April 1st, 2021
        AND ndet <= 1
),

-- Step 2: Filter objects classified as asteroids with probability > 0.7
classification_filtered AS (
    SELECT
        oid, class_name, probability
    FROM
        probability
    WHERE
        classifier_name = 'stamp_classifier'
        AND class_name = 'asteroid'
        AND probability > 0.7
        AND ranking = 1
)

-- Step 3: Combine the results from both filters
SELECT
    ddf.oid, ddf.meanra, ddf.meandec, ddf.ndet, ddf.firstmjd,
    cf.class_name, cf.probability
FROM
    date_detection_filtered ddf
INNER JOIN
    classification_filtered cf
ON
    ddf.oid = cf.oid;
```

-- Step 1: Filter objects based on date range and number of detections
WITH date_detection_filtered AS (
    SELECT
        oid, meanra, meandec, ndet, firstmjd
    FROM
        object
    WHERE
        firstmjd BETWEEN 59288 AND 59319 -- MJD for March 1st, 2021 to April 1st, 2021
        AND ndet <= 1
),

-- Step 2: Filter objects classified as asteroids with probability > 0.7
classification_filtered AS (
    SELECT
        oid, class_name, probability
    FROM
        probability
    WHERE
        classifier_name = 'stamp_classifier'
        AND class_name = 'asteroid'
        AND probability > 0.7
        AND ranking = 1
)

-- Step 3: Combine the results from both filters
SELECT
    ddf.oid, ddf.meanra, ddf.meandec, ddf.ndet, ddf.firstmjd,
    cf.class_name, cf.probability
FROM
    date_detection_filtered ddf
INNER JOIN
    classification_filtered cf
ON
    ddf.oid = cf.oid

Raised exception:
Start retry with self-correction
Corrected query:

-- Step 1: Filter objects based on date range and number of detections
WITH date_detection_filtered AS (
    SELECT
        oid, meanra, meandec, ndet, firstmjd
    FROM
        object
    WHERE
        firstmjd BETWEEN 59288 AND 59319 -- MJD for March 1st, 2021 to April 1st, 2021
        AND ndet <= 1
),

-- Step 2: Filter objects classified as asteroids with probability > 0.7
classification_filtered AS (
    SELECT
        oid, class_name, probability
    FROM
        probability
    WHERE
        classifier_name = 'stamp_classifier'
        AND class_name = 'asteroid'
        AND probability > 0.7
        AND ranking = 1
)

-- Step 3: Combine the results from both filters
SELECT
    ddf.oid, ddf.meanra, ddf.meandec, ddf.ndet, ddf.firstmjd,
    cf.class_name, cf.probability
FROM
    date_detection_filtered ddf
INNER JOIN
    classification_filtered cf
ON
    ddf.oid = cf.oid

Experimento número: 6
Raw response: ```sql
SELECT
    o.oid,
    t.class_name,
    p.probability
FROM
    object o
JOIN
    (SELECT
         oid,
         class_name,
         probability
     FROM
         probability
     WHERE
         classifier_name = 'lc_classifier' AND
         ranking = 1) p ON o.oid = p.oid
JOIN
    taxonomy t ON p.class_name = t.class_name;
```

SELECT
    o.oid,
    t.class_name,
    p.probability
FROM
    object o
JOIN
    (SELECT
         oid,
         class_name,
         probability
     FROM
         probability
     WHERE
         classifier_name = 'lc_classifier' AND
         ranking = 1) p ON o.oid = p.oid
JOIN
    taxonomy t ON p.class_name = t.class_name

Running SQL exception in run_query: (psycopg2.errors.UndefinedColumn) column t.class_name does not exist
LINE 19:     taxonomy t ON p.class_name = t.class_name
                                          ^
HINT:  Perhaps you meant to reference the column "p.class_name".

[SQL:
SELECT
    o.oid,
    t.class_name,
    p.probability
FROM

In [7]:
data = pd.read_csv("experiments/simple/sql_RAG_False_simple_v2.csv")
data

,exp,request,model,format,rag,label,goldLabel,genQuery,genQueryPython,goldQuery,results,resultsCols,resultsRows,error,resultGold,resultGoldCols,resultGoldRows,usage,prompts
0,21,Query all objects that were first classified a...,gpt-4o,sql,False,medium,simple,\n-- Final Query: Combine all conditions to ge...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n object\r\nI...,NaN,NaN,NaN,(psycopg2.errors.QueryCanceled) canceling stat...,oid ndethist ncovhist mjdstar...,['oid' 'ndethist' 'ncovhist' 'mjdstarthist' 'm...,[['ZTF23aaygkbn' 'ZTF23aaygkbn']\n ['ZTF23aayg...,"{'Schema Linking': {'input_tokens': 648, 'outp...","{'Schema Linking': ""['object', 'probability', ..."
1,22,"Return the oids, meanra, meandec, ndet, firstm...",gpt-4o,sql,False,simple,simple,"\nSELECT o.oid, o.meanra, o.meandec, o.ndet, o...",NaN,"\r\nSELECT\r\n object.oid, object.meanra, o...",NaN,NaN,NaN,(psycopg2.errors.UndefinedTable) missing FROM-...,oid meanra meandec nde...,['oid' 'meanra' 'meandec' 'ndet' 'firstmjd' 'd...,['ZTF18abcjwgb' 'ZTF18abcjwgb' 'ZTF18abcjwgb' ...,"{'Schema Linking': {'input_tokens': 687, 'outp...","{'Schema Linking': ""['object', 'probability']""..."
2,23,"""Query the top 200 objects classified SNIa acc...",gpt-4o,sql,False,simple,simple,\nSELECT * \nFROM object \nWHERE oid IN (\n ...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n probability\r...,NaN,NaN,NaN,(psycopg2.errors.CardinalityViolation) more th...,oid classifier_name classifi...,['oid' 'classifier_name' 'classifier_version' ...,['ZTF20acobvxk' 'ZTF22aalpfln' 'ZTF21abuyhau' ...,"{'Schema Linking': {'input_tokens': 641, 'outp...","{'Schema Linking': ""['object', 'probability', ..."
3,24,Given this list of oids ['ZTF17aaadpsi' 'ZTF19...,gpt-4o,sql,False,advanced,simple,\n-- Step 1: Sub-query to filter the 'object' ...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n feature\r\n...,oid feature_name feature_v...,['oid' 'feature_name' 'feature_value'],['ZTF17aaadpsi' 'ZTF17aaadpsi' 'ZTF17aaadpsi' ...,NaN,oid name value ...,['oid' 'name' 'value' 'fid' 'version'],['ZTF19aaduodl' 'ZTF18abtriul' 'ZTF18abtriul' ...,"{'Schema Linking': {'input_tokens': 730, 'outp...","{'Schema Linking': ""['feature', 'object']"", 'C..."
4,25,Write a script in PostgreSQL that return objec...,gpt-4o,sql,False,advanced,simple,\n-- Step 1: Filter objects based on date rang...,NaN,"SELECT\r\n object.oid, object.meanra, objec...",oid meanra meandec n...,['oid' 'meanra' 'meandec' 'ndet' 'firstmjd' 'c...,['ZTF21aaqosgt' 'ZTF21aaqosgu' 'ZTF21aaqosil' ...,NaN,oid meanra meandec n...,['oid' 'meanra' 'meandec' 'ndet' 'firstmjd' 'c...,['ZTF21aanqsrs' 'ZTF21aanqjqc' 'ZTF21aanqpxc' ...,"{'Schema Linking': {'input_tokens': 690, 'outp...","{'Schema Linking': ""['object', 'detection', 'p..."
5,26,Return a Sql query to get the predicted class ...,gpt-4o,sql,False,simple,simple,"\nSELECT \n o.oid, \n t.class_name, \n ...",NaN,"\r\nselect oid, class_name, probability from p...",NaN,NaN,NaN,(psycopg2.errors.UndefinedColumn) column t.cla...,oid class_name probabi...,['oid' 'class_name' 'probability'],['ZTF19aceaaun' 'ZTF18abvorbo' 'ZTF17aacbtqq' ...,"{'Schema Linking': {'input_tokens': 648, 'outp...","{'Schema Linking': ""['object', 'probability', ..."
6,27,Which objects were found between June 1st and ...,gpt-4o,sql,False,simple,simple,\nSELECT * \nFROM object \nWHERE oid IN (\n ...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n object INNE...,NaN,NaN,NaN,(psycopg2.errors.InvalidTextRepresentation) in...,oid ndethist ncovhist mjdst...,['oid' 'ndethist' 'ncovhist' 'mjdstarthist' 'm...,[['ZTF18aaxpmrl' 'ZTF18aaxpmrl']\n ['ZTF18aavl...,"{'Schema Linking': {'input_tokens': 633, 'outp...","{'Schema Linking': ""['object', 'probability']""..."
7,28,Find all ZTF objects that lie within 30 arcsec...,gpt-4o,sql,False,simple,simple,"\nSELECT \n 'id_1' AS identifier, \n 354...",NaN,"WITH catalog (id, obj_ra, obj_dec, r_deg) AS (...",NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""ra"" ...",id obj_ra obj_dec r_deg ...,['id' 'obj_ra' 'obj_dec' 'r_deg' 'oid' 'ndet' ...,['ZTF18acfqezx' 'ZTF22acabgbb' 'ZTF20abyptpc' ...,"{'Schema Linking': {'input_tokens': 753, 'outp...","{'Schema Linking': ""['object']"", 'Classificati..."
8,29,Get at most 100 rows from the 'ss_ztf' table t...,gpt-4o,sql,False,simple,simple,\nSELECT * \nFROM ss_ztf \nWHERE nearest_ssobj...,NaN,SELECT\r\n *\r\nFROM\r\n ss_ztf\r\nWHERE...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""near...",oid candid ssdistn...,['oid' 'candid' 'ssdistnr' 'ssmagnr' 'ssnamenr'],['ZTF21abmpmhi' 'ZTF21abmpmhp' 'ZTF21abmpmii' ...,"{'Schema Linking': {'input_tokens': 634, 'outp...","{'Schema Linking': ""['ss_ztf']"", 'Classificati..."
9,30,For objects with ZTF identifiers 'ZTF20acwrybw...,gpt-4o,sql,False,medium,simple,"\nSELECT \n dq.oid, \n dq.candid, \n dq.xpo...",NaN,"SELECT\r\n oid, candid, xpos, ypos, scorr\r...",NaN,NaN,NaN,(psycopg2.errors.UndefinedColumn) column dq.pe...,oid candid xp...,['oid' 'candid' 'xpos' 'ypos' 'scorr'],['ZTF20acwrybw' 'ZTF20acwrybw' 'ZTF20acwrybw' ...,"{'Schema Linking': {'input_tokens': 671, 'outp...","{'Schema Linking': ""['object', 'dataquality']""..."
10,31,For the ZTF object 'ZTF20actnuls' and referenc...,gpt-4o,sql,False,simple,simple,\nSELECT * \nFROM reference \nWHERE oid = (SEL...,NaN,SELECT\r\n *\r\nFROM\r\n reference\r\nWH...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""obje...",rfid oid candi...,['rfid' 'oid' 'candid' 'fid' 'rcid' 'field' 'm...,['ZTF20actnuls'],"{'Schema Linking': {'input_tokens': 639, 'outp...","{'Schema Linking': ""['reference']"", 'Classific..."
11,32,For objects with ZTF identifiers 'ZTF23abtcveg...,gpt-4o,sql,False,simple,simple,\nSELECT *\nFROM non_detection\nWHERE oid IN (...,NaN,SELECT\r\n *\r\nFROM\r\n non_detection\r...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""ztf_...",oid mjd fid diffmagli...,['oid' 'mjd' 'fid' 'diffmaglim'],['ZTF23abtcveg' 'ZTF23abtcveg' 'ZTF23abtcveg' ...,"{'Schema Linking': {'input_tokens': 666, 'outp...","{'Schema Linking': ""['non_detection']"", 'Class..."
12,33,For all ALLWISE objects within a search radius...,gpt-4o,sql,False,simple,simple,\nSELECT \n allwise.identifier AS allwise_i...,NaN,"SELECT\r\n oid_catalog, ra, dec, w1mpro, w2...",NaN,NaN,NaN,(psycopg2.errors.UndefinedColumn) column allwi...,oid_catalog ra dec ...,['oid_catalog' 'ra' 'dec' 'w1mpro' 'w2mpro' 'w...,['J013435.71+304352.7'],"{'Schema Linking': {'input_tokens': 682, 'outp...","{'Schema Linking': ""['allwise']"", 'Classificat..."
13,34,For objects with ZTF identifiers 'ZTF22abcmmkz...,gpt-4o,sql,False,simple,simple,\nSELECT *\nFROM xmatch\nWHERE oid IN (\n S...,NaN,SELECT\r\n *\r\nFROM\r\n xmatch\r\nWHERE...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""ztfi...",oid catid oid_catalog ...,['oid' 'catid' 'oid_catalog' 'dist' 'class_cat...,['ZTF18abbufof'],"{'Schema Linking': {'input_tokens': 670, 'outp...","{'Schema Linking': ""['xmatch', 'object']"", 'Cl..."
14,35,For objects with ZTF identifiers 'ZTF23abjikaf...,gpt-4o,sql,False,medium,simple,\n-- Final Query: Combine the steps to get the...,NaN,SELECT\r\n COUNT(chipsf)\r\nFROM\r\n dat...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""ztf_...",count\n0 81,['count'],[81],"{'Schema Linking': {'input_tokens': 653, 'outp...","{'Schema Linking': ""['object', 'dataquality']""..."
15,36,For objects with ZTF identifiers 'ZTF21aaobkmg...,gpt-4o,sql,False,simple,simple,\nSELECT * \nFROM probability \nWHERE oid IN (...,NaN,SELECT\r\n *\r\nFROM\r\n probability\r\n...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""ztf_...",oid classifier_name classifier...,['oid' 'classifier_name' 'classifier_version' ...,['ZTF21aaobkmg' 'ZTF21aaomuka' 'ZTF21aaobkmg' ...,"{'Schema Linking': {'input_tokens': 665, 'outp...","{'Schema Linking': ""['probability']"", 'Classif..."
16,37,"For the ZTF object 'ZTF21acitntz', find the MP...",gpt-4o,sql,False,medium,simple,\n-- Step 1: Select the 'oid' of the ZTF objec...,NaN,"SELECT\r\n oid, ssnamenr, ssmagnr\r\nFROM\r...",NaN,NaN,NaN,(psycopg2.errors.SyntaxError) syntax error at ...,oid ssnamenr ssmagnr\n0 ZTF21aci...,['oid' 'ssnamenr' 'ssmagnr'],['ZTF21acitntz'],"{'Schema Linking': {'input_tokens': 652, 'outp...","{'Schema Linking': ""['object', 'ss_ztf']"", 'Cl..."
17,38,For ZTF object(s) with identifier 'J163603.54-...,gpt-4o,sql,False,medium,simple,\n-- Step 1: Sub-query to select the oid_catal...,NaN,"SELECT\r\n oid, dist\r\nFROM\r\n xmatch\...",NaN,NaN,NaN,(psycopg2.errors.SyntaxError) syntax error at ...,oid dist\n0 ZTF21abbrgtf 0....,['oid' 'dist'],['ZTF21abbrgtf'],"{'Schema Linking': {'input_tokens': 659, 'outp...","{'Schema Linking': ""['xmatch', 'allwise']"", 'C..."
18,39,For objects with ZTF identifiers 'ZTF21abstkhj...,gpt-4o,sql,False,simple,simple,\nSELECT *\nFROM ps1_ztf\nWHERE oid IN (\n ...,NaN,SELECT\r\n *\r\nFROM\r\n ps1_ztf\r\nWHER...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""ztf_...",oid candid o...,['oid' 'candid' 'objectidps1' 'sgmag1' 'srmag1...,['ZTF21abstkhj' 'ZTF22aacqjeb'],"{'Schema Linking': {'input_tokens': 675, 'outp...","{'Schema Linking': ""['object', 'ps1_ztf']"", 'C..."
19,40,Find at most 30 rows in the 'magstat' table th...,gpt-4o,sql,False,simple,simple,\nSELECT * \nFROM magstat \nWHERE ndet >= 10 \...,NaN,SELECT\r\n *\r\nFROM\r\n magstat\r\nWHER...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""magd...",oid fid stellar corrected nde...,['oid' 'fid' 'stellar' 'corrected' 'ndet' 'ndu...,['ZTF17aaacdos' 'ZTF17aaadaqj' 'ZTF17aaaeuqx' ...,"{'Schema Linking': {'input_tokens': 660, 'outp...","{'Schema Linking': ""['magstat']"", 'Classificat..."
20,41,For objects with ZTF identifiers 'ZTF20aczxeud...,gpt-4o,sql,False,medium,simple,\n-- Final Query: Retrieve information from th...,NaN,"SELECT\r\n rfid, oid, candid, magnr, sigmag...",NaN,NaN,NaN,(psycopg2.errors.UndefinedColumn) column refer...,rfid oid candi...,['rfid' 'oid' 'candid' 'magnr' 'sigmagnr'],['ZTF20aczxeud' 'ZTF21aappfdu' 'ZTF22aacqjeb'],"{'Schema Linking': {'input_tokens': 691, 'outp...","{'Schema Linking': ""['object', 'reference']"", ..."
21,42,Get all epochs in the 'dataquality' table for ...,gpt-4o,sql,False,simple,simple,"\nSELECT dq.oid AS object, \n dq.candid ...",NaN,"SELECT\r\n oid, candid, fid, chipsf, fwhm, ...",NaN,NaN,NaN,(psycopg2.errors.UndefinedColumn) column dq.re...,oid candid fid c...,['oid' 'candid' 'fid' 'chipsf' 'fwhm' 'classta...,['ZTF21aapnixl' 'ZTF21aapnixl' 'ZTF21aapnixl' ...,"{'Schema Linking': {'input_tokens': 688, 'outp...","{'Schema Linking': ""['dataquality']"", 'Classif..."
22,43,For objects with ZTF identifiers 'ZTF18acxlskz...,gpt-4o,sql,False,medium,simple,\n-- Final Query: Retrieve all rows from the '...,NaN,SELECT\r\n *\r\nFROM\r\n gaia_ztf\r\nWHE...,NaN,NaN,NaN,(psycopg2.errors.UndefinedColumn) column gaia_...,oid candid neargaia...,['oid' 'candid' 'neargaia' 'neargaiabright' 'm...,['ZTF18acxlskz'],"{'Schema Linking': {'input_tokens': 674, 'outp...","{'Schema Linking': ""['object', 'gaia_ztf']"", '..."
23,44,Get all the information available in the 'obje...,gpt-4o,sql,False,simple,simple,\nSELECT * \nFROM object \nWHERE oid = 'ZTF20a...,NaN,SELECT\r\n *\r\nFROM\r\n object\r\nWHERE...,oid ndethist ncovhist mjdstarth...,['oid' 'ndethist' 'ncovhist' 'mjdstarthist' 'm...,['ZTF20aatxryt'],NaN,oid ndethist ncovhist mjdstarth...,['oid' 'ndethist' 'ncovhist' 'mjdstarthist' 'm...,['ZTF20aatxryt'],"{'Schema Linking': {'input_tokens': 633, 'outp...","{'Schema Linking': ""['object']"", 'Classificati..."
24,45,For objects with ZTF identifiers 'ZTF23aaawbsc...,gpt-4o,sql,False,simple,simple,"\nSELECT \n o.oid AS ztf_id, \n d.candid...",NaN,"SELECT\r\n oid, candid, fid, mjd, isdiffpos...",NaN,NaN,NaN,(psycopg2.errors.UndefinedTable) missing FROM-...,oid candid fid ...,['oid' 'candid' 'fid' 'mjd' 'isdiffpos' 'ra' '...,['ZTF21abxlmuw' 'ZTF21abxlmuw' 'ZTF21abxlmuw' ...,"{'Schema Linking': {'input_tokens': 699, 'outp...","{'Schema Linking': ""['object', 'detection']"", ..."
25,46,"For the ZTF object 'ZTF20achscch', get the fol...",gpt-4o,sql,False,simple,simple,"\nSELECT catalog_name, object_id_in_catalog, d...",NaN,"SELECT\r\n catid, oid_catalog, dist\r\nFROM...",NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""cata...",catid oid_catalog dist\n0 ...,['catid' 'oid_catalog' 'dist'],['allwise'],"{'Schema Linking': {'input_tokens': 649, 'outp...","{'Schema Linking': ""['xmatch']"", 'Classificati..."
26,47,Find all epochs in the 'forced_photometry' tab...,gpt-4o,sql,False,advanced,simple,\n-- Final Query: Retrieve epochs for ZTF obje...,NaN,"SELECT\r\n oid, mjd, fid, mag, e_mag, mag_c...",NaN,NaN,NaN,(psycopg2.errors.UndefinedColumn) column fp.ma...,oid mjd fid mag...,['oid' 'mjd' 'fid' 'mag' 'e_mag' 'mag_corr' 'e...,['ZTF24aaiutyh' 'ZTF24aaiutyh' 'ZTF24aaiutyh' ...,"{'Schema Linking': {'input_tokens': 668, 'outp...","{'Schema Linking': ""['detection']"", 'Classific..."
27,48,Get the following columns from the 'magstat' t...,gpt-4o,sql,False,simple,simple,"\nSELECT oid AS ztf_identifier, fid AS filter_...",NaN,"\r\nSELECT\r\n oid, fid, ndet, magmean\r\nF...",NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""mean...",oid fid ndet magmean\n0 ZTF1...,['oid' 'fid' 'ndet' 'magmean'],['ZTF18acsvogv' 'ZTF18acsvogv'],"{'Schema Linking': {'input_tokens': 651, 'outp...","{'Schema Linking': ""['magstat']"", 'Classificat..."
28,49,For objects with ZTF identifiers 'ZTF20abywydb...,gpt-4o,sql,False,medium,simple,\n-- Final Query: Retrieve ZTF objects with sp...,NaN,"SELECT\r\n oid, ndet, meanra, meandec,\r\n ...",NaN,NaN,NaN,(psycopg2.errors.QueryCanceled) canceling stat...,oid ndet meanra meandec ...,['oid' 'ndet' 'meanra' 'meandec' 'firstmjd' 'l...,['ZTF20abywydb' 'ZTF20acduffd'],"{'Schema Linking': {'input_tokens': 718, 'outp...","{'Schema Linking': ""['object', 'detection']"", ..."
29,50,Get all features for the ZTF object 'ZTF18abqy...,gpt-4o,sql,False,advanced,simple,\n-- Final Query: Combine the sub-queries and ...,NaN,"SELECT\r\n oid, name, value, fid, version\r...",NaN,NaN,NaN,(psycopg2.errors.UndefinedColumn) column featu...,oid name value ...,['oid' 'name' 'value' 'fid' 'version'],['ZTF18abqyaix' 'ZTF18abqyaix' 'ZTF18abqyaix' ...,"{'Schema Linking': {'input_tokens': 658, 'outp...","{'Schema Linking': ""['object', 'feature', 'fea..."
30,51,Get at most 20 ZTF objects that satisfy the fo...,gpt-4o,sql,False,medium,simple,\n-- Final query to combine all conditions and...,NaN,SELECT\r\n *\r\nFROM\r\n object\r\nWHERE...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""corr...",oid ndethist ncovhist mjdstart...,['oid' 'ndethist' 'ncovhist' 'mjdstarthist' 'm...,['ZTF18abegamx' 'ZTF18abjmkpw' 'ZTF17aaanrma' ...,"{'Schema Linking': {'input_tokens': 675, 'outp...","{'Schema Linking': ""['object', 'detection']"", ..."
31,52,"For the light curve classifier, return the fol...",gpt-4o,sql,False,simple,simple,"\nSELECT name, version, classes\nFROM taxonomy...",NaN,SELECT\r\n *\r\nFROM\r\n taxonomy\r\nWHE...,NaN,NaN,NaN,"(psycopg2.errors.UndefinedColumn) column ""name...",classifier_name classifier_ve...,['classifier_name' 'classifier_version' 'class...,['lc_classifier'],"{'Schema Linking': {'input_tokens': 638, 'outp...","{'Schema Linking': ""['taxonomy']"", 'Classifica..."

In [8]:
data["request"][0]

'Query all objects that were first classified as SN by the stamp classifier between august 17 and august 21, with a probability greater than 0.5 or at least have two detections.'

In [7]:
print(data["genQuery"][0])
print("-----------------")
print(data["goldQuery"][0])

SELECT * FROM object
WHERE oid IN (
    SELECT oid FROM probability
    WHERE classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
    AND probability > 0.5
    AND date >= '2023-08-17' AND date <= '2023-08-21'
    UNION
    SELECT oid FROM object
    WHERE oid IN (
        SELECT oid FROM detection
        GROUP BY oid
        HAVING COUNT(*) >= 2
    )
)

-----------------

SELECT
    *
FROM
    object
INNER JOIN
    probability
ON
    object.oid = probability.oid
WHERE
    object.firstMJD > 60173.0
    and object.firstMJD < 60177.0
    AND probability.class_name='SN'
    AND probability.classifier_name='stamp_classifier'
    AND probability.ranking=1
    AND (probability.probability>0.5
    OR object.ndet>1)

In [8]:
print(data["genQuery"][31])
print("-----------------")
print(data["goldQuery"][31])

SELECT name, version, classes
FROM taxonomy
WHERE name = 'lc_classifier'

-----------------
SELECT
    *
FROM
    taxonomy
WHERE
    classifier_name = 'lc_classifier'

In [10]:
for d in range(data.shape[0]):
    print(data["error"][d])

(psycopg2.errors.UndefinedColumn) column "date" does not exist
LINE 9:     AND date >= '2023-08-17' AND date <= '2023-08-21'
                ^

[SQL:
SELECT * FROM object
WHERE oid IN (
    SELECT oid FROM probability
    WHERE classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
    AND probability > 0.5
    AND date >= '2023-08-17' AND date <= '2023-08-21'
    UNION
    SELECT oid FROM object
    WHERE oid IN (
        SELECT oid FROM detection
        GROUP BY oid
        HAVING COUNT(*) >= 2
    )
)
]
(Background on this error at: https://sqlalche.me/e/20/f405)
nan
(psycopg2.errors.UndefinedColumn) column "probability" does not exist
LINE 13: ORDER BY probability DESC
                  ^

[SQL:
SELECT *
FROM object
WHERE oid IN (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'lc_classifier'
      AND class_name = 'SNIa'
      AND ranking = 1
    ORDER BY probability DESC
    LIMIT 200
)
ORDER BY probability DESC
]
(Background on this error at: https://sqlalche.me/e/20/f405)
nan
(psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "p"
LINE 2: ...T o.oid, o.meanra, o.meandec, o.ndet, o.firstmjd, p.class_na...
                                                             ^

[SQL:
SELECT o.oid, o.meanra, o.meandec, o.ndet, o.firstmjd, p.class_name, p.probability
FROM object o
WHERE o.firstmjd BETWEEN 59265 AND 59300
  AND o.ndet <= 1
  AND o.oid IN (
    SELECT p.oid
    FROM probability p
    WHERE p.classifier_name = 'stamp_classifier'
      AND p.class_name = 'asteroid'
      AND p.probability > 0.7
      AND p.ranking = 1
  )
]
(Background on this error at: https://sqlalche.me/e/20/f405)
nan
(psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL:
SELECT *
FROM object
WHERE oid IN (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'lc_classifier'
    AND ranking = 1
)
AND firstmjd BETWEEN 58257 AND 58387
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(psycopg2.errors.UndefinedColumn) column "ra" does not exist
LINE 16:         AVG(ra) AS mean_ra,
                     ^

[SQL:
SELECT
    'id_1' AS identifier,
    354.67 AS ra,
    15.954 AS dec,
    0.008333 AS search_radius_deg,
    ztf_objects.oid AS ztf_identifier,
    ztf_objects.num_detections,
    ztf_objects.mean_ra,
    ztf_objects.mean_dec,
    ztf_objects.first_detection_date
FROM (
    SELECT
        oid,
        COUNT(*) AS num_detections,
        AVG(ra) AS mean_ra,
        AVG(dec) AS mean_dec,
        MIN(detection_date) AS first_detection_date,
        MAX(detection_date) AS last_detection_date
    FROM object
    WHERE
        (SQRT(POWER((ra - 354.67) * COS(RADIANS(15.954)), 2) + POWER((dec - 15.954), 2)) <= 0.008333)
        OR
        (SQRT(POWER((ra - 20.7993) * COS(RADIANS(1.00331)), 2) + POWER((dec - 1.00331), 2)) <= 0.005556)
    GROUP BY oid
) AS ztf_objects
ORDER BY ztf_objects.last_detection_date DESC
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column "nearest_ssobject" does not exist
LINE 4: WHERE nearest_ssobject IS NOT NULL
              ^

[SQL:
SELECT *
FROM ss_ztf
WHERE nearest_ssobject IS NOT NULL
LIMIT 100
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column dq.peak_snr does not exist
LINE 8:   dq.peak_snr  -- Peak-pixel S/N
          ^

[SQL:
-- Final query combining all steps
SELECT
  dq.oid,  -- ZTF identifier
  dq.candid,  -- Candidate identifier
  dq.xpos,  -- X-image position
  dq.ypos,  -- Y-image position
  dq.peak_snr  -- Peak-pixel S/N
FROM
  dataquality dq
WHERE
  dq.oid IN (
    SELECT oid
    FROM object
    WHERE ztf_id IN ('ZTF20acwrybw', 'ZTF22abugigx')
  )
  AND dq.fid = 2  -- Filter for r-band (fid=2)
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column "reference_id" does not exist
LINE 4: WHERE reference_id = (
              ^

[SQL:
SELECT *
FROM reference
WHERE reference_id = (
    SELECT reference_id
    FROM object
    WHERE oid = 'ZTF20actnuls'
)
AND reference_id = '712120223'
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column "ztf_id" does not exist
LINE 7:     WHERE ztf_id IN ('ZTF23abtcveg', 'ZTF23abudlls')
                  ^
HINT:  Perhaps you meant to reference the column "non_detection.fid".

[SQL:
SELECT *
FROM non_detection
WHERE oid IN (
    SELECT oid
    FROM object
    WHERE ztf_id IN ('ZTF23abtcveg', 'ZTF23abudlls')
)
AND maglimit5sigma > 19.5
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column allwise.identifier does not exist
LINE 3:     allwise.identifier AS allwise_id,
            ^

[SQL:
SELECT
    allwise.identifier AS allwise_id,
    allwise.ra,
    allwise.dec,
    allwise.w1mpro AS wise_w1_mag,
    allwise.w1sigmpro AS wise_w1_mag_uncertainty,
    allwise.w2mpro AS wise_w2_mag,
    allwise.w2sigmpro AS wise_w2_mag_uncertainty,
    allwise.j_m_2mass AS twomass_j_mag,
    allwise.j_msig_2mass AS twomass_j_mag_uncertainty
FROM
    allwise
WHERE
    q3c_radial_query(allwise.ra, allwise.dec, 23.6488, 30.7314, 1/3600.0)
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column "ztfid" does not exist
LINE 7:     WHERE ztfid IN ('ZTF22abcmmkz', 'ZTF18abbufof')
                  ^

[SQL:
SELECT *
FROM xmatch
WHERE oid IN (
    SELECT oid
    FROM object
    WHERE ztfid IN ('ZTF22abcmmkz', 'ZTF18abbufof')
)
AND distance < 0.5
]
(Background on this error at: https://sqlalche.me/e/20/f405)
nan
(psycopg2.errors.UndefinedColumn) column "ztf_id" does not exist
LINE 7:     WHERE ztf_id IN ('ZTF21aaobkmg', 'ZTF21aaomuka')
                  ^

[SQL:
SELECT *
FROM probability
WHERE oid IN (
    SELECT oid
    FROM object
    WHERE ztf_id IN ('ZTF21aaobkmg', 'ZTF21aaomuka')
)
AND classifier_name = 'lc_classifier'
AND ranking IN (1, 2)
ORDER BY ranking
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column "object_id" does not exist
LINE 10:   oid = (SELECT oid FROM object WHERE object_id = 'ZTF21acit...
                                               ^

[SQL:
-- Final Query: Retrieve the ZTF object identifier, the MPC name, and the MPC magnitude
SELECT
  'ZTF21acitntz' AS ztf_object_id,
  ssnamenr AS mpc_name,
  ssmagnr AS mpc_magnitude
FROM
  ss_ztf
WHERE
  oid = (SELECT oid FROM object WHERE object_id = 'ZTF21acitntz')
ORDER BY
  ssdistnr ASC
LIMIT 1
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column xmatch.distance does not exist
LINE 3: SELECT xmatch.oid, xmatch.distance
                           ^

[SQL:
-- Final query combining all steps
SELECT xmatch.oid, xmatch.distance
FROM xmatch
WHERE xmatch.oid_catalog IN (
    SELECT oid_catalog
    FROM allwise
    WHERE oid_catalog = 'J163603.54-065228.7'
)
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column "ztf_id" does not exist
LINE 8:     WHERE ztf_id IN ('ZTF21abstkhj', 'ZTF22aacqjeb', 'ZTF21a...
                  ^

[SQL:
-- Final Query: Retrieve all rows from 'ps1_ztf' for specified ZTF objects with 'sgscore1' < 0.2
SELECT *
FROM ps1_ztf
WHERE oid IN (
    SELECT oid
    FROM object
    WHERE ztf_id IN ('ZTF21abstkhj', 'ZTF22aacqjeb', 'ZTF21aamwpdf')
)
AND sgscore1 < 0.2
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column "magdiff_median" does not exist
LINE 5:   AND magdiff_median > 19
              ^

[SQL:
SELECT *
FROM magstat
WHERE ndet >= 10
  AND magdiff_median > 19
  AND magdiff_last < 17
ORDER BY oid
LIMIT 30
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column reference.ref_id does not exist
LINE 4:   reference.ref_id,  -- Reference identifier
          ^
HINT:  Perhaps you meant to reference the column "reference.rfid".

[SQL:
-- Final query to retrieve information from the reference table for specified ZTF identifiers in the g band
SELECT
  reference.ref_id,  -- Reference identifier
  object.ztf_id,     -- ZTF identifier
  reference.cand_id, -- Candidate identifier
  reference.mag,     -- Magnitude
  reference.mag_err  -- Magnitude uncertainty
FROM
  reference
WHERE
  reference.oid IN (
    SELECT oid
    FROM object
    WHERE ztf_id IN ('ZTF20aczxeud', 'ZTF21aappfdu', 'ZTF22aacqjeb')
  )
  AND reference.fid = 1  -- Assuming 'fid' for g band is 1
ORDER BY
  object.ztf_id  -- Sort results by ZTF identifier
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column "object_name" does not exist
LINE 5: WHERE object_name = 'ZTF21aapnixl'
              ^

[SQL:
-- Sub-query to get the oid for the object 'ZTF21aapnixl'
SELECT oid
FROM object
WHERE object_name = 'ZTF21aapnixl'
]
(Background on this error at: https://sqlalche.me/e/20/f405)
nan
nan
nan
(psycopg2.errors.UndefinedColumn) column "catalog_name" does not exist
LINE 2: SELECT catalog_name, object_id_in_catalog, distance
               ^

[SQL:
SELECT catalog_name, object_id_in_catalog, distance
FROM xmatch
WHERE oid = (
    SELECT oid
    FROM object
    WHERE object_id = 'ZTF20achscch'
)
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column "date" does not exist
LINE 2: SELECT oid, date, fid, diffmag, diffmagerr, corrmag, corrmag...
                    ^

[SQL:
SELECT oid, date, fid, diffmag, diffmagerr, corrmag, corrmagerr, isdiffpos
FROM forced_photometry
WHERE oid = 'ZTF24aaiutyh'
ORDER BY date
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column m.mean_mag_diff does not exist
LINE 6:     m.mean_mag_diff AS mean_difference_magnitude
            ^

[SQL:
SELECT
    m.oid AS ztf_identifier,
    m.fid AS filter_identifier,
    m.ndet AS number_of_detections,
    m.mean_mag_diff AS mean_difference_magnitude
FROM
    magstat m
WHERE
    m.oid = (SELECT o.oid FROM object o WHERE o.oid = 'ZTF18acsvogv')
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column o.diffmaglim_g does not exist
LINE 9:     o.diffmaglim_g - o.diffmaglim_r AS diff_mean_g_r_band_di...
            ^

[SQL:
SELECT
    o.oid AS ztf_identifier,
    o.ndet AS number_of_detections,
    o.meanra AS mean_ra,
    o.meandec AS mean_dec,
    o.firstmjd AS first_detection_date,
    o.lastmjd AS last_detection_date,
    o.diffmaglim_g - o.diffmaglim_r AS diff_mean_g_r_band_diff_magnitudes,
    o.corrected_diffmaglim_g - o.corrected_diffmaglim_r AS diff_mean_g_r_band_corrected_magnitudes
FROM
    object o
WHERE
    o.oid IN ('ZTF20abywydb', 'ZTF20abzpxxu', 'ZTF20acduffd')
    AND o.corrected_diffmaglim_g IS NULL
    AND o.corrected_diffmaglim_r IS NULL
ORDER BY
    o.firstmjd
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column feature_version.oid does not exist
LINE 9:   (SELECT feature_version.oid, feature_version.version
                  ^

[SQL:
-- Final Query: Combine the sub-queries to get the desired result
SELECT f.oid, f.name, f.value, f.fid, fv.version
FROM
  (SELECT feature.oid, feature.name, feature.value, feature.fid
   FROM feature
   WHERE feature.oid = (SELECT oid FROM object WHERE object.oid = 'ZTF18abqyaix')) AS f
INNER JOIN
  (SELECT feature_version.oid, feature_version.version
   FROM feature_version
   WHERE feature_version.oid = (SELECT oid FROM object WHERE object.oid = 'ZTF18abqyaix')) AS fv
ON f.oid = fv.oid
ORDER BY f.oid, f.fid, fv.version
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column "num_detections" does not exist
LINE 7:     WHERE num_detections >= 30
                  ^

[SQL:
SELECT *
FROM object
WHERE oid IN (
    SELECT oid
    FROM magstat
    WHERE num_detections >= 30
    AND (g_corrected_mag_min - r_corrected_mag_min) > 3.5
    AND (last_detection - first_detection) > 20
    LIMIT 20
)
]
(Background on this error at: https://sqlalche.me/e/20/f405)
(psycopg2.errors.UndefinedColumn) column "name" does not exist
LINE 2: SELECT name, version, classes
               ^

[SQL:
SELECT name, version, classes
FROM taxonomy
WHERE name = 'lc_classifier'
]
(Background on this error at: https://sqlalche.me/e/20/f405)

#### o1 tests

In [ ]:
from pprint import pprint
from pipeline.main import run_pipeline, engine
engine.begin()

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "o1-preview"

# Format for the pipeline
format = "python"

# RAG parameters
max_tokens = 10000
size = 700
overlap = 300
quantity = 10

# Running the pipeline
result, total_usage, prompts = run_pipeline(query, model, max_tokens, size, 
                                            overlap, quantity, format, False, 
                                            engine, rag_pipe=True, 
                                            self_corr=True)
print("Resulting table:")
print(result)
print("Total usage of the pipeline:")
pprint(total_usage)

# The prompts used will be saved in this file
with open(f"prompts/examples/prompts_query_{model}.txt", "w") as f:
    f.write(str(prompts))

Tables needed: [object, detection, magstat]
Difficulty: advanced
```python
# Get oids of objects classified as 'SN II' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59580 (2022-01-01)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections
sub_query_ndet = f'''
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
({sub_query_magstat_g})
INTERSECT
({sub_query_magstat_r})
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
Resulting python query:
# Get oids of objects classified as 'SN II' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59580 (2022-01-01)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections
sub_query_ndet = f'''
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
({sub_query_magstat_g})
INTERSECT
({sub_query_magstat_r})
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
Running SQL exception: (psycopg2.errors.UndefinedColumn) column "maxmjd" does not exist
LINE 50: WHERE fid=2 AND (maxmjd - minmjd) >= 100
                          ^

[SQL:
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN (
SELECT oids2.oid
FROM (
SELECT oids1.oid
FROM (
SELECT prob_oids.oid
FROM (
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SN II'
AND ranking=1
AND probability > 0.6
) AS prob_oids
INNER JOIN (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946
) AS obj_oids
ON prob_oids.oid = obj_oids.oid
) AS oids1
INNER JOIN (
SELECT oid
FROM detection
GROUP BY oid
HAVING COUNT(*) > 30
) AS ndet_oids
ON oids1.oid = ndet_oids.oid
) AS oids2
INNER JOIN (
(
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
)
INTERSECT
(
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
)
) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/f405)
Raised exception: local variable 'results' referenced before assignment
Start retry with self-correction
Corrected query:
```python
# Corrected sub-queries and final query

# Get oids of objects classified as 'SNII' with probability > 0.6
sub_query_probability = f'''
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SNII'  -- Corrected class_name from 'SN II' to 'SNII'
AND ranking=1
AND probability > 0.6
'''

# Get oids of objects with first observation between 2019-01-01 and 2022-12-31
# MJD range from 58484 (2019-01-01) to 59946 (2022-12-31)
sub_query_object = f'''
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946  -- Corrected MJD end date to 59946
'''

# Combine previous subqueries to get oids satisfying both class and date criteria
sub_query_oid1 = f'''
SELECT prob_oids.oid
FROM ({sub_query_probability}) AS prob_oids
INNER JOIN ({sub_query_object}) AS obj_oids
ON prob_oids.oid = obj_oids.oid
'''

# Get oids with more than 30 detections using ndet from object table
sub_query_ndet = f'''
SELECT oid
FROM object
WHERE ndet > 30  -- Changed from detection table to object table
'''

# Combine to get oids satisfying class, date, and number of detections criteria
sub_query_oid2 = f'''
SELECT oids1.oid
FROM ({sub_query_oid1}) AS oids1
INNER JOIN ({sub_query_ndet}) AS ndet_oids
ON oids1.oid = ndet_oids.oid
'''

# Get oids with initial rise rate > 0.5 mag/day in g-band (fid=1)
sub_query_magstat_g = f'''
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
'''

# Get oids with initial rise rate > 0.5 mag/day in r-band (fid=2)
sub_query_magstat_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
'''

# Get oids where initial rise rate criteria is met in both g and r-band
sub_query_magstat_both = f'''
SELECT g_oids.oid
FROM ({sub_query_magstat_g}) AS g_oids
INNER JOIN ({sub_query_magstat_r}) AS r_oids
ON g_oids.oid = r_oids.oid
'''

# Get oids with at least 100 days of observations in r-band (fid=2)
sub_query_long_obs_r = f'''
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
'''

# Combine all criteria to get final list of oids
sub_query_oids_final = f'''
SELECT oids2.oid
FROM ({sub_query_oid2}) AS oids2
INNER JOIN ({sub_query_magstat_both}) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN ({sub_query_long_obs_r}) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
'''

# Get the required detection data for the final set of oids
full_query = f'''
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN ({sub_query_oids_final}) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
'''
```
Running SQL exception: (psycopg2.errors.UndefinedColumn) column "maxmjd" does not exist
LINE 50: WHERE fid=2 AND (maxmjd - minmjd) >= 100
                          ^

[SQL:
SELECT detection.oid, detection.candid, detection.magpsf, detection.sigmapsf, detection.fid, detection.mjd
FROM detection
INNER JOIN (
SELECT oids2.oid
FROM (
SELECT oids1.oid
FROM (
SELECT prob_oids.oid
FROM (
SELECT oid
FROM probability
WHERE classifier_name='lc_classifier'
AND class_name='SNII'  -- Corrected class_name from 'SN II' to 'SNII'
AND ranking=1
AND probability > 0.6
) AS prob_oids
INNER JOIN (
SELECT oid
FROM object
WHERE firstmjd BETWEEN 58484 AND 59946  -- Corrected MJD end date to 59946
) AS obj_oids
ON prob_oids.oid = obj_oids.oid
) AS oids1
INNER JOIN (
SELECT oid
FROM object
WHERE ndet > 30  -- Changed from detection table to object table
) AS ndet_oids
ON oids1.oid = ndet_oids.oid
) AS oids2
INNER JOIN (
SELECT g_oids.oid
FROM (
SELECT oid
FROM magstat
WHERE fid=1 AND dmdt_first < -0.5
) AS g_oids
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND dmdt_first < -0.5
) AS r_oids
ON g_oids.oid = r_oids.oid
) AS magstat_oids
ON oids2.oid = magstat_oids.oid
INNER JOIN (
SELECT oid
FROM magstat
WHERE fid=2 AND (maxmjd - minmjd) >= 100
) AS long_obs_oids
ON oids2.oid = long_obs_oids.oid
) AS final_oids
ON detection.oid = final_oids.oid
ORDER BY detection.oid, detection.mjd
]
(Background on this error at: https://sqlalche.me/e/20/f405)

Exception: Failed again: local variable 'results' referenced before assignment