## Working the CSVs and Excel sheets

### Train dataset

In [1]:
# Exploring the 'training' dataset
import pandas as pd
df = pd.read_csv("datasets/txt2sql_alerce_train_v3_1.csv")
df.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\r\n-- mjd date for December = 59914.0\r\n-- m...,\r\n-- Super Nova (SNe) is a large explosion t...,"\r\nSELECT\r\n object.oid, probability.clas...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\r\nSELECT\r\n sq1.oid, sq1.probability as SN...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",\r\n-- mjd date for September 01 = 60188.0\r\n...,\r\n-- A fast riser is defined as an object wh...,"\r\nSELECT\r\n sq.oid, sq.probability, sq.c...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\r\n-- mjd date for the start of the year 2019...,0,"\r\nSELECT\r\n sq.oid, sq.fid, sq.dmdt_first,...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",\r\n-- mjd date for February 01 = 59976.0\r\n-...,0,"\r\nWITH catalog ( source_id, ra, dec) AS (\r\...",advanced,spatial,simple,NaN,NaN,NaN

In [2]:
df[df["req_id"] == 15]["request"].item()

"Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

In [3]:
print("External knowledge for the train dataset")
vc_df = df["external_knowledge"].value_counts().reset_index()
vc_df.columns = ["Value", "Count"]

vc_df

External knowledge for the train dataset

                                                Value  Count
0                                                   0     29
1   \r\n-- mjd date for February 01 = 59976.0\r\n-...      2
2   \r\n-- mjd date for December = 59914.0\r\n-- m...      1
3   \r\n-- ndet represents the number of detection...      1
4   Note that 'fainter' means 'larger' for magnitudes      1
5   Note that the spatial query receives coordinat...      1
6   Since no classifier version is specified, ZTF ...      1
7   Note the join between tables must be in oid an...      1
8   Since no feature version is specified, the com...      1
9   \r\n-- sgmag1 represents the g-band PSF magnit...      1
10  \r\n-- mjd date for August 25 2022 = 59816.0\r...      1
11  \r\n-- object.deltajd represnts the difference...      1
12  \r\n-- mjd date for the start of the year 2019...      1
13  \r\n-- oid represents the unique identifier fo...      1
14  \r\n-- mjd date for February 1 2023 = 59976.0\...      1
15  \r\n-- feature.name can be 'Multiband_period'\...      1
16            \r\n-- table_schema can be 'alerce'\r\n      1
17  \r\n-- detection.magpsf represents the magnitu...      1
18  \r\n-- mjd date for the start of July = 60126....      1
19  \r\n-- mjd date for the start of September = 6...      1
20  \r\n-- the previous objects need to be selecte...      1
21  \r\n-- object.ndet represents the total number...      1
22  \r\n-- consider the list of objects identifier...      1
23  \r\n-- it is important to return all the proba...      1
24  \r\n-- last june in mjd date: [start=60096.0, ...      1
25  \r\n-- mjd date for the start of January = 599...      1
26  \r\n-- mjd date for the start of the year 2019...      1
27  \r\n-- mjd date for September 01 = 60188.0\r\n...      1
28  Since no classifier version is specified for t...      1

In [4]:
print("Domain knowledge for the train dataset")
vc_df_domain = df["domain_knowledge"].value_counts().reset_index()
vc_df_domain.columns = ["Value", "Count"]

vc_df_domain

Domain knowledge for the train dataset

                                               Value  Count
0                                                  0     19
1  \r\n-- Super Nova (SNe) is a large explosion t...      1
2  \r\n-- A fast riser is defined as an object wh...      1
3  \r\n-- ss_ztf: closest MPC object as reported ...      1
4  \r\n-- sgscore1: Morphological star/galaxy sco...      1
5  \r\n-- delta_mag_fid: Difference between maxim...      1
6  \r\n-- Multiband_period: Period obtained using...      1
7  \r\n-- The galactic coordinate system locates ...      1
8  \r\n-- ps1 catalog is a catalog from the Panor...      1

### Test dataset

In [5]:
df_test = pd.read_csv("datasets/txt2sql_alerce_test_v3_1.csv")
df_test.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,8,Query all objects that were first classified a...,"['probability', 'object']",\r\n-- mjd date for august 17 = 60173.0\r\n-- ...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n object\r\nI...,simple,object,none,NaN,NaN,NaN
1,27,"Return the oids, meanra, meandec, ndet, firstm...","['probability', 'object']",\r\n-- object.ndet represents the total number...,NaN,"\r\nSELECT\r\n object.oid, object.meanra, o...",simple,object,simple,NaN,NaN,NaN
2,17,Return the objects classified as AGN that show...,"['probability', 'object', 'detection']",\r\n-- firstmjd represents the time of the fir...,NaN,\r\nSELECT\r\n *\r\nFROM\r\n (\r\nSELECT *\r...,advanced,object,tree,NaN,NaN,NaN
3,37,"""Query the top 200 objects classified SNIa acc...",['probability'],NaN,NaN,\r\nSELECT\r\n *\r\nFROM\r\n probability\r...,simple,object,none,NaN,NaN,NaN
4,34,Given this list of oids ['ZTF17aaadpsi' 'ZTF19...,['feature'],\r\n-- feature.name can be 'Amplitude'\r\n-- f...,\r\n-- Multiband_period: Period obtained using...,\r\nSELECT\r\n *\r\nFROM\r\n feature\r\n...,simple,other,none,NaN,NaN,NaN

In [6]:
print("External knowledge for the test dataset")
vc_df_test = df_test["external_knowledge"].value_counts().reset_index()
vc_df_test.columns = ["Value", "Count"]

vc_df_test

External knowledge for the test dataset

                                                Value  Count
0                                                   0      4
1   Note the join between tables must be in oid an...      2
2   Note that 'fainter' means 'larger' for magnitudes      2
3   Since no classifier version is specified, ZTF ...      2
4   \r\n-- object.ndet represents the total number...      1
5   Since no classifier version is specified for '...      1
6   I had to use 'cast' for magnitudes in the 'for...      1
7   Note that the corrected magnitude has both e_m...      1
8   Requires using the 'xmatch' table to obtain th...      1
9   Requires using the 'xmatch' table to obtain th...      1
10  Note that the spatial query receives coordinat...      1
11  \r\n-- mjd date for august 17 = 60173.0\r\n-- ...      1
12  Note that the spatial query receives coordinat...      1
13  \r\n-- mjd date for February 13 = 59988.0\r\n-...      1
14  \r\n-- mjd date for June 1st 2018 = 58239.0\r\...      1
15  \r\n-- detection.oid represents the unique ide...      1
16  \r\n-- mjd date for March 1st 2021 = 59274.0\r...      1
17  \r\n-- mjd date for September 01 = 60188.0\r\n...      1
18  \r\n-- object.ndet represents the number of de...      1
19  \r\n-- feature.name can be 'Amplitude'\r\n-- f...      1
20  \r\n-- firstmjd represents the time of the fir...      1
21  Note that one cannot search in the reference t...      1

In [7]:
print("Domain knowledge for the train dataset")
vc_df_domain_test = df_test["domain_knowledge"].value_counts().reset_index()
vc_df_domain_test.columns = ["Value", "Count"]

vc_df_domain_test

Domain knowledge for the train dataset

                                               Value  Count
0  \r\n-- Multiband_period: Period obtained using...      1
1  \r\n-- Amplitude: Half of the difference betwe...      1
2  \r\n-- A fast riser is defined as an object wh...      1
3  \r\n-- Asteroids move, so it is necessary to c...      1
4    \r\n-- SNe refers to all types of SuperNova\r\n      1

### Additional info

In [8]:
# Reading the excel file
excel = pd.read_excel("datasets/SQLusecases_alerce.xlsx", 
                      sheet_name="examples_alerce_usecasesV3_1")

# Cleaning the excel a bit
excel = excel.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])
excel.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,Set,python_format
0,0,Get objects that are likely to be YSOs (possib...,"['probability', 'feature']",\n-- feature.name can be 'Multiband_period'\n-...,\n-- Multiband_period: Period obtained using t...,"\nSELECT\n oid, probability, value, name, fid...",advanced,object,tree,Train,"sub_query_1='''\nSELECT\n feature.oid, prob_o..."
1,1,Get all the objects classified as AGN with a p...,"['object', 'probability', 'feature', 'magstat']",\n-- object.ndet represents the number of dete...,\n-- Amplitude: Half of the difference between...,"\nSELECT\n sq.oid, sq.value, sq.name, sq.fid ...",advanced,object,tree,Test,\nsub_query_object='''\nSELECT\n object.oid...
2,2,Give me the objects classified as YSO by their...,['probability'],NaN,NaN,"\nSELECT\n oid, probability\nFROM\n prob...",simple,object,none,Train,"query='''\nSELECT\n oid, probability\nFROM\..."
3,3,Give me the objects classified as YSO by the l...,"['object', 'probability']","\n-- last june in mjd date: [start=60096.0, en...",NaN,\nSELECT\n *\nFROM\n probability\nWHERE\...,simple,object,simple,Train,query=f'''\nSELECT\n *\nFROM\n probabili...
4,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\n-- mjd date for the start of the year 2019 =...,NaN,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,Train,# objects classified as SN II with probability...

## Tests

### Gold values and query to test

In [9]:
# Select a query
query = "Give me all the SNe that were first detected between december first 2022 and september first 2023. Return the probability class, the last and the first detection date and the oids of the objects."

# Check if the query is in the excel file
if query in excel["request"].to_list():
    # Obtain the gold SQL query and Python query
    sql_gold = excel[excel["request"] == query]["gold_query"].item()
    python_gold = excel[excel["request"] == query]["python_format"].item()

    # Obtain the necessary tables
    gold_tables = excel[excel["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)
    print("Python gold query:\n")
    print(python_gold)
    
else:
    # Obtain the gold SQL query
    sql_gold = df[df["request"] == query]["gold_query"].item()

    # Obtain the necessary tables
    gold_tables = df[df["request"] == query]["table_info"].item()

    # Print all in orderly fashion
    print("Gold values\n")
    print("Tables needed for the query:")
    print(gold_tables + "\n")
    print("SQL gold query:")
    print(sql_gold)

Gold values

Tables needed for the query:
['object', 'probability']

SQL gold query:

SELECT
    object.oid, probability.class_name, object.lastmjd, object.firstmjd
FROM
    object INNER JOIN
    probability
    ON object.oid = probability.oid
WHERE
    probability.classifier_name='lc_classifier'
    AND probability.class_name IN ('SNIa', 'SNIbc', 'SNII', 'SLSN')
    AND probability.ranking = 1
    AND object.firstmjd < 60217.0
    AND object.firstmjd > 59914.0

In [10]:
# Running the gold query
from secret.config import SQL_URL
import requests
import sqlalchemy as sa

# Setup params for query engine
params = requests.get(SQL_URL).json()['params']
engine = sa.create_engine(f"postgresql+psycopg2://{params['user']}:{params['password']}@{params['host']}/{params['dbname']}")
engine.begin()

resultGold = pd.read_sql_query(sql_gold, con=engine)
resultGold

               oid class_name       lastmjd      firstmjd
0     ZTF23aaocetr       SNIa  60133.210428  60109.208229
1     ZTF23aamzkrs       SNIa  60124.189074  60097.242882
2     ZTF23aamxbpd       SNIa  60120.218900  60100.190417
3     ZTF23aafwzmi       SNIa  60078.406505  60050.470231
4     ZTF23aackdba       SNII  60073.174653  59992.212407
...            ...        ...           ...           ...
4542  ZTF23aagaoax       SNII  60761.252708  60049.210880
4543  ZTF23aaefijg       SNII  60786.461586  60036.459398
4544  ZTF20aanlftl       SNII  60786.408137  59977.563657
4545  ZTF23aaavavg       SNIa  60770.256586  59967.353044
4546  ZTF23aablruf       SNII  60786.442083  59971.566250

[4547 rows x 4 columns]

### Trying out the pipelines

#### Singular

In [10]:
from pipeline.queryPipeline import queryPipeline

# Working query
query = "Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

In [ ]:
from pipeline.process import *
from prompts.base.prompts import *

# Prompt dictionary guideline and used by Jorge
prompts = {
    "Schema Linking": {
        "base_prompt": tables_linking_prompt_V2,
        "context1": schema_all_cntxV1,
        "context2": schema_all_cntxV2_indx,
        "context3": schema_all_cntxV2,
    },
    "Classify": {
        "base_prompt": diff_class_prompt_v7,
        "final_instructions": final_instructions_diff_v2
    },
    "Decomposition": {
        "simple": {
            "query_task": simple_query_task_v2,
            "query_context": simple_query_cntx,
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder",
            "query_instructions": simple_query_instructions_v2
        },
        "medium": {
            "decomp_plan": {
                "base_prompt": medium_decomp_prompt,
                "decomp_task": medium_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": medium_query_cntx,
                "query_instructions": medium_query_instructions_1_v2
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": medium_decomp_gen,
                    "query_task": medium_query_task_v2,
                    "query_instructions": medium_query_instructions_2_v2,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        },
        "advanced": {
            "decomp_plan": {
                "base_prompt": adv_decomp_prompt,
                "decomp_task": adv_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": adv_query_cntx,
                "query_instructions": adv_query_instructions_1_v3
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": adv_decomp_gen,
                    "query_task": adv_query_task_v2,
                    "query_instructions": adv_query_instructions_2_v3,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        }
    },
    "Direct": {
        "base_prompt": {
            "general_task": general_taskv18,
            "general_context": general_contextv15,
            "final_instructions": final_instructions_v19
        },
        "request_prompt": {
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder"
        }
    }
}

# Updating ext_kn and dom_kn
prompts["Decomposition"]["simple"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Decomposition"]["simple"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()
prompts["Direct"]["request_prompt"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Direct"]["request_prompt"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()

In [ ]:
# Pipeline object
pipe = queryPipeline(query, model, lang_type, max_tokens, prompts)

# Schema Linking
schema_usage = pipe.schema_linking()

# Classification
class_usage = pipe.classify()

# Decomposition
pipe.decomposition()

# Direct prompt
pipe.direct()

# Generating the queries
decomp_gen_query = pipe.query_generation()
print("Query generated with decomposition prompts")
print(decomp_gen_query)
print("-"*50)
direct_gen_query = pipe.query_generation()
print("Query generated with direct prompts")
print(direct_gen_query)

Query generated with decomposition prompts

-- Subquery to get object identifiers (oids) that qualify as fast risers
WITH fast_risers AS (
    SELECT DISTINCT oid
    FROM magstat
    WHERE dmdt_first <= -0.25
),

-- Subquery to get object identifiers (oids) with first detection in the first 2 days of September
first_september_detections AS (
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60188.0 AND 60189.0
),

-- Subquery to get object identifiers (oids) with highest probability in the stamp classifier for class SN
high_prob_sn AS (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
)

-- Main query to get the required information
SELECT
    d.oid,
    p.probability,
    d.fid,
    d.candid,
    m.fid AS magstat_fid,
    m.dmdt_first
FROM detection d
JOIN fast_risers fr ON d.oid = fr.oid
JOIN first_september_detections fsd ON d.oid = fsd.oid
JOIN high_prob_sn hps ON d.oid = hps.oid
JOIN probability p ON d.oid = p.oid
JOIN magstat m ON d.oid = m.oid AND d.fid = m.fid
WHERE p.classifier_name = 'stamp_classifier'
AND p.class_name = 'SN'
ORDER BY d.oid

--------------------------------------------------
Query generated with direct prompts

-- Subquery to get object identifiers (oids) that qualify as fast risers
WITH fast_risers AS (
    SELECT oid
    FROM magstat
    WHERE dmdt_first <= -0.25
),

-- Subquery to get object identifiers (oids) with first detection in the first 2 days of September
first_september_detections AS (
    SELECT oid
    FROM object
    WHERE firstmjd BETWEEN 60188.0 AND 60189.0
),

-- Subquery to get object identifiers (oids) with highest probability in the stamp classifier for class SN
highest_probability_sn AS (
    SELECT oid
    FROM probability
    WHERE classifier_name = 'stamp_classifier'
    AND class_name = 'SN'
    AND ranking = 1
)

-- Main query to get the required information
SELECT
    d.oid,
    p.probability,
    d.fid AS detection_fid,
    d.candid,
    m.fid AS magstat_fid,
    m.dmdt_first
FROM detection d
JOIN fast_risers fr ON d.oid = fr.oid
JOIN first_september_detections fsd ON d.oid = fsd.oid
JOIN highest_probability_sn hps ON d.oid = hps.oid
JOIN probability p ON d.oid = p.oid
JOIN magstat m ON d.oid = m.oid
WHERE p.classifier_name = 'stamp_classifier'
AND p.class_name = 'SN'
ORDER BY d.oid

#### Multiple

##### Query generation

In [ ]:
from pipeline.queryPipeline import queryPipeline
from pipeline.process import *
from prompts.base.prompts import *

# Prompt dictionary guideline and used by Jorge
prompts = {
    "Schema Linking": {
        "base_prompt": tables_linking_prompt_V2,
        "context1": schema_all_cntxV1,
        "context2": schema_all_cntxV2_indx,
        "context3": schema_all_cntxV2,
    },
    "Classify": {
        "base_prompt": diff_class_prompt_v7,
        "final_instructions": final_instructions_diff_v2
    },
    "Decomposition": {
        "simple": {
            "query_task": simple_query_task_v2,
            "query_context": simple_query_cntx,
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder",
            "query_instructions": simple_query_instructions_v2
        },
        "medium": {
            "decomp_plan": {
                "base_prompt": medium_decomp_prompt,
                "decomp_task": medium_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": medium_query_cntx,
                "query_instructions": medium_query_instructions_1_v2
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": medium_decomp_gen,
                    "query_task": medium_query_task_v2,
                    "query_instructions": medium_query_instructions_2_v2,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        },
        "advanced": {
            "decomp_plan": {
                "base_prompt": adv_decomp_prompt,
                "decomp_task": adv_decomp_task_v3 + gpt4turbo1106_decomposed_prompt_2,
                "query_context": adv_query_cntx,
                "query_instructions": adv_query_instructions_1_v3
            },
            "decomp_gen": {
                "sql": {
                    "base_prompt": adv_decomp_gen,
                    "query_task": adv_query_task_v2,
                    "query_instructions": adv_query_instructions_2_v3,
                },
                "python": {
                    "base_prompt": "placeholder",
                    "query_task": "placeholder",
                    "query_instructions": "placeholder",
                }
            }
        }
    },
    "Direct": {
        "base_prompt": {
            "general_task": general_taskv18,
            "general_context": general_contextv15,
            "final_instructions": final_instructions_v19
        },
        "request_prompt": {
            "external_knowledge": "placeholder",
            "domain_knowledge": "placeholder"
        }
    }
}

# Updating ext_kn and dom_kn
prompts["Decomposition"]["simple"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Decomposition"]["simple"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()
prompts["Direct"]["request_prompt"]["external_knowledge"] = df[df["request"] == query]["external_knowledge"].item()
prompts["Direct"]["request_prompt"]["domain_knowledge"] = df[df["request"] == query]["domain_knowledge"].item()

In [17]:
from pipeline.queryPipeline import queryPipeline

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "python"
max_tokens = 10000

# Path
prompts_path = "final_prompts/prompts_v3.json"

# Pipeline object
pipe = queryPipeline(None, model, lang_type, max_tokens, prompts_path)

# -----------------------------------------------------------------------------
# Testing

# Working query
query = "Get the object identifiers, probabilities in the stamp classifier and light curves (only detections) for objects whose highest probability in the stamp classifier is obtained for class SN, that had their first detection in the first 2 days of september, and that qualify as fast risers. Also, return the filter ID and candid of the detections, and filter ID of magstat as 'magstat_fid', with the initial rise estimate. Order the results by the oid."

# Trying out the new query pipeline with only 1 query
df_1 = df[df["request"] == query]
# Trying out the new query pipeline with 3 queries
df_2 = df.loc[:2]
# pipe.run_experiments(df_2, total_exps=1, restart=True)

In [59]:
# Applying the restart
pipe.run_experiments(df=df_test, total_exps=10, restart=True, use_rag=True)

2025-07-04 12:03:09,247 - INFO - Restarting
2025-07-04 12:03:09,368 - INFO - Query ID: 39, Run ID: 1
2025-07-04 12:03:09,369 - INFO - Running pipeline
2025-07-04 12:03:33,419 - INFO - Saving backup
2025-07-04 12:03:33,751 - INFO - Query ID: 39, Run ID: 2
2025-07-04 12:03:33,755 - INFO - Running pipeline
2025-07-04 12:03:55,959 - INFO - Saving backup
2025-07-04 12:03:56,030 - INFO - Query ID: 39, Run ID: 3
2025-07-04 12:03:56,030 - INFO - Running pipeline
2025-07-04 12:04:20,310 - INFO - Saving backup
2025-07-04 12:04:20,567 - INFO - Query ID: 39, Run ID: 4
2025-07-04 12:04:20,569 - INFO - Running pipeline
2025-07-04 12:04:44,814 - INFO - Saving backup
2025-07-04 12:04:45,219 - INFO - Query ID: 39, Run ID: 5
2025-07-04 12:04:45,221 - INFO - Running pipeline
2025-07-04 12:05:11,888 - INFO - Saving backup
2025-07-04 12:05:12,364 - INFO - Query ID: 39, Run ID: 6
2025-07-04 12:05:12,369 - INFO - Running pipeline
2025-07-04 12:05:34,412 - INFO - Saving backup
2025-07-04 12:05:35,272 - INFO - Query ID: 39, Run ID: 7
2025-07-04 12:05:35,277 - INFO - Running pipeline
2025-07-04 12:05:57,729 - INFO - Saving backup
2025-07-04 12:05:58,364 - INFO - Query ID: 39, Run ID: 8
2025-07-04 12:05:58,369 - INFO - Running pipeline
2025-07-04 12:06:23,232 - INFO - Saving backup
2025-07-04 12:06:23,480 - INFO - Query ID: 39, Run ID: 9
2025-07-04 12:06:23,482 - INFO - Running pipeline
2025-07-04 12:06:44,995 - INFO - Saving backup
2025-07-04 12:06:45,651 - INFO - Query ID: 39, Run ID: 10
2025-07-04 12:06:45,654 - INFO - Running pipeline
2025-07-04 12:07:10,563 - INFO - Saving backup
2025-07-04 12:07:10,861 - INFO - Saving all

##### Metrics generation

In [ ]:
# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

# Paths
pred_path = "experiments/preds_gpt-4o_2025-07-03T13-09-12.csv"
prompts_path = "final_prompts/prompts_v3.json"

# Trying out the metrics pipeline with only 1 query
#df_1 = df[df["request"] == query]
# Trying out the metrics pipeline with 3 queries
df_2 = df.loc[:2]

Tiempos direct / no self-correction (18/05/2025)

279m 29.9s
12m 46.5s

Tiempos direct / self-correction (19/05/2025)

5m 4.7s
409m 22s
139m 15.1s

Tiempos step-by-step / self-correction (20/05/2025)

6m 32.4s
159m 0s
135m 0s
4m 7.7s
210m 18.8s

In [17]:
from pipeline.metricsPipeline import metricsPipeline

# Model to use
#model = "claude-3-5-sonnet-20240620"
model = "gpt-4o"

# Format for the pipeline
lang_type = "sql"
max_tokens = 10000

# Paths
pred_path = "experiments/preds_gpt-4o_2025-07-03T13-09-12.csv"
prompts_path = "final_prompts/prompts_v3.json"

# Trying out the metrics pipeline with 3 queries    
df_2 = df.loc[:2]

# Running all the metrics of the test set
metrics = metricsPipeline(model, lang_type, max_tokens, 
                          t_conn=2, n_tries=3, direct=False, self_corr=True, 
                          self_corr_prompts={}, prompts_path=prompts_path)
metrics.run_metrics(sql_preds_path=pred_path, df=df_test, total_exps=10, 
                    restart=True)

2025-07-06 22:55:29,133 - INFO - Restarting
2025-07-06 22:55:29,345 - INFO - Query ID: 22, Run ID: 5
2025-07-06 22:55:29,345 - INFO - Getting the gold values to compare
2025-07-06 22:55:41,285 - INFO - Query ID: 22, Run ID: 5, Query gold:                  oid  ndethist  ncovhist  mjdstarthist    mjdendhist  \
0       ZTF18aaxilgs        82      2088  58232.499757  60855.381377
1       ZTF21aanilob       903      2225  58247.462442  60357.550521
2       ZTF21aanskwo       811      3349  58247.462442  60355.551354
3       ZTF21aanpxtr       914      4103  58266.392315  60402.479433
4       ZTF21aanscuo       397      3962  58263.444248  60355.559687
...              ...       ...       ...           ...           ...
103446  ZTF21aamlgaz       363      2206  58269.457373  60396.421551
103447  ZTF21aamncts      1466      4224  58217.488380  60355.561574
103448  ZTF21aamlsxz       450      2128  58256.453449  60355.554375
103449  ZTF21aammdbh       639      2795  58218.497106  60357.553484
103450  ZTF21aamqovi       873      1756  58218.497106  60357.553484

        corrected  stellar  ndet   g_r_max  g_r_max_corr  ...       lastmjd  \
0            True    False    67       NaN           NaN  ...  60855.381377
1            True    False   645  2.202100      2.617483  ...  60391.474977
2            True    False   599  2.338200      2.574314  ...  60408.496736
3            True    False   484  2.167400      1.923086  ...  60407.468137
4            True    False   292  0.941999      0.905983  ...  60396.497106
...           ...      ...   ...       ...           ...  ...           ...
103446       True    False   241  1.299200      1.879350  ...  60402.477546
103447       True    False   986       NaN           NaN  ...  60408.497211
103448       True    False   294       NaN           NaN  ...  60396.499028
103449       True    False   311       NaN           NaN  ...  60408.450532
103450       True    False   671  1.588900      1.989885  ...  60402.478958

            step_id_corr  diffpos  reference_change           oid  \
0                 27.5.6    False             False  ZTF18aaxilgs
1                  1.1.6     True             False  ZTF21aanilob
2                  1.2.0    False             False  ZTF21aanskwo
3                  1.2.0    False             False  ZTF21aanpxtr
4                  1.1.6    False             False  ZTF21aanscuo
...                  ...      ...               ...           ...
103446             1.1.6     True             False  ZTF21aamlgaz
103447  correction_0.0.1    False             False  ZTF21aamncts
103448  correction_1.0.6    False             False  ZTF21aamlsxz
103449  correction_1.0.6    False             False  ZTF21aammdbh
103450             1.1.6    False             False  ZTF21aamqovi

        classifier_name     classifier_version      class_name  probability  \
0         lc_classifier   lc_classifier_1.1.13               E     0.217200
1         lc_classifier  hierarchical_rf_1.1.0             LPV     0.608872
2         lc_classifier  hierarchical_rf_1.1.0             LPV     0.606792
3         lc_classifier  hierarchical_rf_1.1.0             YSO     0.303056
4         lc_classifier  hierarchical_rf_1.1.0  Periodic-Other     0.481632
...                 ...                    ...             ...          ...
103446    lc_classifier  hierarchical_rf_1.1.0             RRL     0.259364
103447    lc_classifier  hierarchical_rf_1.1.0             LPV     0.279740
103448    lc_classifier  hierarchical_rf_1.1.0             YSO     0.192424
103449    lc_classifier  hierarchical_rf_1.1.0             LPV     0.631064
103450    lc_classifier  hierarchical_rf_1.1.0             LPV     0.296352

       ranking
0            1
1            1
2            1
3            1
4            1
...        ...
103446       1
103447       1
103448       1
103449       1
103450       1

[103451 rows x 28 columns]
2025-07-06 22:55:41,780 - INFO - Getting the request for self correction
2025-07-06 22:55:41,785 - INFO - Self-correction
2025-07-06 22:55:45,524 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "o"
LINE 1: ...t oINNER JOIN probability p ON o.oid = p.oidWHERE o.firstmjd...
                                                             ^

[SQL: SELECT o.*FROM object oINNER JOIN probability p ON o.oid = p.oidWHERE o.firstmjd BETWEEN 58239.0 AND 58270.0AND p.ranking = 1AND p.classifier_name = 'lc_classifier']
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-06 22:55:45,733 - INFO - Using SQL
2025-07-06 22:56:03,075 - INFO - Saving backup
2025-07-06 22:56:03,215 - INFO - Query ID: 22, Run ID: 6
2025-07-06 22:56:03,216 - INFO - Getting the gold values to compare
2025-07-06 22:56:17,986 - INFO - Query ID: 22, Run ID: 6, Query gold:                  oid  ndethist  ncovhist  mjdstarthist    mjdendhist  \
0       ZTF18aaxilgs        82      2088  58232.499757  60855.381377
1       ZTF21aanilob       903      2225  58247.462442  60357.550521
2       ZTF18aagrzkl       578      3242  58198.410532  60727.425486
3       ZTF21aanpxtr       914      4103  58266.392315  60402.479433
4       ZTF21aanscuo       397      3962  58263.444248  60355.559687
...              ...       ...       ...           ...           ...
103446  ZTF21aamncts      1466      4224  58217.488380  60355.561574
103447  ZTF18aatahjp        39      4897  58282.225845  60710.427674
103448  ZTF21aamkmsj      1192      3319  58173.474560  60288.555035
103449  ZTF21aamlgaz       363      2206  58269.457373  60396.421551
103450  ZTF21aamqovi       873      1756  58218.497106  60357.553484

        corrected  stellar  ndet   g_r_max  g_r_max_corr  ...       lastmjd  \
0            True    False    67       NaN           NaN  ...  60855.381377
1            True    False   645  2.202100      2.617483  ...  60391.474977
2            True    False   120       NaN           NaN  ...  60727.425486
3            True    False   484  2.167400      1.923086  ...  60407.468137
4            True    False   292  0.941999      0.905983  ...  60396.497106
...           ...      ...   ...       ...           ...  ...           ...
103446       True    False   986       NaN           NaN  ...  60408.497211
103447       True    False    15       NaN           NaN  ...  60710.427674
103448       True    False   582       NaN           NaN  ...  60398.401250
103449       True    False   241  1.299200      1.879350  ...  60402.477546
103450       True    False   671  1.588900      1.989885  ...  60402.478958

            step_id_corr  diffpos  reference_change           oid  \
0                 27.5.6    False             False  ZTF18aaxilgs
1                  1.1.6     True             False  ZTF21aanilob
2                 27.4.0    False             False  ZTF18aagrzkl
3                  1.2.0    False             False  ZTF21aanpxtr
4                  1.1.6    False             False  ZTF21aanscuo
...                  ...      ...               ...           ...
103446  correction_0.0.1    False             False  ZTF21aamncts
103447            27.4.0     True             False  ZTF18aatahjp
103448             1.2.0    False             False  ZTF21aamkmsj
103449             1.1.6     True             False  ZTF21aamlgaz
103450             1.1.6    False             False  ZTF21aamqovi

        classifier_name     classifier_version      class_name  probability  \
0         lc_classifier   lc_classifier_1.1.13               E     0.217200
1         lc_classifier  hierarchical_rf_1.1.0             LPV     0.608872
2         lc_classifier   lc_classifier_1.1.13             RRL     0.262136
3         lc_classifier  hierarchical_rf_1.1.0             YSO     0.303056
4         lc_classifier  hierarchical_rf_1.1.0  Periodic-Other     0.481632
...                 ...                    ...             ...          ...
103446    lc_classifier  hierarchical_rf_1.1.0             LPV     0.279740
103447    lc_classifier   lc_classifier_1.1.13  Periodic-Other     0.289800
103448    lc_classifier  hierarchical_rf_1.1.0             YSO     0.145692
103449    lc_classifier  hierarchical_rf_1.1.0             RRL     0.259364
103450    lc_classifier  hierarchical_rf_1.1.0             LPV     0.296352

       ranking
0            1
1            1
2            1
3            1
4            1
...        ...
103446       1
103447       1
103448       1
103449       1
103450       1

[103451 rows x 28 columns]
2025-07-06 22:56:18,500 - INFO - Getting the request for self correction
2025-07-06 22:56:18,507 - INFO - Self-correction
2025-07-06 22:56:22,179 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "o"
LINE 1: ...t oINNER JOIN probability p ON o.oid = p.oidWHERE o.firstmjd...
                                                             ^

[SQL: SELECT o.*FROM object oINNER JOIN probability p ON o.oid = p.oidWHERE o.firstmjd BETWEEN 58239.0 AND 58270.0AND p.ranking = 1AND p.classifier_name = 'lc_classifier']
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-06 22:56:22,315 - INFO - Using SQL
2025-07-06 22:56:40,711 - INFO - Saving backup
2025-07-06 22:56:40,892 - INFO - Query ID: 22, Run ID: 7
2025-07-06 22:56:40,895 - INFO - Getting the gold values to compare
2025-07-06 22:56:56,097 - INFO - Query ID: 22, Run ID: 7, Query gold:                  oid  ndethist  ncovhist  mjdstarthist    mjdendhist  \
0       ZTF21aanilob       903      2225  58247.462442  60357.550521
1       ZTF18aagrzkl       578      3242  58198.410532  60727.425486
2       ZTF21aanpxtr       914      4103  58266.392315  60402.479433
3       ZTF18aaxilgs        82      2088  58232.499757  60855.381377
4       ZTF21aanscuo       397      3962  58263.444248  60355.559687
...              ...       ...       ...           ...           ...
103446  ZTF21aamlsxz       450      2128  58256.453449  60355.554375
103447  ZTF21aamkmsj      1192      3319  58173.474560  60288.555035
103448  ZTF21aammdbh       639      2795  58218.497106  60357.553484
103449  ZTF21aamncts      1466      4224  58217.488380  60355.561574
103450  ZTF21aamqovi       873      1756  58218.497106  60357.553484

        corrected  stellar  ndet   g_r_max  g_r_max_corr  ...       lastmjd  \
0            True    False   645  2.202100      2.617483  ...  60391.474977
1            True    False   120       NaN           NaN  ...  60727.425486
2            True    False   484  2.167400      1.923086  ...  60407.468137
3            True    False    67       NaN           NaN  ...  60855.381377
4            True    False   292  0.941999      0.905983  ...  60396.497106
...           ...      ...   ...       ...           ...  ...           ...
103446       True    False   294       NaN           NaN  ...  60396.499028
103447       True    False   582       NaN           NaN  ...  60398.401250
103448       True    False   311       NaN           NaN  ...  60408.450532
103449       True    False   986       NaN           NaN  ...  60408.497211
103450       True    False   671  1.588900      1.989885  ...  60402.478958

            step_id_corr  diffpos  reference_change           oid  \
0                  1.1.6     True             False  ZTF21aanilob
1                 27.4.0    False             False  ZTF18aagrzkl
2                  1.2.0    False             False  ZTF21aanpxtr
3                 27.5.6    False             False  ZTF18aaxilgs
4                  1.1.6    False             False  ZTF21aanscuo
...                  ...      ...               ...           ...
103446  correction_1.0.6    False             False  ZTF21aamlsxz
103447             1.2.0    False             False  ZTF21aamkmsj
103448  correction_1.0.6    False             False  ZTF21aammdbh
103449  correction_0.0.1    False             False  ZTF21aamncts
103450             1.1.6    False             False  ZTF21aamqovi

        classifier_name     classifier_version      class_name  probability  \
0         lc_classifier  hierarchical_rf_1.1.0             LPV     0.608872
1         lc_classifier   lc_classifier_1.1.13             RRL     0.262136
2         lc_classifier  hierarchical_rf_1.1.0             YSO     0.303056
3         lc_classifier   lc_classifier_1.1.13               E     0.217200
4         lc_classifier  hierarchical_rf_1.1.0  Periodic-Other     0.481632
...                 ...                    ...             ...          ...
103446    lc_classifier  hierarchical_rf_1.1.0             YSO     0.192424
103447    lc_classifier  hierarchical_rf_1.1.0             YSO     0.145692
103448    lc_classifier  hierarchical_rf_1.1.0             LPV     0.631064
103449    lc_classifier  hierarchical_rf_1.1.0             LPV     0.279740
103450    lc_classifier  hierarchical_rf_1.1.0             LPV     0.296352

       ranking
0            1
1            1
2            1
3            1
4            1
...        ...
103446       1
103447       1
103448       1
103449       1
103450       1

[103451 rows x 28 columns]
2025-07-06 22:56:56,576 - INFO - Getting the request for self correction
2025-07-06 22:56:56,580 - INFO - Self-correction
2025-07-06 22:57:00,441 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "probability"
LINE 1: ... probability ON object.oid = probability.oidWHERE probabilit...
                                                             ^

[SQL: SELECT * FROM objectINNER JOIN probability ON object.oid = probability.oidWHERE probability.classifier_name = 'lc_classifier'  AND probability.ranking = 1  AND object.firstmjd >= 58257  -- June 1st, 2018 in MJD  AND object.lastmjd <= 58287  -- July 1st, 2018 in MJD]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-06 22:57:00,575 - INFO - Using SQL
2025-07-06 22:59:06,844 - ERROR - Running SQL exception in run_query: (psycopg2.errors.QueryCanceled) canceling statement due to statement timeout

[SQL: SELECT * FROM object INNER JOIN probability ON object.oid = probability.oid WHERE probability.classifier_name = 'lc_classifier'   AND probability.ranking = 1   AND object.firstmjd >= 58257  -- June 1st, 2018 in MJD  AND object.lastmjd <= 58287  -- July 1st, 2018 in MJD]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
2025-07-06 22:59:06,984 - INFO - Saving backup
2025-07-06 22:59:07,156 - INFO - Query ID: 22, Run ID: 8
2025-07-06 22:59:07,156 - INFO - Getting the gold values to compare
2025-07-06 22:59:19,460 - INFO - Query ID: 22, Run ID: 8, Query gold:                  oid  ndethist  ncovhist  mjdstarthist    mjdendhist  \
0       ZTF18aaxlowb       868      2219  58268.423912  60832.456319
1       ZTF18aajruab       868      2817  58198.426169  60862.342396
2       ZTF18aakyshe      1532      3235  58207.524167  60862.411447
3       ZTF18aalaaio      1019      2951  58222.431250  60861.409792
4       ZTF18aasnnaz      1091      2173  58206.516227  60857.326921
...              ...       ...       ...           ...           ...
103446  ZTF18aabpwfx      1362      2639  58103.503819  60842.215035
103447  ZTF18aaqillw       306      3003  58232.478438  60545.280220
103448  ZTF18aaavsaf      3431      5274  58156.468947  60862.404155
103449  ZTF18aaptalx       849      3228  58232.421065  60859.330336
103450  ZTF18aaxltfc       175      2244  58217.508171  60845.317431

        corrected  stellar  ndet  g_r_max  g_r_max_corr  ...       lastmjd  \
0            True    False   576      NaN           NaN  ...  60832.456319
1            True    False   374      NaN           NaN  ...  60862.342396
2            True    False   598      NaN           NaN  ...  60862.411447
3            True    False   385      NaN           NaN  ...  60861.409792
4            True    False   740      NaN           NaN  ...  60857.326921
...           ...      ...   ...      ...           ...  ...           ...
103446       True    False   851      NaN           NaN  ...  60842.215035
103447       True    False    73      NaN           NaN  ...  60545.280220
103448       True    False   814      NaN           NaN  ...  60862.404155
103449       True    False   389      NaN           NaN  ...  60859.330336
103450       True    False   101      NaN           NaN  ...  60845.317431

        step_id_corr  diffpos  reference_change           oid  \
0             27.5.6     True             False  ZTF18aaxlowb
1             27.5.6    False             False  ZTF18aajruab
2             27.5.6    False             False  ZTF18aakyshe
3             27.5.6    False             False  ZTF18aalaaio
4             27.5.6    False             False  ZTF18aasnnaz
...              ...      ...               ...           ...
103446        27.5.6    False              True  ZTF18aabpwfx
103447      24.5.2a6    False              True  ZTF18aaqillw
103448        27.5.6    False             False  ZTF18aaavsaf
103449        27.5.6     True             False  ZTF18aaptalx
103450        27.5.6     True              True  ZTF18aaxltfc

        classifier_name     classifier_version      class_name  probability  \
0         lc_classifier  hierarchical_rf_1.1.0             LPV     0.771400
1         lc_classifier  hierarchical_rf_1.1.0               E     0.252108
2         lc_classifier  hierarchical_rf_1.1.0             RRL     0.642872
3         lc_classifier  hierarchical_rf_1.1.0             RRL     0.320256
4         lc_classifier  hierarchical_rf_1.1.0             LPV     0.411060
...                 ...                    ...             ...          ...
103446    lc_classifier  hierarchical_rf_1.1.0             RRL     0.608840
103447    lc_classifier  hierarchical_rf_1.1.0  Periodic-Other     0.453840
103448    lc_classifier  hierarchical_rf_1.1.0             RRL     0.792688
103449    lc_classifier  hierarchical_rf_1.1.0               E     0.690616
103450    lc_classifier  hierarchical_rf_1.1.0             LPV     0.385984

       ranking
0            1
1            1
2            1
3            1
4            1
...        ...
103446       1
103447       1
103448       1
103449       1
103450       1

[103451 rows x 28 columns]
2025-07-06 22:59:20,093 - INFO - Getting the request for self correction
2025-07-06 22:59:20,093 - INFO - Self-correction
2025-07-06 22:59:24,253 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "object"
LINE 1: ... probability ON object.oid = probability.oidWHERE object.fir...
                                                             ^

[SQL: SELECT * FROM objectINNER JOIN probability ON object.oid = probability.oidWHERE object.firstmjd >= 58257 AND object.lastmjd <= 58287AND probability.classifier_name = 'lc_classifier'AND probability.ranking = 1]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-06 22:59:24,460 - INFO - Using SQL
2025-07-06 22:59:30,602 - ERROR - Running SQL exception in run_query: (psycopg2.errors.SyntaxError) syntax error at or near "object"
LINE 1: ... probability ON object.oid = probability.oidWHERE object.fir...
                                                             ^

[SQL: SELECT * FROM objectINNER JOIN probability ON object.oid = probability.oidWHERE object.firstmjd >= 58257 AND object.lastmjd <= 58287AND probability.classifier_name = 'lc_classifier'AND probability.ranking = 1]
(Background on this error at: https://sqlalche.me/e/20/f405)
2025-07-06 22:59:30,825 - INFO - Saving backup
2025-07-06 22:59:31,242 - INFO - Query ID: 22, Run ID: 9
2025-07-06 22:59:31,249 - INFO - Getting the gold values to compare
2025-07-06 22:59:45,680 - INFO - Query ID: 22, Run ID: 9, Query gold:                  oid  ndethist  ncovhist  mjdstarthist    mjdendhist  \
0       ZTF18aaqijpr      1639      3193  58219.486018  60851.349850
1       ZTF18aaxlowb       868      2219  58268.423912  60832.456319
2       ZTF18aakyvqv      1836      3246  58207.524167  60862.411447