# Notebook for visualizing and exploring the data

In [6]:
# Exploring the 'training' dataset
import pandas as pd
df = pd.read_csv("txt2sql_alerce_train_v2.csv")
df.head()

,req_id,request,table_info,external_knowledge,domain_knowledge,gold_query,difficulty,type,nested_type,rephrased_request,rephrased_request_gpt-3.5-turbo-0125_t0.4,rephrased_request_gpt-4o-2024-05-13_t0.2
0,13,Give me all the SNe that were first detected b...,"['object', 'probability']",\n-- mjd date for December = 59914.0\n-- mjd d...,\n-- Super Nova (SNe) is a large explosion tha...,"\nSELECT\n object.oid, probability.class_na...",simple,object,none,NaN,NaN,NaN
1,10,Get the object identifiers and probabilities i...,"['probability', 'object']",0,0,"\nSELECT\n sq1.oid, sq1.probability as SN_pro...",medium,object,simple,NaN,NaN,NaN
2,15,"Get the object identifiers, probabilities in t...","['object', 'probability', 'detection', 'magstat']",\n-- mjd date for September 01 = 60188.0\n-- m...,\n-- A fast riser is defined as an object whos...,"\nSELECT\n sq.oid, sq.probability, sq.candi...",advanced,other,multi,NaN,NaN,NaN
3,4,"Get the object identifier, candidate identifie...","['object', 'probability', 'magstat', 'detection']",\n-- mjd date for the start of the year 2019 =...,0,"\nSELECT\n sq.oid, sq.fid, sq.dmdt_first,\n ...",advanced,other,multi,NaN,NaN,NaN
4,25,Query objects within 10 degress of the next po...,"['probability', 'object']",\n-- mjd date for February 01 = 59976.0\n-- mj...,0,"\nWITH catalog ( source_id, ra, dec) AS (\n ...",advanced,spatial,simple,NaN,NaN,NaN

In [7]:
df[df["difficulty"] == "medium"]["request"][1]

'Get the object identifiers and probabilities in the light curve classifier for objects classified in the light curve classifier as SNIa with ranking=1 and CV/Nova with ranking=2, where the difference between the probabilities at each ranking is lower than 0.1. Return oids, and the probability for each class'

In [11]:
text = """{'Classification': 'Get the object identifiers and probabilities in the light '
                   'curve classifier for objects classified in the light curve '
                   'classifier as SNIa with ranking=1 and CV/Nova with '
                   'ranking=2, where the difference between the probabilities '
                   'at each ranking is lower than 0.1. Return oids, and the '
                   'probability for each class\n'
                   ' The following tables are needed to generate the\n'
                   '    query: Based on the information provided, the tables '
                   'needed to generate the SQL query are:\n'
                   '\n'
                   '[feature, probability]',
 'Decomposition': '\n'
                  '\n'
                  '# As a SQL expert with a willingness to assist users, you '
                  'are tasked with crafting a PostgreSQL query for the '
                  'Automatic Learning for the Rapid Classification of Events '
                  '(ALeRCE) database. This database serves as a repository for '
                  'information about astronomical variable objects. The '
                  'information for every variable object originates from a '
                  'sequence of one or more astronomical alerts, data packets '
                  'streamed when an astronomical object shows a significant '
                  'variation with respect to a reference image. The database '
                  'information includes flux variations as a function of time '
                  '(known as light curve), basic object properties such as the '
                  'coordinates, and advanced features or statistics computed '
                  'for each object.\n'
                  'The tables within the database are categorized into three '
                  'types: time and band independent (e.g., object and '
                  'probability), time-independent (e.g., magstats), and time '
                  'and band-dependent (e.g., detection, forced-photometry). '
                  'Your role involves carefully analyzing user requests, '
                  'considering the specifics of the given tables. It is '
                  'crucial to pay attention to explicit conditions outlined by '
                  'the user and always maintain awareness of the broader '
                  'context.\n'
                  "Be thorough in understanding and addressing the user's "
                  'request, taking into account both explicit conditions and '
                  'the overall context for effective communication and '
                  'assistance.\n'
                  '\n'
                  'Get the object identifiers and probabilities in the light '
                  'curve classifier for objects classified in the light curve '
                  'classifier as SNIa with ranking=1 and CV/Nova with '
                  'ranking=2, where the difference between the probabilities '
                  'at each ranking is lower than 0.1. Return oids, and the '
                  'probability for each class\n'
                  ' The following tables are needed to generate the\n'
                  '    query: Based on the information provided, the tables '
                  'needed to generate the SQL query are:\n'
                  '\n'
                  '[feature, probability]\n'
                  '\n'
                  '## Default Parameters to Consider\n'
                  '- Class probabilities for a given classifier and object are '
                  'sorted from most to least likely, where the relative '
                  "position is indicated by the 'ranking' column in the "
                  'probability table. Hence, the most probable class should '
                  "have 'ranking'=1.\n"
                  '- The ALeRCE classification pipeline includes a Stamp '
                  'Classifier and a Light Curve Classifier. The Light Curve '
                  'classifier employs a hierarchical classification. If no '
                  'classifier is specified, use '
                  "'classifier_name=â€™lc_classifierâ€™ when selecting "
                  'probabilities.\n'
                  "- If the user doesn't specify explicit columns, use the "
                  'â€œSELECT *â€\x9d SQL statement to choose all possible '
                  'columns.\n'
                  '- Avoid changing the names of columns or tables unless '
                  'necessary for the SQL query.\n'
                  '- Use the exact class names as they are in the database, '
                  "marked with single quotes, for example, 'SNIa'.\n"
                  '\n'
                  '# If you need to use 2 tables, try using a INNER JOIN '
                  "statement, or a sub-query over 'probability' or 'object' if "
                  'it is necessary (in this order).\n'
                  '# Add COMMENTS IN PostgreSQL format so that the user can '
                  'understand.\n'
                  '\n'
                  '# Answer ONLY with the final SQL query, with the following '
                  'format: \n'
                  '  ```sql SQL_QUERY_HERE ```\n'
                  "DON'T include anything else in your answer. If you want to "
                  'add comments, use the SQL comment format inside the query.\n'
                  '\n'
                  '# Use the next decomposed planification to write the '
                  'query:\n'
                  "Here's a detailed decomposition plan for generating the "
                  'PostgreSQL query to retrieve the requested information:\n'
                  '\n'
                  '1. [Initial planning] Identify the main requirements: We '
                  "need to find objects classified as 'SNIa' with ranking=1 "
                  "and 'CV/Nova' with ranking=2, where the probability "
                  'difference is less than 0.1.\n'
                  '\n'
                  '2. [Sub-query] [Condition] Create a subquery to select '
                  'objects from the probability table that meet the following '
                  'conditions:\n'
                  "   - classifier_name = 'lc_classifier'\n"
                  "   - (class_name = 'SNIa' AND ranking = 1) OR (class_name = "
                  "'CV/Nova' AND ranking = 2)\n"
                  '\n'
                  '3. [Sub-query] [Join] Join the results from step 2 with '
                  "itself to pair 'SNIa' and 'CV/Nova' probabilities for each "
                  'object.\n'
                  '\n'
                  '4. [Condition] Add a condition to filter objects where the '
                  "absolute difference between 'SNIa' and 'CV/Nova' "
                  'probabilities is less than 0.1.\n'
                  '\n'
                  '5. [Select] Select the required columns from the subquery '
                  'results:\n'
                  '   - oid\n'
                  "   - probability for 'SNIa'\n"
                  "   - probability for 'CV/Nova'\n"
                  '\n'
                  '6. [Main query] Use the results from steps 2-5 as a '
                  'subquery in the main query to retrieve the final results.\n'
                  '\n'
                  '7. [Order] Add an ORDER BY clause to sort the results by '
                  'oid for consistency.\n'
                  '\n'
                  '8. [Comment] Add comments to explain the purpose of each '
                  'part of the query and any important details.\n'
                  '\n'
                  'This decomposition plan outlines the steps to create an '
                  'efficient query that meets the requirements while '
                  'considering the database structure and optimization '
                  'guidelines provided.\n'
                  '# If there is SQL code, use it only as reference, changing '
                  'the conditions you consider necessary.\n'
                  '# You can join some of the steps if you consider it better '
                  'for the query. For example, if 2 or more use the same table '
                  'and are not requested to be different sub-queries, then you '
                  'can join them.\n',
 'Schema Linking': {'Used prompt': 'Given the user request, select the tables '
                                   'needed to \n'
                                   '    generate a SQL query. Give the answer '
                                   'in the following format: [table1, \n'
                                   '    table2, ...]. For example, if the '
                                   'answer is table object and table \n'
                                   '    taxonomy, then you should type: '
                                   '[object, taxonomy].\n'
                                   '    \n'
                                   '    Consider that these tables are '
                                   'necessary to execute the query:  The '
                                   'tables needed to generate this SQL query '
                                   'are "feature" and "probability".',
                    'ragInstruction': ' Given the user request, search for the '
                                      'tables needed\n'
                                      '    to generate a SQL query in the '
                                      'ALeRCE database (PostgreSQL).\n'
                                      '    \n'
                                      ' Request: Get the object identifiers '
                                      'and probabilities in the light curve '
                                      'classifier for objects classified in '
                                      'the light curve classifier as SNIa with '
                                      'ranking=1 and CV/Nova with ranking=2, '
                                      'where the difference between the '
                                      'probabilities at each ranking is lower '
                                      'than 0.1. Return oids, and the '
                                      'probability for each class'}}"""
text.replace("'", '"').replace("\n", "")

'{"Classification": "Get the object identifiers and probabilities in the light "                   "curve classifier for objects classified in the light curve "                   "classifier as SNIa with ranking=1 and CV/Nova with "                   "ranking=2, where the difference between the probabilities "                   "at each ranking is lower than 0.1. Return oids, and the "                   "probability for each class"                   " The following tables are needed to generate the"                   "    query: Based on the information provided, the tables "                   "needed to generate the SQL query are:"                   ""                   "[feature, probability]", "Decomposition": ""                  ""                  "# As a SQL expert with a willingness to assist users, you "                  "are tasked with crafting a PostgreSQL query for the "                  "Automatic Learning for the Rapid Classification of Events "                  "(ALeRCE) database. This database serves as a repository for "                  "information about astronomical variable objects. The "                  "information for every variable object originates from a "                  "sequence of one or more astronomical alerts, data packets "                  "streamed when an astronomical object shows a significant "                  "variation with respect to a reference image. The database "                  "information includes flux variations as a function of time "                  "(known as light curve), basic object properties such as the "                  "coordinates, and advanced features or statistics computed "                  "for each object."                  "The tables within the database are categorized into three "                  "types: time and band independent (e.g., object and "                  "probability), time-independent (e.g., magstats), and time "                  "and band-dependent (e.g., detection, forced-photometry). "                  "Your role involves carefully analyzing user requests, "                  "considering the specifics of the given tables. It is "                  "crucial to pay attention to explicit conditions outlined by "                  "the user and always maintain awareness of the broader "                  "context."                  "Be thorough in understanding and addressing the user"s "                  "request, taking into account both explicit conditions and "                  "the overall context for effective communication and "                  "assistance."                  ""                  "Get the object identifiers and probabilities in the light "                  "curve classifier for objects classified in the light curve "                  "classifier as SNIa with ranking=1 and CV/Nova with "                  "ranking=2, where the difference between the probabilities "                  "at each ranking is lower than 0.1. Return oids, and the "                  "probability for each class"                  " The following tables are needed to generate the"                  "    query: Based on the information provided, the tables "                  "needed to generate the SQL query are:"                  ""                  "[feature, probability]"                  ""                  "## Default Parameters to Consider"                  "- Class probabilities for a given classifier and object are "                  "sorted from most to least likely, where the relative "                  "position is indicated by the "ranking" column in the "                  "probability table. Hence, the most probable class should "                  "have "ranking"=1."                  "- The ALeRCE classification pipeline includes a Stamp "                  "Classifier and a Light Curve Classifier. The Light Curve "                  "classifier employs a hierarchical classification. If no "                  "classifier is specified, use "                  ""classifier_name=â€™lc_classifierâ€™ when selecting "                  "probabilities."                  "- If the user doesn"t specify explicit columns, use the "                  "â€œSELECT *â€\x9d SQL statement to choose all possible "                  "columns."                  "- Avoid changing the names of columns or tables unless "                  "necessary for the SQL query."                  "- Use the exact class names as they are in the database, "                  "marked with single quotes, for example, "SNIa"."                  ""                  "# If you need to use 2 tables, try using a INNER JOIN "                  "statement, or a sub-query over "probability" or "object" if "                  "it is necessary (in this order)."                  "# Add COMMENTS IN PostgreSQL format so that the user can "                  "understand."                  ""                  "# Answer ONLY with the final SQL query, with the following "                  "format: "                  "  ```sql SQL_QUERY_HERE ```"                  "DON"T include anything else in your answer. If you want to "                  "add comments, use the SQL comment format inside the query."                  ""                  "# Use the next decomposed planification to write the "                  "query:"                  "Here"s a detailed decomposition plan for generating the "                  "PostgreSQL query to retrieve the requested information:"                  ""                  "1. [Initial planning] Identify the main requirements: We "                  "need to find objects classified as "SNIa" with ranking=1 "                  "and "CV/Nova" with ranking=2, where the probability "                  "difference is less than 0.1."                  ""                  "2. [Sub-query] [Condition] Create a subquery to select "                  "objects from the probability table that meet the following "                  "conditions:"                  "   - classifier_name = "lc_classifier""                  "   - (class_name = "SNIa" AND ranking = 1) OR (class_name = "                  ""CV/Nova" AND ranking = 2)"                  ""                  "3. [Sub-query] [Join] Join the results from step 2 with "                  "itself to pair "SNIa" and "CV/Nova" probabilities for each "                  "object."                  ""                  "4. [Condition] Add a condition to filter objects where the "                  "absolute difference between "SNIa" and "CV/Nova" "                  "probabilities is less than 0.1."                  ""                  "5. [Select] Select the required columns from the subquery "                  "results:"                  "   - oid"                  "   - probability for "SNIa""                  "   - probability for "CV/Nova""                  ""                  "6. [Main query] Use the results from steps 2-5 as a "                  "subquery in the main query to retrieve the final results."                  ""                  "7. [Order] Add an ORDER BY clause to sort the results by "                  "oid for consistency."                  ""                  "8. [Comment] Add comments to explain the purpose of each "                  "part of the query and any important details."                  ""                  "This decomposition plan outlines the steps to create an "                  "efficient query that meets the requirements while "                  "considering the database structure and optimization "                  "guidelines provided."                  "# If there is SQL code, use it only as reference, changing "                  "the conditions you consider necessary."                  "# You can join some of the steps if you consider it better "                  "for the query. For example, if 2 or more use the same table "                  "and are not requested to be different sub-queries, then you "                  "can join them.", "Schema Linking": {"Used prompt": "Given the user request, select the tables "                                   "needed to "                                   "    generate a SQL query. Give the answer "                                   "in the following format: [table1, "                                   "    table2, ...]. For example, if the "                                   "answer is table object and table "                                   "    taxonomy, then you should type: "                                   "[object, taxonomy]."                                   "    "                                   "    Consider that these tables are "                                   "necessary to execute the query:  The "                                   "tables needed to generate this SQL query "                                   "are "feature" and "probability".",                    "ragInstruction": " Given the user request, search for the "                                      "tables needed"                                      "    to generate a SQL query in the "                                      "ALeRCE database (PostgreSQL)."                                      "    "                                      " Request: Get the object identifiers "                                      "and probabilities in the light curve "                                      "classifier for objects classified in "                                      "the light curve classifier as SNIa with "                                      "ranking=1 and CV/Nova with ranking=2, "                                      "where the difference between the "                                      "probabilities at each ranking is lower "                                      "than 0.1. Return oids, and the "                                      "probability for each class"}}'